<section class="department">
    <div class="container">
        <div class="bread-crumbs">
            <a href="./index.html">Главная</a>
            <a href="./about-center-page.html">О научном центре</a>
            <a
                href="./about-center-page.html#struktura-GNCDK/centralnyj-nauchno-issledovatelskij-kozhno-venerologicheskij-institut"
                >Структура ГНЦДК</a
            >
            <a href="#sergievo-posadskij-filial">Сергиево-Посадский филиал</a>
        </div>

        <div class="title title-change">Сергиево-Посадский филиал (СПФ ФГБУ «ГНЦДК» Минздрав России)</div>

        <div class="department__wrapper">
            <div class="department__left">
                <div class="department__sergev-content" data-content="sergievo-posadskij-filial">
                    <div class="department__main-employee">
                        <div class="department__main-employee-img">
                            <img src="./img/managment/ilin.webp" alt="" />
                        </div>
                        <div class="department__main-employee-name">Ильин Андрей Анатольевич</div>
                        <div class="department__main-employee-job">
                            Директор Сергиево-Посадского филиала ФГБУ «ГНЦДК» Минздрава России
                        </div>
                    </div>
                </div>
                <div class="department__sergev-content" data-content="otdelenie-klinicheskoj-leprologii">
                    <div class="department__main-employee">
                        <div class="department__main-employee-img">
                            <img src="../img/managment/kubanov.webp" alt="" />
                        </div>
                        <div class="department__main-employee-name">Кабанов</div>
                        <div class="department__main-employee-job">Заведующий отделением</div>
                    </div>
                </div>
                <div class="department__sergev-content" data-content="ploshchadka">
                    <div class="department__main-employee">
                        <div class="department__main-employee-img">
                            <img src="../img/managment/plahova.webp" alt="" />
                        </div>
                        <div class="department__main-employee-name">Плахова</div>
                        <div class="department__main-employee-job">Заведующий площадкой</div>
                    </div>
                </div>
            </div>

            <div class="department__right department__sergev">
                <ul class="menu__buttons">
                    <li class="menu__button js-link-main">
                        <a href="#sergievo-posadskij-filial" data-open-content="sergievo-posadskij-filial">
                            Сергиево-Посадский филиал (СПФ ФГБУ «ГНЦДК» Минздрав России)
                        </a>
                    </li>
                    <li class="menu__button js-link-main">
                        <a
                            href="#otdelenie-klinicheskoj-leprologii"
                            data-open-content="otdelenie-klinicheskoj-leprologii"
                            >Отделение <br />
                            клинической лепрологии</a
                        >
                    </li>
                    <li class="menu__button js-link-main">
                        <a href="#ploshchadka" data-open-content="ploshchadka">Площадка</a>
                    </li>
                </ul>

                <div class="department__sergev-content" data-content="sergievo-posadskij-filial">
                    <div class="department__text">
                        <p>
                            Сергиево-Посадский филиал ФГБУ «ГНЦДК» Минздрава России является специализированным
                            лечебно-профилактическим учреждением и организационно-методическим центром по борьбе с
                            лепрой в зоне, установленной Минздравом России, задачами которого является проведение
                            активной профилактики лепры, организации амбулаторного лечения больных по месту жительства,
                            тщательного диспансерного наблюдения за ними и контактными лицами, обеспечение
                            профессионального ухода за больными, находящимися на стационарном лечении и оказания им всех
                            видов специализированной медицинской помощи.
                        </p>

                        <div>
                            <ul>
                                <p>Основными направлениями работы учреждения являются:</p>
                                <li>
                                    оказание высококвалифицированной диагностической, лечебной, консультативной и
                                    реабилитационной помощи пациентам с лепрой;
                                </li>
                                <li>разработка и осуществление профилактических мероприятий по лепре.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="department__text">
                        <div class="department__text-title">Адрес</div>
                        <address class="department__text-block">
                            141321, Московская область, Сергиево – Посадский район, п. Зеленая Дубрава
                        </address>
                    </div>
                </div>

                <div class="department__sergev-content" data-content="otdelenie-klinicheskoj-leprologii">
                    <div class="department__text">
                        <div class="department__text-title-up">
                            Оказание специализированной медицинской помощи всем больным лепрой проводится согласно:
                        </div>
                        <p>
                            Стандарту специализированной медицинской помощи при лепре, утвержденного Приказом от
                            29.12.2012 №1681н «Об утверждении стандарта специализированной медицинской помощи при лепре,
                            активная стадия».
                        </p>
                        <p>
                            Больные лепрой имеют право получить бесплатное обеспечение противолепрозными препаратами
                            согласно Постановлению Правительства РФ от 30.07.1994 №890 «О государственной поддержке
                            развития медицинской промышленности и улучшении обеспечения населения и учреждений
                            здравоохранения лекарственными средствами и изделиями медицинского назначения».
                        </p>
                    </div>
                    <div class="department__texts">
                        <div class="department__text">
                            <div class="department__text-title">Режим работы врачей</div>
                            <p>понедельник - пятница</p>
                            <p>с 9:00 до 16:45</p>
                            <p>суббота и воскресенье выходной</p>
                        </div>
                        <div class="department__text">
                            <div class="department__text-title">Режим работы дежурного медицинского персонала</div>
                            <p>круглосуточно</p>
                        </div>
                    </div>
                    <div class="department__text">
                        <div class="department__text-title">График приема граждан</div>
                        <ul>
                            <li>
                                Заместитель директора по лечебной работе Куцкая Светлана Алексеевна тел.
                                <a href="tel: 8(906)044 23 74" class="link-green">8(906)044 23 74</a> четверг с 13:00 до
                                16:00
                            </li>
                            <li>
                                Заведующий отделением клинической лепрологии врач-дерматовенеролог Макарова Людмила
                                Леонидовна тел.
                                <a href="tel: 8(906)044 23 74" class="link-green">8(906)044 23 74</a> 8(906)044 23 74
                                вторник с 13:00 до 16:00
                            </li>
                        </ul>
                    </div>
                    <div class="department__text">
                        <div class="department__text-title">Правила записи на прием</div>
                        <p>
                            Записаться на приём к врачу в Сергиево-Посадский филиалФГБУ «ГНЦДК» Минздрава России можно
                            по телефону <a href="tel: 8(906)044 23 74" class="link-green">8(906)044 23 74</a>
                            Заведующая отделением Макарова Людмила Леонидовна.
                        </p>
                        <p>Режим работы: Понедельник-Пятница 9:00-16:45</p>
                        <p>
                            Обращаем ваше внимание на то, что специалисты Сергиево-Посадского филиалаФГБУ «ГНЦДК»
                            Минздрава России проводят только очные консультации, при личном присутствии пациента.
                            Заочные консультации по телефону не проводятся.
                        </p>
                    </div>
                    <div class="department__text">
                        <div class="department__text-title">Порядок, объем и условия оказания медицинской помощи</div>
                        <p>При обращении в Сергиево-Посадский филиалФГБУ «ГНЦДК» Минздрава России необходимо иметь:</p>
                        <ul>
                            <li>паспорт;</li>
                            <li>выписку из амбулаторной карты по форме 027/у (если имеется);</li>
                            <li>направление на консультацию по форме 057/у (если имеется);</li>
                            <li>результаты ранее проведённых медицинских обследований.</li>
                        </ul>
                        <p>
                            В Сергиево-Посадский филиалФГБУ «ГНЦДК» Минздрава России медицинская помощь оказывается в
                            стационарных условиях, обеспечивающих круглосуточное медицинское наблюдение и лечение.
                        </p>
                    </div>
                    <div class="department__text">
                        <div class="department__text-title">
                            <span>Форма оказания медицинской помощи</span> — плановая медицинская помощь, которая
                            оказывается при проведении профилактических мероприятий, при заболеваниях и состояниях, не
                            сопровождающихся угрозой жизни пациента, не требующих экстренной и неотложной медицинской
                            помощи, и отсрочка оказания которой на определенное время не повлечет за собой ухудшение
                            состояния пациента, угрозу его жизни и здоровью.
                        </div>
                        <div class="department__text-title">
                            <span>Виды оказываемой медицинской помощи</span> — специализированная медицинская помощь.
                        </div>
                    </div>
                    <div class="department__text">
                        <p>Медицинская помощь может быть оказана только за счет средств федерального бюджета.</p>
                        <p>
                            Порядок направления больных для оказания специализированной помощи в Федеральные учреждения
                            определен Приложением к
                            <a
                                href="https://minzdrav.gov.ru/documents/9156-prikaz-ministerstva-zdravoohraneniya-rossiyskoy-federatsii-ot-2-dekabrya-2014-g-796n-ob-utverzhdenii-polozheniya-ob-organizatsii-okazaniya-spetsializirovannoy-v-tom-chisle-vysokotehnologichnoy-meditsinskoy-pomoschi"
                                class="link-blue"
                                >Приказу Минздрава России №796н от 2 декабря 2014 г. «Об утверждении Положения оказания
                                специализированной, в том числе высокотехнологичной медицинской помощи»</a
                            >
                            за счет средств обязательного медицинского страхования и средств федерального бюджета.
                        </p>
                        <p>
                            В случае выявления у пациента медицинских показаний для оказания специализированной
                            медицинской помощи лечащий врач оформляет:
                        </p>
                        <ul>
                            <li>
                                Выписку из медицинской документации пациента, содержащую следующие сведения:
                                <ul>
                                    <li>диагноз заболевания (состояния), код диагноза по МКБ-10;</li>
                                    <li>сведения о состоянии здоровья, проведенных диагностике и лечении.</li>
                                </ul>
                            </li>
                            <li>
                                Направление на госпитализацию, заверенное личной подписью и печатью лечащего врача и
                                содержащее следующие сведения:
                                <ul>
                                    <li>
                                        фамилия, имя, отчество (при наличии) пациента, дату его рождения, домашний
                                        адрес;
                                    </li>
                                    <li>свидетельство обязательного пенсионного страхования (при наличии);</li>
                                    <li>код основного диагноза по МКБ-10;</li>
                                    <li>
                                        результаты лабораторных, инструментальных и других видов диагностики,
                                        подтверждающих установленный диагноз и наличие медицинских показаний для
                                        оказания специализированной медицинской помощи;
                                    </li>
                                    <li>
                                        наименование медицинской организации, в которую направляется пациент для
                                        оказания специализированной медицинской помощи (Сергиево-Посадский филиалФГБУ
                                        «ГНЦДК» Минздрава России);
                                    </li>
                                    <li>
                                        фамилия, имя, отчество (при наличии) и должность лечащего врача, контактный
                                        телефон.
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="department__text">
                        <p>
                            Направление должно быть заверено руководителем медицинской организации, осуществляющей
                            направление или иным уполномоченным руководителем лицом.
                        </p>
                        <p>
                            Выписка из медицинской документации пациента и направление на госпитализацию в
                            Сергиево-Посадский филиалФГБУ «ГНЦДК» Минздрава России, выдается на руки пациенту (его
                            законному представителю), который может лично обратиться в Сергиево-Посадский филиалФГБУ
                            «ГНЦДК» Минздрава России для решения вопроса о госпитализации.
                        </p>
                        <p>
                            Согласование направления на госпитализацию просим осуществлять по телефону:
                            <a href="tel: 8(906)044 23 74" class="link-green">8(906)044 23 74</a> и/или по электронному
                            адресу: <a href="mailto: Spf@spfcnikvi.ru" class="link-green">Spf@spfcnikvi.ru</a>
                        </p>
                    </div>
                    <div class="department__slider">
                        <div class="swiper" id="department-swiper">
                            <div class="department__swiper-wrapper swiper-wrapper">
                                <div class="department__slide swiper-slide">
                                    <img src="./img/reference-aplicator.webp" alt="" />
                                </div>
                                <div class="department__slide swiper-slide">
                                    <img src="./img/reference-aplicator.webp" alt="" />
                                </div>
                                <div class="department__slide swiper-slide">
                                    <img src="./img/reference-aplicator.webp" alt="" />
                                </div>
                            </div>
                        </div>
                        <div class="pagination department__pagination">
                            <div class="pagination__prev department__prev">
                                <img src="./img/icon/arrow-white-btn-prev.svg" alt="" />
                            </div>
                            <div class="pagination__bullets department__bullets"></div>
                            <div class="pagination__next department__next">
                                <img src="./img/icon/arrow-white-btn-next.svg" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="department__text">
                        <div class="department__text-title-up">Распорядок дня стационарного отделения</div>
                        <ul class="department__block-no-circle">
                            <li>7:00-7:30 подъем, утренние гигиенические процедуры</li>
                            <li>
                                7:30-9:00 гимнастика, прогулка, выполнение врачебных назначений, подготовка к
                                диагностическим процедурам
                            </li>
                            <li>9:00-9:30 завтрак</li>
                            <li>10:00-11:00 клинический час, врачебный обход</li>
                            <li>11:00-14:00 выполнение врачебных назначений, прогулка</li>
                            <li>14:00-15:00 обед</li>
                            <li>15:00-16:30 дневной сон</li>
                            <li>16:30-17:00 полдник</li>
                            <li>17:00-18:30 выполнение назначений, прогулка</li>
                            <li>18:30-19:00 ужин</li>
                            <li>19:00-21:00 отдых, выполнение врачебных назначений, обход дежурным врачом</li>
                            <li>21:00-22:00 вечерние гигиенические процедуры, подготовка ко сну</li>
                            <li>22:00 отбой.</li>
                        </ul>
                    </div>
                    <div class="department__text">
                        <div class="department__text-title-up">Встречи с посетителями</div>
                        <p>
                            В рабочие дни: с 11:00 до 12:30, с 16:30 до 18:30. В выходные и праздничные дни: с 10:00 до
                            13:00, с 16:30 до 19:00.
                        </p>
                        <p>
                            Встреча с посетителями и родственниками — в коридоре у приемного покоя, или на территории
                            парка Учреждения. Посещение пациентов, находящихся в тяжелом состоянии, разрешается только с
                            согласия заведующего отделением и/или лечащего (дежурного) врача. Посещение родственниками и
                            другими лицами больных с бактериовыделением должно быть максимально ограничено, а в случае
                            общения больной должен находится в маске.
                        </p>
                        <p>Запрещено:</p>
                        <ul>
                            <li>Нахождение в палатах посторонних лиц;</li>
                            <li>Посещение родственников или знакомых больных в палатах;</li>
                            <li>Посещение с детьми до 18 лет.</li>
                        </ul>
                    </div>
                </div>

                <div class="department__sergev-content" data-content="ploshchadka"></div>
            </div>
        </div>
    </div>
</section>
