.clinical-two {
    margin-top: 5.6rem;
    padding-bottom: 15rem;

    &__wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        column-gap: 5rem;
    }

    &__left {
        width: 29.6rem;
    }

    &__right {
        width: 115.4rem;
        display: flex;
        flex-direction: column;
        row-gap: 4rem;
    }

    &__wrap {
        flex-direction: column;
        row-gap: 4rem;
        display: none;
        &.active {
            display: flex;
        }
    }

    &__wrap-content {
        display: none;
        &.active {
            display: block;
        }
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        row-gap: 3rem;
        column-gap: 3rem;
    }

    &__item {
        background: #d8dee8;
        border-radius: 0.8rem;
        padding: 1.6rem;
        width: 36.4rem;
        display: flex;
        flex-direction: column;
        row-gap: 3rem;
        justify-content: space-between;
    }

    &__item-img {
        width: 6rem;
        height: 6rem;
    }

    &__item-desc {
        font-weight: 700;
        font-size: 2rem;
        line-height: 150%;
        text-transform: uppercase;
        color: #3f4c5c;
    }

    &__item-btn {
        background-color: #ffffff;
        width: 100%;
    }
}
