.connection {
    margin: 5.6rem 0 15rem 0;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        column-gap: 10.5rem;
    }

    &__left {
        width: 33.4rem;
    }

    &__aside-button {
      display: none;
    }

    &__contents {
      width: 110rem;
      overflow: hidden;
      
      .form__input {
        width: 100%;
        margin-bottom: 0;
      }
    }

    &__item {
        font-weight: 700;
        font-size: 2rem;
        line-height: 125%;
        color: rgba(63, 76, 92, 0.69);
        margin-bottom: 2.5rem;
        display: block;
        cursor: pointer;
        padding-left: 2rem;
        position: relative;

        &::before {
            position: absolute;
            content: '';
            width: 0.6rem;
            height: 0.6rem;
            background: rgba(63, 76, 92, 0.69);
            border-radius: 50%;
            left: 0;
            top: 0.8rem;
        }
        &.active {
            font-size: 2.3rem;
            line-height: 135%;
            color: #3f4c5c;
            &::before {
                background: #3f4c5c;
            }
        }
    }

    &__btn {
        width: 100%;
        background-color: #ffffff;
    }

    &__tabs {
        margin-bottom: 6rem;
        padding-left: 1rem;
    }

    &__wrap {
      display: none;
        
      &.active {
        display: block;
      }
    }

    &__block-date {
        display: flex;
        justify-content: space-between;
        padding-bottom: 2.9rem;
        border-bottom: 0.1rem solid rgba(63, 76, 92, 0.2);
    }

    &__name {
        font-size: 2rem;
        line-height: 130%;
    }

    &__date {
        font-size: 1.6rem;
        line-height: 130%;
        color: rgba(63, 76, 92, 0.69);
    }

    &__text {
        font-size: 1.8rem;
        line-height: 150%;
    }

    &__review-swiper,
    &__question-swiper {
        width: 100%;
    }

    &__feedback {
        width: 110rem;
        border-bottom: 0.1rem solid rgba(63, 76, 92, 0.2);
        padding-bottom: 2.5rem;

        &:not(:first-child) {
          padding-top: 2.5rem;
        }
    }

    &__feedback-inner {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2.5rem;
    }

    &__feedback-name {
        font-weight: 700;
        font-size: 2.3rem;
        line-height: 135%;
    }

    &__feedback-work {
        font-size: 2rem;
        line-height: 130%;
        color: #00ac60;
        margin-bottom: 2.5rem;
    }

    &__appeal-title {
        font-weight: 700;
        font-size: 2.3rem;
        line-height: 135%;
        margin-bottom: 4rem;
        width: 86.4rem;
        a {
            font-weight: 700;
        }
    }

    &__appeal {
        font-size: 1.8rem;
        line-height: 150%;
        max-width: 94.1rem;
        
        li {
            font-weight: 700;
            font-size: 2rem;
            line-height: 125%;
            color: rgba(63, 76, 92, 0.69);
            margin-bottom: 2.5rem;
            display: block;
            cursor: pointer;
            padding-left: 2rem;
            position: relative;
            &::before {
                position: absolute;
                content: '';
                width: 0.6rem;
                height: 0.6rem;
                background: rgba(63, 76, 92, 0.69);
                border-radius: 50%;
                left: 0;
                top: 0.8rem;
            }
            &:hover {
                color: #3f4c5c;
            }
        }
    }

    &__contact {
        margin-top: 8rem;
        display: flex;
        flex-direction: column;
        row-gap: 4rem;
    }

    &__desc {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
    }

    &__section {
        background: #d8dee8;
        border-radius: 8px;
        padding: 4rem 4rem 5rem 5rem;
        margin-bottom: 6rem;
        display: flex;
        flex-direction: column;
        row-gap: 3rem;
        &:last-child {
            margin-bottom: 0;
        }
        input,
        textarea {
            font-size: 1.6rem;
            line-height: 136%;
            color: rgba(63, 76, 92, 0.62);
            width: 40rem;
            padding: 1.8rem 2rem;
            background: #e5e9ef;
            border-radius: 8px;
            border: none;
        }
    }

    &__form-title {
        font-size: 2rem;
        line-height: 2.9rem;
    }

    &__form-block {
        font-size: 1.8rem;
        line-height: 150%;
        display: flex;
        flex-direction: column;
        row-gap: 1.7rem;
        textarea {
            width: 61rem;
            height: 12.6rem;
            resize: none;
        }
        p {
            font-size: 1.8rem;
            line-height: 2.7rem;
            color: rgba(63, 76, 92, 0.74);
        }
    }

    &__form-submit {
        p {
            font-size: 1.8rem;
            line-height: 2.7rem;
            color: rgba(63, 76, 92, 0.74);
        }
    }

    &__checkbox {
        margin: 2rem 0 4rem 0;
    }

    &__form-btn {
        width: 19rem;
        background: #ffffff;
    }

    &__question-pagination,
    &__review-pagination {
        margin-top: 6rem;
    }

    &__time {
      display: flex;
      flex-direction: column;
      row-gap: 2rem;
      margin-bottom: 4rem;
    }

    &__time-title {
        font-size: 2.3rem;
        font-weight: 700;
        line-height: 2.5rem;
    }

    &__time-text {
      color:rgba(63, 76, 92, 0.69);
        font-size: 1.8rem;
        line-height: 150%;
    }

    .subtitle {
      margin-bottom: 0;
    }

     &__aside {
       display: none;
       &.active {
         display: block;
       }
     }
}


@media screen and (max-width: 48em) {
  .connection {
    margin: 2.8vw 0 21.3vw 0;

      &__aside {
        &.active {
          .connection__aside-button {
            display: block;
          }
        }

        aside:last-child {
          position: absolute;
          bottom: 0;
        }
      }

      &__wrap {
        &:last-child.active {
          .connection__left {
              display: none;
            }
        }
      }

      &__aside-button {
        display: none;
        color: #00AC60;
          font-size: 4.27vw;
          font-weight: 700;
          line-height: 150%;
          border-bottom: 0.1px solid #00AC60;
      }
  
      &__wrapper {
        flex-direction: column;
        position: relative;
      }

      &__wrap {
        &:not(:last-child) {
          padding-bottom: 166vw;
          margin-top: 8vw;
        }
      }
  
      &__left,
      &__contents {
        width: 100%;
      }
  
      &__block-date {
        flex-direction: column;
        row-gap: 2.8vw;
        padding-bottom: 5.3vw;
        margin-bottom: 0;
      }
  
      &__name {
        font-size: 5.3vw;
      }
  
      &__date {
        font-size: 4.27vw;
      }
  
      &__text {
        font-size: 3.8vw;
        line-height: 140%;
        color: rgba(63, 76, 92, 0.69);
      }

      &__feedback {
        width: 100%;
        padding-bottom: 5.3vw;
  
        &:not(:first-child) {
          padding-top: 5.3vw;
        }
      }
  
      &__feedback-inner {
        margin-bottom: 2.5rem;
      }
  
      &__feedback-name {
        font-size: 5.3vw;
        line-height: 135%;
      }
  
      &__feedback-work {
        font-size: 4.27vw;
        margin-bottom: 4.27vw;
      }
  
      &__appeal-title {
        font-size: 5.3vw;
        line-height: normal;
        margin-bottom: 5.3vw;
        width: 100%;

        br {
          display: none;
        }

        a {
          border: 0;
        }
      }
  
      &__appeal {
        font-size: 4.27vw;
        max-width: 100%;
  
        li {
          font-size: 4.27vw;
          padding-left: 5.3vw;
          font-weight: 400;
          color:#3F4C5C;

          &:not(:last-child) {
            margin-bottom: 1.5vw;
          }
  
          &::before {
            background: #3F4C5C;
            width: 1vw;
            height: 1vw;
            left: 1.6vw;
            top: 1.8vw;
          }
        }
      }
  
      &__contact {
        margin-top: 16vw;
        row-gap: 8vw;
      }
  
      &__desc {
        row-gap: 2.8vw;
      }
  
      &__section {
        border-radius: 2.2vw;
        padding: 5.3vw;
        margin-bottom: 5.3vw;
        row-gap: 5.3vw;
  
        input,
        textarea {
          font-size: 3.2vw;
          line-height: normal;
          height: fit-content;
          width: 100%;
          padding: 5.3vw;
          border-radius: 2.2vw;
        }
      }
  
      &__form-title {
        font-size: 4.8vw;
        line-height: 110%;
      }
  
      &__form-block {
        font-size: 3.8vw;
        line-height: 140%;
        row-gap: 1.6vw;
  
        textarea {
          width: 100%;
          height: 27vw;
        }
  
        p {
          color: rgba(63, 76, 92, 0.69);
          font-weight: 400;
          font-size: 3.8vw;
          line-height: 140%;
        }
      }
  
      &__form-submit {
        p {
          font-size: 4.27vw;
          line-height: 150%;
          margin-bottom: 8vw;
        }

      .checkbox-other {
                  span {
                    display: flex;
                    align-items: center;
                    height: 8vw;
                    column-gap: 1vw;
        
                    &::before {
                      top: 0;
                    }
                  }
                }
      }
  
      &__form-btn {
        margin-top: 8vw;
        width: 100%;
      }
  
      &__question-pagination,
      &__review-pagination {
        margin-top: 8vw;
      }
  
      &__time {
        row-gap: 2.8vw;
        margin-bottom: 5.3vw;
      }
  
      &__time-title {
        font-size: 5.3vw;
        line-height: 125%;
      }
  
      &__time-text {
        font-size: 4.27vw;
      }

      .content-menu-mob {
        &.active {
          & ~ .connection__asides {
            display: none !important;
          }
        }
      }

      .title {
        margin-bottom: 8vw;
      }

      .block__item-inner {
        flex-direction: column;
      }

       .form__input {
               flex-direction: column;
               row-gap: 4vw;
      
               .checkbox-other {
                 margin: 0;
                 flex-shrink: 0;
      
                 label {
                   margin: 0;
                 }
               }
      
               .select {
                 margin-bottom: 0;
               }
      
               &-error {
                 width: 100%;
                 max-width: 65vw;
                 padding: 3.6vw;
                 flex-direction: column;
      
                 span {
                   font-size: 3.8vw;
                 }
      
                 img {
                   top: -2vw;
                   left: calc(50% - 2rem/2);
                   transform: rotate(90deg);
                 }
               }
             }
    }
}