.contacts {
    margin: 5.8rem 0 15rem 0;

    &__btn {
        background-color: #ffffff;
        width: 28.7rem;
    }

    &__top {
        display: flex;
        justify-content: space-between;
    }

    &__slide-image {
        width: 70.3rem;
        height: 52.1rem;
        img {
            border-radius: 0.8rem;
        }
    }

    &__swiper {
        overflow: hidden;
        width: 70.3rem;
        max-height: 52.1rem;
        position: relative;
        border-radius: 0.6rem;
    }

    &__top-right {
        width: 70.3rem;
    }

    &__pagination {
        position: absolute;
        z-index: 2;
        bottom: 3.6rem;
        left: 44%;
    }

    &__top-left {
        width: 82rem;
    }

    &__top-left-text {
        font-weight: 700;
        font-size: 2.3rem;
        line-height: 150%;
        text-transform: uppercase;
        margin-bottom: 4rem;
    }

    &__top-left-info-email {
        margin-top: 1rem;
    }

    &__top-left-info {
        display: flex;
        flex-direction: column;
        margin-bottom: 3rem;
        strong {
            font-weight: 700;
            font-size: 2rem;
            line-height: 125%;
            margin-bottom: 2.2rem;
        }
        span {
            font-size: 1.8rem;
            line-height: 150%;
            display: block;
        }
        li {
            font-size: 1.8rem;
            line-height: 150%;
            color: rgba(63, 76, 92, 0.69);
            margin-bottom: 1.5rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__top-left-info-inner {
        display: flex;
        span:first-child {
            margin-right: 7.5rem;
        }
    }

    &__bottom {
        display: flex;
        position: relative;
        margin-bottom: 11.5rem;
    }

    &__bottom-left {
        width: 53.1rem;
    }

    &__bottom-right {
        position: absolute;
        right: 8rem;
        bottom: -4rem;
    }

    &__bottom-info {
        display: flex;
        flex-direction: column;
        margin-bottom: 3rem;
        strong {
            font-weight: 700;
            font-size: 2rem;
            line-height: 125%;
            margin-bottom: 2.2rem;
        }
        span {
            font-size: 1.8rem;
            line-height: 150%;
            display: block;
        }
        li {
            font-size: 1.8rem;
            line-height: 150%;
            color: rgba(63, 76, 92, 0.69);
            margin-bottom: 1.4rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__down-inner {
        display: flex;
        justify-content: space-between;
        margin-bottom: 7.8rem;
        align-items: end;
    }

    &__down-swiper-block-title {
        display: flex;
        flex-direction: column;
        margin-bottom: 4.2rem;
        width: 70.3rem;
        strong {
            display: block;
            font-weight: 700;
            font-size: 2rem;
            line-height: 125%;
            margin-bottom: 2.4rem;
        }
        span {
            display: block;
            font-size: 1.8rem;
            line-height: 150%;
            color: rgba(63, 76, 92, 0.69);
        }
    }

    &__down-swiper {
        overflow: hidden;
        width: 70.3rem;
        position: relative;
    }

    &__down-top-right {
        width: 70.3rem;
    }

    &__down-pagination {
        position: absolute;
        z-index: 2;
        bottom: 3.6rem;
        left: 44%;
    }

    &__down-slide-image {
        width: 70.3rem;
        height: 37.1rem;
        img {
            border-radius: 0.8rem;
        }
    }

    &__down-map-block-title {
        display: block;
        font-weight: 700;
        font-size: 2rem;
        line-height: 125%;
        margin-bottom: 2.2rem;
    }

    &__down-map {
        width: 70.3rem;
        height: 45.1rem;
        img {
            border-radius: 0.8rem;
        }
    }

    &__down-block-diagram {
        width: 70.3rem;
        display: inline-block;
        margin-right: 13.5rem;
        &:last-child {
            margin-right: 0;
        }
    }

    &__down-block-diagram-title {
        font-weight: 700;
        font-size: 2rem;
        line-height: 125%;
        margin-bottom: 2.2rem;
    }

    &__down-diagram {
        height: 45.1rem;
        width: 100%;
        img {
            border-radius: 0.8rem;
        }
    }

    &__branches {
        margin-top: 6rem;
        display: block;
    }

    &__branches-inner {
        display: flex;
        justify-content: space-between;
        margin-bottom: 6rem;
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__branches-swiper {
        overflow: hidden;
        width: 70.3rem;
        height: 52.1rem;
        margin-left: 24rem;
        position: relative;
    }

    &__branches-pagination {
        position: absolute;
        z-index: 2;
        bottom: 3.6rem;
        left: 44%;
    }

    &__branches-slide-image {
        width: 70.3rem;
        height: 52.1rem;
        img {
            border-radius: 0.8rem;
        }
    }

    &__branches-table {
        width: 60rem;
        background: #d8dee8;
        border-radius: 0.8rem;
        padding-top: 3.8rem;
        padding-bottom: 4rem;
        padding-left: 4rem;
        padding-right: 4rem;
    }

    &__branches-table-text {
        font-weight: 700;
        font-size: 2rem;
        line-height: 130%;
        margin-bottom: 3rem;
    }

    &__branches-table-link {
        font-size: 1.8rem;
        line-height: 150%;
        margin-bottom: 4.3rem;
        display: inline-block;
    }

    &__branches-table-info {
        display: flex;
        flex-direction: column;
        margin-bottom: 3rem;
        strong {
            font-weight: 700;
            font-size: 2rem;
            line-height: 125%;
            margin-bottom: 2rem;
            display: block;
        }
        span {
            font-size: 1.8rem;
            line-height: 150%;
            display: block;
            color: rgba(63, 76, 92, 0.69);
        }
        a {
            font-size: 1.8rem;
            line-height: 150%;
            display: block;
            color: rgba(63, 76, 92, 0.69);
        }
        li {
            font-size: 1.8rem;
            line-height: 150%;
            color: rgba(63, 76, 92, 0.69);
            margin-bottom: 1.5rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__top-left-info .subtitle {
      margin-bottom: 0;
    }
}

@media screen and (max-width: 48em) {
  .contacts {
    margin: 2.8vw 0 40vw;
      overflow: hidden;

      &__top {
        flex-direction: column;
        row-gap: 16vw;
        margin-bottom: 32vw;
      }
  
      &__slide-image {
        width: 100%;
        height: 133vw;
  
        img {
          border-radius: 2.2vw;
        }
      }
  
      &__swiper {
        width: 100%;
        max-height: 133vw;
        border-radius: 2.2vw;
        overflow: visible;
      }
  
      &__top-right,
      &__top-left {
        width: 100%;
      }
  
      &__pagination {
        position: relative;
        bottom: 0;
        left: 0;
        justify-content: center;
        margin-top: 8vw;
      }
  
      &__top-left-text {
        font-size: 2.3rem;
        margin-bottom: 4rem;
      }
  
      &__top-left-info-email {
        margin-top: 1rem;
      }
  
      &__top-left-info {
        &:not(:last-child) {
          margin-bottom: 8vw;
        }
  
        strong {
          font-size: 4.8vw;
          margin-bottom: 2.8vw;
        }
  
        span {
          font-size: 4.27vw;
        }
  
        li {
          font-size: 4.27vw;
          margin-bottom: 2.2vw;
        }
      }
  
      &__top-left-info-inner {
       flex-direction: column;
       row-gap: 2.8vw;
      }
  
      &__bottom {
        margin-bottom: 24vw;
        flex-direction: column;
      }
  
      &__bottom-left,
      &__bottom-right {
        width: 100%;
      }
  
      &__bottom-right {
        position: relative;
        right: 0;
        bottom: 0;
      }
  
      &__bottom-info {

        &:not(:last-child) {
          margin-bottom: 8vw;
        }

        &:last-child {
          margin-bottom: 0;
        }
  
        strong {
          font-size: 4.8vw;
          margin-bottom: 2.2vw;
        }
  
        span {
          font-size: 4.27vw;
        }
  
        li {
          font-size: 4.27vw;
        }
      }
  
      &__down-inner {
        flex-direction: column;
        row-gap: 8vw;
        margin-bottom: 8vw;
      }
  
      &__down-swiper-block-title {
        margin-bottom: 5.3vw;
        width: 100%;
  
        strong {
          font-size: 4.8vw;
          margin-bottom: 2.8vw;
        }
  
        span {
          font-size: 4.27vw;
          line-height: 130%;
        }
      }
  
      &__down-swiper {
        width: 95vw;
      }
  
      &__down-top-right {
        width: 100%;
      }
  
      &__down-pagination {
        position: relative;
          bottom: 0;
          left: 0;
          justify-content: center;
          margin-top: 8vw;
      }

      &__down-map-block {
        margin-top: 3vw;
        width: 100%;
      }
  
      &__down-slide-image {
        width: 100%;
        height: 101vw;
  
        img {
          border-radius: 2.2vw;
        }
      }
  
      &__down-map-block-title {
        font-size: 5.3vw;
        margin-bottom: 5.3vw;
      }
  
      &__down-map {
        width: 100%;
        height: 101vw;
  
        img {
          border-radius: 2.2vw;
        }
      }
  
      &__down-block-diagram {
        width: 100%;
        margin-right: 0;
      }
  
      &__down-block-diagram-title {
        font-size: 5.3vw;
        margin-bottom: 5.3vw;
      }
  
      &__down-diagram {
        height: 101vw;
        width: 100%;
  
        img {
          border-radius: 2.2vw;
        }
      }
  
      &__branches {
        margin-top: 21.3vw;
      }
  
      &__branches-inner {
        margin-bottom: 35vw;
        flex-direction: column;
        row-gap: 8vw;
      }
  
      &__branches-swiper {
        width: 100%;
        height: 101vw;
        margin-left: 0;
        overflow: visible;
      }
  
      &__branches-pagination {
        position: relative;
          bottom: 0;
          left: 0;
          justify-content: center;
          margin-top: 8vw;
      }
  
      &__branches-slide-image {
        width: 100%;
        height: 100%;
        border-radius: 2.2vw;
  
        img {
          border-radius: 2.2vw;
        }
      }
  
      &__branches-table {
        width: 100%;
        border-radius: 2.2vw;
        padding: 5.3vw;
      }
  
      &__branches-table-text {
        font-size: 4.8vw;
        margin-bottom: 8vw;
      }
  
      &__branches-table-link {
        font-size: 4.27vw;
        margin-bottom: 8vw;
      }
  
      &__branches-table-info {
        margin-bottom: 8vw;
  
        strong {
          font-size: 4.8vw;
          margin-bottom: 2.8vw;
        }
  
        span {
          font-size: 4.27vw;
          line-height: 130%;
        }
  
        a {
          font-size: 4.27vw;
        }
  
        li {
          font-size: 1.8rem;
          margin-bottom: 1.5rem;
        }
      }

      .all-btn__blue {
        width: 100%;
      }
    }
}