.contacts {
    margin-top: 5.8rem;
    padding-bottom: 15rem;

		&__btn {
			background-color: #FFFFFF;
			width: 28.7rem;
		}

    &__top {
        display: flex;
        justify-content: space-between;
    }

    &__slide-image {
        width: 70.3rem;
        height: 52.1rem;
        img {
            border-radius: 0.8rem
        }
    }

    &__swiper {
        overflow: hidden;
        width: 70.3rem;
        max-height: 52.1rem;
        position: relative;
				border-radius: 0.6rem;
    }

    &__top-right {
        width: 70.3rem;
    }

    &__pagination {
        position: absolute;
        z-index: 2;
        bottom: 3.6rem;
        left: 44%;
    }

    &__top-left {
        width: 82rem;
    }

    &__top-left-text  {
        font-weight: 700;
        font-size: 2.3rem;
        line-height: 150%;
        text-transform: uppercase;
        margin-bottom: 4rem;
        color: #3F4C5C;
    }

    &__top-left-info-email {
        margin-top: 1rem;
    }

    &__top-left-info {
        display: flex;
        flex-direction: column;
        margin-bottom: 3rem;
        strong {
            font-weight: 700;
            font-size: 2rem;
            line-height: 125%;
            color: #3F4C5C;
            margin-bottom: 2.2rem;
        }
        span {
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 150%;
            display: block;
            color: #3F4C5C;
        }
        li {
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 150%;
            color: rgba(63, 76, 92, 0.69);
            margin-bottom: 1.5rem;
						&:last-child {
           	 	margin-bottom: 0;
        		}
        }
    }

    &__top-left-info-inner {
        display: flex;
        span:first-child {
            margin-right: 7.5rem;
        }
    }

    &__bottom {
        display: flex;
				position: relative;
				margin-bottom: 11.5rem;
    }

    &__bottom-left {
        width: 53.1rem;
    }

		&__bottom-right {
			position: absolute;
			right: 8rem;
			bottom: -4rem;
	}

    &__bottom-info {
        display: flex;
        flex-direction: column;
				margin-bottom: 3rem;
        strong {
            font-weight: 700;
            font-size: 2rem;
            line-height: 125%;
            color: #3F4C5C;
            margin-bottom: 2.2rem;
        }
        span {
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 150%;
            display: block;
            color: #3F4C5C;
        }
        li {
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 150%;
            color: rgba(63, 76, 92, 0.69);
            margin-bottom: 1.4rem;
						&:last-child {
            	margin-bottom: 0;
        		}
				}
    }

    &__down-inner {
        display: flex;
        justify-content: space-between;
        margin-bottom: 7.8rem;
				align-items: end;
    }

    &__down-swiper-block-title {
        display: flex;
        flex-direction: column;
        margin-bottom: 4.2rem;
        width: 70.3rem;
        strong {
            display: block;
            font-weight: 700;
            font-size: 2rem;
            line-height: 125% ;
            color: #3F4C5C;
            margin-bottom: 2.4rem;
        }
        span {
            display: block;
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 150%;
            color: rgba(63, 76, 92, 0.69);
        }
    }

    &__down-swiper {
        overflow: hidden;
        width: 70.3rem;
        position: relative;
    }

    &__down-top-right {
        width: 70.3rem;
    }

    &__down-pagination {
        position: absolute;
        z-index: 2;
        bottom: 3.6rem;
        left: 44%;
    }

    &__down-slide-image {
        width: 70.3rem;
        height: 37.1rem;
        img {
            border-radius: 0.8rem
        }
    }

    &__down-map-block-title {
        display: block;
        font-weight: 700;
        font-size: 2rem;
        line-height: 125% ;
        color: #3F4C5C;
        margin-bottom: 2.2rem;
    }

    &__down-map {
        width: 70.3rem;
        height: 45.1rem;
        img {
            border-radius: 0.8rem
        }
    }

    &__down-block-diagram {
        width: 70.3rem;
        display: inline-block;
        margin-right: 13.5rem;
				&:last-child {
        	margin-right: 0;
    		}
    }

    &__down-block-diagram-title {
        font-weight: 700;
        font-size: 2rem;
        line-height: 125%;
        color: #3F4C5C;
        margin-bottom: 2.2rem;
    }

    &__down-diagram {
        height: 45.1rem;
        width: 100%;
        img {
            border-radius: 0.8rem
        }
    }

    &__branches {
        margin-top: 6rem;
        display: block;
    }

    &__branches-inner {
        display: flex;
        justify-content: space-between;
        margin-bottom: 6rem;
				&:last-child {
        	margin-bottom: 0;
    		}
    }

    &__branches-swiper {
        overflow: hidden;
        width: 70.3rem;
        height: 52.1rem;
        margin-left: 24rem;
        position: relative;
    }

    &__branches-pagination {
        position: absolute;
        z-index: 2;
        bottom: 3.6rem;
        left: 44%;
    }

    &__branches-slide-image {
        width: 70.3rem;
        height: 52.1rem;
        img {
            border-radius: 0.8rem
        }
    }

    &__branches-table {
        width: 60rem;
        background: #D8DEE8;
        border-radius: 0.8rem;
        padding-top: 3.8rem;
        padding-bottom: 4rem;
        padding-left: 4rem;
        padding-right: 4rem;
    }

    &__branches-table-text {
        font-weight: 700;
        font-size: 2rem;
        line-height: 130%;
        color: #3F4C5C;
        margin-bottom: 3rem;
    }

		&__branches-table-link {
			font-weight: 400;
			font-size: 1.8rem;
			line-height: 150%;
			color: #3F4C5C;
			margin-bottom: 4.3rem;
			display: inline-block;
			&::after {
				display: block;
				content: "";
				width: 100%;
				height: 0.01rem;
				background-color: #3F4C5C;
			}
			&:hover::after {
				visibility: hidden;
			}
		}

    &__branches-table-info {
        display: flex;
        flex-direction: column;
        margin-bottom: 3rem;
        strong {
            font-weight: 700;
            font-size: 2rem;
            line-height: 125%;
            margin-bottom: 2rem;
            display: block;
            color: #3F4C5C;
        }
        span {
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 150%;
            display: block;
            color: rgba(63, 76, 92, 0.69);
        }
        a {
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 150%;
            display: block;
            color: rgba(63, 76, 92, 0.69);
        }
        li {
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 150%;
            color: rgba(63, 76, 92, 0.69);
            margin-bottom: 1.5rem;
						&:last-child {
            	margin-bottom: 0;
        		}
				}
    }
}

.contacts__top-left-info .subtitle {
	margin-bottom: 0;
}