.cost {
    padding-bottom: 15rem;
    margin-top: 5.6rem;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__right {
        margin-top: 7rem;
    }

		&__left {
			width: 117.5rem;
		}

		&__content {
			padding-bottom: 2rem;
		}

		&__content-item {
			display: flex;
			flex-direction: column;
		}

		&__content-item-inner {
			display: flex;
    	align-items: flex-start;
    	justify-content: space-between;
			cursor: pointer;
			&.active {
				.cost__content-item-arrow {
					transform: rotate(180deg);
					transition: all 0.3s;
				}
			}
		}

		&__content-item-title {
			color: #3F4C5C;
			font-size: 2.3rem;
			font-weight: 700;
			line-height: 135%;
			opacity: 0.6899999976158142;
		}

		&__content-item-content-it {
			display: flex;
			flex-direction: column;
		}

		&__content-item-content-in {
			display: flex;
			justify-content: space-between;
			cursor: pointer;
			&.active {
				.cost__content-item-content-arrow {
					transform: rotate(180deg);
					transition: all 0.3s;
				}
			}
		}

		&__content-item-content-title {
			color: #3F4C5C;
			font-size: 2.3rem;
			font-weight: 400;
			line-height: 135%;
			opacity: 0.6899999976158142;
			max-width: 90rem;
			border-bottom: 0.1rem solid #3F4C5C;
		}

		&__content-item-content-con {
			display: flex;
			flex-direction: column;
			row-gap: 1.7rem;
			padding-top: 2.2rem;
		}

		&__content-item-content-con-li {
			display: flex;
			justify-content: space-between;
			max-width: 102rem;
			color:#3F4C5C;
			font-size: 1.8rem;
			font-weight: 400;
			line-height: 150%;

			div:last-child {
				color: #3F4C5C;
				text-align: right;
				font-size: 2rem;
				font-weight: 700;
				line-height: 150%;
			} 
		}

		&__content-item-content {
			display: flex;
			flex-direction: column;
			padding-top: 2rem;
			row-gap: 2rem;
		}

		&__content-item-arrow,
		&__content-item-content-arrow {
			width: 3.2rem;
			height: 3.2rem;
			cursor: pointer;
			transition: all 0.3s;
		}
}