.dissertation {
    margin-top: 5.6rem;
    padding-bottom: 15rem;

    &__btns {
        display: flex;
        column-gap: 3rem;
        margin-bottom: 3.2rem;
    }

    &__btn {
        width: auto;
        height: auto;
        padding: 1.5rem 4rem;
        &:hover {
            background: #3f4c5c;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;
        margin-bottom: 4.4rem;
        p,
        li {
            color: #3f4c5c;
            font-size: 1.8rem;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
        }
        li {
            position: relative;
            padding-left: 2rem;
            line-height: 130%;
            cursor: pointer;
            a {
                position: relative;
                &::after {
                    position: absolute;
                    content: '';
                    display: block;
                    background-color: #3f4c5c;
                    width: 100%;
                    height: 0.1px;
                    right: 0;
                    bottom: 0.3rem;
                }
                &:hover::after {
                    display: none;
                }
            }
            &::before {
                content: '';
                display: inline-block;
                width: 0.3rem;
                height: 0.3rem;
                border-radius: 50%;
                background-color: #3f4c5c;
                position: absolute;
                left: 0.4rem;
                top: 1rem;
            }
        }
    }

    &__contacts p {
        color: rgba(63, 76, 92, 0.69);
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 400;
        line-height: 136%;
        &:not(:last-child) {
            margin-bottom: 0.8rem;
        }
        a {
            position: relative;
            color: #00ac60;
            font-size: 1.8rem;
            font-style: normal;
            font-weight: 700;
            line-height: 136%;
            &::after {
                position: absolute;
                content: '';
                display: block;
                background-color: #00ac60;
                width: 100%;
                height: 0.1px;
                right: 0;
                bottom: 0.3rem;
            }
            &:hover::after {
                display: none;
            }
        }
    }

    &__announcement {
      margin-bottom: 6rem;
      p {
          font-size: 2rem;
          font-weight: 400;
          line-height: 130%;
      }
    }

    &__application,
    &__list {
        ul {
            display: flex;
            flex-direction: column;
            row-gap: 0.8rem;
        }
        li {
            position: relative;
            padding-left: 2rem;
            color: #3f4c5c;
            font-size: 1.8rem;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            cursor: pointer;
            a {
                position: relative;
                border-bottom: 0.1rem solid #3f4c5c;
                
                &:hover {
                    border-bottom: 0.1rem solid transparent;
                }
            }
            &::before {
                content: '';
                display: inline-block;
                width: 0.3rem;
                height: 0.3rem;
                border-radius: 50%;
                background-color: #3f4c5c;
                position: absolute;
                left: 0.4rem;
                top: 1rem;
            }
        }
    }

    &__list {
      .subtitle {
        text-transform: unset;
        margin-bottom: 1rem;
      }
        
      ul {
        row-gap: 0;
      }
    }

    &__video {
        width: 154.2rem;
        height: 71rem;
        flex-shrink: 0;
        object-fit: cover;

        video {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
    }
}

@media screen and (max-width: 48em) {
  .dissertation {
      margin-top: 2.8vw;
      padding-bottom: 21.3vw;
  
      &__btns {
        row-gap: 8vw;
        flex-direction: column;
        margin-bottom: 8vw;
      }
  
      &__btn {
        padding: 4.27vw 6.4vw;
        justify-content: flex-start;
      }
  
      &__content {
        row-gap: 2.8vw;
        margin-bottom: 8vw;
  
        p,
        li {
          font-size: 4.27vw;
        }
  
        li {
          padding-left: 5.3vw;
          line-height: 150%;

          &::before {
          width: 1.2vw;
            height: 1.2vw;
            left: 1.6vw;
            top: 2.4vw;
          }
        }
      }
  
      &__contacts {
        margin-top: 5.3vw;
        display: flex;
        flex-direction: column-reverse;
        row-gap: 2.8vw;

        p {
          font-size: 4.27vw;
    
          &:not(:last-child) {
            margin-bottom: 0;
          }
    
          a {
            font-size: 4.27vw;
          }
        }
      }
  
      &__announcement {
        margin-bottom: 8vw;
  
        p {
          font-size: 4.27vw;
          line-height: 150%;
        }
      }
  
      &__application,
      &__list {

        .subtitle {
          margin-bottom: 5.3vw;
        }

        ul {
          row-gap: 2.2vw;
        }
  
        li {
          padding-left: 5.3vw;
          font-size: 4.27vw;
  
          &::before {
              width: 1.2vw;
              height: 1.2vw;
              left: 1.6vw;
              top: 2.4vw;
          }
        }
      }
  
      &__list {

        ul {
          row-gap: 0;
        }

        .subtitle {
          margin-bottom: 5.3vw;
        }
      }

      &__video {
        width: 95vw;
        height: 106vw;
      }
    }
}