.distant {
    margin-top: 6.4rem;
    padding-bottom: 15rem;

    &__text {
        span {
            display: block;
            font-style: normal;
            font-weight: 700;
            font-size: 2.2rem;
            line-height: 3.2rem;
            color: #3f4c5c;
            margin-bottom: 2rem;
        }

        p {
            font-style: normal;
            font-weight: 400;
            font-size: 2.2rem;
            line-height: 150%;
            color: rgba(63, 76, 92, 0.69);
        }
    }

    &__text-inner {
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
    }

    &__text-btn {
        font-style: normal;
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 2.7rem;
        color: #3f4c5c;
    }

    &__text-link {
        font-weight: 700;
        font-size: 1.8rem;
    }

    &__wrapper {
        margin-bottom: 4.5rem;
    }

    &__lists {
        display: flex;
        column-gap: 8rem;
        .distant__lists-item:first-child {
            margin-right: 8rem;
        }
    }

    &__btn {
        background: inherit;
        width: 24rem;
        &.active {
            background: #ffffff;
        }
        &:hover {
            background-color: #ffffff;
            color: #3f4c5c;
        }
    }

    &__wrap {
        display: none;
    }

    &__btn-two {
        width: 40.6rem;
        background-color: #ffffff;
        margin-top: 4rem;
    }

    &__btn-two.hidden {
        display: none;
    }

    &__lists-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24.1rem;
        height: 6rem;
        border: 0.1rem solid #00ac60;
        border-radius: 0.6rem;
        font-style: normal;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 2.7rem;
        color: #3f4c5c;
        cursor: pointer;
    }

    &__lists-item.active {
        color: #ffffff;
        background: #00ac60;
    }

    &__buttons {
        margin: 4rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__content {
        display: flex;
    }

    &__content-block {
        margin-bottom: -1rem;
    }

    &__content-block:last-child {
        margin-bottom: 0;
    }

    &__content-block-chapter {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        &.active {
          .distant__content-block-chapter-number {
            background: #00AC60;
          }
          .distant__content-block-chapter-text {
            color: #00AC60;
          }
        }
    }

    &__content-block-chapter-number {
        width: 3.8rem;
        height: 3.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(63, 76, 92, 0.69);
        border-radius: 50%;
        font-style: normal;
        font-weight: 400;
        font-size: 2rem;
        line-height: 2.9rem;
        color: #ffffff;
        margin-right: 2rem;
    }

    &__content-block-chapter-text {
        font-style: normal;
        font-weight: 400;
        font-size: 2rem;
        line-height: 2.9rem;
        color: rgba(63, 76, 92, 0.69);
    }

    &__content-block-lists {
        padding-left: 6rem;
    }

    &__content-block-item {
        font-style: normal;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 136%;
        color: rgba(63, 76, 92, 0.69);
        margin-bottom: 1.2rem;
        &.active {
          color: #00AC60;
        }
    }

    &__content-block-item:last-child {
        margin-bottom: 0;
    }

    &__content-right {
        display: block;
        margin-left: auto;
    }

    &__content-right-content {
			display: flex;
			flex-direction: column;
        background: #d8dee8;
        border-radius: 0.8rem;
        width: 113.6rem;
        padding-top: 4rem;
        padding-left: 5rem;
        padding-bottom: 5rem;
        margin-bottom: 6rem;
        padding-right: 1rem;

        &.error {
          .distant__content-right-content-title span {
            opacity: 1;
            transition: all 0.3s ease-in-out;
          }
        }
    }

    &__content-right-content-title {
        font-style: normal;
        font-weight: 400;
        font-size: 2rem;
        line-height: 2.9rem;
        color: #3f4c5c;
        margin-bottom: 3rem;
        padding-left: 1.2rem;
        span {
          margin-left: 4rem;
          color: #E80000;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: normal;
            opacity: 0;
        }
    }

    &__form {
			display: flex;
			flex-direction: column;
        input {
            font-family: 'Circe';
            width: 40rem;
            height: 6rem;
            background: #e5e9ef;
            border-radius: 0.8rem;
            display: block;
            border: none;
            padding: 1.8rem 2rem;
            font-style: normal;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 136%;
            color: rgba(63, 76, 92, 0.62);
        }

        input:last-child {
            margin-bottom: 0;
        }
    }

    &__form-btn {
        width: 19rem;
    }

    &__content-right-content-block {
        margin-bottom: 3rem;

        textarea {
            border: none;
            width: 61.1rem;
            min-height: 12.6rem;
            background: #e5e9ef;
            border-radius: 0.8rem;
            font-style: normal;
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 2.7rem;
            color: rgba(63, 76, 92, 0.74);
            resize: none;
            padding-top: 1.8rem;
            padding-left: 1.8rem;
        }
    }

    &__content-right-content-block:last-child {
        margin-bottom: 0;
    }

    &__content-right-content-block-text {
        margin-bottom: 1.7rem;
        display: block;

        span {
            display: block;
            font-style: normal;
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 2.7rem;
            margin-bottom: 1.5rem;
            color: #3f4c5c;
        }

        p {
            font-style: normal;
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 2.7rem;
            color: rgba(63, 76, 92, 0.74);
        }
    }

    &__content-right-content-price {
        display: flex;
        align-items: center;
        margin-bottom: 3rem;
        p {
            font-style: normal;
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 2.7rem;
            margin-right: 2.4rem;
            color: #3f4c5c;
            display: inline-block;
            font-feature-settings: 'tnum' on, 'lnum' on;
        }

        span {
            font-style: normal;
            font-weight: 700;
            font-size: 2.2rem;
            line-height: 3.2rem;
            font-feature-settings: 'tnum' on, 'lnum' on;
            color: #00ac60;
        }
    }

    &__content-right-content-images {
        display: flex;
        align-items: center;
        margin-bottom: 4rem;
        img:nth-child(1) {
            width: 6.1rem;
            height: 2rem;
            margin-right: 3.18rem;
        }

        img:nth-child(2) {
            width: 6.8rem;
            height: 4.1rem;
            margin-right: 3rem;
        }

        img:nth-child(3) {
            width: 7.1rem;
            height: 2rem;
            margin-right: 3rem;
        }

        img:nth-child(4) {
            width: 5.4rem;
            height: 4.1rem;
        }
    }

    &__content-right-content-captha {
        width: 41.2rem;
        height: 10.3rem;
        display: block;
    }

    &__end-inner {
        font-style: normal;
        font-weight: 400;
        font-size: 2rem;
        line-height: 150%;
        color: rgba(63, 76, 92, 0.69);
        margin-bottom: 6rem;
        p:first-child {
            margin-bottom: 0;
            margin-top: 0;
        }
        p {
            margin-bottom: 0.5rem;
            margin-top: 2.5rem;
        }

        ul {
            padding-left: 3rem;
        }
    }

    &__end-title {
        font-style: normal;
        font-weight: 700;
        font-size: 2.3rem;
        line-height: 150%;
        text-transform: uppercase;
        margin-bottom: 3rem;
        color: #3f4c5c;
    }

    ul {
        margin-bottom: 3.9rem;
    }

    li {
        list-style-type: disc;
    }

		.select ul,
		.select {
			margin-bottom: 0;
		}
}
