.distant {
    margin: 6.4rem 0 15rem 0;

    &__text {
        span {
            display: block;
            font-weight: 700;
            font-size: 2.2rem;
            line-height: 3.2rem;
            margin-bottom: 2rem;
        }

        p {
            font-size: 2.2rem;
            line-height: 150%;
            color: rgba(63, 76, 92, 0.69);
        }
    }

    &__text-inner {
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
    }

    &__text-btn {
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 2.7rem;
    }

    &__text-link {
        font-weight: 700;
        font-size: 1.8rem;
    }

    &__lists {
        display: flex;
        column-gap: 8rem;
        .distant__lists-item:first-child {
            margin-right: 8rem;
        }
    }

    &__btn {
        background: inherit;
        width: 24rem;
        &.active {
            background: #ffffff;
        }
        &:hover {
            background-color: #ffffff;
            color: #3f4c5c;
        }
    }

    &__wrap {
        display: none;
    }

    &__btn-two {
        width: 40.6rem;
        background-color: #3f4c5c;
        margin-top: 4rem;
        color: #fff;

        &.hidden {
          display: none;
        }
    }

    &__lists-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24.1rem;
        height: 6rem;
        border: 0.1rem solid #00ac60;
        border-radius: 0.6rem;
        font-size: 1.8rem;
        line-height: 2.7rem;
        cursor: pointer;

        &.active {
          color: #ffffff;
          background: #00ac60;
        }
    }

    &__buttons {
        margin: 4rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__content {
        display: flex;
    }

    &__content-block {
        margin-bottom: -1rem;

        &:last-child {
          margin-bottom: 0;
        }
    }

    &__content-block-chapter {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        &.active {
          .distant__content-block-chapter-number {
            background: #00AC60;
          }
          .distant__content-block-chapter-text {
            color: #00AC60;
          }
        }
    }

    &__content-block-chapter-number {
        width: 3.8rem;
        height: 3.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(63, 76, 92, 0.69);
        border-radius: 50%;
        font-size: 2rem;
        line-height: 2.9rem;
        color: #ffffff;
        margin-right: 2rem;
    }

    &__content-block-chapter-text {
        font-size: 2rem;
        line-height: 2.9rem;
        color: rgba(63, 76, 92, 0.69);
    }

    &__content-block-lists {
        padding-left: 6rem;
    }

    &__content-block-item {
        font-size: 1.6rem;
        line-height: 136%;
        color: rgba(63, 76, 92, 0.69);
        margin-bottom: 1.2rem;
        &.active {
          color: #00AC60;
        }
        &:last-child {
          margin-bottom: 0;
        }
    }

    &__content-right {
        display: block;
        margin-left: auto;
    }

    &__content-right-content {
      display: flex;
      flex-direction: column;
        background: #d8dee8;
        border-radius: 0.8rem;
        width: 113.6rem;
        padding: 4rem 1rem 5rem 5rem;
        margin-bottom: 6rem;

        &.error {
          .distant__content-right-content-title span {
            opacity: 1;
            transition: all 0.3s ease-in-out;
          }
        }
    }

    &__content-right-content-title {
        font-size: 2rem;
        line-height: 2.9rem;
        margin-bottom: 3rem;
        padding-left: 1.2rem;
        span {
          margin-left: 4rem;
          color: #E80000;
            font-size: 1.8rem;
            line-height: normal;
            opacity: 0;
        }
    }

    &__form {
      display: flex;
      flex-direction: column;
        input {
            font-family: 'Circe';
            width: 40rem;
            height: 6rem;
            background: #e5e9ef;
            border-radius: 0.8rem;
            display: block;
            border: none;
            padding: 1.8rem 2rem;
            font-size: 1.6rem;
            line-height: 136%;
            color: rgba(63, 76, 92, 0.62);

            &:last-child {
              margin-bottom: 0;
            }
        }
    }

    &__form-btn {
        width: 19rem;
    }

    &__content-right-content-block {
        margin-bottom: 3rem;

        textarea {
            border: none;
            width: 61.1rem;
            min-height: 12.6rem;
            background: #e5e9ef;
            border-radius: 0.8rem;
            font-size: 1.8rem;
            line-height: 2.7rem;
            color: rgba(63, 76, 92, 0.74);
            resize: none;
            padding-top: 1.8rem;
            padding-left: 1.8rem;
        }

                &:last-child {
                  margin-bottom: 0;
                }
    }

    &__content-right-content-block-text {
        margin-bottom: 1.7rem;
        display: block;

        span {
            display: block;
            font-size: 1.8rem;
            line-height: 2.7rem;
            margin-bottom: 1.5rem;
        }

        p {
            font-size: 1.8rem;
            line-height: 2.7rem;
            color: rgba(63, 76, 92, 0.74);
        }
    }

    &__content-right-content-price {
        display: flex;
        align-items: center;
        margin-bottom: 3rem;
        p {
            font-size: 1.8rem;
            line-height: 2.7rem;
            margin-right: 2.4rem;
            display: inline-block;
            font-feature-settings: 'tnum' on, 'lnum' on;
        }

        span {
            font-weight: 700;
            font-size: 2.2rem;
            line-height: 3.2rem;
            font-feature-settings: 'tnum' on, 'lnum' on;
            color: #00ac60;
        }
    }

    &__content-right-content-images {
        display: flex;
        align-items: center;
        margin-bottom: 4rem;
        img:nth-child(1) {
            width: 6.1rem;
            height: 2rem;
            margin-right: 3.18rem;
        }

        img:nth-child(2) {
            width: 6.8rem;
            height: 4.1rem;
            margin-right: 3rem;
        }

        img:nth-child(3) {
            width: 7.1rem;
            height: 2rem;
            margin-right: 3rem;
        }

        img:nth-child(4) {
            width: 5.4rem;
            height: 4.1rem;
        }
    }

    &__content-right-content-captha {
        width: 41.2rem;
        height: 10.3rem;
        display: block;
    }

    &__end-inner {
        font-size: 2rem;
        line-height: 150%;
        margin-bottom: 6rem;
        p:first-child {
            margin-bottom: 0;
            margin-top: 0;
        }
        p {
            margin-bottom: 0.5rem;
            margin-top: 2.5rem;
        }

        ul {
            padding-left: 3rem;
        }
    }

    &__end-title {
        font-weight: 700;
        font-size: 2.3rem;
        line-height: 150%;
        text-transform: uppercase;
        margin-bottom: 3rem;
    }

    ul {
        margin-bottom: 3.9rem;
    }

    li {
        list-style-type: disc;
    }

    .select ul,
    .select {
      margin-bottom: 0;
    }

    .checkbox-other {
      margin: 0;
    }
}


@media screen and (max-width: 48em) {
  .distant {
      margin: 2.8vw 0 24vw 0;

            .form__input {
                flex-direction: column;
                width: 100%;
                margin-bottom: 5.3vw;
              }

              .input-file {
                margin-top: 5.3vw;
              }

			&__content-right-btns {
				display: flex;
					align-items: center;
					justify-content: space-between;
					column-gap: 2rem;
					margin-bottom: 8vw;
					position: relative;
					border-bottom: 1.5px solid #ADB8BF;

					&::after {
						content: "";
						height: 1.5px;
						display: block;
						position: absolute;
						background-color: #00AC60;
						bottom: -1px;
						z-index: 1;
					}

										&.width-25::after {
											width: 25%;
										}
										&.width-50::after {
											width: 50%;
										}
										&.width-75::after {
											width: 75%;
										}
										&.width-100::after {
											width: 100%;
										}

					&.--mob {
							display: flex;
						}
			}

      &__content-right-btns-active,
			&__content-right-btns-no-active {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 2rem;
        padding-top: 16vw;
      }

      &__content-right {
        width: 100%;
      }

      &__content-right-btn {
        display: flex;
        align-items: center;
        column-gap: 1.6vw;
        padding-bottom: 3.4vw;

				&.active-prev {
					transition: all 0.2s ease-in-out;
					.distant__content-right-btn-number {
							background: #00AC60;
							color: white;
						}
				}

        &.active {
          .distant__content-right-btn-number {
            background: #00AC60;
            color: white;
          }
        }
      
      
        &.active {
          .distant__content-right-btn-text {
            display: block;
          }
        }
      }

      &__content-right-btn-number {
        width: 8vw;
          height: 8vw;
          border-radius: 50%;
          background: rgba(63, 76, 92, 0.69);
          color: rgba(255, 255, 255, 0.69);
          font-size: 4.8vw;
          font-weight: 400;
          line-height: 110%;
          display: flex;
          align-items: center;
          justify-content: center;
      }

      &__content-right-btn-text {
        color: #00AC60;
          font-size: 4.8vw;
          line-height: 110%;
          display: none;
      }
  
      &__text {
        span {
          font-size: 5.3vw;
          line-height: normal;
          margin-bottom: 2.8vw;
        }
  
        p {
          font-size: 3.8vw;
          line-height: 140%;
        }
      }
  
      &__text-inner {
        margin-top: 4.27vw;
        flex-direction: column;
        row-gap: 4.27vw;
      }
  
      &__text-btn {
        font-size: 4.27vw;
        line-height: 150%;
        border-bottom: 1px solid #3f4c5c;
        width: fit-content;
      }
  
      &__text-link {
        font-size: 4.27vw;
      }
  
      &__lists {
        flex-direction: column;
        row-gap: 5.3vw;
        width: 100%;
      }
  
      &__btn {
        width: 100%;
      }
  
      &__btn-two {
        width: 100%;
        margin-top: 16vw;
        padding: 5vw 4.2vw;
      }

      &__lists-item {
        width: 24.1rem;
        height: 6rem;
        border: 0.1rem solid #00ac60;
        border-radius: 0.6rem;
        font-size: 1.8rem;
        line-height: 2.7rem;
      }
  
      &__buttons {
        margin: 0;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 5.3vw;
      }

      &__content-left {
        display: none;
      }
  
      &__content-block {
        margin-bottom: -1rem;
      }
  
      &__content-block-chapter {
        margin-bottom: 1rem;
      }
  
      &__content-block-chapter-number {
        width: 3.8rem;
        height: 3.8rem;
        font-size: 2rem;
        line-height: 2.9rem;
        margin-right: 2rem;
      }
  
      &__content-block-chapter-text {
        font-size: 2rem;
        line-height: 2.9rem;
      }
  
      &__content-block-lists {
        padding-left: 6rem;
      }
  
      &__content-block-item {
        font-size: 1.6rem;
        line-height: 136%;
        margin-bottom: 1.2rem;
      }
  
      &__content-right-content {
        border-radius: 2.8vw;
        width: 100%;
        padding: 5.3vw;
        &:not(:last-child) {
          margin-bottom: 8vw;
        }
      }
  
      &__content-right-content-title {
        font-size: 4.8vw;
        line-height: 110%;
        margin-bottom: 5.3vw;
        padding-left: 0;

        span {
          font-size: 3.6vw;
        }
      }

            .form__input-error {
              width: 100%;
              max-width: 65vw;
              padding: 3.2vw;
              flex-direction: column;
              top: 2vw;
      
              span {
                font-size: 3.2vw;
              }
      
              img {
                top: -2vw;
                left: calc(50% - 2rem/2);
                transform: rotate(90deg);
              }
            }
  
      &__form {
        input {
          width: 100%;
          height: 16vw;
          border-radius: 2.8vw;
          padding: 5.3vw;
          font-size: 3.2vw;
        }
      }
  
      &__form-btn {
        width: 100%;
        padding: 5vw;
      }

                    .all-btn__white {
                      padding: 5vw;
                    }
  
      &__content-right-content-block {
        margin-bottom: 5.3vw;
  
        textarea {
          width: 100%;
          min-height: 27vw;
          border-radius: 2.8vw;
          font-size: 4.8vw;
          line-height: 130%;
          padding: 3.2vw 0 0 3.2vw;
        }
      }
  
      &__content-right-content-block-text {
        margin-bottom: 1.6vw;
  
        span {
          font-size: 3.8vw;
          line-height: 130%;
          margin-bottom: 1.6vw;
        }
  
        p {
          font-size: 3.8vw;
          line-height: 140%;
        }
      }
  
      &__content-right-content-price {
        margin-bottom: 5.3vw;
        justify-content: space-between;
  
        p {
          font-size: 4.27vw;
          line-height: 150%;
          margin-right: 5.3vw;
        }
  
        span {
          font-size: 5.3vw;
          line-height: normal;
        }
      }
  
      &__content-right-content-images {
        margin-bottom: 5.3vw;
  
        img:nth-child(1) {
          width: 15vw;
          height: 100%;
        }

        img:nth-child(2) {
          width: 16.3vw;
          height: 100%;
        }

        img:nth-child(3) {
          width: 17.1vw;
          height: 100%;
        }

        img:nth-child(4) {
          width: 13.3vw;
          height: 100%;
        }

        img:nth-child(1),
        img:nth-child(2),
        img:nth-child(3) {
          margin-right: 7vw;
        }
      }
  
      &__content-right-content-captha {
        width: 100%;
        height: 100%;
      }

      &__content-right-block {
        display: none;
        width: 100%;

        &.active {
          display: block;
        }

        &:last-child {
          .form__input {
            margin-bottom: 8vw;
          }
        }
      }
  
      &__end-inner {
        font-size: 4.27vw;
        margin-bottom: 8vw;
  
        p {
          margin-bottom: 2.8vw;
          margin-top: 2.5rem;
        }
  
        ul {
          padding-left: 5.3vw;
        }
      }
  
      &__end-title {
        font-size: 5.3vw;
        margin-bottom: 4.27vw;
      }
  
      ul {
        margin-bottom: 2.8vw;
      }

      &__end {
        display: none;
        width: 100%;
        margin-top: 9vw;

        &.active {
          display: block;
        }
      }
    }
}