.history {

	&__img {
		position: absolute;
		z-index: -1;
	}

	&__blocks {
		display: flex;
		flex-direction: column;
		row-gap: 3rem;
		margin-top: 6rem;
	}

	&__block {
		width: 115.4rem;
    background: #d8dee8;
    border-radius: 0.8rem;
		padding: 2rem 4rem 0 4rem;
	}

	&__block-inner {
		display: flex;
		cursor: pointer;
		justify-content: space-between;
	}

	&__block-inner.active {
		.history__block-arrow {
			transform: rotate(180deg);
			transition: all 0.3s;
		}
	}

	&__block-title {
		line-height: 1;
    color: #3f4c5c;
    padding-bottom: 2rem;
		font-style: normal;
		font-weight: 700;
		font-size: 2.3rem;
		line-height: 150%;
		color: #3F4C5C;
		width: 100.6rem;
	}

	&__block-arrow {
		width: 3.2rem;
    height: 3.2rem;
    background: #00ac60;
    border-radius: 50%;
    display: flex;
    transition: all .3s;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    margin-left: 5.6rem;
		svg {
			width: 1.2rem;
    	height: 0.8rem;
		}
	}

	&__content[style*="display: block"] {
		display: flex !important;
		flex-direction: column;
		row-gap: 2rem;
		padding-bottom: 2rem;
	}


	&__text,
	p {
		font-style: normal;
		font-weight: 400;
		font-size: 1.8rem;
		line-height: 150%;
		color: #3F4C5C;
	}

	&__text-img {
		display: flex;
		column-gap: 3rem;
		p {
			width: 58.3rem;
		}
	}

	&__img-sm {
		width: 46rem;
		height: 46rem;
	}

	&__content {
		display: none;
		&.active {
			display: flex;
		}
	}
}

.history__book {
	width: 115.4rem;
	height: 77.2rem;
	position: relative;
	overflow: hidden;
	background: url('../img/histor.png');
	background-size: cover;
	display: flex;
	padding: 7rem;
	overflow: hidden;
	.qw {
		width: 100%;
    display: flex;
		column-gap: 7rem;
		position: relative;
		transition: all 0.5s;
	}
	p,
	.history__main-img {
		flex: 0 0 47%;
		font-size: 1.6rem;
	}
}

#magazine{
	width:800px;
	height:400px;
 }
 #magazine .turn-page{
	width:400px;
	height:400px;
	background-color:#ccc;
 }