.history {
	&__img {
		position: absolute;
		z-index: -1;
	}

	&__content p {
		font-weight: 400;
		font-size: 1.8rem;
		line-height: 150%;
		color: #3F4C5C;
	}

	&__text-img {
		display: flex;
		column-gap: 3rem;
		p {
			width: 58.3rem;
		}
	}

	&__img-sm {
		width: 46rem;
		height: 46rem;
	}
}

.history__book {
	width: 115.4rem;
	height: 77.2rem;
	position: relative;
	overflow: hidden;
	background: url('../img/histor.png');
	background-size: cover;
	display: flex;
	padding: 7rem;
	overflow: hidden;
	
	p,
	.history__main-img {
		flex: 0 0 47%;
		font-size: 1.6rem;
	}
}

#magazine{
	width:800px;
	height:400px;
}

#magazine .turn-page{
	width:400px;
	height:400px;
	background-color:#ccc;
}