.hospitalization {
    margin-top: 5.6rem;
    padding-bottom: 15rem;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__right {
        width: 98.2rem;
    }

    &__left {
        width: 33rem;
    }

    &__btn {
        background-color: #ffffff;
        width: 21rem;
        column-gap: 1.8rem;
    }

    &__block {
        padding: 2.5rem 2.5rem 3.5rem 2.5rem;
        background: #d8dee8;
        border-radius: 0.6rem;
        width: 32.6rem;
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        &.hidden {
            display: none;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__block-title {
        font-style: normal;
        font-weight: 700;
        font-size: 2rem;
        line-height: 125%;
        text-align: center;
        color: #3f4c5c;
        margin-bottom: 2.3rem;
    }

    &__content {
        display: none;
        &.active {
            display: block;
        }
    }

    &__content-lists {
        margin-bottom: 4rem;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 150%;
        color: #3f4c5c;

        li {
            margin-bottom: 0rem;
            padding-left: 2.5rem;
            position: relative;

            &::before {
                position: absolute;
                content: '';
                width: 0.5rem;
                height: 0.5rem;
                background: rgba(63, 76, 92, 0.69);
                border-radius: 50%;
                left: 1rem;
                top: 1.2rem;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__content-wrap {
        margin-bottom: 4rem;
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__conditions-text {
        font-style: normal;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 150%;
        color: #3f4c5c;
        margin-bottom: 0.8rem;
    }

    &__conditions-lists {
        margin-bottom: 4rem;
        font-style: normal;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 150%;
        color: #3f4c5c;
        margin-top: 0.8rem;

        li {
            margin-bottom: 1rem;
            padding-left: 1.5rem;
            position: relative;
            &::before {
                position: absolute;
                content: '';
                width: 0.5rem;
                height: 0.5rem;
                background: rgba(63, 76, 92, 0.69);
                border-radius: 50%;
                left: 0;
                top: 1.2rem;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
