.hospitalization {
    margin: 5.6rem 0 15rem 0;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__contents {
        width: 115.4rem;
    }

    &__left {
        width: 34.8rem;
    }

    &__btn {
        background-color: #ffffff;
        width: 21rem;
        column-gap: 1.8rem;
    }

     &__blocks {
        display: none;

        &.active {
          display: block;
        }
      }

    &__block {
        padding: 2.5rem 2.5rem 3.5rem 2.5rem;
        background: #d8dee8;
        border-radius: 0.6rem;
        width: 32.6rem;
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        &.hidden {
            display: none;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__block-title {
        font-weight: 700;
        font-size: 2rem;
        line-height: 125%;
        text-align: center;
        margin-bottom: 2.3rem;
    }

    &__content {
        display: none;
        &.active {
            display: block;
        }
    }

    &__content-lists {
        margin-bottom: 4rem;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 150%;

        li {
            margin-bottom: 0rem;
            padding-left: 2.5rem;
            position: relative;

            &::before {
                position: absolute;
                content: '';
                width: 0.5rem;
                height: 0.5rem;
                background: rgba(63, 76, 92, 0.69);
                border-radius: 50%;
                left: 1rem;
                top: 1.2rem;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__content-wrap {
        margin-bottom: 4rem;
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__conditions-text {
        font-size: 1.8rem;
        line-height: 150%;

        &:not(:last-child) {
          margin-bottom: 0.8rem;
        }
    }

    &__conditions-lists {
        margin-bottom: 4rem;
        font-size: 1.8rem;
        line-height: 150%;
        margin-top: 0.8rem;

        li {
            margin-bottom: 1rem;
            padding-left: 1.5rem;
            position: relative;
            &::before {
                position: absolute;
                content: '';
                width: 0.5rem;
                height: 0.5rem;
                background: rgba(63, 76, 92, 0.69);
                border-radius: 50%;
                left: 0;
                top: 1.2rem;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}


@media screen and (max-width: 48em) {
  .hospitalization {
      margin: 2.2vw 0 21.3vw 0;
  
      &__contents,
      &__right,
      &__left {
        width: 100%;
      }
  
      &__btn {
        width: 56vw;
        column-gap: 4.8vw;
      }

      &__wrapper {
        flex-direction: column-reverse;
        row-gap: 0;
      }

      &__blocks {
        margin-top: 30vw;
      }
  
      &__block {
        padding: 6.6vw 10.6vw 8.6vw 10.6vw;
        border-radius: 1.8vw;
        width: 100%;
        margin-bottom: 8vw;
      }
  
      &__block-title {
        font-size: 5.3vw;
        margin-bottom: 6.4vw;
      }
  
      &__content-lists {
        margin-bottom: 8vw;
        font-size: 4.27vw;
        line-height: 130%;
  
        li {
          padding-left: 5.3vw;
  
          &::before {
            background: #3F4C5C;
            width: 1.2vw;
              height: 1.2vw;
              left: 1.6vw;
              top: 2.4vw;
          }
        }
      }

      &__image {
        width: 100%;
        height: 101vw;

        img {
          border-radius: 2.2vw;
        }
      }
  
      &__content-wrap {
        margin-bottom: 4rem;
      }
  
      &__conditions-text {
        font-size: 4.27vw;
        line-height: 130%;

        &:not(:last-child) {
          margin-bottom: 2.2vw;
        }

        strong {
          display: block;
          margin-top: 2.2vw;
        }
      }
  
      &__conditions-lists {
        margin-bottom: 8vw;
        font-size: 4.27vw;
        line-height: 130%;
  
        li {
          margin-bottom: 2.2vw;
          padding-left: 5.3vw;
  
          &::before {
            background: #3F4C5C;
            width: 1.2vw;
              height: 1.2vw;
              left: 1.6vw;
              top: 2.4vw;
          }
        }
      }
    }

    .content-menu-mob {
      &.active {
        & ~ .hospitalization__blocks {
          display: none !important;
        }
      }
    }
}