.main {
    padding-top: 8rem;
    padding-bottom: 15rem;
    // &__bg {
    //     position: absolute;
    //     z-index: -1;
    //     top: 0;
    //     width: 100%;
    //     height: 265rem;
		// 		background: url('../../img/main/bg.webp');
		// 		background-size: cover;
    // }

		&__btn {
			background: #00AC60;
			color: #FFF;
			width: 28.7rem;
			&:hover {
				background: #01723f;
			}
		}

    &__swiper {
        width: 101.8rem;
        min-width: 101.8rem;
        height: 41.8rem;
        overflow: hidden;
        position: relative;
        left: -2.3rem;
    }

    &__slide {
        min-height: 41.8rem;
        position: relative;
        display: block;
        padding-top: 5.5rem;
    }

    &__slide-content {
        display: flex;
        height: 36.3rem;
        background: #3F4C5C;
        border-radius: 0.8rem;
        padding-left: 4.7rem;
        padding-top: 5.2rem;
       cursor: pointer;
    }

    &__slide-right {
        width: 49.5rem;
        height: 41.8rem;
        position: absolute;
        top: 0;
        right: 0;
    }

    &__slide-title {
        font-style: normal;
        font-weight: 700;
        font-size: 2.3rem;
        line-height: 122%;
        text-transform: uppercase;
        margin-bottom: 2.4rem;
        color: #FFFFFF;
        display: block;
    }

    &__slide-text {
        font-style: normal;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: #BBBFD8;
        width: 44.6rem;
        margin-bottom: 5.4rem;
       p {
        margin-bottom: 1.8rem;
       }

       p:last-child {
        margin-bottom: 0;
       }
    }

    &__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8rem;
    }

    &__news {
        width: 48rem;
        height: 36.3rem;
        background: #FEFEFE;
        border-radius: 0.8rem;
        margin-top: auto;
        padding: 2rem;
        position: relative;
    }

    &__news-image {
        width: 44rem;
        height: 19.4rem;
        display: block;
        margin-bottom: 2.1rem;
    }

    &__news-date {
        display: flex;
        flex-direction: column;
        position: absolute;
        justify-content: center;
        color: #FFFFFF;
        background: #3F4C5C;
        border-radius: 0.8rem;
        width: 13.2rem;
        height: 11.7rem;
        text-align: center;
        top: 0;
        left: 3.3rem;
        strong {
            display: block;
            font-style: normal;
            font-weight: 400;
            font-size: 4rem;
            line-height: 5.9rem;
        }

        span {
            font-style: normal;
            font-weight: 400;
            font-size: 1.2rem;
            line-height: 159%;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }

    &__news-title {
        font-style: normal;
        font-weight: 700;
        font-size: 2.3rem;
        line-height: 122%;
        text-transform: uppercase;
        color: #323439;
        margin-bottom: 0.4rem;
    }

    &__news-text {
        font-style: normal;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: #83868C;
    }

    &__lists{
        display: flex;
        flex-wrap: wrap;

        li {
            display: inline-block;
            margin-right: 2.9rem;
            margin-bottom: 2.9rem;
        }

        li:nth-child(3n) {
            margin-right: 0;
        }

        li:nth-last-of-type(-n + 3) {
            margin-bottom: 0;
        }
    }

    &__item,
		&__block-referenc {
        &:hover {
            .main__item-image {
                img {
                    transition: 0.7s;
                    transform: scale(1.1);
                }
            }
        }
        a {
            background: rgba(63, 76, 92, 0.5);
            border-radius: 0.8rem;
            width: 49.5rem;
            height: 12.6rem;
            position: relative;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items:center;
        }
    }

    &__item-image {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        top: 0;
        img {
            transition: 0.7s;
        }
    }

    &__item-title {
        font-weight: 700;
        font-size: 2rem;
        line-height: 125%;
        text-transform: uppercase;
        color: #FFFFFF;
        position: relative;
        z-index: 1;
        text-align: center;
    }

    &__bottom {
        margin-bottom: 2.9rem;
    }

		&__block-wrap {
			display: flex;
			column-gap: 3rem;
		}

		&__block-referenc a{
			background: rgba(63,76,92,.5);
			border-radius: 0.8rem;
			width: 75.7rem;
			height: 12.6rem;
			position: relative;
			overflow: hidden;
			display: flex;
			justify-content: center;
			align-items: center;
		}

    &__block-recomended {
        width: 100%;
        height: 12.6rem;
        position: relative;
				padding-top: 0.7rem;
				padding-left: 1rem;
    }

    &__block-white {
        position: absolute;
        background: #FFFFFF;
        mix-blend-mode: normal;
        border-radius: 8px;
        width: 26.5rem;
        height: 11.6rem;
        z-index: 1;
        top: 0;
        left: 0;
    }

    &__block-text {
      	position: relative;
        z-index: 2;
        background: #3F6088;
        height: 11.9rem;
        width: 74.6rem;
        border-radius: 0.8rem;
        font-style: normal;
        font-weight: 700;
        font-size: 2rem;
        line-height: 125%;
        text-transform: uppercase;
        color: #FFFFFF;
        padding-left: 1.2rem;
    }

    &__block-text-cont {
      background: #436997;
      border-radius: 0.8rem;
      height: 10.6rem;
      width: 73.4rem;
      padding-top: 3.5rem;
      padding-left: 1.5rem;
    }

    &__question {
      display: flex;
      justify-content: space-between;
      align-items:center;
      background: #3F4C5C;
      mix-blend-mode: normal;
      background-image: url(../img/mask.webp);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      margin-top: 4rem;
      border-radius: 8px;
      width: 100%;
      height: 12.6rem;
      font-style: normal;
      font-weight: 700;
      font-size: 2rem;
      line-height: 2.9rem;
      color: #FFFFFF;
      padding: 0 4.9rem;
      padding-right: 8.2rem;
      margin-bottom: 11rem;
      a {
          height: fit-content;
          line-height: 1;
          border-bottom: 0.1rem solid #fff;
      }
    }

    &__pagination {
      position: absolute;
      z-index: 2;
      top: 8.8rem;
      right: 2.6rem;
    }

    &__bullets {
      position: relative;
      top: 0.5rem;
      .swiper-pagination-bullet {
				width: 0.6rem;
				height: 0.6rem;
				background: #fff;
				opacity: 1;
			}
    	.swiper-pagination-bullet-active {
				background: #00AC60;
			}
  	}
}

.main__question-link {
	&:hover {
		color: #00AC60;
		border-color: #00AC60;
	}
}

.main-body {
  flex-direction: column;
  min-height: 100vh;
  z-index: -1;
  background: url(../../img/main/bg.webp) no-repeat center;
  background-size: cover;
}