.modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(63, 76, 92, 0.69);
    backdrop-filter: blur(1.6rem);
    overflow: auto;
    z-index: -500;
    opacity: 0;
    transition: opacity 500ms, z-index 1500ms;

    &.active {
        z-index: 50000;
        opacity: 1;
        transition: opacity 500ms, z-index 1ms;
    }

    &__inner {
        width: fit-content;
        position: relative;
        z-index: 2;
        margin: 5rem auto;
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 0;
        transition: transform 700ms, opacity 250ms;
    }

    &__content {
        width: auto;
        padding: 10rem 12rem;
        margin: 0 auto;
        position: relative;
        border-radius: 0.8rem;
        background: #d8dee8;
    }

    &__title {
        font-weight: 700;
        font-size: 2.3rem;
        text-transform: uppercase;
        margin-bottom: 4.4rem;
    }

    &__content-close {
        display: inline-block;
        width: 3.2rem;
        height: 3.2rem;
        position: absolute;
        top: 5rem;
        right: 5rem;
        z-index: 2;
        cursor: pointer;
    }

    &__content-close img {
        width: 100%;
        height: 100%;
        -o-object-fit: contain;
        object-fit: contain;
    }

    &__content-conferences {
        width: 120rem;
    }

    &__buttons-conferences {
        justify-content: space-between;
        column-gap: 1rem;
        button {
            background-color: #ffffff;
            width: auto;
            height: auto;
            text-align: center;
            font-size: 1.8rem;
            line-height: 150%;
        }
    }

    &__block-conferences {
        display: none;
        &.active {
            display: block;
            font-size: 2rem;
        }
    }

    &__conferences-swiper {
        margin-bottom: 2.2rem;
        overflow: hidden;
    }

    &__conferences-pagination {
        margin-bottom: 4.4rem;
    }

    &__conferences-main {
      width: 96rem;
    }

    &__conferences-slide-image {
        width: 96rem;
        height: 39rem;
    }

    &__content-succes-reg {
      width: 66.4rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 2.5rem;
      padding: 10rem 8.8rem;
    }

    &__content-succes-reg-title {
      color: #323439;
        font-size: 3.2rem;
        font-weight: 700;
        line-height: 150%;
    }

    &__content-succes-reg-text {
        font-size: 1.8rem;
        line-height: 150%;
    }
}

.modal.active .modal__inner {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity 250ms, -webkit-transform 700ms;
    transition: opacity 250ms, -webkit-transform 700ms;
    transition: transform 700ms, opacity 250ms;
    transition: transform 700ms, opacity 250ms, -webkit-transform 700ms;
}


@media screen and (max-width: 48em) {
  .modal {	
      &__content {
        padding: 6.4vw 5.3vw;
        border-radius: 2.2vw;
        margin: 24vw 0;
      }
  
      &__title {
        font-size: 5.3vw;
        margin-bottom: 5.3vw;
      }
  
      &__content-close {
        width: 15vw;
        height: 15vw;
        top: -18vw;
        right: 0;
        border-radius: 1.8vw;
        background: #D8DEE8;
        padding: 4.27vw;
      }
  
      &__content-conferences {
        width: 95vw;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
  
      &__buttons-conferences {
        flex-direction: column;
        row-gap: 5.3vw;
  
        button {
          font-size: 4.8vw;
        }
      }
  
      &__block-conferences {
        &.active {
          font-size: 4.27vw;
        }
      }

      &__conferences-main {
        width: 84vw;
        margin-bottom: 8vw;
      }
  
      &__conferences-swiper {
        margin-bottom: 5.3vw;
      }
  
      &__conferences-pagination {
        justify-content: center;
        margin-bottom: 0;
      }

      &__conferenes-next,
      &__conferenes-prev {
        display: none;
      }
  
      &__conferences-slide-image {
        width: 84vw;
        height: 133vw;
      }
  
      &__content-succes-reg {
        width: 66.4rem;
        row-gap: 2.5rem;
        padding: 10rem 8.8rem;
      }
  
      &__content-succes-reg-title {
        font-size: 3.2rem;
      }
  
      &__content-succes-reg-text {
        font-size: 1.8rem;
      }
    }
}