.news {
    margin: 5.6rem 0 15rem 0;

		&__slide {
			display: flex;
			flex-wrap: wrap;
			row-gap: 3rem;
			column-gap: 3rem;
		}

		.pagination {
			margin-top: 9rem;
		}

    &__block {
        width: 49.4rem;
        height: 39.8rem;
        background: #fefefe;
        border-radius: 0.8rem;
        padding: 2rem;
        position: relative;
    }

    &__image {
        width: 44rem;
        height: 19.4rem;
        display: block;
        margin-bottom: 2.1rem;
    }

    &__date {
        display: flex;
        flex-direction: column;
        position: absolute;
        justify-content: center;
        color: #ffffff;
        background: #3f4c5c;
        border-radius: 0.8rem;
        width: 13.2rem;
        height: 11.7rem;
        text-align: center;
        top: 0;
        left: 3.3rem;
        strong {
            display: block;
            font-size: 4rem;
            line-height: 5.9rem;
        }

        span {
            font-size: 1.2rem;
            line-height: 159%;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #ffffff;
        }
    }

    &__text-title {
        font-weight: 700;
        font-size: 2.3rem;
        line-height: 122%;
        color: #323439;
        margin-bottom: 0.4rem;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }

    &__text-desc {
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: #83868c;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    &__bullets {
        column-gap: 2rem;
    }
}


@media screen and (max-width: 48em) {
  .news {
      margin: 2.8vw 0 21.3vw 0;

			.pagination {
				margin-top: 8vw;
			}

			&__slide {
				row-gap: 5.3vw;
			}

      &__block {
        width: 100%;
        height: 107.5vw;
        border-radius: 2.2vw;
        padding: 5.3vw;
      }
  
      &__image {
        width: 100%;
        height: 54vw;
        margin-bottom: 3.2vw;

        img {
          border-radius: 2.2vw;
        }
      }
  
      &__date {
        border-radius: 2.2vw;
        width: 35.2vw;
        height: 28vw;
        left: 8.8vw;
  
        strong {
          font-size: 8vw;
          line-height: normal;
        }
  
        span {
          font-size: 3.2vw;
          line-height: 159%;
        }
      }
  
      &__text-title {
        font-size: 5.3vw;
        line-height: 150%;
        margin-bottom: 2.8vw;
      }
  
      &__text-desc {
        font-size: 3.8vw;
        line-height: 140%;
      }
  
      &__bullets {
        column-gap: 3.2vw;
      }

      .news__text-title {
        height: 24vw;
      }
    }
}