.medic-care {
    margin-top: 5.8rem;
    padding-bottom: 15rem;

    &__wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 1.2rem;
    }

    p {
        color: #3f4c5c;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 150%;
    }
}
