.reference {
    margin-top: 5.8rem;
    padding-bottom: 15rem;

    &__items {
        display: flex;
        flex-direction: column;
        row-gap: 4rem;
        li {
            display: flex;
            flex-direction: column;
            row-gap: 1.4rem;
        }
    }

    &__items-title {
        font-weight: 700;
        font-size: 2rem;
        line-height: 130%;
        color: #3f4c5c;
        position: relative;
        display: flex;
        padding-left: 2rem;

        &::before {
            content: '';
            display: inline-block;
            width: 0.5rem;
            height: 0.5rem;
            border-radius: 50%;
            background-color: #3f4c5c;
            position: absolute;
            left: 0.5rem;
            top: 1rem;
        }
    }

    &__contact-block a {
        font-weight: 700;
    }

    &__task-block {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }

    &__task-items li {

              position: relative;
                padding-left: 2rem;
              
                &::before {
                  content: '';
                  display: inline-block;
                  width: 0.3rem;
                  height: 0.3rem;
                  border-radius: 50%;
                  background-color: #3f4c5c;
                  position: absolute;
                  left: 0.5rem;
                  top: 1.2rem;
                }
    }

    li {
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 150%;
        color: #3f4c5c;
    }

    &__aplicator {
        margin-top: 4rem;
    }

    &__swipper {
        width: 100%;
        overflow: hidden;
        margin-bottom: 2.2rem;
    }

    &__pagination {
        margin-top: 2.2rem;
    }

    &__bullets .swiper-pagination-bullet-active {
        background: #3f4c5c;
    }
}


@media screen and (max-width: 48em) {
  .reference {
      margin-top: 2.2vw;
      padding-bottom: 21.3vw;
  
      &__items {
        row-gap: 8vw;
  
        li {
          row-gap: 2.8vw;
        }
      }
  
      &__items-title {
        font-size: 4.8vw;
        line-height: 140%;
        padding-left: 5.3vw;
  
        &::before {
           width: 1.2vw;
            height: 1.2vw;
            left: 1.6vw;
            top: 2.4vw;
        }
      }
  
      &__task-block {
        row-gap: 1.2vw;
      }

       &__task-items li {
                padding-left: 5.3vw;
              
                &::before {
                  width: 0.8vw;
                  height: 0.8vw;
                  left: 1.5vw;
                  top: 2vw;
                }
    }
  
      li {
        font-size: 4.27vw;
        line-height: 130%;
      }
  
      &__aplicator {
        margin-top: 8vw;
      }
  
      &__swipper {
        margin-bottom: 8vw;
      }
  
      &__pagination {
        margin-top: 8vw;
        justify-content: center;
      }

      &__slide .applicator__slide-image {
        width: 95vw;
        height: 133vw;
      }
  
      &__bullets .swiper-pagination-bullet-active {
        background: #00AC60;
      }

      &__next,
      &__prev {
        display: none;
      }
    }
}