.rights-obligations {
    margin-top: 5.6rem;
    padding-bottom: 15rem;

    &__wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 4rem;
    }

    &__block {
        display: flex;
        flex-direction: column;
        row-gap: 2.2rem;
    }

    li {
        position: relative;
        padding-left: 2rem;

        a {
            font-weight: 700;
            font-size: 2rem;
            line-height: 150%;
            color: #3f4c5c;
        }

        &::before {
            content: '';
            display: inline-block;
            width: 0.5rem;
            height: 0.5rem;
            border-radius: 50%;
            background-color: #3f4c5c;
            position: absolute;
            left: 0.5rem;
            top: 1.4rem;
        }
    }

    &__btns-download {
        display: flex;
        row-gap: 3rem;
        flex-wrap: wrap;
        column-gap: 3rem;
        a {
            width: calc(50% - 3rem / 2);
            height: auto;
            &:nth-child(5) {
                width: 100%;
            }
        }
    }
}
