.schedule {
    margin-top: 5.6rem;
    padding-bottom: 15rem;

		&__wrapper {
			margin-bottom: 8rem;
			&:last-child {
				margin-bottom: 0;
			}
		}

    &__title {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.9rem;
        span {
            font-weight: 700;
            font-size: 2.3rem;
            line-height: 135%;
            display: block;
            color: #3F4C5C;
        }
    }

		&__content {
			padding: 0;
			row-gap: 0 !important;
		}

		&__table:last-child .schedule__table-content {
			border-radius: 0rem 0rem 0.8rem 0.8rem;
		}

    &__table-content {
        display: flex;
        background: #B9C3D3;
        transition: 0.2s;
        cursor: pointer;
        &:hover {
            transition: 0.2s;
            background: #D8DEE8;
        }
    }

    &__table:last-child {
        .schedule__table-doctor,
        .schedule__table-cab,
        .schedule__table-monday,
        .schedule__table-tuesday,
        .schedule__table-wednesday,
        .schedule__table-thursday,
        .schedule__table-friday {
            border-bottom: none;
        }
    }

    &__table-doctor {
				padding: 2rem 0;
        margin-left: 4rem;
        width: 45.7rem;
        border-right: 0.1rem solid rgba(63, 76, 92, 0.2);
        border-bottom: 0.1rem solid rgba(63, 76, 92, 0.2);
        padding-right: 3.7rem;
    }

    &__table-doctor:last-child {
        border-bottom: none;
    }

    &__table-doctor-name {
        font-style: normal;
        font-weight: 400;
        font-size: 2rem;
        height: fit-content;
        width: fit-content;
        display: block;
        border-bottom: 0.1rem solid #3F4C5C;
        margin-bottom: 1rem;
        color: #3F4C5C;
        transition: 0.2s;
        &:hover {
            color: #00AC60;
            border-bottom: 0.1rem solid #00AC60;
            transition: 0.2s;
        }
    }

    &__table-doctor-work {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 125%;
        color: #3F4C5C;
        margin-bottom: 1rem;
    }

    &__table-doctor-text {
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 129%;
        color: rgba(63, 76, 92, 0.69);
    }

    &__table-cab,
    &__table-monday,
    &__table-tuesday,
    &__table-wednesday,
    &__table-thursday,
    &__table-friday {
        border-right: 0.1rem solid rgba(63, 76, 92, 0.2);
        border-bottom: 0.1rem solid rgba(63, 76, 92, 0.2);
        width: 10.2rem;
        display: flex;
        justify-content: center;
        align-items:center;
        font-style: normal;
        font-weight: 400;
        font-size: 2rem;
        line-height: 130%;
        color: #3F4C5C;
    }

		&__table-cab {
			width: 9.8rem;
		}

    &__table-doctor:last-child {
        border-bottom: none;
    }

    &__table-monday,
    &__table-tuesday,
    &__table-wednesday,
    &__table-thursday,
    &__table-friday {
        width: 18.7rem;
    }

    &__table-friday {
        border-right: 0;
    }

    &__list {
        display: flex;
        border-top: 0.1rem solid rgba(63, 76, 92, 0.2);
        margin-left: 4rem;
    }

    &__list-one {
        width: 45.7rem;
        border-right: 1px solid rgba(63, 76, 92, 0.2);
        font-style: normal;
        font-weight: 700;
        font-size: 2.3rem;
        line-height: 135%;
        color: #3F4C5C;
				padding: 2rem 0 2.5rem 0;
    }

    &__list-two {
        width: 9.8rem;
    }

    &__list-two,
    &__list-three,
    &__list-four,
    &__list-five,
    &__list-six,
    &__list-seven {
        border-right: 0.1rem solid rgba(63, 76, 92, 0.2);
        font-weight: 700;
        font-size: 2.3rem;
        line-height: 135%;
        color: #3F4C5C;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__list-three,
    &__list-four,
    &__list-five,
    &__list-six,
    &__list-seven { 
        width: 18.7rem;
    }

    &__list-seven {
        border-right: 0;
    }

    &__list-days {
        display: flex;
        border-top: 1px solid rgba(63, 76, 92, 0.2);
        border-bottom: 1px solid rgba(63, 76, 92, 0.2);
        margin-left: 5.9rem;
    }

    &__list-days-one {
            font-weight: 700;
            font-size: 2.3rem;
            line-height: 135%;
            color: #3F4C5C;
            display: block;
						padding: 2.3rem 0;
            width: 34.2rem;
            border-right: 1px solid rgba(63, 76, 92, 0.2);
    }
   
    &__list-days-three,
    &__list-days-four,
    &__list-days-five,
    &__list-days-six,
    &__list-days-seven,
    &__list-days-eight,
    &__list-days-nine,
    &__list-days-ten {
        border-right: 1px solid rgba(63, 76, 92, 0.2);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 13.2rem;
        strong {
            font-weight: 700;
            font-size: 2.3rem;
            line-height: 135%;
            color: #3F4C5C;
            display: block;
        }

        span {
            font-weight: 400;
            font-size: 2rem;
            line-height: 130%;
            color: #3F4C5C;
            display: block;
        }
    }

    &__table-doctor:last-child {
        border-bottom: none;
    }
}