.telemedicine {
    margin: 5.6rem 0 15rem 0;

    &__block {
        margin-bottom: 4rem;
        display: flex;
        flex-direction: column;
        row-gap: 2.2rem;
        font-size: 1.8rem;
        line-height: 150%;
        &:last-child {
            margin-bottom: 0;
        }
        a {
            font-size: 2rem;
            line-height: 150%;
        }

        li {
            position: relative;
            padding-left: 2rem;

            &::before {
                content: '';
                display: inline-block;
                width: 0.5rem;
                height: 0.5rem;
                border-radius: 50%;
                background-color: #3f4c5c;
                position: absolute;
                left: 0.5rem;
                top: 1rem;
              }
        }
    }

    .subtitle {
        margin-bottom: 0;
    }
}


@media screen and (max-width: 48em) {
  .telemedicine {
    margin: 2.8vw 0 21.3vw 0;
  
      &__block {
        margin-bottom: 8vw;
        row-gap: 5.3vw;
        font-size: 4.27vw;
        line-height: 130%;
  
        a {
          font-size: 4.27vw;
          line-height: 130%;
        }
      }

      li {
            padding-left: 5.3vw;

            &::before {
                width: 1.2vw;
                height: 1.2vw;
                left: 1.6vw;
                top: 2.4vw;
              }
        }
    }
}