<div class="procedure-cons">
    <div class="container">
        <div class="bread-crumbs">
            <a href="./index.html">Главная</a>
            <a href="./bussines-page.html">Направление деятельности</a>
            <a href="./bussines-page.html#ispytatelnyj-laboratornyj-centr">Испытательный лабораторный центр</a>
            <a href="./procedure-consideration-claimspage.html">Порядок рассмотрения жалоб (претензий)</a>
        </div>
        <div class="title">Порядок рассмотрения жалоб (претензий)</div>
        <div class="procedure-cons__wrapper">
            <div class="procedure-cons__block">
                <p>
                    При возникновении спорных вопросов, несогласия с результатами выполненных работ (испытаний) и/или
                    при наличии претензий к действиям работников испытательного лабораторного центра, нарушения
                    договорных требований заявитель имеет право направить в ФГБУ «ГНЦДК» Минздрава России обращение в
                    форме жалобы (претензии).
                </p>
                <p>
                    Прием и рассмотрение жалоб является способом защиты интересов потребителей услуг испытательного
                    лабораторного центра ФГБУ «ГНЦДК» Минздрава России.
                </p>
                <p>
                    Заявителем может быть лицо (организация или ее представитель), подающее жалобу, заинтересованное в
                    результатах выполненных работ, право которого, по его мнению, нарушено.
                </p>
                <p>
                    Жалоба должна быть оформлена в письменной форме и подписана заявителем (при наличии может иметь
                    печать организации). Жалоба может направляться по почте или вручена лично.
                </p>
                <p>К рассмотрению принимается жалоба, содержащая следующую информацию:</p>
                <ul>
                    <li>фамилия, имя, отчество лица, предъявляющего жалобу;</li>
                    <li>суть жалобы;</li>
                    <li>почтовый адрес или адрес электронной почты, по которому должен быть направлен ответ.</li>
                </ul>
            </div>
            <div class="procedure-cons__block">
                <p>Обращения, не содержащие указанных сведений, признаются анонимными и рассмотрению не подлежат.</p>
                <p>
                    Поступившие жалобы по деятельности испытательного лабораторного центра подлежат обязательной
                    регистрации в день поступления в ФГБУ «ГНЦДК» Минздрава России. Информирование заявителя о
                    получении, регистрации жалобы (с указанием регистрационного номера) и сроках ее рассмотрения
                    осуществляется по почте/ телефону или электронной почте, указанным в обращении.
                </p>
                <p>
                    Общий срок рассмотрения и принятия решения по жалобе составляет не более 30 календарных дней с
                    момента ее поступления и регистрации в ФГБУ «ГНЦДК» Минздрава России. При необходимости проведения
                    дополнительных мероприятий для принятия решения по жалобе срок может быть увеличен, при этом
                    заявитель уведомляется о продлении срока.
                </p>
                <p>
                    ИЛЦ ФГБУ «ГНЦДК» Минздрава России может затребовать от заявителя предоставления дополнительных
                    документов/ материалов, необходимых для принятия решения по спорным вопросам.
                </p>
                <p>
                    По результатам рассмотрения жалоба может быть признана обоснованной или отклонена. Решение о
                    результатах рассмотрения жалобы направляется заявителю на почтовый адрес или по электронной почте,
                    указанные в обращении.
                </p>
                <p>
                    Если на решение по жалобе, в течение <span>30 календарных дней</span> с момента его отправки не
                    поступило возражения от заявителя, оно считается принятым.
                </p>
                <p>
                    В случае несогласия с решением по жалобе, заявитель имеет право обжаловать его, подав апелляцию или
                    обратиться в вышестоящие инстанции.
                </p>
                <p>
                    При рассмотрении жалоб заявителя к испытательному лабораторному центру обеспечивается и соблюдается
                    объективность, справедливость, беспристрастность и конфиденциальность.
                </p>
            </div>
        </div>
    </div>
</div>
