<div class="bussines__item" data-content="klinicheskaya-deyatelnost">
    <ul class="bussines__item-list">
        <li class="block__item-lists-subblock">
            <div class="block__item-lists-subblock-inner">Консультативно-диагностический центр</div>
            <ul class="block__item-lists-subblock-content">
                <li>
                    <a href="#" target="_blank">Дерматовенерология</a>
                </li>
                <li>
                    <a href="#" target="_blank">Косметология</a>
                </li>
                <li>
                    <a href="https://dimonio04.github.io/GNDC/build/hair-center-page.html" target="_blank"
                        >Центр "Здоровые волосы"</a
                    >
                </li>
                <li>
                    <a href="#" target="_blank">Трихоскопия</a>
                </li>
                <li>
                    <a href="#" target="_blank">Фототрихография</a>
                </li>
                <li>
                    <a href="#" target="_blank">Спектральный анализ волос на содержание микроэлементов</a>
                </li>
                <li>
                    <a href="#" target="_blank">Спектральный анализ волос на содержание токсических соединений</a>
                </li>
                <li>
                    <a href="#" target="_blank">Лазерная хирургия</a>
                </li>
            </ul>
        </li>
        <li class="block__item-lists-subblock">
            <div class="block__item-lists-subblock-inner">Отделение клинической дерматологии</div>
            <ul class="block__item-lists-subblock-content">
                <li>
                    <a href="#" target="_blank">Круглосуточный стационар</a>
                </li>
                <li>
                    <a href="#" target="_blank">Дневной стационар</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"> Отделение физиотерапии </a>
        </li>
        <li>
            <a href="#"> Лабораторный центр </a>
        </li>
    </ul>
</div>
