<div class="bussines__item bussines__item-clinical" data-content="klinicheskie-ispytaniya">
    <div class="menu__buttons">
        <a
            href="#klinicheskie-ispytaniya/klinicheskie-issledovaniya-lekarstvennyh-i-kosmeticheskih-sredstv"
            class="menu__button all-btn__blue active"
            data-open-content-block="klinicheskie-ispytaniya/klinicheskie-issledovaniya-lekarstvennyh-i-kosmeticheskih-sredstv"
        >
            Клинические исследования лекарственных и косметических средств
        </a>
        <a
            href="#klinicheskie-ispytaniya/priemochnye-tekhnicheskie-i-medicinskie-ispytaniya-medicinskih-sredstv"
            class="menu__button all-btn__blue"
            data-open-content-block="klinicheskie-ispytaniya/priemochnye-tekhnicheskie-i-medicinskie-ispytaniya-medicinskih-sredstv"
        >
            Приемочные технические и медицинские испытания медицинских средств (в том числе тест-систем)
        </a>
        <a
            href="#klinicheskie-ispytaniya/programma-dobrovolnogo-kontrolya-kachestva"
            class="menu__button all-btn__blue"
            data-open-content-block="klinicheskie-ispytaniya/programma-dobrovolnogo-kontrolya-kachestva"
        >
            Программа добровольного контроля качества наборов реагентов для диагностики in vitro и питательных
            микробиологических сред на договорной основе
        </a>
    </div>

    <div
        class="bussines__item-content active"
        data-content-block="klinicheskie-ispytaniya/klinicheskie-issledovaniya-lekarstvennyh-i-kosmeticheskih-sredstv"
    >
        <div class="bussines__content-block">
            <div class="bussines__content-block-title">
                КЛИНИЧЕСКИЕ ИССЛЕДОВАНИЯ ЛЕКАРСТВЕННЫХ И КОСМЕТИЧЕСКИХ СРЕДСТВ
            </div>
            <p>
                ФГБУ «Государственный научный центр дерматовенерологии и косметологии» аккредитован
                <a
                    href="http://cnikvi.ru/docs/%D0%A1%D0%B2%D0%B8%D0%B4%D0%B5%D1%82%D0%B5%D0%BB%D1%8C%D1%81%D1%82%D0%B2%D0%BE%20%D0%BE%D0%B1%20%D0%B0%D0%BA%D0%BA%D1%80%D0%B5%D0%B4%D0%B8%D1%82%D0%B0%D1%86%D0%B8%D0%B82.pdf"
                    class="link-blue"
                    >(Свидетельство об аккредитации</a
                >
                на право проведения клинических исследований лекарственных препаратов для медицинского применения № 285
                от 30.08.2016 г.) на проведение клинических исследований лекарственных и косметических средств, изделий
                медицинского назначения на основании: <a href="#" class="link-blue">Федерального закона</a> N 61-ФЗ «Об
                обращении лекарственных средств» от 12.04.2010 г., <a href="#" class="link-blue">Приказа</a> Минздрава
                России № 266 от 19.06.2003 г. «Об утверждении Правил клинической практики в Российской Федерации».
                Клинические исследования проводятся в соответствии с ОСТом 42-511-99 «Правила проведения качественных
                клинических испытаний в РФ», утвержденным Минздравом России 29.12.1998 г.
            </p>
            <p>
                Высокий уровень оснащенности лабораторий и клиники позволяет проводить в ФГБУ «Государственный научный
                центр дерматовенерологии и косметологии» Минздрава России различные исследования: in vitro,
                фармакокинетические исследования ЛС и клинические исследования по оценке эффективности и безопасности
                препаратов в терапии различных дерматовенерологических заболеваний.
            </p>
        </div>
        <div class="bussines__content-block">
            <ul class="block__items">
                <li class="block__item">
                    <div class="block__item-inner">
                        <div class="block__item-title">Клинические исследования лекарственных средств 2018 год</div>
                        <div class="block__item-arrow">
                            <img src="./img/icon/button-arrow-green.svg" alt="" />
                        </div>
                    </div>
                    <div class="block__content">
                        <div class="patients-page__block">
                            <ul>
                                <li>
                                    ООО «Ист Сайт Менеджмент Анд Резеч» - протокол РМ 1331: «Многоцентровое,
                                    рандомизированное, двойное слепое, в параллельных группах, плацебо-контролируемое
                                    исследование по оценке эффективности и безопасности раствора для ногтей Р-3058 10%
                                    при лечении онихомикоза». Фаза III.
                                </li>
                                <li>
                                    ООО «Новартис Фарма А.Г.» - международное клиническое исследование IIIb фазы AIN457
                                    (Секукинумаб) протокол CAIN457A2323: «Многоцентровое, рандомизированное, двойное
                                    слепое, плацебо-контролируемое исследование эффективности, безопасности и
                                    переносимости подкожного введения секукинумаба (300 мг) в предварительно заполненных
                                    шприцах (2 мл) в течение 52 недель взрослым пациентам с бляшечным псориазом средней
                                    или тяжелой степени (исследование ALLURE)» (IIIb фаза).
                                </li>
                                <li>
                                    ООО «ЛЕО Фармасьютикал Продактс» - международное многоцентровое клиническое
                                    исследование препарата Тралокинумаб (CAT-354) протокол № LP0162-1326:
                                    «Рандомизированное, двойное слепое, плацебо-контролируемое исследование фазы 3 для
                                    оценки эффективности и безопасности монотерапии тралокинумабом пациентов с
                                    атопическим дерматитом в умеренной и тяжелой формах, имеющих показания к системной
                                    терапии», фаза III.
                                </li>
                                <li>
                                    ООО «ПАРЕКСЕЛЬ Интернэшнл» - протокол №HS0001: «Многоцентровое, слепое для
                                    исследователей, слепое для пациентов, плацебо контролируемое исследование 2 фазы для
                                    изучения эффективности, безопасности и фармакокинетики препарата Бимекизумаб у
                                    пациентов с гнойным гидраденитом умеренной и тяжелой степени». Фаза 2.
                                </li>
                                <li>
                                    ЗАО «БИОКАД» - протокол № BCD-085-2 «Международное многоцентровое сравнительное
                                    рандомизированное двойное слепое плацебо-контролируемое клиническое исследование
                                    эффективности и безопасности многократного подкожного введения различных доз
                                    препарата BCD-085 больным среднетяжелым и тяжёлым бляшечным псориазом».
                                </li>
                                <li>
                                    ЗАО «БИОКАД» - протокол № BCD-085-7: «Международное многоцентровое сравнительное
                                    рандомизированное двойное слепое плацебо- контролируемое клиническое исследование
                                    эффективности и безопасности двух режимов введения препарата BCD-085 (ЗАО «БИОКАД»,
                                    Россия) у больных среднетяжелым и тяжёлым вульгарным псориазом». III фаза. ООО «Эли
                                    Лилли Восток С.А.» - протокол I4V-MC-JAHL: “Многоцентровое, рандомизированное,
                                    двойное слепое, плацебо-контролируемое исследование 3 фазы по оценке эффективности и
                                    безопасности барицитиниба у взрослых пациентов с умеренным или тяжелым атопическим
                                    дерматитом”.
                                </li>
                                <li>
                                    ООО «Эли Лилли Восток С.А.» - протокол I4V-MC-JAHN: “Многоцентровое, двойное слепое
                                    исследование 3 фазы по оценке долгосрочной эффективности и безопасности барицитиниба
                                    у взрослых пациентов с атопическим дерматитом”. ООО «Эли Лилли Восток С.А.» -
                                    протокол I4V-MC-JAIN: “Многоцентровое, двойное слепое, рандомизированное,
                                    плацебо-контролируемое исследование 3 фазы по оценке безопасности и эффективности
                                    барицитиниба в сочетании с кортикостероидами для местного применения у пациентов с
                                    умеренным или тяжелым атопическим дерматитом при неэффективности, непереносимости
                                    или наличии противопоказаний к терапии циклоспорином”.
                                </li>
                                <li>
                                    ООО «Эли Лилли Восток С.А.» - протокол I6T-MC-AMAK: «Многоцентровое исследование с
                                    рандомизированным, двойным слепым, плацебо-контролируемым вводным периодом
                                    дозирования и последующим периодом поддерживающей терапии с рандомизированной
                                    отменой препарата для оценки эффективности и безопасности мирикизумаба у пациентов с
                                    умеренным и тяжелым течением бляшечного псориаза» OASIS-1.
                                </li>
                                <li>
                                    м бляшечного псориаза» OASIS-1. ООО «Айкон Холдингс Анлимитед Компани» - протокол
                                    В7451014: «Двойное слепое плацебо-контролируемое многоцентровое исследование фазы
                                    III для изучения эффективности и безопасности PF-04965842 у пациентов в возрасте от
                                    12 лет и старше с атопическим дерматитом от средней до тяжелой степени с
                                    рандомизированной отменой лечения и возможностью применения экстренной терапии при
                                    обострениях».
                                </li>
                                <li>
                                    ООО«Айкон Холдингс Анлимитед Компани» - протокол В7451015: «Многоцентровое,
                                    долгосрочное продленное исследование фазы III по изучению эффективности и
                                    безопасности PF-04965842 у пациентов в возрасте от 12 лет и старше с атопическим
                                    дерматитом от средней до тяжелой степени с назначением или без препаратов для
                                    местного применения» с целью проведения исследования в ФГБУ «Государственный научный
                                    центр дерматовенерологии и косметологии».
                                </li>
                                <li>
                                    ООО «Ай Эн Си Ресерч ЮКей Лимитед» - протокол № BEB-13: «Двойное слепое,
                                    рандомизированное, контролируемое носителем исследование фазы III по оценке
                                    эффективности и безопасности олеогеля-S10 с открытым 24-месячным последующим
                                    наблюдением у пациентов с врожденным буллезным эпидермолизом — исследование EASE».
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="block__item">
                    <div class="block__item-inner">
                        <div class="block__item-title">Клинические исследования лекарственных средств 2017 год</div>
                        <div class="block__item-arrow">
                            <img src="./img/icon/button-arrow-green.svg" alt="" />
                        </div>
                    </div>
                    <div class="block__content"></div>
                </li>
                <li class="block__item">
                    <div class="block__item-inner">
                        <div class="block__item-title">Клинические исследования лекарственных средств 2016 год</div>
                        <div class="block__item-arrow">
                            <img src="./img/icon/button-arrow-green.svg" alt="" />
                        </div>
                    </div>
                    <div class="block__content"></div>
                </li>
                <li class="block__item">
                    <div class="block__item-inner">
                        <div class="block__item-title">Клинические исследования лекарственных средств 2015 год</div>
                        <div class="block__item-arrow">
                            <img src="./img/icon/button-arrow-green.svg" alt="" />
                        </div>
                    </div>
                    <div class="block__content"></div>
                </li>
                <li class="block__item">
                    <div class="block__item-inner">
                        <div class="block__item-title">Клинические исследования лекарственных средств 2014 год</div>
                        <div class="block__item-arrow">
                            <img src="./img/icon/button-arrow-green.svg" alt="" />
                        </div>
                    </div>
                    <div class="block__content"></div>
                </li>
                <li class="block__item">
                    <div class="block__item-inner">
                        <div class="block__item-title">Клинические исследования лекарственных средств 2013 год</div>
                        <div class="block__item-arrow">
                            <img src="./img/icon/button-arrow-green.svg" alt="" />
                        </div>
                    </div>
                    <div class="block__content"></div>
                </li>
                <li class="block__item">
                    <div class="block__item-inner">
                        <div class="block__item-title">
                            Клинические исследования лекарственных, медицинских иммунобиологических препаратов и
                            косметических средств, 2012 год
                        </div>
                        <div class="block__item-arrow">
                            <img src="./img/icon/button-arrow-green.svg" alt="" />
                        </div>
                    </div>
                    <div class="block__content"></div>
                </li>
                <li class="block__item">
                    <div class="block__item-inner">
                        <div class="block__item-title">
                            Клинические исследования лекарственных, медицинских иммунобиологических препаратов и
                            косметических средств, 2011 год
                        </div>
                        <div class="block__item-arrow">
                            <img src="./img/icon/button-arrow-green.svg" alt="" />
                        </div>
                    </div>
                    <div class="block__content bussines__item-clinical-table">
                        <div class="bussines__item-clinical-table-title">
                            <div>№ п/п</div>
                            <div>Название организации</div>
                            <div>№ и дата договора</div>
                            <div>Исследуемый препарат</div>
                            <div>Вид работ</div>
                        </div>
                        <div class="bussines__item-clinical-table-item">
                            <div>1</div>
                            <div>ООО "биоМерье Рус"</div>
                            <div>18/ИТ от 24.12.2010</div>
                            <div>набор реагентов Mysoplasma IST</div>
                            <div>медицинские испытания</div>
                        </div>
                    </div>
                </li>
                <li class="block__item">
                    <div class="block__item-inner">
                        <div class="block__item-title">
                            Клинические исследования лекарственных, медицинских иммунобиологических препаратов и
                            косметических средств, 2010 год
                        </div>
                        <div class="block__item-arrow">
                            <img src="./img/icon/button-arrow-green.svg" alt="" />
                        </div>
                    </div>
                    <div class="block__content"></div>
                </li>
                <li class="block__item">
                    <div class="block__item-inner">
                        <div class="block__item-title">
                            Клинические исследования лекарственных, медицинских иммунобиологических препаратов и
                            косметических средств, 2009 год
                        </div>
                        <div class="block__item-arrow">
                            <img src="./img/icon/button-arrow-green.svg" alt="" />
                        </div>
                    </div>
                    <div class="block__content"></div>
                </li>
                <li class="block__item">
                    <div class="block__item-inner">
                        <div class="block__item-title">
                            Клинические исследования лекарственных, медицинских иммунобиологических препаратов и
                            косметических средств, 2008 год
                        </div>
                        <div class="block__item-arrow">
                            <img src="./img/icon/button-arrow-green.svg" alt="" />
                        </div>
                    </div>
                    <div class="block__content"></div>
                </li>
                <li class="block__item">
                    <div class="block__item-inner">
                        <div class="block__item-title">
                            Клинические исследования лекарственных, медицинских иммунобиологических препаратов и
                            косметических средств, 2007 год
                        </div>
                        <div class="block__item-arrow">
                            <img src="./img/icon/button-arrow-green.svg" alt="" />
                        </div>
                    </div>
                    <div class="block__content"></div>
                </li>
                <li class="block__item">
                    <div class="block__item-inner">
                        <div class="block__item-title">
                            Клинические исследования лекарственных, медицинских иммунобиологических препаратов и
                            косметических средств, 2006 год
                        </div>
                        <div class="block__item-arrow">
                            <img src="./img/icon/button-arrow-green.svg" alt="" />
                        </div>
                    </div>
                    <div class="block__content"></div>
                </li>
                <li class="block__item">
                    <div class="block__item-inner">
                        <div class="block__item-title">
                            Клинические исследования лекарственных, медицинских иммунобиологических препаратов и
                            косметических средств, 2005 год
                        </div>
                        <div class="block__item-arrow">
                            <img src="./img/icon/button-arrow-green.svg" alt="" />
                        </div>
                    </div>
                    <div class="block__content"></div>
                </li>
                <li class="block__item">
                    <div class="block__item-inner">
                        <div class="block__item-title">
                            Клинические исследования лекарственных, медицинских иммунобиологических препаратов и
                            косметических средств, 2004 год
                        </div>
                        <div class="block__item-arrow">
                            <img src="./img/icon/button-arrow-green.svg" alt="" />
                        </div>
                    </div>
                    <div class="block__content"></div>
                </li>
                <li class="block__item">
                    <div class="block__item-inner">
                        <div class="block__item-title">
                            Клинические исследования лекарственных, медицинских иммунобиологических препаратов и
                            косметических средств, 2002-2003 год
                        </div>
                        <div class="block__item-arrow">
                            <img src="./img/icon/button-arrow-green.svg" alt="" />
                        </div>
                    </div>
                    <div class="block__content"></div>
                </li>
            </ul>
        </div>
    </div>

    <div
        class="bussines__item-content active"
        data-content-block="klinicheskie-ispytaniya/priemochnye-tekhnicheskie-i-medicinskie-ispytaniya-medicinskih-sredstv"
    ></div>

    <div
        class="bussines__item-content active"
        data-content-block="klinicheskie-ispytaniya/programma-dobrovolnogo-kontrolya-kachestva"
    ></div>
</div>
