<div class="bussines__item" data-content="proizvodstvennaya-deyatelnost">
    <div class="bussines__content-block">
        <div class="bussines__content-block-title">О федеральном проекте «Медицинская наука для человека»</div>
    </div>
    <div class="bussines__content-block">
        <p>
            Федеральный проект инициирован в рамках реализации Государственной программы Российской Федерации
            «Научно-технологическое развитие Российской Федерации», период выполнения проекта – с 1 января 2022 года по
            31 декабря 2030 года.
        </p>
        <p>
            В результате реализации федерального проекта «Медицинская наука для человека» появятся новые лекарства,
            прежде всего, для лечения онкологических, сердечно-сосудистых и инфекционных заболеваний; будут активно
            разрабатываться и внедряться лекарства на основе инновационных технологий, такие как геннотерапевтические и
            клеточные препараты.
        </p>
        <p>
            Будет развиваться сектор персонализированных диагностических тестов, а также стимулироваться переход от
            медицины лечения к медицине прогнозирования и предотвращения. Будут сделаны первые шаги в направлении
            создания медицинских генетических паспортов как основы эффективного управления здоровьем, профилактики и
            предотвращения заболеваний, а также подбора максимально эффективной терапии.
        </p>
        <p>
            Итогом проекта ожидается современный облик медицины, использующей передовые технологии, и как результат для
            граждан – сохраненные годы жизни, снижение инвалидизации, а для системы здравоохранения – высвобождаемые
            средства, которые можно расходовать на дальнейшее расширение сферы применения инновационных технологий в
            медицине.
        </p>
        <p>Основные показатели федерального проекта:</p>
        <ul>
            <li>
                Создание системы приоритизации исследований в интересах здравоохранения, в том числе консолидация
                медицинских исследований, осуществляемых за счет средств федерального бюджета и грантов научных фондов;
            </li>
            <li>Создание системы трансляции результатов исследований в производство и их внедрение в практику.</li>
        </ul>
    </div>
</div>
