<div class="bussines__item active" data-content="nauchnaya-deyatelnost">
    <ul class="bussines__item-list">
        <li>
            <a href="./department-dermatology-page.html"> Отдел дерматологии </a>
        </li>
        <li>
            <a href="./department-sexually-transmitted-infections-page.html">
                Отдел инфекций, передаваемых половым путем
            </a>
        </li>
        <li>
            <a href="./department-diagnosis-stis-page.html"> Отдел лабораторной диагностики ИППП и дерматозов </a>
        </li>
        <li>
            <a href="./academic-consul-page.html"> Ученый совет </a>
        </li>
        <li>
            <a href="./dissertation-сouncil-page.html"> Диссертационный совет </a>
        </li>
    </ul>
</div>
