<section class="about">
    <div class="container">
        <div class="bread-crumbs">
            <a href="../index.html">Главная</a>
            <a href="../about-center-page.html#">О научном центре</a>
        </div>

        <div class="title title-main">О научном центре</div>
        <div class="title title-change hide"></div>

        <div class="about__wrapper">
            <ul class="menu__tabs content-menu-mob">
                <li class="menu__tab js-link-main">
                    <a href="#istoriya" data-open-content="istoriya">История создания ГНЦДК</a>
                </li>
                <li class="menu__tab js-link-main">
                    <a href="#rukovodstvo" data-open-content="rukovodstvo">Руководство</a>
                </li>
                <li class="menu__tab js-link-main --desc">
                    <a
                        href="#struktura-GNCDK/centralnyj-nauchno-issledovatelskij-kozhno-venerologicheskij-institut"
                        data-open-content="struktura-GNCDK"
                        >Структура ГНЦДК</a
                    >
                </li>
                <li class="menu__tab js-link-main --mob">
                    <a href="#struktura-GNCDK" data-open-content="struktura-GNCDK">Структура ГНЦДК</a>
                </li>
                <li class="menu__tab js-link-main">
                    <a
                        href="#svedeniya-o-medicinskoj-organizacii"
                        data-open-content="svedeniya-o-medicinskoj-organizacii"
                        >Сведения о медицинской организации</a
                    >
                </li>
                <li class="menu__tab js-link-main --desc">
                    <a href="#vakansii/nauchnye" data-open-content="vakansii">Вакансии</a>
                </li>
                <li class="menu__tab js-link-main --mob">
                    <a href="#vakansii" data-open-content="vakansii">Вакансии</a>
                </li>
                <li class="menu__tab js-link-main">
                    <a href="#zakupki" data-open-content="zakupki">Закупки</a>
                </li>
                <li class="menu__tab js-link-main">
                    <a href="#protivodejstvie-korrupcii" data-open-content="protivodejstvie-korrupcii"
                        >Противодействие коррупции</a
                    >
                </li>
                <li class="menu__tab js-link-main --desc">
                    <a href="#fotogalereya/meropriyatiya" data-open-content="fotogalereya">Фотогалерея</a>
                </li>
                <li class="menu__tab js-link-main --mob">
                    <a href="#fotogalereya" data-open-content="fotogalereya">Фотогалерея</a>
                </li>
            </ul>

            <div class="about__main-content content-mob">
                @@include('./about-inside/about__history.html') @@include('./about-inside/about__managment.html')
                @@include('./about-inside/about__structure.html') @@include('./about-inside/about__inteligence.html')
                @@include('./about-inside/about__vacancies.html') @@include('./about-inside/about__purchases.html')
                @@include('./about-inside/about__corruption.html') @@include('./about-inside/about__photo.html')
            </div>
        </div>
    </div>
</section>
