.specialists {
    margin-top: 5.6rem;
    padding-bottom: 15rem;

    &__item-list {
        display: flex;
        flex-direction: column;
        row-gap: 2.2rem;
        li {
            position: relative;
            padding-left: 2rem;
            a {
                color: #3f4c5c;
                font-size: 2.3rem;
                font-weight: 700;
                line-height: 150%;
                border-bottom: 0.1rem solid #3f4c5c;
                &:hover {
                    border-bottom: none;
                }
            }
            &::before {
                content: '';
                display: inline-block;
                width: 0.5rem;
                height: 0.5rem;
                border-radius: 50%;
                background-color: #3f4c5c;
                position: absolute;
                left: 0.5rem;
                top: 1.1rem;
            }
        }
    }
}
