<section class="dissertation">
  <div class="container">
    <div class="bread-crumbs">
      <a href="../index.html">Главная</a>
      <a href="./bussines-page.html">Направление деятельности</a>
      <a href="./dissertation-сouncil-page.html">Диссертационный совет</a>
      <a href="./live-video-broadcast-page.html">Видеотрансляция в реальном времени</a>
    </div>
    <div class="dissertation__title">
      <div class="title">
        Видеотрансляция в реальном времени
      </div>
      <div class="dissertation__date">
        22.01.2023
      </div>
    </div>

    <div class="dissertation__video">
      <video id="video" src="video/demo.mp4" poster="./img/poster.webp" controls></video>
    </div>

    <div class="dissertation__video-other">
      <div class="subtitle">Прошедшие трансляции:</div>
      <div class="dissertation__video-items">
        <div class="dissertation__video-item">
          <div class="dissertation__video-img">
            <img src="./img/video-sm.webp" alt="">
          </div>
          <button type="button" class="dissertation__video-title">
            Диссертационный совет
          </button>
          <div class="dissertation__date">
            21.02.2023
          </div>
        </div>
        <div class="dissertation__video-item">
          <div class="dissertation__video-img">
            <img src="./img/video-sm.webp" alt="">
          </div>
          <button type="button" class="dissertation__video-title">
            Диссертационный совет
          </button>
          <div class="dissertation__date">
            21.02.2023
          </div>
        </div>
        <div class="dissertation__video-item">
          <div class="dissertation__video-img">
            <img src="./img/video-sm.webp" alt="">
          </div>
          <button type="button" class="dissertation__video-title">
            Диссертационный совет
          </button>
          <div class="dissertation__date">
            21.02.2023
          </div>
        </div>
        <div class="dissertation__video-item">
          <div class="dissertation__video-img">
            <img src="./img/video-sm.webp" alt="">
          </div>
          <button type="button" class="dissertation__video-title">
            Диссертационный совет
          </button>
          <div class="dissertation__date">
            21.02.2023
          </div>
        </div>
      </div>

      <button type="button" class="all-btn__white">
        Показать еще
      </button>
    </div>

  </div>
</section>