<section class="dissertation">
  <div class="container">
    <div class="bread-crumbs">
      <a href="../index.html">Главная</a>
      <a href="./bussines-page.html">Направление деятельности</a>
      <a href="./dissertation-сouncil-page.html">Диссертационный совет</a>
      <a href="./live-video-broadcast-page.html">Видеотрансляция в реальном времени</a>
    </div>
    <div class="dissertation__title">
      <div class="title">
        Видеотрансляция в реальном времени
      </div>
      <div class="dissertation__date">
        22.01.2023
      </div>
    </div>

    <div class="dissertation__video">
      <!-- <div class="video-wrapper">
        <div class="video-controls">

          <button type="button" class="video-play-pause">
            <span class="video-play">
                <img src="./img/icon/play-sm.svg" alt="play">
            </span>
            <span class="video-pause hide">
                <img src="./img/icon/pause.svg" alt="pause">
            </span>
          </button>

          <div class="video-timeline">
            <p class="video-current">00:00</p>
            <div class="progress-area">
              <div class="progress-bar"></div>
            </div>
            <p class="video-duration">00:00</p>
          </div>

          <div class="video-volume">
            <button type="button" class="video-volume">
              <span class="video-vol-on">
                <img src="./img/icon/volume.svg" alt="volume-on">
              </span>
              <span class="video-vol-off hide">
                <img src="./img/icon/volume-off.svg" alt="volume-off">
              </span>
            </button>
            <input type="range" class="video-volume__range" min="0" max="1" step="any">
          </div>

          <button type="button" class="video-full">
            <span class="video-full-on">
              <img src="./img/icon/full-screen.svg" alt="full-screen">
            </span>
            <span class="video-full-off hide">
              <img src="./img/icon/full-screen-off.svg" alt="full-screen-off">
            </span>
          </button>

        </div>
      </div> -->
      
      <video id="video" src="video/demo.mp4" poster="./img/poster.webp" controls></video>
    </div>

    <div class="dissertation__video-other">
      <div class="subtitle">Прошедшие трансляции:</div>
      <div class="dissertation__video-items">
        <div class="dissertation__video-item">
          <div class="dissertation__video-img">
            <img src="./img/video-sm.webp" alt="">
          </div>
          <button type="button" class="dissertation__video-title">
            Диссертационный совет
          </button>
          <div class="dissertation__date">
            21.02.2023
          </div>
        </div>
        <div class="dissertation__video-item">
          <div class="dissertation__video-img">
            <img src="./img/video-sm.webp" alt="">
          </div>
          <button type="button" class="dissertation__video-title">
            Диссертационный совет
          </button>
          <div class="dissertation__date">
            21.02.2023
          </div>
        </div>
        <div class="dissertation__video-item">
          <div class="dissertation__video-img">
            <img src="./img/video-sm.webp" alt="">
          </div>
          <button type="button" class="dissertation__video-title">
            Диссертационный совет
          </button>
          <div class="dissertation__date">
            21.02.2023
          </div>
        </div>
        <div class="dissertation__video-item">
          <div class="dissertation__video-img">
            <img src="./img/video-sm.webp" alt="">
          </div>
          <button type="button" class="dissertation__video-title">
            Диссертационный совет
          </button>
          <div class="dissertation__date">
            21.02.2023
          </div>
        </div>
      </div>

      <button type="button" class="all-btn__white">
        Показать еще
      </button>
    </div>

  </div>
</section>