<section class="about">
    <div class="container">
        <div class="bread-crumbs">
            <a href="../index.html">Главная</a>
            <a href="../about-center-page.html#">О научном центре</a>
        </div>
        <div class="title"></div>
        <div class="about__wrapper">
            <div class="about__left content-menu-mob">
                <ul class="menu__tabs">
                    <li class="menu__tab">
                        <a href="#istoriya" data-open-content="istoriya">История создания ГНЦДК</a>
                    </li>
                    <li class="menu__tab">
                        <a href="#rukovodstvo" data-open-content="rukovodstvo">Руководство</a>
                    </li>
                    <li class="menu__tab">
                        <a href="#struktura-GNCDK" data-open-content="struktura-GNCDK">Структура ГНЦДК</a>
                    </li>
                    <li class="menu__tab">
                        <a
                            href="#svedeniya-o-medicinskoj-organizacii"
                            data-open-content="svedeniya-o-medicinskoj-organizacii"
                            >Сведения о медицинской организации</a
                        >
                    </li>
                    <li class="menu__tab">
                        <a href="#vakansii/nauchnye" data-open-content="vakansii">Вакансии</a>
                    </li>
                    <li class="menu__tab">
                        <a href="#zakupki" data-open-content="zakupki">Закупки</a>
                    </li>
                    <li class="menu__tab">
                        <a href="#protivodejstvie-korrupcii" data-open-content="protivodejstvie-korrupcii"
                            >Противодействие коррупции</a
                        >
                    </li>
                    <li class="menu__tab">
                        <a href="#fotogalereya/meropriyatiya" data-open-content="fotogalereya">Фотогалерея</a>
                    </li>
                </ul>
            </div>

            <div class="about__right content-mob">
                @@include('./about-center/about__history.html') @@include('./about-center/about__managment.html')
                @@include('./about-center/about__structure.html') @@include('./about-center/about__inteligence.html')
                @@include('./about-center/about__vacancies.html') @@include('./about-center/about__purchases.html')
                @@include('./about-center/about__corruption.html') @@include('./about-center/about__photo.html')
            </div>
        </div>
    </div>
</section>
