<section class="about">
	<div class="container">
		<div class="title main-title about__title">История создания ГНЦДК</div>
		<div class="about__wrapper">
			<div class="about__left">
				<ul class="menu__tabs">
					<li class="menu__tab active" data-open-menu="history">История создания ГНЦДК</li>
					<li class="menu__tab" data-open-menu="management">Руководство</li>
					<li class="menu__tab" data-open-menu="structure">Структура ГНЦДК</li>
					<ul class="menu__tab" data-open-menu="intelligence">
						Сведения о медицинской организации
						<li class="menu__tab-inteligence" data-open-menu="basic-info">Основные сведения о медицинской организации</li>
						<li class="menu__tab-inteligence" data-open-menu="found-docs">Учредительные документы</li>
						<li class="menu__tab-inteligence" data-open-menu="org-docs">Документы организации</li>
						<li class="menu__tab-inteligence" data-open-menu="certificates">Лицензии и сведетельства</li>
					</ul>
					<li class="menu__tab" data-open-menu="vacancies">Вакансии</li>
					<li class="menu__tab" data-open-menu="purchases">Закупки</li>
					<li class="menu__tab" data-open-menu="corruption">Противодействие коррупции</li>
					<li class="menu__tab" data-open-menu="photo-gallery">Фотогалерея</li>
				</ul>
			</div>
			
			<div class="about__right">
				@@include('./about-center/about__history.html')
				@@include('./about-center/about__managment.html')
				@@include('./about-center/about__structure.html')
				@@include('./about-center/about__inteligence.html')
				@@include('./about-center/about__vacancies.html')
				@@include('./about-center/about__purchases.html')
				@@include('./about-center/about__corruption.html')
				@@include('./about-center/about__photo.html')
			</div>
		</div>
	</div>
</section>