<section class="academic-consul">
    <div class="container">
        <div class="bread-crumbs">
            <a href="./index.html">Главная</a>
            <a href="./bussines-page.html">Направление деятельности</a>
            <a href="./bussines-page.html#nauchnaya-deyatelnost">Научная деятельность</a>
            <a href="./department-dermatology-page.html">Ученый совет</a>
        </div>
        <div class="academic-consul__wrapper">
            <div class="title">Ученый совет</div>
            <p>
                Ученый совет ФГБУ «Государственный научный центр дерматовенерологии и косметологии» Минздрава России
                создан в соответствии с Уставом ГНЦДК для рассмотрения вопросов научной деятельности учреждения.
            </p>
            <div class="academic-consul__block">
                <div class="subtitle">ПРЕДСЕДАТЕЛЬ УЧЕНОГО СОВЕТА</div>
                <p>
                    Кубанов Алексей Алексеевич — директор ФГБУ «ГНЦДК» Минздрава России, член-корреспондент РАН, д.м.н.,
                    профессор
                </p>
            </div>
            <div class="academic-consul__block">
                <div class="subtitle">ЗАМЕСТИТЕЛЬ ПРЕДСЕДАТЕЛЯ УЧЕНОГО СОВЕТА</div>
                <p>
                    Соломка Виктория Сергеевна — заместитель директора по научной работе ФГБУ «ГНЦДК» Минздрава России,
                    д.б.н.
                </p>
            </div>
            <div class="academic-consul__block">
                <div class="subtitle">СЕКРЕТАРЬ УЧЕНОГО СОВЕТА</div>
                <p>Плахова Ксения Ильинична — ученый секретарь ФГБУ «ГНЦДК» Минздрава России, д.м.н.</p>
            </div>
            <div class="academic-consul__block">
                <div class="subtitle">ЧЛЕНЫ УЧЕНОГО СОВЕТА</div>
                <ul>
                    <li>
                        Богданова Елена Витальевна — старший научный сотрудник научно-организационного отдела ФГБУ
                        «ГНЦДК» Минздрава России, к.м.н.
                    </li>
                    <li>
                        Вербенко Дмитрий Анатольевич — старший научный сотрудник отдела лабораторной диагностики ИППП и
                        дерматозов ФГБУ «ГНЦДК» Минздрава России, к.б.н.
                    </li>
                    <li>
                        Дерябин Дмитрий Геннадьевич — ведущий научный сотрудник отдела лабораторной диагностики
                        дерматозов и ИППП ФГБУ «ГНЦДК» Минздрава России, д.м.н., профессор
                    </li>
                    <li>
                        Жилова Марьяна Борисовна — заведующий отделением физиотерапии ФГБУ «ГНЦДК» Минздрава России,
                        д.м.н.
                    </li>
                    <li>
                        Знаменская Людмила Федоровна — ведущий научный сотрудник отдела дерматологии ФГБУ «ГНЦДК»
                        Минздрава России, д.м.н.
                    </li>
                    <li>
                        Карамова Арфеня Эдуардовна — заведующий отделом дерматологии ФГБУ «ГНЦДК» Минздрава России,
                        к.м.н.
                    </li>
                    <li>
                        Кондрахина Ирина Никифоровна — заведующий консультативно-диагностическим центром ФГБУ «ГНЦДК»
                        Минздрава России, к.м.н.
                    </li>
                    <li>
                        Кузнецов Олег Евгеньевич — заведующий лабораторным центром ФГБУ «ГНЦДК» Минздрава России, к.м.н.
                    </li>
                    <li>
                        Мартынов Андрей Александрович — ведущий научный сотрудник отдела дерматологии ФГБУ «ГНЦДК»
                        Минздрава России, д.м.н.
                    </li>
                    <li>
                        Махакова Юлия Буяндылгеровна — заведующий образовательным отделом ФГБУ «ГНЦДК» Минздрава России,
                        к.м.н.
                    </li>
                    <li>
                        Мелехина Лидия Ефимовна — старший научный сотрудник научно-организационного отдела ФГБУ «ГНЦДК»
                        Минздрава России
                    </li>
                    <li>
                        Никоноров Александр Александрович — старший научный сотрудник отдела лабораторной диагностики
                        ИППП и дерматозов ФГБУ «ГНЦДК» Минздрава России
                    </li>
                    <li>
                        Образцова Ольга Анатольевна — старший научный сотрудник отдела лабораторной диагностики ИППП и
                        дерматозов ФГБУ «ГНЦДК» Минздрава России, к.б.н.
                    </li>
                    <li>
                        Рахматулина М.Р. — заместитель директора по организационно-аналитической работе ФГБУ «ГНЦДК»
                        Минздрава России, д.м.н., профессор
                    </li>
                    <li>
                        Свищенко Светлана Игоревна — заведующий отделением клинической дерматологии ФГБУ «ГНЦДК»
                        Минздрава России, к.м.н
                    </li>
                    <li>
                        Чикин Вадим Викторович — старший научный сотрудник отдела дерматологии ФГБУ «ГНЦДК» Минздрава
                        России, д.м.н.
                    </li>
                    <li>
                        Шпилевая Марина Валентиновна — старший научный сотрудник отдела лабораторной диагностики ИППП и
                        дерматозов ФГБУ «ГНЦДК» Минздрава России, к.б.н.
                    </li>
                </ul>
            </div>
            <div class="academic-consul__block">
                <div class="subtitle">Приложение</div>
                <div class="academic-consul__link">
                    <a href="#"> Ученый совет </a>
                </div>
            </div>
        </div>
    </div>
</section>
