<section class="article">
    <div class="container">
        <div class="bread-crumbs">
            <a href="../index.html">Главная</a>
            <a href="../news-page.html">Новости</a>
            <a href="#"
                >В преддверии всемирного дня борьбы с аллергией: дерматовенерологи гнцдк оказывают медицинскую помощь
                пациентам с тяжелыми формами токсидермии</a
            >
        </div>
        <div class="article__wrapper">
            <div class="article__content">
                <div class="title">
                    В преддверии всемирного дня борьбы с аллергией: дерматовенерологи гнцдк оказывают медицинскую помощь
                    пациентам с тяжелыми формами токсидермии
                </div>
                <div class="article__content-text">
                    <p>
                        <span>Токсидермия (токсико-аллергический дерматит)</span> – острое воспалительное заболевание
                        кожи, развивающееся в ответ на введение в организм веществ, обладающих сенсибилизирующими
                        свойствами (в основном, лекарственных средств). Клинически характеризуется появлением пятнистых,
                        уртикарных, папулезных, папуловезикулезных, реже буллезных и узловатых элементов,
                        сопровождающихся зудом и жжением. При тяжелом течении отмечаются симптомы общей интоксикации,
                        ускоренная СОЭ, эозинофилия, лейкоцитоз, тромбоцитопения, агранулоцитоз.
                    </p>
                    <p>
                        Пациентка обратилась в ФГБУ «ГНЦДК» Минздрава России с жалобами на появление зудящих высыпаний
                        на коже туловища через 5 дней приема препарата мелоксикам, назначенного врачом-травматологом.
                        Высыпания в течение дня распространились на кожу туловища, верхних и нижних конечностей.
                        Несмотря на проведение системной глюкокортикостероидной и дезинтоксикационной терапии в
                        кожно-венерологическом диспансере по месту жительства, пациентка отметила появление новых
                        высыпаний, усиление жжения и стянутости кожи.
                    </p>
                </div>
                <div class="article__content-images">
                    <div class="article__content-image">
                        <img src="./img/articles/article-1.webp" alt="" />
                    </div>
                    <div class="article__content-image">
                        <img src="./img/articles/article-2.webp" alt="" />
                    </div>
                </div>
                <div class="article__content-text">
                    <p>
                        При поступлении пациентки в круглосуточный стационар ГНЦДК на основании клинической картины был
                        своевременно установлен диагноз «токсидермия». За время госпитализации пациентка получила
                        комплексное лечение адекватными дозами системных глюкокортикостероидных средств, диуретиков,
                        антигистаминных препаратов, что позволило добиться полной ликвидации симптомов заболевания.
                    </p>
                </div>
            </div>
            <div class="article__news">
                <a href="#" class="news__slide swiper-slide">
                    <div class="news__image">
                        <img src="./img/news/acceptance-docs.webp" alt="" />
                    </div>
                    <div class="news__date">
                        <strong>27</strong>
                        <span>июль 2022</span>
                    </div>
                    <div class="news__text">
                        <div class="news__text-title">НАЧИНАЕМ ПРИЕМ ДОКУМЕНТОВ ДЛЯ ОБУЧЕНИЯ В ОРДИНАТУРЕ</div>
                        <div class="news__text-desc">
                            Главной целью обучения в ординатуре является подготовка кадров высшей квалификации по
                            специальности «Дерматовенерология»: врачей-дерматовенерологов, обладающих системой
                            общекультурных и профессиональных компетенций, готовых к самостоятельной профессиональной
                            деятельности в условиях специализированной, в том числе высокотехнологичной, медицинской
                            помощи.
                        </div>
                    </div>
                </a>
                <a href="#" class="news__slide swiper-slide">
                    <div class="news__image">
                        <img src="./img/news/smile-correction.webp" alt="" />
                    </div>
                    <div class="news__date">
                        <strong>14</strong>
                        <span>июль 2022</span>
                    </div>
                    <div class="news__text">
                        <div class="news__text-title">
                            В ГНЦДК коррекция десневой улыбки проводится при помощи уникальной методики
                        </div>
                        <div class="news__text-desc">
                            Гингивальная (десневая) улыбка – это физиологическая особенность, при которой верхняя десна
                            избыточно обнажается.
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
