<section class="bussines">
    <div class="container">
        <div class="bread-crumbs">
            <a href="../index.html">Главная</a>
            <a href="../specialists-page.html">Направление деятельности</a>
        </div>
        <div class="title">Направления деятельности</div>
        <div class="bussines__wrapper">
            <div class="bussines__left">
                <ul class="menu__tabs">
                    <li class="menu__tab">
                        <a href="#nauchnaya-deyatelnost" data-open-content="nauchnaya-deyatelnost"
                            >Научная деятельность</a
                        >
                    </li>
                    <li class="menu__tab">
                        <a href="#klinicheskaya-deyatelnost" data-open-content="klinicheskaya-deyatelnost"
                            >Клиническая деятельность</a
                        >
                    </li>
                    <li class="menu__tab">
                        <a
                            href="#organizacionno-metodicheskaya-deyatelnost"
                            data-open-content="organizacionno-metodicheskaya-deyatelnost"
                            >Организационно-методическая деятельность</a
                        >
                    </li>
                    <li class="menu__tab">
                        <a href="#obrazovatelnaya-deyatelnost" data-open-content="obrazovatelnaya-deyatelnost"
                            >Образовательная деятельность</a
                        >
                    </li>
                    <li class="menu__tab">
                        <a
                            href="#klinicheskie-ispytaniya-lekarstvennyh-i-kosmeticheskih-sredstv-medicinskih-izdelij"
                            data-open-content="klinicheskie-ispytaniya-lekarstvennyh-i-kosmeticheskih-sredstv-medicinskih-izdelij"
                            >Клинические испытания лекарственных и косметических средств, медицинских изделий</a
                        >
                    </li>
                    <li class="menu__tab">
                        <a href="#ispytatelnyj-laboratornyj-centr" data-open-content="ispytatelnyj-laboratornyj-centr"
                            >Испытательный лабораторный центр</a
                        >
                    </li>
                    <li class="menu__tab">
                        <a href="#proizvodstvennaya-deyatelnost" data-open-content="proizvodstvennaya-deyatelnost"
                            >Производственная деятельность. Реализация Федерального проекта “Медицинская наука для
                            человека”</a
                        >
                    </li>
                </ul>
            </div>

            <div class="bussines__right">@@include('./bussines/scientific-activity.html')</div>
        </div>
    </div>
</section>
