<section class="clinical">
    <div class="container">
        <div class="bread-crumbs">
            <a href="../index.html">Главная</a>
            <a href="../patients-page.html">Пациентам</a>
            <a href="../clinical-guidelines-page.html">Клинические рекомендации</a>
        </div>
        <div class="title">Клинические рекомандации</div>
        <ul class="clinical__menu">
            <li class="clinical__items">
                <div class="subtitle">Клинические рекомендации, размещенные в рубрикаторе минздрава РФ</div>
                <div class="clinical__links">
                    <div class="clinical__link">
                        <a href="#">
                            <div class="clinical__link-image">
                                <img src="./img/dermatology.webp" alt="" />
                            </div>
                            <div class="clinical__link-title">Дерматовенерология</div>
                        </a>
                    </div>
                    <div class="clinical__link">
                        <a href="#">
                            <div class="clinical__link-image">
                                <img src="./img/cosmetology.webp" alt="" />
                            </div>
                            <div class="clinical__link-title">Косметология</div>
                        </a>
                    </div>
                </div>
            </li>
            <li class="clinical__items">
                <div class="subtitle">Проекты клинических рекомендация</div>
                <div class="clinical__links">
                    <div class="clinical__link">
                        <a href="#">
                            <div class="clinical__link-image">
                                <img src="./img/dermatology.webp" alt="" />
                            </div>
                            <div class="clinical__link-title">Дерматовенерология</div>
                        </a>
                    </div>
                    <div class="clinical__link">
                        <a href="#">
                            <div class="clinical__link-image">
                                <img src="./img/cosmetology.webp" alt="" />
                            </div>
                            <div class="clinical__link-title">Косметология</div>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
        <div class="subtitle">Предложения по внесению изменений в действующие клинические рекомендации</div>
        <form action="#" method="POST" class="clinical__form">
            <fieldset class="clinical__inputs">
                <input name="full_name" class="clinical__input" type="text" placeholder="ФИО рецензента*" />
                <input
                    name="text"
                    class="clinical__input"
                    type="text"
                    placeholder="Исходный текст клинической рекомендации*"
                />
                <input name="region" class="clinical__input" type="text" placeholder="Регион*" />
                <input name="offer" class="clinical__input" type="text" placeholder="Предложение по изменению*" />
                <input
                    name="medical_organization"
                    class="clinical__input"
                    type="text"
                    placeholder="Медицинская организация*"
                />
                <input
                    name="justification"
                    class="clinical__input"
                    type="text"
                    placeholder="Обоснование сделанного предложения*"
                />
                <input
                    name="clinical_organization"
                    class="clinical__input"
                    type="text"
                    placeholder="Название клинической рекомендации*"
                />
                <input name="email" class="clinical__input" type="email" placeholder="Электронная почта для связи*" />
                <input
                    name="page"
                    class="clinical__input"
                    type="text"
                    placeholder="Страница клинической рекомендации*"
                />
            </fieldset>
            <fieldset class="clinical__submit">
                <label class="checkbox-other">
                    <input type="checkbox" name="agree" />
                    <span>Я согласен на <a href="#" class="link-green">обработку персональных данных</a></span>
                </label>
                <button class="all-btn__blue clinical__btn" type="submit" name="#">Записаться</button>
            </fieldset>
        </form>
    </div>
</section>
