<section class="clinical-two">
	<div class="container">
		<div class="title">Клинические рекомендации</div>
		<div class="clinical-two__wrapper">
			<div class="clinical-two__left">
				<ul class="clinical-two__tabs">
					<li class="clinical-two__tabs-item active" data-tab="1">Проекты клинических рекомендаций</li>
					<li class="clinical-two__tabs-item" data-tab="2">Клинические рекомендации, размещенные в рубрикаторе минздрава РФ</li>
				</ul>
			</div>
			<div class="clinical-two__right">
				<div class="clinical-two__wrap" data-tab="1">
					
			</div>
			<div class="clinical-two__wrap active" data-tab="2">
				<div class="clinical-two__menu">
					<div class="clinical-two__menu-item all-btn__blue">Дерматовенерология</div>
					<div class="clinical-two__menu-item all-btn__blue active">Косметология</div>
				</div>
				<div class="clinical-two__items">
					<div class="clinical-two__item">
						<div class="clinical-two__item-img">
							<img src="./img/clinical-recomendation/old-man.svg" alt="">
						</div>
						<p class="clinical-two__item-desc">
							КР Старческая атрофия (вялость) кожи, 2021
						</p>
						<a href="#" class="clinical-two__item-btn all-btn__blue">Подробнее</a>
					</div>
					<div class="clinical-two__item">
						<div class="clinical-two__item-img">
							<img src="./img/clinical-recomendation/dermatology.svg" alt="">
						</div>
						<p class="clinical-two__item-desc">
							КР Другие изменения кожи, вызванные хроническим воздействием неионизирующего излучения, 2021
						</p>
						<a href="#" class="clinical-two__item-btn all-btn__blue">Подробнее</a>
					</div>
					<div class="clinical-two__item">
						<div class="clinical-two__item-img">
							<img src="./img/clinical-recomendation/dermatology.svg" alt="">
						</div>
						<p class="clinical-two__item-desc">
							КР Локализованный гипергидроз, 2021
						</p>
						<a href="#" class="clinical-two__item-btn all-btn__blue">Подробнее</a>
					</div>
					<div class="clinical-two__item">
						<div class="clinical-two__item-img">
							<img src="./img/clinical-recomendation/dermatology.svg" alt="">
						</div>
						<p class="clinical-two__item-desc">
							КР Андрогенная алопеция, 2022
						</p>
						<a href="#" class="clinical-two__item-btn all-btn__blue">Подробнее</a>
					</div>
					<div class="clinical-two__item">
						<div class="clinical-two__item-img">
							<img src="./img/clinical-recomendation/dermatology.svg" alt="">
						</div>
						<p class="clinical-two__item-desc">
							КР Атрофические полосы, 2022
						</p>
						<a href="#" class="clinical-two__item-btn all-btn__blue">Подробнее</a>
					</div>
					<div class="clinical-two__item">
						<div class="clinical-two__item-img">
							<img src="./img/clinical-recomendation/dermatology.svg" alt="">
						</div>
						<p class="clinical-two__item-desc">
							КР Гипертрофические рубцы, 2022
						</p>
						<a href="#" class="clinical-two__item-btn all-btn__blue">Подробнее</a>
					</div>
					<div class="clinical-two__item">
						<div class="clinical-two__item-img">
							<img src="./img/clinical-recomendation/dermatology.svg" alt="">
						</div>
						<p class="clinical-two__item-desc">
							КР Хлоазма, 2022
						</p>
						<a href="#" class="clinical-two__item-btn all-btn__blue">Подробнее</a>
					</div>
					<div class="clinical-two__item">
						<div class="clinical-two__item-img">
							<img src="./img/clinical-recomendation/fat-man.svg" alt="">
						</div>
						<p class="clinical-two__item-desc">
							КР Локализованное отложение жира, 2022
						</p>
						<a href="#" class="clinical-two__item-btn all-btn__blue">Подробнее</a>
					</div>
					<div class="clinical-two__item">
						<div class="clinical-two__item-img">
							<img src="./img/clinical-recomendation/dermatology.svg" alt="">
						</div>
						<p class="clinical-two__item-desc">
							КР Локализованный гипертрихоз, 2022
						</p>
						<a href="#" class="clinical-two__item-btn all-btn__blue">Подробнее</a>
					</div>
					<div class="clinical-two__item">
						<div class="clinical-two__item-img">
							<img src="./img/clinical-recomendation/bubbles.svg" alt="">
						</div>
						<p class="clinical-two__item-desc">
							КР Послевоспалительная гиперпигментация, 2022
						</p>
						<a href="#" class="clinical-two__item-btn all-btn__blue">Подробнее</a>
					</div>
					<div class="clinical-two__item">
						<div class="clinical-two__item-img">
							<img src="./img/clinical-recomendation/bubbles.svg" alt="">
						</div>
						<p class="clinical-two__item-desc">
							КР Другие уточненные нарушения пигментации, 2022
						</p>
						<a href="#" class="clinical-two__item-btn all-btn__blue">Подробнее</a>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>