<dialog class="conferences-modal">
	<button class="conferences-modal__close">
		<img src="../img/icon/modal-close.svg" alt="">
	</button>
	<div class="conferences-modal__content">
		<div class="conferences-modal__title">
			17 февраля — г. Тула
		</div>
		<div class="conferences-modal__swipper swiper" id="conferences-modal__swipper">
			<div class="conferences-modal__swipper-wrapper swiper-wrapper">
				<div class="conferences-modal__slide swiper-slide">
					<div class="conferences-modal__slide-image">
						<img src="./img/conferences/tula/tula-1.webp" alt="">
					</div>
				</div>
				<div class="conferences-modal__slide swiper-slide">
					<div class="conferences-modal__slide-image">
						<img src="./img/conferences/tula/tula-2.webp" alt="">
					</div>
				</div>
				<div class="conferences-modal__slide swiper-slide">
					<div class="conferences-modal__slide-image">
						<img src="./img/conferences/tula/tula-3.webp" alt="">
					</div>
				</div>
			</div>
		</div>
		<div class="pagination conferences-modal__pagination">
			<div class="pagination__prev conferences-modal__prev">
				<svg  viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M8.71094 1.67773L2.38836 8.00032L8.71094 14.3229" stroke="white" stroke-width="2" stroke-linecap="round"/>
				</svg>
			</div>
			<div class="pagination__bullets conferences-modal__bullets"></div>
			<div class="pagination__next conferences-modal__next">
				<svg  viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
					<g filter="url(#filter0_i_642_15861)">
					<path d="M1.22656 14.3223L7.54914 7.99968L1.22656 1.6771" stroke="white" stroke-width="2" stroke-linecap="round"/>
					</g>
					<defs>
					<filter id="filter0_i_642_15861" x="0.226562" y="0.677124" width="11.7363" height="17.6451" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
					<feFlood flood-opacity="0" result="BackgroundImageFix"/>
					<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
					<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
					<feOffset dx="3" dy="3"/>
					<feGaussianBlur stdDeviation="5"/>
					<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
					<feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.5 0"/>
					<feBlend mode="normal" in2="shape" result="effect1_innerShadow_642_15861"/>
					</filter>
					</defs>
				</svg>
			</div>
		</div>
		<div class="conferences-modal__buttons">
			<button id="info">Информация о конференции</button>
			<button id="program">Программа конференции</button>
			<button id="results">Итоги конференции</button>
			<button id="fotos">Фотогалерея</button>
		</div>
	</div>
</dialog>

<section class="conferences">
	<div class="container">
		<div class="title">Научно-практические конференции</div>
		<div class="conferences__wrapper">
			<div class="conferences__block conferences__block-1">
				<img src="./img/conferences/plan-conferences.webp" alt="План-2023">
			</div>
			<div class="conferences__block" id="tula">
				<img src="./img/conferences/tula/tula-sm.webp" alt="Тула">
				<div class="conferences__desc">
					<time>17 февраля</time> — <p>г. Тула</p>
				</div>
			</div>
			<div class="conferences__block" id="samara">
				<img src="./img/conferences/samara/samara-sm.webp" alt="Самара">
				<div class="conferences__desc">
					<time> 17 марта</time> — <p>г. Самара</p>
				</div>
			</div>
			<div class="conferences__block" id="vladikavkaz">
				<img src="./img/conferences/vladikavkaz/vladikavkas-sm.webp" alt="Владикавказ">
				<div class="conferences__desc">
					<time>7 апреля</time> — <p>г. Владикавказ</p>
				</div>
			</div>
			<div class="conferences__block" id="voronezh">
				<img src="./img/conferences/voronezh/voronezh-sm.webp" alt="Воронеж">
				<div class="conferences__desc">
					<time> 21 апреля</time> — <p>г. Воронеж</p>
				</div>
			</div>
			<div class="conferences__block" id="moscow">
				<img src="./img/conferences/moscow/moscow-sm.webp" alt="Москва">
				<div class="conferences__desc">
					<time> 12 мая</time> — <p>г. Москва</p>
				</div>
			</div>
			<div class="conferences__block" id="saratov">
				<img src="./img/conferences/saratov/saratov-sm.webp" alt="Саратов">
				<div class="conferences__desc">
					<time>25-26 мая</time> — <p>г. Саратов</p>
				</div>
			</div>
			<div class="conferences__block" id="volgograd">
				<img src="./img/conferences/volgograd/volgograd-sm.webp" alt="Волгоград">
				<div class="conferences__desc">
					<time>16-16 июня</time> — <p>г. Волгоград</p>
				</div>
			</div>
			<div class="conferences__block" id="penza">
				<img src="./img/conferences/penza/penza-sm.webp" alt="Пенза">
				<div class="conferences__desc">
					<time>8 сентября</time> — <p>г. Пенза</p>
				</div>
			</div>
			<div class="conferences__block" id="moscow2">
				<img src="./img/conferences/moscow2/moscow-sm.webp" alt="Москва">
				<div class="conferences__desc">
					<time>19-22 сентября</time> — <p>г. Москва</p>
				</div>
			</div>
			<div class="conferences__block" id="sevastopol">
				<img src="./img/conferences/sevastopol/sevastopol-sm.webp" alt="Севастополь">
				<div class="conferences__desc">
					<time>29 сентября</time> — <p>г. Севастополь</p>
				</div>
			</div>
			<div class="conferences__block" id="novosibirsk">
				<img src="./img/conferences/novosibirsk/novosibirsk-sm.webp" alt="Новосибирск">
				<div class="conferences__desc">
					<time>12-13 октября</time> — <p>г. Новосибирск</p>
				</div>
			</div>
			<div class="conferences__block" id="peterburg">
				<img src="./img/conferences/st-peterburg/st-peterburg-sm.webp" alt="Санкт-Петербург">
				<div class="conferences__desc">
					<time>26-28 октября</time> — <p>г. Санкт-Петербург</p>
				</div>
			</div>
			<div class="conferences__block" id="kazan">
				<img src="./img/conferences/kazan/kazan-sm.webp" alt="Казань">
				<div class="conferences__desc">
					<time>23-24 ноября</time> — <p>г. Казань</p>
				</div>
			</div>
			<div class="conferences__block conferences__block-last">
				<img src="./img/conferences/tezis.webp" alt="Тезисы">
				<p>Тезисы научных работ</p>
			</div>
		</div>
	</div>
</section>
