<section class="conferences">
    <div class="container">
        <div class="bread-crumbs">
            <a href="../index.html">Главная</a>
            <a href="../conferences-page.html">Научно-практические конференции</a>
        </div>
        <div class="title">Научно-практические конференции</div>
        <div class="conferences__wrapper">
            <div class="conferences__block conferences__block-1">
                <img src="./img/conferences/plan-conferences.webp" alt="План-2023" />
            </div>
            <div class="conferences__block" id="tula" data-modal-class="conferences">
                <img src="./img/conferences/tula/tula-sm.webp" alt="Тула" />
                <div class="conferences__desc">
                    <time>17 февраля</time> —
                    <p>г. Тула</p>
                </div>
                <div class="conferences__title">17 февраля — г. Тула</div>
                <div class="conferences__photos">
                    <img src="./img/conferences/tula/tula-1.webp" alt="" />
                    <img src="./img/conferences/tula/tula-1.webp" alt="" />
                    <img src="./img/conferences/tula/tula-1.webp" alt="" />
                </div>
                <div class="conferences__info">Информация от 17 марта Тула</div>
                <div class="conferences__program">Програма от 17 марта Тула</div>
                <div class="conferences__results">Результаты от 17 марта Тула</div>
            </div>
            <div class="conferences__block" id="samara" data-modal-class="conferences">
                <img src="./img/conferences/samara/samara-sm.webp" alt="Самара" />
                <div class="conferences__desc">
                    <time> 17 марта</time> —
                    <p>г. Самара</p>
                </div>
                <div class="conferences__title">17 марта — г. Самара</div>
                <div class="conferences__photos"></div>
                <div class="conferences__info">Информация от 17 марта Самара</div>
                <div class="conferences__program">Програма от 17 марта Самара</div>
                <div class="conferences__results">Результаты от 17 марта Самара</div>
            </div>
            <div class="conferences__block" id="vladikavkaz" data-modal-class="conferences">
                <img src="./img/conferences/vladikavkaz/vladikavkas-sm.webp" alt="Владикавказ" />
                <div class="conferences__desc">
                    <time>7 апреля</time> —
                    <p>г. Владикавказ</p>
                </div>
                <div class="conferences__title">17 февраля — г. Тула</div>
                <div class="conferences__photos">
                    <img src="./img/conferences/tula/tula-1.webp" alt="" />
                    <img src="./img/conferences/tula/tula-1.webp" alt="" />
                    <img src="./img/conferences/tula/tula-1.webp" alt="" />
                </div>
                <div class="conferences__info">Информация от 17 марта Тула</div>
                <div class="conferences__program">Програма от 17 марта Тула</div>
                <div class="conferences__results">Результаты от 17 марта Тула</div>
            </div>
            <div class="conferences__block" id="voronezh" data-modal-class="conferences">
                <img src="./img/conferences/voronezh/voronezh-sm.webp" alt="Воронеж" />
                <div class="conferences__desc">
                    <time> 21 апреля</time> —
                    <p>г. Воронеж</p>
                </div>
                <div class="conferences__title">21 апреля</div>
                <div class="conferences__photos">
                    <img src="./img/conferences/tula/tula-1.webp" alt="" />
                    <img src="./img/conferences/tula/tula-1.webp" alt="" />
                    <img src="./img/conferences/tula/tula-1.webp" alt="" />
                </div>
                <div class="conferences__info">21 апреля</div>
                <div class="conferences__program">21 апреля</div>
                <div class="conferences__results">21 апреля</div>
            </div>
            <div class="conferences__block" id="moscow" data-modal-class="conferences">
                <img src="./img/conferences/moscow/moscow-sm.webp" alt="Москва" />
                <div class="conferences__desc">
                    <time> 12 мая</time> —
                    <p>г. Москва</p>
                </div>
                <div class="conferences__title">12 мая</div>
                <div class="conferences__photos">
                    <img src="./img/conferences/tula/tula-1.webp" alt="" />
                    <img src="./img/conferences/tula/tula-1.webp" alt="" />
                    <img src="./img/conferences/tula/tula-1.webp" alt="" />
                </div>
                <div class="conferences__info">12 мая</div>
                <div class="conferences__program">12 мая</div>
                <div class="conferences__results">12 мая</div>
            </div>
            <div class="conferences__block" id="saratov" data-modal-class="conferences">
                <img src="./img/conferences/saratov/saratov-sm.webp" alt="Саратов" />
                <div class="conferences__desc">
                    <time>25-26 мая</time> —
                    <p>г. Саратов</p>
                </div>
                <div class="conferences__title">25-26 мая</div>
                <div class="conferences__photos">
                    <img src="./img/conferences/tula/tula-1.webp" alt="" />
                    <img src="./img/conferences/tula/tula-1.webp" alt="" />
                    <img src="./img/conferences/tula/tula-1.webp" alt="" />
                </div>
                <div class="conferences__info">25-26 мая</div>
                <div class="conferences__program">25-26 мая</div>
                <div class="conferences__results">25-26 мая</div>
            </div>
            <div class="conferences__block" id="volgograd" data-modal-class="conferences">
                <img src="./img/conferences/volgograd/volgograd-sm.webp" alt="Волгоград" />
                <div class="conferences__desc">
                    <time>16-16 июня</time> —
                    <p>г. Волгоград</p>
                </div>
                <div class="conferences__title">16-16 июня</div>
                <div class="conferences__photos">
                    <img src="./img/conferences/tula/tula-1.webp" alt="" />
                    <img src="./img/conferences/tula/tula-1.webp" alt="" />
                    <img src="./img/conferences/tula/tula-1.webp" alt="" />
                </div>
                <div class="conferences__info">16-16 июня</div>
                <div class="conferences__program">16-16 июня</div>
                <div class="conferences__results">16-16 июня</div>
            </div>
            <div class="conferences__block" id="penza" data-modal-class="conferences">
                <img src="./img/conferences/penza/penza-sm.webp" alt="Пенза" />
                <div class="conferences__desc">
                    <time>8 сентября</time> —
                    <p>г. Пенза</p>
                </div>
                <div class="conferences__title">8 сентября</div>
                <div class="conferences__photos">
                    <img src="./img/conferences/tula/tula-1.webp" alt="" />
                    <img src="./img/conferences/tula/tula-1.webp" alt="" />
                    <img src="./img/conferences/tula/tula-1.webp" alt="" />
                </div>
                <div class="conferences__info">8 сентября</div>
                <div class="conferences__program">8 сентября</div>
                <div class="conferences__results">8 сентября</div>
            </div>
            <div class="conferences__block" id="moscow2" data-modal-class="conferences">
                <img src="./img/conferences/moscow2/moscow-sm.webp" alt="Москва" />
                <div class="conferences__desc">
                    <time>19-22 сентября</time> —
                    <p>г. Москва</p>
                </div>
                <div class="conferences__title">19-22 сентября</div>
                <div class="conferences__photos">
                    <img src="./img/conferences/tula/tula-1.webp" alt="" />
                    <img src="./img/conferences/tula/tula-1.webp" alt="" />
                    <img src="./img/conferences/tula/tula-1.webp" alt="" />
                </div>
                <div class="conferences__info">19-22 сентября</div>
                <div class="conferences__program">19-22 сентября</div>
                <div class="conferences__results">19-22 сентября</div>
            </div>
            <div class="conferences__block" id="sevastopol" data-modal-class="conferences">
                <img src="./img/conferences/sevastopol/sevastopol-sm.webp" alt="Севастополь" />
                <div class="conferences__desc">
                    <time>29 сентября</time> —
                    <p>г. Севастополь</p>
                </div>
                <div class="conferences__title">29 сентября</div>
                <div class="conferences__photos">
                    <img src="./img/conferences/tula/tula-1.webp" alt="" />
                    <img src="./img/conferences/tula/tula-1.webp" alt="" />
                    <img src="./img/conferences/tula/tula-1.webp" alt="" />
                </div>
                <div class="conferences__info">29 сентября</div>
                <div class="conferences__program">29 сентября</div>
                <div class="conferences__results">29 сентября</div>
            </div>
            <div class="conferences__block" id="novosibirsk" data-modal-class="conferences">
                <img src="./img/conferences/novosibirsk/novosibirsk-sm.webp" alt="Новосибирск" />
                <div class="conferences__desc">
                    <time>12-13 октября</time> —
                    <p>г. Новосибирск</p>
                </div>
                <div class="conferences__title">12-13 октября</div>
                <div class="conferences__photos">
                    <img src="./img/conferences/tula/tula-1.webp" alt="" />
                    <img src="./img/conferences/tula/tula-1.webp" alt="" />
                    <img src="./img/conferences/tula/tula-1.webp" alt="" />
                </div>
                <div class="conferences__info">12-13 октября</div>
                <div class="conferences__program">12-13 октября</div>
                <div class="conferences__results">12-13 октября</div>
            </div>
            <div class="conferences__block" id="peterburg" data-modal-class="conferences">
                <img src="./img/conferences/st-peterburg/st-peterburg-sm.webp" alt="Санкт-Петербург" />
                <div class="conferences__desc">
                    <time>26-28 октября</time> —
                    <p>г. Санкт-Петербург</p>
                </div>
                <div class="conferences__title">26-28 октября</div>
                <div class="conferences__photos">
                    <img src="./img/conferences/tula/tula-1.webp" alt="" />
                    <img src="./img/conferences/tula/tula-1.webp" alt="" />
                    <img src="./img/conferences/tula/tula-1.webp" alt="" />
                </div>
                <div class="conferences__info">Информация 26-28 октября</div>
                <div class="conferences__program">Програма 26-28 октября</div>
                <div class="conferences__results">Результаты 26-28 октября</div>
            </div>
            <div class="conferences__block" id="kazan" data-modal-class="conferences">
                <img src="./img/conferences/kazan/kazan-sm.webp" alt="Казань" />
                <div class="conferences__desc">
                    <time>23-24 ноября</time> —
                    <p>г. Казань</p>
                </div>
                <div class="conferences__title">23-24 ноября</div>
                <div class="conferences__photos">
                    <img src="./img/conferences/tula/tula-1.webp" alt="" />
                    <img src="./img/conferences/tula/tula-1.webp" alt="" />
                    <img src="./img/conferences/tula/tula-1.webp" alt="" />
                </div>
                <div class="conferences__info">Информация 23-24 ноября</div>
                <div class="conferences__program">Програма 23-24 ноября</div>
                <div class="conferences__results">Результаты 23-24 ноября</div>
            </div>
            <div class="conferences__block conferences__block-last">
                <img src="./img/conferences/tezis.webp" alt="Тезисы" />
                <p>Тезисы научных работ</p>
            </div>
        </div>
    </div>
</section>
