<section class="connection">
    <div class="container">
        <div class="connection__wrapper">
            <div class="connection__left">
                <div class="title">Обратная связь</div>
                <ul class="connection__tabs">
                    <li class="connection__item active" data-tab="1">Вопросы и ответы</li>
                    <li class="connection__item" data-tab="2">Отзывы пациентов</li>
                    <li class="connection__item" data-tab="3">Работа с обращениями граждан</li>
                </ul>
                <aside class="aside">
                    <form action="" class="aside-form">
                         <div class="aside-form__title">
                             <strong>Задать вопрос</strong>
                             
                         </div>
                         <div class="aside-form__content">
                             <input type="text" placeholder="ФИО*">
                             <input type="text" placeholder="E-mail*">
                             <textarea placeholder="Вопрос*"></textarea>
                             <label class="checkbox-other">
                                 <input type="checkbox" >
                                 <span>Я согласен на <a href="#" class="aside__link link">обработку персональных данных</a></span>
                             </label>
                             <button class="all-btn__blue connection__btn">Отправить вопрос</button>
                         </div>
                        
                    </form>
                 </aside>
                <aside class="aside">
                    <form action="" class="aside-form">
                         <div class="aside-form__title">
                             <strong>Записаться на прием</strong>
                         </div>
                         <div class="aside-form__content">
                             <input type="text" placeholder="ФИО*">
                             <input type="text" placeholder="Номер телефона*">
                             <input type="text" placeholder="E-mail*">
                             <input type="text" placeholder="Специалист или проблема*">
                             <label class="checkbox-other">
                                 <input type="checkbox" >
                                 <span>Я согласен на <a href="#" class="aside__link link">обработку персональных данных</a></span>
                             </label>
                             <button class="all-btn__blue connection__btn">Записаться</button>
                         </div>
                        
                    </form>
                 </aside>
            </div>
            <!--  -->
            <div class="connection__right">
                <div class="connection__wrap" data-tab="1">

                    <div class="connection__block">
                        <div class="connection__block-inner">
                            <div class="connection__block-title">Сколько стоит первичный приём врача-трихолог?</div>
                            <div class="connection__block-arrow">
                                <svg  viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.48689 0.944269L6.999 6.045L12.5111 0.944269C12.6096 0.852951 12.7418 0.801828 12.8795 0.801828C13.0171 0.801828 13.1493 0.852951 13.2478 0.944269C13.2955 0.988622 13.3334 1.04156 13.3593 1.09999C13.3851 1.15841 13.3984 1.22115 13.3984 1.28453C13.3984 1.3479 13.3851 1.41064 13.3593 1.46907C13.3334 1.52749 13.2955 1.58043 13.2478 1.62478L7.3839 7.05216C7.28092 7.14745 7.14281 7.20078 6.999 7.20078C6.8552 7.20078 6.71708 7.14745 6.6141 7.05216L0.75018 1.62583C0.702157 1.58145 0.663989 1.52838 0.637926 1.46976C0.611864 1.41114 0.598437 1.34815 0.598437 1.28453C0.598437 1.2209 0.611864 1.15792 0.637926 1.0993C0.663989 1.04068 0.702157 0.987608 0.75018 0.943221C0.848663 0.851904 0.980869 0.800781 1.11854 0.800781C1.2562 0.800781 1.38841 0.851904 1.48689 0.943221V0.944269Z" fill="white"/>
                                </svg>
                            </div>
                        </div>
                        <div class="connection__content">
                            <div class="connection__block-date  ">
                                <div class="connection__name">Антон Антон Викторович</div>
                                <div class="connection__date">07.11.2022 13:58:53</div>
                            </div>
                            <div class="connection__text">
                                Антон , добрый день.<br>
                                Необходимо обратиться на консультацию к специалисту для проведения клинического осмотра и определения показаний и<br> противопоказаний для удаления.<br>
                                Можно обратиться в консультативно-диагностический центр на консультацию к специалисту отделения Эстетической<br> лазерной дерматологии .<br>
                                Предварительная запись по телефону регистратуры 8-499-785-20-40 или оставить заявку на сайте. Сотрудник центра перезвонит вам в течение дня.<br>
                                С уважением, ФГБУ "ГНЦДК" Минздрава России
                            </div>
                        </div>
                    </div>
                    <div class="connection__block">
                        <div class="connection__block-inner">
                            <div class="connection__block-title">Добрый день. Подскажите к какому специалисту первоначально записаться для удаление папилом на лице и теле?</div>
                            <div class="connection__block-arrow">
                                <svg  viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.48689 0.944269L6.999 6.045L12.5111 0.944269C12.6096 0.852951 12.7418 0.801828 12.8795 0.801828C13.0171 0.801828 13.1493 0.852951 13.2478 0.944269C13.2955 0.988622 13.3334 1.04156 13.3593 1.09999C13.3851 1.15841 13.3984 1.22115 13.3984 1.28453C13.3984 1.3479 13.3851 1.41064 13.3593 1.46907C13.3334 1.52749 13.2955 1.58043 13.2478 1.62478L7.3839 7.05216C7.28092 7.14745 7.14281 7.20078 6.999 7.20078C6.8552 7.20078 6.71708 7.14745 6.6141 7.05216L0.75018 1.62583C0.702157 1.58145 0.663989 1.52838 0.637926 1.46976C0.611864 1.41114 0.598437 1.34815 0.598437 1.28453C0.598437 1.2209 0.611864 1.15792 0.637926 1.0993C0.663989 1.04068 0.702157 0.987608 0.75018 0.943221C0.848663 0.851904 0.980869 0.800781 1.11854 0.800781C1.2562 0.800781 1.38841 0.851904 1.48689 0.943221V0.944269Z" fill="white"/>
                                </svg>
                            </div>
                        </div>
                        <div class="connection__content">
                            <div class="connection__block-date  ">
                                <div class="connection__name">Антон Антон Викторович</div>
                                <div class="connection__date">07.11.2022 13:58:53</div>
                            </div>
                            <div class="connection__text">
                                Антон , добрый день.<br>
                                Необходимо обратиться на консультацию к специалисту для проведения клинического осмотра и определения показаний и<br> противопоказаний для удаления.<br>
                                Можно обратиться в консультативно-диагностический центр на консультацию к специалисту отделения Эстетической<br> лазерной дерматологии .<br>
                                Предварительная запись по телефону регистратуры 8-499-785-20-40 или оставить заявку на сайте. Сотрудник центра перезвонит вам в течение дня.<br>
                                С уважением, ФГБУ "ГНЦДК" Минздрава России
                            </div>
                        </div>
                    </div>
                    <div class="connection__block">
                        <div class="connection__block-inner">
                            <div class="connection__block-title">Добрый день! Я к сожалению не в Москве, и мне необходимо консультация Азам Вероники Владимировны. Подскажите, пожалуйста, можно ли провести консультацию онлайн? Благодарю.</div>
                            <div class="connection__block-arrow">
                                <svg  viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.48689 0.944269L6.999 6.045L12.5111 0.944269C12.6096 0.852951 12.7418 0.801828 12.8795 0.801828C13.0171 0.801828 13.1493 0.852951 13.2478 0.944269C13.2955 0.988622 13.3334 1.04156 13.3593 1.09999C13.3851 1.15841 13.3984 1.22115 13.3984 1.28453C13.3984 1.3479 13.3851 1.41064 13.3593 1.46907C13.3334 1.52749 13.2955 1.58043 13.2478 1.62478L7.3839 7.05216C7.28092 7.14745 7.14281 7.20078 6.999 7.20078C6.8552 7.20078 6.71708 7.14745 6.6141 7.05216L0.75018 1.62583C0.702157 1.58145 0.663989 1.52838 0.637926 1.46976C0.611864 1.41114 0.598437 1.34815 0.598437 1.28453C0.598437 1.2209 0.611864 1.15792 0.637926 1.0993C0.663989 1.04068 0.702157 0.987608 0.75018 0.943221C0.848663 0.851904 0.980869 0.800781 1.11854 0.800781C1.2562 0.800781 1.38841 0.851904 1.48689 0.943221V0.944269Z" fill="white"/>
                                </svg>
                            </div>
                        </div>
                        <div class="connection__content">
                            <div class="connection__block-date  ">
                                <div class="connection__name">Антон Антон Викторович</div>
                                <div class="connection__date">07.11.2022 13:58:53</div>
                            </div>
                            <div class="connection__text">
                                Антон , добрый день.<br>
                                Необходимо обратиться на консультацию к специалисту для проведения клинического осмотра и определения показаний и<br> противопоказаний для удаления.<br>
                                Можно обратиться в консультативно-диагностический центр на консультацию к специалисту отделения Эстетической<br> лазерной дерматологии .<br>
                                Предварительная запись по телефону регистратуры 8-499-785-20-40 или оставить заявку на сайте. Сотрудник центра перезвонит вам в течение дня.<br>
                                С уважением, ФГБУ "ГНЦДК" Минздрава России
                            </div>
                        </div>
                    </div>
                    <div class="connection__block">
                        <div class="connection__block-inner">
                            <div class="connection__block-title">Добрый день. К какому специалисту в вашем учреждении нужно записаться на осмотр-консультацию? Проблема с лицо. Постоянно выскакивают прищи и не проходят покраснения в этих местах. Я сам из Обнинска Калужская область. Наши врачи не смогли мне помочь. После курса лечения лицо становится чище, но потом все возвращается. Спасибо</div>
                            <div class="connection__block-arrow">
                                <svg  viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.48689 0.944269L6.999 6.045L12.5111 0.944269C12.6096 0.852951 12.7418 0.801828 12.8795 0.801828C13.0171 0.801828 13.1493 0.852951 13.2478 0.944269C13.2955 0.988622 13.3334 1.04156 13.3593 1.09999C13.3851 1.15841 13.3984 1.22115 13.3984 1.28453C13.3984 1.3479 13.3851 1.41064 13.3593 1.46907C13.3334 1.52749 13.2955 1.58043 13.2478 1.62478L7.3839 7.05216C7.28092 7.14745 7.14281 7.20078 6.999 7.20078C6.8552 7.20078 6.71708 7.14745 6.6141 7.05216L0.75018 1.62583C0.702157 1.58145 0.663989 1.52838 0.637926 1.46976C0.611864 1.41114 0.598437 1.34815 0.598437 1.28453C0.598437 1.2209 0.611864 1.15792 0.637926 1.0993C0.663989 1.04068 0.702157 0.987608 0.75018 0.943221C0.848663 0.851904 0.980869 0.800781 1.11854 0.800781C1.2562 0.800781 1.38841 0.851904 1.48689 0.943221V0.944269Z" fill="white"/>
                                </svg>
                            </div>
                        </div>
                        <div class="connection__content">
                            <div class="connection__block-date  ">
                                <div class="connection__name">Антон Антон Викторович</div>
                                <div class="connection__date">07.11.2022 13:58:53</div>
                            </div>
                            <div class="connection__text">
                                Антон , добрый день.<br>
                                Необходимо обратиться на консультацию к специалисту для проведения клинического осмотра и определения показаний и<br> противопоказаний для удаления.<br>
                                Можно обратиться в консультативно-диагностический центр на консультацию к специалисту отделения Эстетической<br> лазерной дерматологии .<br>
                                Предварительная запись по телефону регистратуры 8-499-785-20-40 или оставить заявку на сайте. Сотрудник центра перезвонит вам в течение дня.<br>
                                С уважением, ФГБУ "ГНЦДК" Минздрава России
                            </div>
                        </div>
                    </div>
                    <div class="connection__block">
                        <div class="connection__block-inner">
                            <div class="connection__block-title">Здравствуйте. Как можно попасть в вашу поликлину на приём с 11 месячным ребенком?</div>
                            <div class="connection__block-arrow">
                                <svg  viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.48689 0.944269L6.999 6.045L12.5111 0.944269C12.6096 0.852951 12.7418 0.801828 12.8795 0.801828C13.0171 0.801828 13.1493 0.852951 13.2478 0.944269C13.2955 0.988622 13.3334 1.04156 13.3593 1.09999C13.3851 1.15841 13.3984 1.22115 13.3984 1.28453C13.3984 1.3479 13.3851 1.41064 13.3593 1.46907C13.3334 1.52749 13.2955 1.58043 13.2478 1.62478L7.3839 7.05216C7.28092 7.14745 7.14281 7.20078 6.999 7.20078C6.8552 7.20078 6.71708 7.14745 6.6141 7.05216L0.75018 1.62583C0.702157 1.58145 0.663989 1.52838 0.637926 1.46976C0.611864 1.41114 0.598437 1.34815 0.598437 1.28453C0.598437 1.2209 0.611864 1.15792 0.637926 1.0993C0.663989 1.04068 0.702157 0.987608 0.75018 0.943221C0.848663 0.851904 0.980869 0.800781 1.11854 0.800781C1.2562 0.800781 1.38841 0.851904 1.48689 0.943221V0.944269Z" fill="white"/>
                                </svg>
                            </div>
                        </div>
                        <div class="connection__content">
                            <div class="connection__block-date  ">
                                <div class="connection__name">Антон Антон Викторович</div>
                                <div class="connection__date">07.11.2022 13:58:53</div>
                            </div>
                            <div class="connection__text">
                                Антон , добрый день.<br>
                                Необходимо обратиться на консультацию к специалисту для проведения клинического осмотра и определения показаний и<br> противопоказаний для удаления.<br>
                                Можно обратиться в консультативно-диагностический центр на консультацию к специалисту отделения Эстетической<br> лазерной дерматологии .<br>
                                Предварительная запись по телефону регистратуры 8-499-785-20-40 или оставить заявку на сайте. Сотрудник центра перезвонит вам в течение дня.<br>
                                С уважением, ФГБУ "ГНЦДК" Минздрава России
                            </div>
                        </div>
                    </div>
                    <div class="connection__block">
                        <div class="connection__block-inner">
                            <div class="connection__block-title">Мне 20 лет. Несколько лет беспокоят келоидные рубцы на фоне угревой сыпи. Можно ли консультироваться и лечиться у вас по ОМС?</div>
                            <div class="connection__block-arrow">
                                <svg  viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.48689 0.944269L6.999 6.045L12.5111 0.944269C12.6096 0.852951 12.7418 0.801828 12.8795 0.801828C13.0171 0.801828 13.1493 0.852951 13.2478 0.944269C13.2955 0.988622 13.3334 1.04156 13.3593 1.09999C13.3851 1.15841 13.3984 1.22115 13.3984 1.28453C13.3984 1.3479 13.3851 1.41064 13.3593 1.46907C13.3334 1.52749 13.2955 1.58043 13.2478 1.62478L7.3839 7.05216C7.28092 7.14745 7.14281 7.20078 6.999 7.20078C6.8552 7.20078 6.71708 7.14745 6.6141 7.05216L0.75018 1.62583C0.702157 1.58145 0.663989 1.52838 0.637926 1.46976C0.611864 1.41114 0.598437 1.34815 0.598437 1.28453C0.598437 1.2209 0.611864 1.15792 0.637926 1.0993C0.663989 1.04068 0.702157 0.987608 0.75018 0.943221C0.848663 0.851904 0.980869 0.800781 1.11854 0.800781C1.2562 0.800781 1.38841 0.851904 1.48689 0.943221V0.944269Z" fill="white"/>
                                </svg>
                            </div>
                        </div>
                        <div class="connection__content">
                            <div class="connection__block-date  ">
                                <div class="connection__name">Антон Антон Викторович</div>
                                <div class="connection__date">07.11.2022 13:58:53</div>
                            </div>
                            <div class="connection__text">
                                Антон , добрый день.<br>
                                Необходимо обратиться на консультацию к специалисту для проведения клинического осмотра и определения показаний и<br> противопоказаний для удаления.<br>
                                Можно обратиться в консультативно-диагностический центр на консультацию к специалисту отделения Эстетической<br> лазерной дерматологии .<br>
                                Предварительная запись по телефону регистратуры 8-499-785-20-40 или оставить заявку на сайте. Сотрудник центра перезвонит вам в течение дня.<br>
                                С уважением, ФГБУ "ГНЦДК" Минздрава России
                            </div>
                        </div>
                    </div>
                    <div class="connection__block">
                        <div class="connection__block-inner">
                            <div class="connection__block-title">удаление родинок и папилом</div>
                            <div class="connection__block-arrow">
                                <svg  viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.48689 0.944269L6.999 6.045L12.5111 0.944269C12.6096 0.852951 12.7418 0.801828 12.8795 0.801828C13.0171 0.801828 13.1493 0.852951 13.2478 0.944269C13.2955 0.988622 13.3334 1.04156 13.3593 1.09999C13.3851 1.15841 13.3984 1.22115 13.3984 1.28453C13.3984 1.3479 13.3851 1.41064 13.3593 1.46907C13.3334 1.52749 13.2955 1.58043 13.2478 1.62478L7.3839 7.05216C7.28092 7.14745 7.14281 7.20078 6.999 7.20078C6.8552 7.20078 6.71708 7.14745 6.6141 7.05216L0.75018 1.62583C0.702157 1.58145 0.663989 1.52838 0.637926 1.46976C0.611864 1.41114 0.598437 1.34815 0.598437 1.28453C0.598437 1.2209 0.611864 1.15792 0.637926 1.0993C0.663989 1.04068 0.702157 0.987608 0.75018 0.943221C0.848663 0.851904 0.980869 0.800781 1.11854 0.800781C1.2562 0.800781 1.38841 0.851904 1.48689 0.943221V0.944269Z" fill="white"/>
                                </svg>
                            </div>
                        </div>
                        <div class="connection__content">
                            <div class="connection__block-date  ">
                                <div class="connection__name">Антон Антон Викторович</div>
                                <div class="connection__date">07.11.2022 13:58:53</div>
                            </div>
                            <div class="connection__text">
                                Антон , добрый день.<br>
                                Необходимо обратиться на консультацию к специалисту для проведения клинического осмотра и определения показаний и<br> противопоказаний для удаления.<br>
                                Можно обратиться в консультативно-диагностический центр на консультацию к специалисту отделения Эстетической<br> лазерной дерматологии .<br>
                                Предварительная запись по телефону регистратуры 8-499-785-20-40 или оставить заявку на сайте. Сотрудник центра перезвонит вам в течение дня.<br>
                                С уважением, ФГБУ "ГНЦДК" Минздрава России
                            </div>
                        </div>
                    </div>
                    <div class="connection__block">
                        <div class="connection__block-inner">
                            <div class="connection__block-title">Добрый день. К какому специалисту в вашем учреждении нужно записаться на осмотр-консультацию? Проблема с лицо. Постоянно выскакивают прищи и не проходят покраснения в этих местах. Я сам из Обнинска Калужская область. Наши врачи не смогли мне помочь. После курса лечения лицо становится чище, но потом все возвращается. Спасибо</div>
                            <div class="connection__block-arrow">
                                <svg  viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.48689 0.944269L6.999 6.045L12.5111 0.944269C12.6096 0.852951 12.7418 0.801828 12.8795 0.801828C13.0171 0.801828 13.1493 0.852951 13.2478 0.944269C13.2955 0.988622 13.3334 1.04156 13.3593 1.09999C13.3851 1.15841 13.3984 1.22115 13.3984 1.28453C13.3984 1.3479 13.3851 1.41064 13.3593 1.46907C13.3334 1.52749 13.2955 1.58043 13.2478 1.62478L7.3839 7.05216C7.28092 7.14745 7.14281 7.20078 6.999 7.20078C6.8552 7.20078 6.71708 7.14745 6.6141 7.05216L0.75018 1.62583C0.702157 1.58145 0.663989 1.52838 0.637926 1.46976C0.611864 1.41114 0.598437 1.34815 0.598437 1.28453C0.598437 1.2209 0.611864 1.15792 0.637926 1.0993C0.663989 1.04068 0.702157 0.987608 0.75018 0.943221C0.848663 0.851904 0.980869 0.800781 1.11854 0.800781C1.2562 0.800781 1.38841 0.851904 1.48689 0.943221V0.944269Z" fill="white"/>
                                </svg>
                            </div>
                        </div>
                        <div class="connection__content">
                            <div class="connection__block-date  ">
                                <div class="connection__name">Антон Антон Викторович</div>
                                <div class="connection__date">07.11.2022 13:58:53</div>
                            </div>
                            <div class="connection__text">
                                Антон , добрый день.<br>
                                Необходимо обратиться на консультацию к специалисту для проведения клинического осмотра и определения показаний и<br> противопоказаний для удаления.<br>
                                Можно обратиться в консультативно-диагностический центр на консультацию к специалисту отделения Эстетической<br> лазерной дерматологии .<br>
                                Предварительная запись по телефону регистратуры 8-499-785-20-40 или оставить заявку на сайте. Сотрудник центра перезвонит вам в течение дня.<br>
                                С уважением, ФГБУ "ГНЦДК" Минздрава России
                            </div>
                        </div>
                    </div>
                    <div class="connection__block">
                        <div class="connection__block-inner">
                            <div class="connection__block-title">Здравствуйте. Как можно попасть в вашу поликлину на приём с 11 месячным ребенком?</div>
                            <div class="connection__block-arrow">
                                <svg  viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.48689 0.944269L6.999 6.045L12.5111 0.944269C12.6096 0.852951 12.7418 0.801828 12.8795 0.801828C13.0171 0.801828 13.1493 0.852951 13.2478 0.944269C13.2955 0.988622 13.3334 1.04156 13.3593 1.09999C13.3851 1.15841 13.3984 1.22115 13.3984 1.28453C13.3984 1.3479 13.3851 1.41064 13.3593 1.46907C13.3334 1.52749 13.2955 1.58043 13.2478 1.62478L7.3839 7.05216C7.28092 7.14745 7.14281 7.20078 6.999 7.20078C6.8552 7.20078 6.71708 7.14745 6.6141 7.05216L0.75018 1.62583C0.702157 1.58145 0.663989 1.52838 0.637926 1.46976C0.611864 1.41114 0.598437 1.34815 0.598437 1.28453C0.598437 1.2209 0.611864 1.15792 0.637926 1.0993C0.663989 1.04068 0.702157 0.987608 0.75018 0.943221C0.848663 0.851904 0.980869 0.800781 1.11854 0.800781C1.2562 0.800781 1.38841 0.851904 1.48689 0.943221V0.944269Z" fill="white"/>
                                </svg>
                            </div>
                        </div>
                        <div class="connection__content">
                            <div class="connection__block-date  ">
                                <div class="connection__name">Антон Антон Викторович</div>
                                <div class="connection__date">07.11.2022 13:58:53</div>
                            </div>
                            <div class="connection__text">
                                Антон , добрый день.<br>
                                Необходимо обратиться на консультацию к специалисту для проведения клинического осмотра и определения показаний и<br> противопоказаний для удаления.<br>
                                Можно обратиться в консультативно-диагностический центр на консультацию к специалисту отделения Эстетической<br> лазерной дерматологии .<br>
                                Предварительная запись по телефону регистратуры 8-499-785-20-40 или оставить заявку на сайте. Сотрудник центра перезвонит вам в течение дня.<br>
                                С уважением, ФГБУ "ГНЦДК" Минздрава России
                            </div>
                        </div>
                    </div>
                    <div class="connection__block">
                        <div class="connection__block-inner">
                            <div class="connection__block-title">Мне 20 лет. Несколько лет беспокоят келоидные рубцы на фоне угревой сыпи. Можно ли консультироваться и лечиться у вас по ОМС?</div>
                            <div class="connection__block-arrow">
                                <svg  viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.48689 0.944269L6.999 6.045L12.5111 0.944269C12.6096 0.852951 12.7418 0.801828 12.8795 0.801828C13.0171 0.801828 13.1493 0.852951 13.2478 0.944269C13.2955 0.988622 13.3334 1.04156 13.3593 1.09999C13.3851 1.15841 13.3984 1.22115 13.3984 1.28453C13.3984 1.3479 13.3851 1.41064 13.3593 1.46907C13.3334 1.52749 13.2955 1.58043 13.2478 1.62478L7.3839 7.05216C7.28092 7.14745 7.14281 7.20078 6.999 7.20078C6.8552 7.20078 6.71708 7.14745 6.6141 7.05216L0.75018 1.62583C0.702157 1.58145 0.663989 1.52838 0.637926 1.46976C0.611864 1.41114 0.598437 1.34815 0.598437 1.28453C0.598437 1.2209 0.611864 1.15792 0.637926 1.0993C0.663989 1.04068 0.702157 0.987608 0.75018 0.943221C0.848663 0.851904 0.980869 0.800781 1.11854 0.800781C1.2562 0.800781 1.38841 0.851904 1.48689 0.943221V0.944269Z" fill="white"/>
                                </svg>
                            </div>
                        </div>
                        <div class="connection__content">
                            <div class="connection__block-date  ">
                                <div class="connection__name">Антон Антон Викторович</div>
                                <div class="connection__date">07.11.2022 13:58:53</div>
                            </div>
                            <div class="connection__text">
                                Антон , добрый день.<br>
                                Необходимо обратиться на консультацию к специалисту для проведения клинического осмотра и определения показаний и<br> противопоказаний для удаления.<br>
                                Можно обратиться в консультативно-диагностический центр на консультацию к специалисту отделения Эстетической<br> лазерной дерматологии .<br>
                                Предварительная запись по телефону регистратуры 8-499-785-20-40 или оставить заявку на сайте. Сотрудник центра перезвонит вам в течение дня.<br>
                                С уважением, ФГБУ "ГНЦДК" Минздрава России
                            </div>
                        </div>
                    </div>
                    <div class="connection__block">
                        <div class="connection__block-inner">
                            <div class="connection__block-title">удаление родинок и папилом</div>
                            <div class="connection__block-arrow">
                                <svg  viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.48689 0.944269L6.999 6.045L12.5111 0.944269C12.6096 0.852951 12.7418 0.801828 12.8795 0.801828C13.0171 0.801828 13.1493 0.852951 13.2478 0.944269C13.2955 0.988622 13.3334 1.04156 13.3593 1.09999C13.3851 1.15841 13.3984 1.22115 13.3984 1.28453C13.3984 1.3479 13.3851 1.41064 13.3593 1.46907C13.3334 1.52749 13.2955 1.58043 13.2478 1.62478L7.3839 7.05216C7.28092 7.14745 7.14281 7.20078 6.999 7.20078C6.8552 7.20078 6.71708 7.14745 6.6141 7.05216L0.75018 1.62583C0.702157 1.58145 0.663989 1.52838 0.637926 1.46976C0.611864 1.41114 0.598437 1.34815 0.598437 1.28453C0.598437 1.2209 0.611864 1.15792 0.637926 1.0993C0.663989 1.04068 0.702157 0.987608 0.75018 0.943221C0.848663 0.851904 0.980869 0.800781 1.11854 0.800781C1.2562 0.800781 1.38841 0.851904 1.48689 0.943221V0.944269Z" fill="white"/>
                                </svg>
                            </div>
                        </div>
                        <div class="connection__content">
                            <div class="connection__block-date  ">
                                <div class="connection__name">Антон Антон Викторович</div>
                                <div class="connection__date">07.11.2022 13:58:53</div>
                            </div>
                            <div class="connection__text">
                                Антон , добрый день.<br>
                                Необходимо обратиться на консультацию к специалисту для проведения клинического осмотра и определения показаний и<br> противопоказаний для удаления.<br>
                                Можно обратиться в консультативно-диагностический центр на консультацию к специалисту отделения Эстетической<br> лазерной дерматологии .<br>
                                Предварительная запись по телефону регистратуры 8-499-785-20-40 или оставить заявку на сайте. Сотрудник центра перезвонит вам в течение дня.<br>
                                С уважением, ФГБУ "ГНЦДК" Минздрава России
                            </div>
                        </div>
                    </div>
                </div>
                <div class="connection__wrap " data-tab="2">
                    <div class="connection__swiper swiper">
                        <div class="connection__swiper-wrapper swiper-wrapper">
                            <div class="connection__slide swiper-slide">
                                <div class="connection__feedback">
                                    <div class="connection__feedback-inner">
                                        <div class="connection__feedback-name">Анастасия</div>
                                        <div class="connection__feedback-date">07.11.2022 13:58:53</div>
                                    </div>
                                    <div class="connection__feedback-work">Врач Маковецкая Оксана Сергеевна</div>
                                    <div class="connection__feedback-text">У моей дочки было проблемное акне, чем только не лечили, к кому только не ходили. Я сама делала пилинг в научном центре и записала свою дочь на прием к Оксане Сергеевне. Это врач от Бога, чуткая, внимательная. К ней можно было обратиться в любое время и получить ответ на волнующие вопросы в течении всего времени лечения. Еще главное, что подбирается лечение строго по анализам, ведется чуткий контроль. Теперь наши проблемы отступили и главное, что дочь радостная. Огромное спасибо врачу!!!</div>
                                </div>
                            </div>
                            <div class="connection__slide swiper-slide">
                                <div class="connection__feedback">
                                    <div class="connection__feedback-inner">
                                        <div class="connection__feedback-name">Анастасия</div>
                                        <div class="connection__feedback-date">07.11.2022 13:58:53</div>
                                    </div>
                                    <div class="connection__feedback-work">Врач Маковецкая Оксана Сергеевна</div>
                                    <div class="connection__feedback-text">У моей дочки было проблемное акне, чем только не лечили, к кому только не ходили. Я сама делала пилинг в научном центре и записала свою дочь на прием к Оксане Сергеевне. Это врач от Бога, чуткая, внимательная. К ней можно было обратиться в любое время и получить ответ на волнующие вопросы в течении всего времени лечения. Еще главное, что подбирается лечение строго по анализам, ведется чуткий контроль. Теперь наши проблемы отступили и главное, что дочь радостная. Огромное спасибо врачу!!!</div>
                                </div>
                            </div>
                            <div class="connection__slide swiper-slide">
                                <div class="connection__feedback">
                                    <div class="connection__feedback-inner">
                                        <div class="connection__feedback-name">Анастасия</div>
                                        <div class="connection__feedback-date">07.11.2022 13:58:53</div>
                                    </div>
                                    <div class="connection__feedback-work">Врач Маковецкая Оксана Сергеевна</div>
                                    <div class="connection__feedback-text">У моей дочки было проблемное акне, чем только не лечили, к кому только не ходили. Я сама делала пилинг в научном центре и записала свою дочь на прием к Оксане Сергеевне. Это врач от Бога, чуткая, внимательная. К ней можно было обратиться в любое время и получить ответ на волнующие вопросы в течении всего времени лечения. Еще главное, что подбирается лечение строго по анализам, ведется чуткий контроль. Теперь наши проблемы отступили и главное, что дочь радостная. Огромное спасибо врачу!!!</div>
                                </div>
                            </div>
                            <div class="connection__slide swiper-slide">
                                <div class="connection__feedback">
                                    <div class="connection__feedback-inner">
                                        <div class="connection__feedback-name">Анастасия</div>
                                        <div class="connection__feedback-date">07.11.2022 13:58:53</div>
                                    </div>
                                    <div class="connection__feedback-work">Врач Маковецкая Оксана Сергеевна</div>
                                    <div class="connection__feedback-text">У моей дочки было проблемное акне, чем только не лечили, к кому только не ходили. Я сама делала пилинг в научном центре и записала свою дочь на прием к Оксане Сергеевне. Это врач от Бога, чуткая, внимательная. К ней можно было обратиться в любое время и получить ответ на волнующие вопросы в течении всего времени лечения. Еще главное, что подбирается лечение строго по анализам, ведется чуткий контроль. Теперь наши проблемы отступили и главное, что дочь радостная. Огромное спасибо врачу!!!</div>
                                </div>
                            </div>
                            <div class="connection__slide swiper-slide">
                                <div class="connection__feedback">
                                    <div class="connection__feedback-inner">
                                        <div class="connection__feedback-name">Анастасия</div>
                                        <div class="connection__feedback-date">07.11.2022 13:58:53</div>
                                    </div>
                                    <div class="connection__feedback-work">Врач Маковецкая Оксана Сергеевна</div>
                                    <div class="connection__feedback-text">У моей дочки было проблемное акне, чем только не лечили, к кому только не ходили. Я сама делала пилинг в научном центре и записала свою дочь на прием к Оксане Сергеевне. Это врач от Бога, чуткая, внимательная. К ней можно было обратиться в любое время и получить ответ на волнующие вопросы в течении всего времени лечения. Еще главное, что подбирается лечение строго по анализам, ведется чуткий контроль. Теперь наши проблемы отступили и главное, что дочь радостная. Огромное спасибо врачу!!!</div>
                                </div>
                            </div>
                            <div class="connection__slide swiper-slide">
                                <div class="connection__feedback">
                                    <div class="connection__feedback-inner">
                                        <div class="connection__feedback-name">Анастасия</div>
                                        <div class="connection__feedback-date">07.11.2022 13:58:53</div>
                                    </div>
                                    <div class="connection__feedback-work">Врач Маковецкая Оксана Сергеевна</div>
                                    <div class="connection__feedback-text">У моей дочки было проблемное акне, чем только не лечили, к кому только не ходили. Я сама делала пилинг в научном центре и записала свою дочь на прием к Оксане Сергеевне. Это врач от Бога, чуткая, внимательная. К ней можно было обратиться в любое время и получить ответ на волнующие вопросы в течении всего времени лечения. Еще главное, что подбирается лечение строго по анализам, ведется чуткий контроль. Теперь наши проблемы отступили и главное, что дочь радостная. Огромное спасибо врачу!!!</div>
                                </div>
                            </div>
                            <div class="connection__slide swiper-slide">
                                <div class="connection__feedback">
                                    <div class="connection__feedback-inner">
                                        <div class="connection__feedback-name">Анастасия</div>
                                        <div class="connection__feedback-date">07.11.2022 13:58:53</div>
                                    </div>
                                    <div class="connection__feedback-work">Врач Маковецкая Оксана Сергеевна</div>
                                    <div class="connection__feedback-text">У моей дочки было проблемное акне, чем только не лечили, к кому только не ходили. Я сама делала пилинг в научном центре и записала свою дочь на прием к Оксане Сергеевне. Это врач от Бога, чуткая, внимательная. К ней можно было обратиться в любое время и получить ответ на волнующие вопросы в течении всего времени лечения. Еще главное, что подбирается лечение строго по анализам, ведется чуткий контроль. Теперь наши проблемы отступили и главное, что дочь радостная. Огромное спасибо врачу!!!</div>
                                </div>
                            </div>
                            <div class="connection__slide swiper-slide">
                                <div class="connection__feedback">
                                    <div class="connection__feedback-inner">
                                        <div class="connection__feedback-name">Анастасия</div>
                                        <div class="connection__feedback-date">07.11.2022 13:58:53</div>
                                    </div>
                                    <div class="connection__feedback-work">Врач Маковецкая Оксана Сергеевна</div>
                                    <div class="connection__feedback-text">У моей дочки было проблемное акне, чем только не лечили, к кому только не ходили. Я сама делала пилинг в научном центре и записала свою дочь на прием к Оксане Сергеевне. Это врач от Бога, чуткая, внимательная. К ней можно было обратиться в любое время и получить ответ на волнующие вопросы в течении всего времени лечения. Еще главное, что подбирается лечение строго по анализам, ведется чуткий контроль. Теперь наши проблемы отступили и главное, что дочь радостная. Огромное спасибо врачу!!!</div>
                                </div>
                            </div>
                            <div class="connection__slide swiper-slide">
                                <div class="connection__feedback">
                                    <div class="connection__feedback-inner">
                                        <div class="connection__feedback-name">Анастасия</div>
                                        <div class="connection__feedback-date">07.11.2022 13:58:53</div>
                                    </div>
                                    <div class="connection__feedback-work">Врач Маковецкая Оксана Сергеевна</div>
                                    <div class="connection__feedback-text">У моей дочки было проблемное акне, чем только не лечили, к кому только не ходили. Я сама делала пилинг в научном центре и записала свою дочь на прием к Оксане Сергеевне. Это врач от Бога, чуткая, внимательная. К ней можно было обратиться в любое время и получить ответ на волнующие вопросы в течении всего времени лечения. Еще главное, что подбирается лечение строго по анализам, ведется чуткий контроль. Теперь наши проблемы отступили и главное, что дочь радостная. Огромное спасибо врачу!!!</div>
                                </div>
                            </div>
                            <div class="connection__slide swiper-slide">
                                <div class="connection__feedback">
                                    <div class="connection__feedback-inner">
                                        <div class="connection__feedback-name">Анастасия</div>
                                        <div class="connection__feedback-date">07.11.2022 13:58:53</div>
                                    </div>
                                    <div class="connection__feedback-work">Врач Маковецкая Оксана Сергеевна</div>
                                    <div class="connection__feedback-text">У моей дочки было проблемное акне, чем только не лечили, к кому только не ходили. Я сама делала пилинг в научном центре и записала свою дочь на прием к Оксане Сергеевне. Это врач от Бога, чуткая, внимательная. К ней можно было обратиться в любое время и получить ответ на волнующие вопросы в течении всего времени лечения. Еще главное, что подбирается лечение строго по анализам, ведется чуткий контроль. Теперь наши проблемы отступили и главное, что дочь радостная. Огромное спасибо врачу!!!</div>
                                </div>
                            </div>
                            <div class="connection__slide swiper-slide">
                                <div class="connection__feedback">
                                    <div class="connection__feedback-inner">
                                        <div class="connection__feedback-name">Анастасия</div>
                                        <div class="connection__feedback-date">07.11.2022 13:58:53</div>
                                    </div>
                                    <div class="connection__feedback-work">Врач Маковецкая Оксана Сергеевна</div>
                                    <div class="connection__feedback-text">У моей дочки было проблемное акне, чем только не лечили, к кому только не ходили. Я сама делала пилинг в научном центре и записала свою дочь на прием к Оксане Сергеевне. Это врач от Бога, чуткая, внимательная. К ней можно было обратиться в любое время и получить ответ на волнующие вопросы в течении всего времени лечения. Еще главное, что подбирается лечение строго по анализам, ведется чуткий контроль. Теперь наши проблемы отступили и главное, что дочь радостная. Огромное спасибо врачу!!!</div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="pagination connection__pagination">
                        <div class="pagination__prev connection__prev">
                            <svg  viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.71094 1.67773L2.38836 8.00032L8.71094 14.3229" stroke="white" stroke-width="2" stroke-linecap="round"/>
                                </svg>
                        </div>
                        <div class="pagination__bullets connection__bullets"></div>
                        <div class="pagination__next connection__next">
                            <svg  viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g filter="url(#filter0_i_642_15861)">
                                <path d="M1.22656 14.3223L7.54914 7.99968L1.22656 1.6771" stroke="white" stroke-width="2" stroke-linecap="round"/>
                                </g>
                                <defs>
                                <filter id="filter0_i_642_15861" x="0.226562" y="0.677124" width="11.7363" height="17.6451" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                                <feOffset dx="3" dy="3"/>
                                <feGaussianBlur stdDeviation="5"/>
                                <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
                                <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.5 0"/>
                                <feBlend mode="normal" in2="shape" result="effect1_innerShadow_642_15861"/>
                                </filter>
                                </defs>
                                </svg>
                        </div>
                    </div>
                </div>
                <div class="connection__wrap active" data-tab="3">
                    <div class="connection__appeal-title">Федеральный закон от 02.05.2006 N 59-ФЗ (ред. от 27 ноября 2017 г. № 355-ФЗ)<br> <a href="#">"О порядке рассмотрения обращений граждан Российской Федерации"</a></div>
                    <ul class="connection__appeal">
                        <li><a href="#" class="link">Статья 1. Сфера применения настоящего Федерального закона</a></li>
                        <li><a href="#" class="link">Статья 2. Право граждан на обращение</a></li>
                        <li><a href="#" class="link">Статья 3. Правовое регулирование правоотношений, связанных с рассмотрением обращений граждан</a></li>
                        <li><a href="#" class="link">Статья 4. Основные термины, используемые в настоящем Федеральном законе</a></li>
                        <li><a href="#" class="link">Статья 5. Права гражданина при рассмотрении обращения</a></li>
                        <li><a href="#" class="link">Статья 6. Гарантии безопасности гражданина в связи с его обращением</a></li>
                        <li><a href="#" class="link">Статья 7. Требования к письменному обращению</a></li>
                        <li><a href="#" class="link">Статья 8. Направление и регистрация письменного обращения</a></li>
                        <li><a href="#" class="link">Статья 9. Обязательность принятия обращения к рассмотрению</a></li>
                        <li><a href="#" class="link">Статья 10. Рассмотрение обращения</a></li>
                        <li><a href="#" class="link">Статья 11. Порядок рассмотрения отдельных обращений</a></li>
                        <li><a href="#" class="link">Статья 12. Сроки рассмотрения письменного обращения</a></li>
                        <li><a href="#" class="link">Статья 13. Личный прием граждан</a></li>
                        <li><a href="#" class="link">Статья 14. Контроль за соблюдением порядка рассмотрения обращений</a></li>
                        <li><a href="#" class="link">Статья 15. Ответственность за нарушение настоящего Федерального закона</a></li>
                        <li><a href="#" class="link">Статья 16. Возмещение причиненных убытков и взыскание понесенных расходов при рассмотрении обращений</a></li>
                        <li><a href="#" class="link">Статья 17. Признание не действующими на территории Российской Федерации отдельных нормативных правовых актов Союза ССР</a></li>
                        <li><a href="#" class="link">Статья 18. Вступление в силу настоящего Федерального закона</a></li> 
                    </ul>
										<div class="connection__contact">
											<div class="connection__desc">
												<div class="connection__contact-title">Контактная форма обратной связи</div>
												<div class="connection__contact-text">В целях объективного и всестороннего рассмотрения Вашего обращения в установленные сроки, необходимо в тексте обращения указывать контактные данные, тему обращения (диагноз пациента/цель обращения), а также приложить дополнительные документы или материалы в электронной форме (выписки из истории болезни, результаты обследований и т.д.), более полно раскрывающие суть Вашего обращения.</div>
												<div class="connection__contact-text">Данное обращение будет направлено на почтовый адрес: <a href="mailto:ok1@cnikvi.ru" class="vacancies__text-green link">info@cnikvi.ru.</a></div>
											</div>
											<form method="post" action="" class="connection__form" enctype="multipart/form-data">
												<section class="connection__section">
													<div class="connection__form-title">1. Пациент</div>
													<input name="lat_surname" type="text" placeholder="Фамилия*">
													<input name="first_name" type="text" placeholder="Имя*">
													<input name="surname" type="text" placeholder="Отчество">
													<input name="date" type="text" placeholder="Дата рождения*">
													<input name="email" type="email" placeholder="E-mail*">
													<input name="phone" type="text" placeholder="Номер телефона*">
												</section>
												<section class="connection__section">
													<div class="connection__form-title">2. Цель обращения</div>
													<div class="connection__form-block">
														<label for="diagnos">Диагноз пациента/Цель обращения</label>
														<textarea name="diagnos" id="diagnos" cols="30" rows="10"></textarea>
													</div>
													<div class="connection__form-block">
														<label for="sms">Сообщение</label>
														<textarea name="sms" id="sms" cols="30" rows="10"></textarea>
													</div>
													<div class="connection__form-block">
														<label for="diagnos">Добавить файлы</label>
														<p>Прикрепляемые файлы должны быть в форматах pdf,  jpg, mp4</p>
													</div>
													<label class="input-file input-file-white">
														<input type="file" name="file">		
														<span>Прикрепить файлы</span>
													</label>
												</section>
												<section class="connection__form-submit">
													<p>В соответствии с 59-Ф3 срок ответа 30 дней. Ответом может служить телефонный звонок.</p>
													<label class="checkbox-other connection__checkbox">
														<input type="checkbox" name="agree">
														<span>Я согласен на <a href="#" class="link">с политикой конфиденциальности</a></span>
													</label>
													<button type="submit" class="all-btn__blue connection__form-btn">Отправить</button>
												</section>
											</form>
										</div>
                </div>
            </div>
            <!--  -->
        </div>
    </div>
</section>