<section class="contacts">
    <div class="container">
        <div class="contacts__top">
            <div class="contacts__top-left">
                <div class="contacts__top-left-title">контакты</div>
                <div class="contacts__top-left-text">Федеральное государственное бюджетное учреждение «Государственный научный центр дерматовенерологии и косметологии» Министерства здравоохранения Российской Федерации</div>
                <div class="contacts__top-left-info contacts__top-left-info--address">
                    <strong>Адрес:</strong>
                    <span>107076, г. Москва, ул. Короленко, дом 3 стр. 6</span>
                </div>
                <div class="contacts__top-left-info contacts__top-left-info--inn">
                    <strong>Реквизиты:</strong>
                    <div class="contacts__top-left-info-inner">
                        <span>ИНН 7718710585</span>
                        <span>ОГРН 1087746788095</span>
                    </div>
                </div>
                <div class="contacts__top-left-info contacts__top-left-info--phone">
                    <strong>Телефоны:</strong>
                    <ul>
                        <li>(499) 785-20-40 – Регистратура (многоканальный)</li>
                        <li>(499) 785-20-45 – Запись на прием в отделение косметологии</li>
                        <li>(499) 785-20-24 – Старший менеджер по организации медицинских услуг</li>
                        <li>(499) 785-20-16 – Канцелярия</li>
                        <li>(499) 785-20-35 – Бухгалтерия</li>
                        <li>(499) 785-20-16 – Факс</li>
                        <li>(499) 785-20-86 или (499) 785-20-39  – Госпитализация</li>
                        <li>(499) 785-20-15 – Приемная директора</li>
                    </ul>
                </div>
                <div class="contacts__top-left-info contacts__top-left-info--phone">
                    <strong>e-mail:</strong>
                   <span>info@cnikvi.ru</span>
                </div>
            </div>
            <div class="contacts__top-right">
                <div class="contacts__swiper swiper">
                    <div class="contacts__swiper-wrapper swiper-wrapper">
                        <div class="contacts__slide swiper-slide">
                            <div class="contacts__slide-image"><img src="./img/hospitalization.webp" alt=""></div>
                        </div>
                        <div class="contacts__slide swiper-slide">
                            <div class="record__slide-image"><img src="./img/record.webp" alt=""></div>
                        </div>
                        <div class="contacts__slide swiper-slide">
                            <div class="record__slide-image"><img src="./img/record.webp" alt=""></div>
                        </div>
                    </div>
                    <!--  -->
                    <div class="pagination contacts__pagination">
                        <div class="pagination__bullets contacts__bullets"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contacts__bottom">
            <div class="contacts__bottom-left">
                <div class="contacts__bottom-info">
                    <strong>Часы работы Консультативно-диагностического центра, осуществляющего амбулаторно-поликлинический приём пациентов:</strong>
                    <ul>
                        <li>Понедельник: 8:30 - 21:00</li>
                        <li>Вторник: 8:30 - 21:00</li>
                        <li>Среда: 8:30 - 21:00</li>
                        <li>Четверг: 8:30 - 21:00</li>
                        <li>Пятница: 8:30 - 21:00</li>
                        <li>Суббота: 10:00 - 18:00</li>
                        <li>Воскресенье: 10:00 - 18:00</li>
                       
                    </ul>
                </div>
            </div>
            <div class="contacts__bottom-right">
                <div class="contacts__bottom-info">
                    <strong>Часы работы приемного отделения:</strong>
                    <span>Понедельник - пятница с 9:00 - 14:00</span>
                </div>

                <div class="contacts__bottom-info">
                    <strong>Часы работы дневного стационара:</strong>
                    <span>Ежедневно с 9:00 до 14:00</span>
                </div>


                <div class="contacts__bottom-info">
                    <strong>Часы работы круглосуточного стационара:</strong>
                    <span>Ежедневно круглосуточно</span>
                </div>


                <div class="contacts__bottom-info">
                    <strong>Часы приема граждан директором ФГБУ "ГНЦДК" Минздрава России</strong>
                    <span>Каждый понедельник: 14:00 - 18:00</span>
                </div>
            </div>
        </div>
        <div class="contacts__down">
            <div class="contacts__down-inner">
                <div class="contacts__down-swiper-block">
                    <div class="contacts__down-swiper-block-title">
                        <strong>Как проехать до научного центра: </strong>
                        <span> Сокольники, далее на любом виде общественного транспорта в сторону Преображенской площади до остановки «РГСУ» или «ул.Короленко».</span>
                    </div>
                    <div class="contacts__down-swiper swiper">
                        <div class="contacts__down-swiper-wrapper swiper-wrapper">
                            <div class="contacts__down-slide swiper-slide">
                                <div class="contacts__down-slide-image"><img src="./img/street.webp" alt=""></div>
                            </div>
                            <div class="contacts__down-slide swiper-slide">
                                <div class="contacts__down-slide-image"><img src="./img/record.webp" alt=""></div>
                            </div>
                            <div class="contacts__down-slide swiper-slide">
                                <div class="contacts__down-slide-image"><img src="./img/record.webp" alt=""></div>
                            </div>
                        </div>
                        <!--  -->
                        <div class="pagination contacts__down-pagination">
                            <div class="pagination__bullets contacts__down-bullets"></div>
                        </div>
                    </div>
                </div>
                <div class="contacts__down-map-block">
                    <div class="contacts__down-map-block-title">Маршрут на карте</div>
                    <div class="contacts__down-map">
                        <img src="./img/map.webp" alt="">
                    </div>
                </div>
            </div>
            <div class="contacts__down-inner">
                <div class="contacts__down-block-diagram">
                    <div class="contacts__down-block-diagram-title">Схема расположения корпусов</div>
                    <div class="contacts__down-diagram">
                        <img src="./img/diagram.webp" alt="">
                    </div>
                </div>
                <div class="contacts__down-block-diagram">
                    <div class="contacts__down-block-diagram-title">Оставить фото?</div>
                    <div class="contacts__down-diagram">
                        <img src="./img/diagram.webp" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="contacts__branches">
            <div class="contacts__branches-title">филиалы</div>
            <div class="contacts__branches-inner">
                <div class="contacts__branches-table">
                    <div class="contacts__branches-table-text">
                        Сергиево-Посадский филиал Федерального государственного бюджетного учреждения «Государственный научный центр дерматовенерологии и косметологии» Министерства здравоохранения Российской Федерации.
                    </div>
                    <div class="contacts__branches-table-info">
                        <strong>Адрес</strong>
                        <span>141321, обл. Московская, р-н Сергиево- Посадский, пос. Зелёная Дубрава</span>
                    </div>
                    <div class="contacts__branches-table-info">
                        <strong>Телефон:</strong>
                        <span>8 (906) 044-23-74 – Приемная</span>
                    </div>

                    <div class="contacts__branches-table-info">
                        <strong>e-mail:</strong>
                        <span>spf@spfcnikvi.ru</span>
                    </div>


                    <div class="contacts__branches-table-info">
                        <strong>Часы работы филиала:</strong>
                        <div class="contacts__branches-table-info-inner">
                            <ul>
                                <li>Понедельник: 8:30 - 16:30</li>
                                <li>Вторник: 8:30 - 16:30</li>
                                <li>Среда: 8:30 - 16:30</li>
                                <li>Четверг: 8:30 - 16:30</li>
                                <li>Пятница: 8:30 - 16:30</li>
                            </ul>
                        </div>
                    </div>
                    <button class="all-btn">Смотреть схему проезда</button>
                </div>
                <div class="contacts__branches-swiper swiper">
                    <div class="contacts__branches-swiper-wrapper swiper-wrapper">
                        <div class="contacts__branches-slide swiper-slide">
                            <div class="contacts__branches-slide-image"><img src="./img/hospitalization.webp" alt=""></div>
                        </div>
                        <div class="contacts__branches-slide swiper-slide">
                            <div class="contacts__branches-slide-image"><img src="./img/record.webp" alt=""></div>
                        </div>
                        <div class="contacts__branches-slide swiper-slide">
                            <div class="contacts__branches-slide-image"><img src="./img/record.webp" alt=""></div>
                        </div>
                    </div>
                    <!--  -->
                    <div class="pagination contacts__branches-pagination">
                        <div class="pagination__bullets contacts__branches-bullets"></div>
                    </div>
                </div>
            </div>
            <div class="contacts__branches-inner">
                <div class="contacts__branches-table">
                    <div class="contacts__branches-table-text">
                        Нижегородский филиал Федерального государственного бюджетного учреждения "Государственный научный центр дерматовенерологии и косметологии" Министерства здравоохранения Российской Федерации.
                    </div>
                    <div class="contacts__branches-table-info">
                        <strong>Адрес</strong>
                        <span>603950, Нижний Новгород, улица Ковалихинская, 49Г.</span>
                    </div>
                    <div class="contacts__branches-table-info">
                        <strong>Телефон:</strong>
                        <a href="">(831) 419-97-68 - Регистратура консультативно</a>
                        <a href="">+7 952 786 64 83 - диагностического центра</a>
                        <a href="">+7 910 140 09 25 - Отделение косметологии</a>
                        <a href="">+7 987 532 67 46 - По вопросам госпитализации (стационар)</a>
                    </div>

                    <div class="contacts__branches-table-info">
                        <strong>e-mail:</strong>
                        <span>info@nnikvi.ru</span>
                    </div>


                    <div class="contacts__branches-table-info">
                        <strong>Часы работы филиала:</strong>
                        <div class="contacts__branches-table-info-inner">
                            <ul>
                                <li>Понедельник: 8:30 - 16:30</li>
                                <li>Вторник: 8:30 - 16:30</li>
                                <li>Среда: 8:30 - 16:30</li>
                                <li>Четверг: 8:30 - 16:30</li>
                                <li>Пятница: 8:30 - 16:30</li>
                                <li>Суббота: 9:00 - 15:00</li>
                            </ul>
                        </div>
                    </div>
                    <button class="all-btn">Смотреть схему проезда</button>
                </div>
                <div class="contacts__branches-swiper swiper">
                    <div class="contacts__branches-swiper-wrapper swiper-wrapper">
                        <div class="contacts__branches-slide swiper-slide">
                            <div class="contacts__branches-slide-image"><img src="./img/hospitalization.webp" alt=""></div>
                        </div>
                        <div class="contacts__branches-slide swiper-slide">
                            <div class="contacts__branches-slide-image"><img src="./img/record.webp" alt=""></div>
                        </div>
                        <div class="contacts__branches-slide swiper-slide">
                            <div class="contacts__branches-slide-image"><img src="./img/record.webp" alt=""></div>
                        </div>
                    </div>
                    <!--  -->
                    <div class="pagination contacts__branches-pagination">
                        <div class="pagination__bullets contacts__branches-bullets"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>