<section class="contacts-regulatory">
  <div class="container">
    <div class="bread-crumbs">
      <a href="./index.html">Главная</a>
      <a href="./patients-page.html">Пациентам</a>
      <a href="./contacts-regulatory-page.html">Контакты контролирующих организаций</a>
    </div>
    <div class="title">Контакты контролирующих организаций</div>
    <div class="contacts-regulatory__container">
      <div class="contacts-regulatory__block">
        <div class="subtitle">
          Министерство здравоохранения Российской Федерации (Минздрав России)
        </div>
        <div class="contacts-regulatory__items">
          <div class="contacts-regulatory__item">
            <div class="contacts-regulatory__item-title">
              Телефон «горячей линии»
            </div>
            <div class="contacts-regulatory__item-text">
              8 800 200-03-89
            </div>
          </div>
          <div class="contacts-regulatory__item">
            <div class="contacts-regulatory__item-title">
              Телефон для обращения граждан
            </div>
            <div class="contacts-regulatory__item-text">
              (495) 627-29-93
            </div>
          </div>
          <div class="contacts-regulatory__item">
            <div class="contacts-regulatory__item-title">
              Телефон Справочной службы Министерства
            </div>
            <div class="contacts-regulatory__item-text">
              (495) 628-44-53, (495) 627-29-44
            </div>
          </div>
          <div class="contacts-regulatory__item">
            <div class="contacts-regulatory__item-title">
              Адрес
            </div>
            <div class="contacts-regulatory__item-text">
              127994, ГСП-4, г. Москва, Рахмановский пер, д. 3К
            </div>
          </div>
            <div class="contacts-regulatory__item">
              <div class="contacts-regulatory__item-title">
                Многоканальный телефон Министерства
              </div>
              <div class="contacts-regulatory__item-text">
                (495) 627-24-00
              </div>
            </div>
          <div class="contacts-regulatory__item">
            <div class="contacts-regulatory__item-title">
              Сайт
            </div>
            <a href="https://minzdrav.gov.ru/" class="contacts-regulatory__item-text" target="_blank">
              www.rosminzdrav.ru
            </a>
          </div>
        </div>
      </div>
      <div class="contacts-regulatory__block">
        <div class="subtitle">
          Федеральная служба по надзору в сфере здравоохранения (Росздравнадзор)
        </div>
        <div class="contacts-regulatory__items">
          <div class="contacts-regulatory__item">
            <div class="contacts-regulatory__item-title">
              Справочная Росздравнадзора
            </div>
            <div class="contacts-regulatory__item-text">
              (495) 698-45-38; (499) 578-02-30
            </div>
          </div>
          <div class="contacts-regulatory__item">
            <div class="contacts-regulatory__item-title">
              Электронная почта
            </div>
            <a href="mailto:info@roszdravnadzor.ru" class="contacts-regulatory__item-text">
              info@roszdravnadzor.ru
            </a>
          </div>
          <div class="contacts-regulatory__item">
            <div class="contacts-regulatory__item-title">
              Пресс-служба
            </div>
            <div class="contacts-regulatory__item-text">
              тел/факс (495)624-80-90
            </div>
          </div>
          <div class="contacts-regulatory__item">
            <div class="contacts-regulatory__item-title">
              Сайт
            </div>
            <a href="https://roszdravnadzor.ru/" class="contacts-regulatory__item-text" target="_blank">
            roszdravnadzor.ru
            </a>
          </div>
          <div class="contacts-regulatory__item">
            <div class="contacts-regulatory__item-title">
              Адрес
            </div>
            <div class="contacts-regulatory__item-text">
              109074, Москва, Славянская площадь, д.4, стр.1
            </div>
          </div>
        </div>
      </div>
      <div class="contacts-regulatory__block">
          <div class="subtitle">
            Федеральная служба по надзору в сфере защиты прав потребителей и благополучия человека (Роспотребнадзор)
          </div>
          <div class="contacts-regulatory__items">
            <div class="contacts-regulatory__item">
              <div class="contacts-regulatory__item-title">
                Телефон
              </div>
              <div class="contacts-regulatory__item-text">
                +7 (499) 973-26-90
              </div>
            </div>
            <div class="contacts-regulatory__item">
              <div class="contacts-regulatory__item-title">
                Электронная почта
              </div>
              <a href="mailto:depart@gsen.ru" class="contacts-regulatory__item-text">
                depart@gsen.ru
              </a>
            </div>
            <div class="contacts-regulatory__item">
              <div class="contacts-regulatory__item-title">
              Адрес
              </div>
              <div class="contacts-regulatory__item-text">
                127994, г. Москва, Вадковский переулок, дом 18, строение 5 и 7
              </div>
            </div>
            <div class="contacts-regulatory__item">
              <div class="contacts-regulatory__item-title">
                Сайт
              </div>
              <a href="https://rospotrebnadzor.ru/" class="contacts-regulatory__item-text" target="_blank">
                www.rospotrebnadzor.ru
              </a>
            </div>
          </div>
      </div>
      <div class="contacts-regulatory__block">
        <div class="subtitle">
          Территориальный орган Федеральной службы по надзору в сфере здравоохранения по г. Москве и Московской области
        </div>
        <div class="contacts-regulatory__items">
          <div class="contacts-regulatory__item">
            <div class="contacts-regulatory__item-title">
              Телефон
            </div>
            <div class="contacts-regulatory__item-text">
              (495) 611-47-74
            </div>
          </div>
          <div class="contacts-regulatory__item">
            <div class="contacts-regulatory__item-title">
              Электронная почта
            </div>
            <a href="mailto:office@reg77.roszdravnadzor.ru" class="contacts-regulatory__item-text">
              office@reg77.roszdravnadzor.ru
            </a>
          </div>
          <div class="contacts-regulatory__item">
            <div class="contacts-regulatory__item-title">
              Факс
            </div>
            <div class="contacts-regulatory__item-text">
              (495) 611-53-44 (круглосуточно)
            </div>
          </div>
          <div class="contacts-regulatory__item">
            <div class="contacts-regulatory__item-title">
              Сайт
            </div>
            <a href="https://77reg.roszdravnadzor.ru/" class="contacts-regulatory__item-text" target="_blank">
              77reg.roszdravnadzor.ru
            </a>
          </div>
          <div class="contacts-regulatory__item">
            <div class="contacts-regulatory__item-title">
              Адрес
            </div>
              <div class="contacts-regulatory__item-text">
                127206, г. Москва, ул. Вучетича, д. 12А
              </div>
          </div>
        </div>
      </div>
      <div class="contacts-regulatory__block">
          <div class="subtitle">
            Управление Федеральной службы по надзору в сфере защиты прав потребителей и благополучия человека по городу Москве
          </div>
          <div class="contacts-regulatory__items">
            <div class="contacts-regulatory__item">
              <div class="contacts-regulatory__item-title">
                Телефон
              </div>
              <div class="contacts-regulatory__item-text">
                (495) 621-70-76
              </div>
            </div>
            <div class="contacts-regulatory__item">
              <div class="contacts-regulatory__item-title">
                Адрес
              </div>
              <div class="contacts-regulatory__item-text">
                129626, г. Москва, Графский переулок, д. 43
              </div>
            </div>
            <div class="contacts-regulatory__item">
              <div class="contacts-regulatory__item-title">
                Сайт
              </div>
              <a href="http://www.77rospotrebnadzor.ru/" class="contacts-regulatory__item-text" target="_blank">
                www.77rospotrebnadzor.ru
              </a>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>