<section class="department">
	<div class="container">
			<div class="bread-crumbs">
				<a href="../index.html">Главная</a>
				<a href="#">Направление деятельности</a>
				<a href="#">Научная деятельность</a>
				<a href="../department-infections-page.html">Отдел инфекций, передаваемых половым путем</a>
			</div>
			<div class="title">Отдел инфекций, передаваемых половым путем</div>
			<div class="department__wrapper">
				<div class="department__left">
					<div class="department__left-main">
						<img src="./img/managment/plahova.webp" alt="">
					</div>
					<a href="#" class="department__left-link">Плахова Ксения Ильинична</a>
					<p class="department__left-job">И.о. заведующего отделом</p>
				</div>
				<div class="department__right">
					<div class="deparment__right-info">
						<div class="subtitle">информация об отделе</div>
						<p>Основные направления деятельности отдела: </p>
						<ul>
							<li>изучение патогенеза и клинических особенностей бактериальных и вирусных инфекций, передаваемых половым путем, и
								урогенитальных инфекций с использованием геномных и постгеномных технологий;
							</li>
							<li>
								изучение механизмов влияния инфекций, передаваемых половым путем, на репродуктивное здоровье человека и профилактика
								развития осложнений;
							</li>
							<li>
								поиск путей и средств персонализированного подхода к диагностике и лечению урогенитальных инфекций;
							</li>
							<li>
								изучение влияния геномики микроорганизмов — возбудителей ИППП и урогенитальных инфекций — на клиническое течение
								заболеваний и молекулярные механизмы формирования антибиотикорезистентности;
							</li>
							<li>
								оптимизация и совершенствование диагностики сифилиса, изучение отдаленных результатов лечения болезни;
							</li>
							<li>
								изучение особенностей клинического течения, диагностики и лечения заболеваний, локализованных на слизистых оболочках и
								коже наружных половых органов.
							</li>
						</ul>
					</div>
					<div class="department__right-employees">
						<div class="subtitle">сотрудники</div>
						<ul>
							<li>
								<a href="#">Васильев Михаил Михайлович</a> — Ведущий научный сотрудник
							</li>
							<li>
								<a href="#">Абудуев Назирбек Каримуллаевич</a> — Старший научный сотрудник
							</li>
							<li>
								<a href="#">Горшкова Анастасия Павловна</a> — Лаборант-исследователь
							</li>
							<li>
								<a href="#">Жарикова Полина Сергеевна</a> — Лаборант-исследователь
							</li>
						</ul>
					</div>
				</div>
			</div>
	</div>
</section>