<section class="employees">
    <div class="container">
        <div class="bread-crumbs">
            <a href="../index.html">Главная</a>
            <a href="../department-dermatology-page.html">Отдел дерматологии</a>
        </div>
        <div class="title">Отдел дерматологии</div>
        <div class="employees__wrapper">
            <div class="employees__left">
                <div class="employees__main">
                    <img src="./img/managment/karamova.webp" alt="Карамова А.Э." />
                </div>
                <a href="#" class="employees__main-link">Карамова Арфеня Эдуардовна</a>
                <p class="employees__main-job">
                    Заведующий отделом, <br />
                    кандидат медицинских наук
                </p>
            </div>
            <div class="employees__right">
                <div class="subtitle employees__title">Сотрудники</div>
                <div class="employees__block">
                    <div class="employees__subtitle">Группа инновационных методов терапии дерматозов:</div>
                    <ul class="employees__items">
                        <li class="employees__item">
                            <div class="employees__img">
                                <img src="./img/managment/employee.webp" alt="Мартынов А.А." />
                            </div>
                            <a href="#" class="employees__name">Мартынов Андрей Александрович</a>
                            <p class="employees__job">
                                Главный научный сотрудник,
                                <br />
                                доктор медицинских наук
                            </p>
                        </li>
                        <li class="employee__item">
                            <div class="employees__img">
                                <img src="./img/managment/employee.webp" alt="Знаменская Л.Ф." />
                            </div>
                            <a href="#" class="employees__name">Знаменская Людмила Федоровна</a>
                            <p class="employees__job">
                                Ведущий научный сотрудник,
                                <br />
                                доктор медицинских наук
                            </p>
                        </li>
                        <li class="employees__item">
                            <div class="employees__img">
                                <img src="./img/managment/employee.webp" alt="Чикин В.В." />
                            </div>
                            <a href="#" class="employees__name">Чикин Вадим Викторович</a>
                            <p class="employees__job">
                                Старший научный сотрудник,
                                <br />
                                доктор медицинских наук
                            </p>
                        </li>
                        <li class="employees__item">
                            <div class="employees__img">
                                <img src="./img/managment/employee.webp" alt="Анпилогова Е.М." />
                            </div>
                            <a href="#" class="employees__name">Анпилогова Екатерина Михайловна</a>
                            <p class="employees__job">
                                Научный сотрудник,
                                <br />
                                доктор медицинских наук
                            </p>
                        </li>
                        <li class="employees__item">
                            <div class="employees__img">
                                <img src="./img/managment/employee.webp" alt="Воронцова А.А." />
                            </div>
                            <a href="#" class="employees__name">Воронцова Анастасия Александровна</a>
                            <p class="employees__job">
                                Младший научный сотрудник,
                                <br />
                                доктор медицинских наук
                            </p>
                        </li>
                        <li class="employees__item">
                            <div class="employees__img">
                                <img src="./img/managment/employee.webp" alt="Артамонова О.Г." />
                            </div>
                            <a href="#" class="employees__name">Артамонова Ольга Григорьевна</a>
                            <p class="employees__job">
                                Младший научный сотрудник,
                                <br />
                                доктор медицинских наук
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="employees__block">
                    <div class="employees__subtitle">Группа наследственных заболеваний кожи:</div>
                    <ul class="employees__items">
                        <li class="employees__item">
                            <div class="employees__img">
                                <img src="./img/managment/employee.webp" alt="Мончаковская Е.С." />
                            </div>
                            <a href="#" class="employees__name">Мончаковская Екатерина Сергеевна</a>
                            <p class="employees__job">
                                Младший научный сотрудник,
                                <br />
                                доктор медицинских наук
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="employees__block">
                    <div class="employees__subtitle">Группа патоморфологической диагностики дерматозов:</div>
                    <ul class="employees__items">
                        <li class="employees__item">
                            <div class="employees__img">
                                <img src="./img/managment/employee.webp" alt="Мордовцева В.В." />
                            </div>
                            <a href="#" class="employees__name">Мордовцева Вероника Владимировна</a>
                            <p class="employees__job">
                                Старший научный сотрудник,
                                <br />
                                доктор медицинских наук
                            </p>
                        </li>
                        <li class="employees__item">
                            <div class="employees__img">
                                <img src="./img/managment/employee.webp" alt="Смольянникова В.А." />
                            </div>
                            <a href="#" class="employees__name">Смольянникова Вера Анатольевна</a>
                            <p class="employees__job">
                                Старший научный сотрудник,
                                <br />
                                доктор медицинских наук
                            </p>
                        </li>
                        <li class="employees__item">
                            <div class="employees__img">
                                <img src="./img/managment/employee.webp" alt="Нефедова М.А." />
                            </div>
                            <a href="#" class="employees__name">Нефедова Мария Андреевна</a>
                            <p class="employees__job">
                                Младший научный сотрудник,
                                <br />
                                доктор медицинских наук
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
