<section class="department">
    <div class="container">
        <div class="bread-crumbs">
            <a href="./index.html">Главная</a>
            <a href="./bussines-page.html">Направление деятельности</a>
            <a href="./bussines-page.html#nauchnaya-deyatelnost">Научная деятельность</a>
            <a href="./department-sexually-transmitted-infections-page.html"
                >Отдел инфекций, передаваемых половым путем</a
            >
        </div>
        <div class="title">Отдел инфекций, передаваемых половым путем</div>
        <div class="department__wrapper">
            <div class="department__left">
                <div class="department__main-employee">
                    <div class="department__main-employee-img">
                        <img src="./img/managment/plahova.webp" alt="" />
                    </div>
                    <div class="department__main-employee-name">Плахова Ксения Ильинична</div>
                    <div class="department__main-employee-job">И.о. заведующего отделом</div>
                </div>
                <div class="department__employees">
                    <div class="subtitle">Сотрудники</div>
                    <div class="department__employees-block">
                        <ul>
                            <li>
                                <span
                                    ><a href="#" class="link-blue" target="_blank">Васильев Михаил Михайлович</a> — Ведущий научный
                                    сотрудник</span
                                >
                            </li>
                            <li>
                                <span
                                    ><a href="#" class="link-blue" target="_blank">Абудуев Назирбек Каримуллаевич</a> — Старший научный
                                    сотрудник</span
                                >
                            </li>
                            <li>
                                <span
                                    ><a href="#" class="link-blue" target="_blank">Горшкова Анастасия Павловна</a> —
                                    Лаборант-исследователь</span
                                >
                            </li>
                            <li>
                                <span
                                    ><a href="#" class="link-blue" target="_blank">Жарикова Полина Сергеевна</a> —
                                    Лаборант-исследователь</span
                                >
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="department__right">
                <div class="subtitle">информация об отделе</div>
                <div class="department__text">
                    <p>Основные направления деятельности отдела: </p>
                    <ul>
                        <li>
                            изучение патогенеза и клинических особенностей бактериальных и вирусных инфекций,
                            передаваемых половым путем, и урогенитальных инфекций с использованием геномных и
                            постгеномных технологий;
                        </li>
                        <li>
                            изучение механизмов влияния инфекций, передаваемых половым путем, на репродуктивное здоровье
                            человека и профилактика развития осложнений;
                        </li>
                        <li>
                            поиск путей и средств персонализированного подхода к диагностике и лечению урогенитальных
                            инфекций;
                        </li>
                        <li>
                            изучение влияния геномики микроорганизмов — возбудителей ИППП и урогенитальных инфекций — на
                            клиническое течение заболеваний и молекулярные механизмы формирования
                            антибиотикорезистентности;
                        </li>
                        <li>
                            оптимизация и совершенствование диагностики сифилиса, изучение отдаленных результатов
                            лечения болезни;
                        </li>
                        <li>
                            изучение особенностей клинического течения, диагностики и лечения заболеваний,
                            локализованных на слизистых оболочках и коже наружных половых органов.
                        </li>
                    </ul>
                </div>
                <div class="department__slider">
                    <div class="swiper" id="department-swiper">
                        <div class="department__swiper-wrapper swiper-wrapper">
                            <div class="department__slide swiper-slide">
                                <img src="./img/reference-aplicator.webp" alt="" />
                            </div>
                            <div class="department__slide swiper-slide">
                                <img src="./img/reference-aplicator.webp" alt="" />
                            </div>
                            <div class="department__slide swiper-slide">
                                <img src="./img/reference-aplicator.webp" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="pagination department__pagination">
                        <div class="pagination__prev department__prev">
                            <img src="./img/icon/arrow-white-btn-prev.svg" alt="" />
                        </div>
                        <div class="pagination__bullets department__bullets"></div>
                        <div class="pagination__next department__next">
                            <img src="./img/icon/arrow-white-btn-next.svg" alt="" />
                        </div>
                    </div>
                </div>
                <a href="#" class="department__photo-link"> Фотогалерея </a>
            </div>
        </div>
    </div>
</section>
