<div class="employees">
	<div class="container">
		<div class="employees__wrapper">
			<div class="employees__left">
				<div class="title">Отдел дерматологии</div>
				<div class="employees__main">
					<img src="./img/managment/karamova.webp" alt="Karamova A. E.">
				</div>
				<a href="#" class="employees__main-link link">Карамова Арфеня Эдуардовна</a>
				<p class="employees__main-job">Заведующий отделом, кандидат медицинских наук</p>
			</div>
			<div class="employees__right">
				<div class="employees__title">Сотрудники</div>
				<div class="employees__block">
					<div class="employees__subtitle">Группа инновационных методов терапии дерматозов:</div>
					<ul class="employees__items">
						<li class="employees__item">
							<div class="employees__img">
								<img src="./img/managment/employee.webp" alt="Martynova A.A.">
							</div>
							<a href="#" class="employees__name link">Мартынов Андрей Александрович</a>
							<p class="employees__job">Ведущий научный сотрудник</p>
						</li>
						<li class="employee__item">
							<div class="employees__img">
								<img src="./img/managment/employee.webp" alt="Znamenskaya L.F.">
							</div>
							<a href="#" class="employees__name link">Знаменская Людмила Федоровна</a>
							<p class="employees__job">Главный научный сотрудник</p>
						</li>
						<li class="employees__item">
							<div class="employees__img">
								<img src="./img/managment/employee.webp" alt="Chickin V.V.">
							</div>
							<a href="#" class="employees__name link">Чикин Вадим Викторович</a>
							<p class="employees__job">Старший научный сотрудник</p>
						</li>
						<li class="employees__item">
							<div class="employees__img">
								<img src="./img/managment/employee.webp" alt="Anpilogova E.M.">
							</div>
							<a href="#" class="employees__name link">Анпилогова Екатерина Михайловна</a>
							<p class="employees__job">Научный сотрудник</p>
						</li>
						<li class="employees__item">
							<div class="employees__img">
								<img src="./img/managment/employee.webp" alt="Voroncova A.A.">
							</div>
							<a href="#" class="employees__name link">Воронцова Анастасия Александровна</a>
							<p class="employees__job">Младший научный сотрудник</p>
						</li>
						<li class="employees__item">
							<div class="employees__img">
								<img src="./img/managment/employee.webp" alt="Artamonova O.G.">
							</div>
							<a href="#" class="employees__name link">Артамонова Ольга Григорьевна</a>
							<p class="employees__job">Младший научный сотрудник</p>
						</li>
					</ul>
				</div>
				<div class="employees__block">
					<div class="employees__subtitle">Группа наследственных заболеваний кожи:</div>
					<ul class="employees__items">
						<li class="employees__item">
							<div class="employees__img">
								<img src="./img/managment/employee.webp" alt="Monchakovskaya E.S.">
							</div>
							<a href="#" class="employees__name link">Мончаковская Екатерина Сергеевна</a>
							<p class="employees__job">Младший научный сотрудник</p>
						</li>
					</ul>
				</div>
				<div class="employees__block">
					<div class="employees__subtitle">Группа патоморфологической диагностики дерматозов:</div>
					<ul class="employees__items">
						<li class="employees__item">
							<div class="employees__img">
								<img src="./img/managment/employee.webp" alt="Mordovceva V.A.">
							</div>
							<a href="#" class="employees__name link">Мордовцева Вероника Владимировна</a>
							<p class="employees__job">Старший научный сотрудник</p>
						</li>
						<li class="employees__item">
							<div class="employees__img">
								<img src="./img/managment/employee.webp" alt="Smolyanikova V.A.">
							</div>
							<a href="#" class="employees__name link">Смольянникова Вера Анатольевна</a>
							<p class="employees__job">Старший научный сотрудник</p>
						</li>
						<li class="employees__item">
							<div class="employees__img">
								<img src="./img/managment/employee.webp" alt="Nefedova M.A.">
							</div>
							<a href="#" class="employees__name link">Нефедова Мария Андреевна</a>
							<p class="employees__job">Младший научный сотрудник</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>