<section class="dissertation">
    <div class="container">
        <div class="bread-crumbs">
            <a href="../index.html">Главная</a>
            <a href="#">Направление деятельности</a>
            <a href="#">Научная деятельность</a>
            <a href="../dissertation-сouncil-page.html">Диссертационный совет</a>
        </div>
        <div class="title">Диссертационный совет</div>
        <div class="dissertation__wrapper">
            <div class="dissertation__btns">
                <button class="all-btn__white dissertation__btn">Видеотрансляция в реальном времени</button>
                <button class="all-btn__white dissertation__btn">Сведения о защитах</button>
                <button class="all-btn__white dissertation__btn">
                    Объявления о заседаниях по лишению степени и апелляциях
                </button>
            </div>
            <div class="dissertation__content">
                <p>
                    Диссертационный совет при ФГБУ «Государственный научный центр дерматовенерологии и косметологии»
                    Минздрава России организован в конце 50х годов двадцатого столетия. В 2007 году приказом ВАК
                    Минобрнауки России от 05.10.2007 г. № 2048-1156 утвержден Диссертационный совет Д 208.115.01. В 2012
                    году Диссертационный совет Д 208.115.01 признан соответствующим Положению о совете по защите
                    диссертаций на соискание ученой степени кандидата наук, на соискание ученой степени доктора наук
                    приказом Минобрнауки России «O советах по защите докторских и кандидатских диссертаций» от
                    11.04.2012 г. № 105/НК.
                </p>
                <p>
                    В соответствии с приказом Минобрнауки России № 561/нк от 03.06.2021 г. Диссертационному совету
                    21.1.007.01 предоставлено право приема к защите диссертации по специальности - 3.1.23.
                    дерматовенерология ; медицинские науки.
                </p>
                <p>
                    В состав совета входит 17 членов диссертационного совета, из них 16 докторов медицинских наук (9
                    профессоров, 1 член — корреспондент РАН).:
                </p>
                <ul>
                    <li>
                        Председатель Диссертационного Совета — член — корреспондент РАН, доктор медицинских наук,
                        профессор Кубанов Алексей Алексеевич (<a
                            href="https://vak.minobrnauki.gov.ru/documents#tab=_tab:orders~"
                            target="_blank"
                            >Приказ Минобрауки № 531 от 08.10.2020</a
                        >).
                    </li>
                    <li>
                        Заместитель председателя Диссертационного Совета — доктор медицинских наук Плахова Ксения
                        Ильинична.
                    </li>
                    <li>
                        <a href="https://cnikvi.ru/centr/struktura/diser/uchen-sekret-disert-soveta.php?id=1"
                            >Ученый секретарь</a
                        >
                        совета — к.м.н. Карамова Арфеня Эдуардовна.
                    </li>
                </ul>
                <p>
                    Совет принимает к защите докторские и кандидатские диссертации по специальности 14.01.10 — «кожные и
                    венерические болезни» (медицинские науки).
                </p>
                <p>
                    Обычно заседания Диссертационного совета проводятся по средам каждого месяца. График защит и время
                    проведения заседаний диссертационного совета могут быть изменены. Заседания проводятся в здании ФГБУ
                    «ГНЦДК» Минздрава России по адресу: Москва, улица Короленко, дом 3, стр 6.
                </p>
                <div class="dissertation__contacts">
                    <p class="dissertation__contact">
                        Контактные телефоны: - <a href="tel: +74997852096">+7 (499) 785-20-96</a> ,
                        <a href="tel: +74997852026">+7 (499) 785-20-26</a>
                    </p>
                    <p class="dissertation__contact">
                        E-mail: - <a href="mailto: karamova@cnikvi.ru">karamova@cnikvi.ru</a> ,
                        <a href="mailto: nikitinalv@cnikvi.ru">nikitinalv@cnikvi.ru</a>
                    </p>
                </div>
            </div>
            <div class="dissertation__application">
                <div class="subtitle">Приложения</div>
                <ul>
                    <li>
                        <a href="#">Памятка для соискателей ученых степеней</a>
                    </li>
                    <li>
                        <a href="#">Положение о порядке присуждения ученых степеней</a>
                    </li>
                    <li>
                        <a href="#"
                            >Список журналов, рекомендуемых ВАК Минобрнауки РФ для публикации основных научных
                            результатов докторских и кандидатских диссертаций</a
                        >
                    </li>
                    <li>
                        <a href="#">Положение о совете по защите докторских и кандидатских диссертаций</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
