<div class="employee">
	<div class="container">
		<div class="bread-crumbs">
			<a href="../index.html">Главная</a>
			<a href="../employee-page.html">Отдел дерматологии</a>
		</div>
		<div class="employee__wrapper">
			<div class="employee__left">
				<div class="employee__left-image">
					<img src="./img/managment/rakhmatulina.webp" alt="">
				</div>
			</div>
			<div class="employee__right">
				<div class="subtitle employee__subtitle">
					Рахматулина Маргарита Рафиковна
				</div>
				<div class="employee__job">Заместитель директора по организационно-аналитической работе</div>
				<div class="employee__blocks">
					<div class="employee__block employee__block-row">
						<div class="employee__block-title">Дата и место рождения:</div>
						<div class="employee__block-desc">21 сентября 1975 года, г. Обнинск</div>
					</div>
					<div class="employee__block employee__block-row">
						<div class="employee__block-title">Образование:</div>
						<div class="employee__block-desc">Высшее</div>
					</div>
					<div class="employee__block employee__block-row">
						<div class="employee__block-title">ВУЗ (год окончания):</div>
						<div class="employee__block-desc">Смоленская государственная медицинская академия, г. Смоленск, 1998 год</div>
					</div>
					<div class="employee__block employee__block-row">
						<div class="employee__block-title">Специальность:</div>
						<div class="employee__block-desc">Лечебное дело</div>
					</div>
					<div class="employee__block employee__block-row">
						<div class="employee__block-title">Ученая степень:</div>
						<div class="employee__block-desc">Доктор медицинских наук</div>
					</div>
					<div class="employee__block employee__block-row">
						<div class="employee__block-title">Ученое звание:</div>
						<div class="employee__block-desc">Профессор</div>
					</div>
					<div class="employee__block employee__block-col">
						<div class="employee__block-title">Последипломное обучение:</div>
						<ul>
							<li>ординатура: 1998 -2000 гг. ординатура по специальности «Дерматовенерология», Российская медицинская академия последипломного образования</li>
							<li>аспирантура: 2001-2004 гг. аспирантура, Центральный кожно-венерологический институт Минздрава России</li>
						</ul>
					</div>
					<div class="employee__block employee__block-col">
						<div class="employee__block-title">Диссертация на соискание:</div>
						<ul>
							<li>кандидата медицинских наук (2004 год)</li>
							<li>доктора медицинских наук (2009 год)</li>
						</ul>
						<div class="employee__block-desc">В 2016 году присвоено ученое звание профессора по специальности «кожные и венерические болезни»</div>
					</div>
					<div class="employee__block employee__block-col">
						<div class="employee__block-title">Диссертация на соискание:</div>
						<ul>
							<li>кандидата медицинских наук (2004 год)</li>
							<li>доктора медицинских наук (2009 год)</li>
						</ul>
						<div class="employee__block-desc">В 2016 году присвоено ученое звание профессора по специальности «кожные и венерические болезни»</div>
					</div>
					<div class="employee__block employee__block-col">
						<div class="employee__block-title">Работа после окончания обучения:</div>
						<div class="employee__block-desc">С 2002 г. по 2013 г. – младший научный сотрудник, старший научный сотрудник, ведущий научный сотрудник, заведующий отделом инфекций, передаваемых половым путем ФГБУ «ГНЦДК» Минздрава России</div>
						<div class="employee__block-desc">С 2013 г. по 2016 г. – заместитель директора по лечебной, научно-клинической работе ФГБУ «ГНЦДК» Минздрава России</div>
						<div class="employee__block-desc">С 2016 по 2021 год – профессор кафедры дерматовенерологии и косметологии с курсом клинической лабораторной диагностики ФГБУ «ГНЦ ФМБЦ им. А.И. Бурназяна» ФМБА России.</div>
						<div class="employee__block-desc">С марта 2021 года по настоящее время – заместитель директора по организационно-аналитической работе ФГБУ «ГНЦДК» Минздрава России.</div>
					</div>
					<div class="employee__block employee__block-col">
						<div class="employee__block-title">М.Р. Рахматулина является:</div>
						<ul>
							<li>председателем Исполнительного комитета Общероссийской общественной организации «Российское общество дерматовенерологов и косметологов»</li>
							<li>членом Диссертационного совета 208.115.01 при ФГБУ «ГНЦДК» Минздрава России</li>
							<li>членом редакционной коллегии научно-практического медицинского журнала «Вестник дерматологии и венерологии»</li>
							<li>членом редакционного совета научно-практического медицинского журнала «Репродуктивное здоровье детей и подростков»</li>
						</ul>
						<div class="employee__block-desc">В 2011 году за заслуги в области здравоохранения награждена Почетной грамотой Минздравсоцразвития России (Приказ №768-п от 25.08.2011).</div>
					</div>
					<div class="employee__block employee__block-col">
						<div class="employee__block-title">Сертификаты по специальности:</div>
						<ul>
							<li>Дерматовенерология №0277270007381 от 05.12.2020, ФГБУ «ФНКЦ» ФМБА России, действителен до 05.12.2025</li>
							<li>Акушерство и гинекология №1177181131221, АНО ДПО «Академия медицинского образования» от 28.12.2020, действителен до 28.12.2025</li>
						</ul>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>