<section class="hair-transplant">
	<div class="container">
		<div class="bread-crumbs">
			<a href="../index.html">Главная</a>
			<a href="../patients-page.html">Пациентам</a>
			<a href="../hair-transplant-page.html">Трансплантация волос</a>
		</div>
		<div class="title">Трансплантация волос</div>
		<div class="hair-transplant__container">
			<div class="hair-transplant__block">
				<div class="subtitle">показания:</div>
				<ul class="hair-transplant__block-list">
					<li>
						Алопеция – полное или частичное выпадение, или поредение волос, чаще на голове, реже на других частях тела.
						<p><span>Важна именно диагностированная алопеция, </span>а не временное выпадение волос. Постановка диагноза осуществляется врачом-трихологом.</p>
					</li>
					<li>
						Потеря волос из-за ожогов, отсутствие роста волос  на месте шрамов (рубцов)
						<p>Пересадка собственных волос возможна, если их осталось достаточно для забора донорского материала.</p>
					</li>
				</ul>
			</div>
			<div class="hair-transplant__block">
				<div class="subtitle">Противопоказания:</div>
				<ul class="hair-transplant__block-list">
					<li>
						Пациентам, страдающие психическими расстройствами (например, при неконтролируемом желании вырывать у себя волосы, дисморфофобия — неприязненном отношении к своему телу, навязчивые идеи также являются противопоказанием к трансплантации волос).
					</li>
					<li>
						Абсолютные физиологические противопоказания к операциям - проблемы свертываемости крови, непереносимость анестезии, любые воспалительные заболевания кожи головы,  иммунодефицитные состояния.
					</li>
					<li>
						Относительные противопоказания, при которых операция возможна по согласованию с лечащим врачом, — сахарный диабет, гипертоническая болезнь, сердечно-сосудистые и онкологические заболевания, дерматологические заболевания в стадии обострения. При наличии относительных противопоказаний, может быть ограничено количество пересаживаемых волосяных фолликулов.
					</li>
				</ul>
			</div>
			<div class="hair-transplant__block">
				<div class="subtitle">Процесс операции:</div>
				<div class="hair-transplant__block-items">
					<div class="hair-transplant__block-item">
						<div class="hair-transplant__block-item-img">
							<img src="./img/icon/follicular-blood.svg" alt="">
						</div>
						<div class="hair-transplant__block-item-text">
							Взятие фолликулярных групп у донора
						</div>
					</div>
					<div class="hair-transplant__block-item">
						<div class="hair-transplant__block-item-img">
							<img src="./img/icon/hairline-shaping.svg" alt="">
						</div>
						<div class="hair-transplant__block-item-text">
							Формирование линии волос
						</div>
					</div>
					<div class="hair-transplant__block-item">
						<div class="hair-transplant__block-item-img">
							<img src="./img/icon/conducion-anesthesia.svg" alt="">
						</div>
						<div class="hair-transplant__block-item-text">
							Проводниковая анестезия
						</div>
					</div>
					<div class="hair-transplant__block-item">
						<div class="hair-transplant__block-item-img">
							<img src="./img/icon/implantaion-follicular-blood.svg" alt="">
						</div>
						<div class="hair-transplant__block-item-text">
							Имплантация фолликулярной группы
						</div>
					</div>
				</div>
			</div>
			<div class="hair-transplant__block">
				<div class="subtitle">Забор донорской области:</div>
				<ul class="hair-transplant__block-links">
					<li class="hair-transplant__block-link">
						<div class="hair-transplant__block-link-img">
							<img src="./img/hair-transplant/strip-method.webp" alt="">
						</div>
						<div class="hair-transplant__block-link-title">
							Операционный стрип-метод (FUT — follicular unit transplantation) или метод взятия донорской полоски
						</div>
					</li>
					<li class="hair-transplant__block-link">
						<div class="hair-transplant__block-link-img">
							<img src="./img/hair-transplant/combine-method.webp" alt="">
						</div>
						<div class="hair-transplant__block-link-title">
							Комбинированный метод (FUE — follicular unit extraction) – ФГ берутся разрезом, а трансплантируют операционным путём
						</div>
					</li>
				</ul>
			</div>
			<div class="hair-transplant__block hair-transplant__block-fut">
				<div class="hair-transplant__block-fut-content">
					<div class="subtitle">FUT Метод:</div>
					<ul class="hair-transplant__block-list">
						<li>Полоска должна быть как можно длиннее и уже</li>
						<li>При закрытии раны <span>натяжение краев должно быть минимальным</span></li>
						<li>Разрез делают как можно более ровным и ведут параллельно волосяным фолликулам</li>
						<li>Следует помнить, что при взятии полоски шириной более 1 см есть опасность формирования широких заметных рубцов</li>
						<li>При выполнении процедур, для которых донорская полоска должна быть широкой и содержащей более 2000 ФГ, предполагается образование широких рубцов</li>
						<li>С верхнего края донорского дефекта срезают 1–2 мм, применяя <span>трихофитное закрытие раны</span></li>
						<li>Рану ушивают однослойным швом нейлоновой нитью 4/0.  Шов снимают на 7–е сутки</li>
						<li>Между процедурами делают перерыв 6 месяцев</li>
					</ul>
				</div>
				<div class="hair-transplant__block-fut-img">
					<img src="./img/hair-transplant/fut-method.webp" alt="">
				</div>
			</div>
			<div class="hair-transplant__block">
				<div class="subtitle">Процедура проводится в несколько этапов:</div>
				<ul class="hair-transplant__block-list">
					<li>Сначала производится забор донорских графтов панчем из зоны расположенной на затылке (место, где волосяные фолликулы не подвержены влиянию гормонов). </li>
					<li>На месте извлеченных графтов остаются незначительные отверстия в диаметре меньше 1мм, которые при заживлении оставляют маленькие незаметные белые точки. Период заживления после извлечения волосяных фолликулов составляет около недели. </li>
					<li>Далее идет подготовка графтов.</li>
					<li>После идет проверка количества, качества волос в одном графте и далее их помещают специальные ванночки с жидкостью, для того чтобы графты не повредились и не высохли. </li>
					<li>Подготовка зоны подсадки волос.</li>
					<li>В заранее размеченную зону проводятся микроразрезы специальной иглой.</li>
					<li>Далее каждый графт имплантируется в данные микроразрезы, вручную,  специальными пинцетами.</li>
				</ul>
			</div>
			<div class="hair-transplant__block hair-transplant__block-trans">
				<div class="hair-transplant__block-trans-content">
					<div class="hair-transplant__block-trans-content-block">
						<div class="subtitle">Чем делается пересадка волос:</div>
						<p><span>Каналы для пересадки фолликулов выполняют специальным прибором – микроблейдом.</span><br>Выполняется прокол между уже существующими волосами под углом, который соответствует углу роста волос. Насечек выполняется столько же, сколько графтов планируется пересадить (в среднем, более 2000).</p>
						<p>Пересадка выполняется вручную при помощи микропинцета. Пересаженные волосы удерживаются фибрином и не требуют дополнительной фиксации.</p>
						<p>Рост волос отмечается на 2-3 месяц.</p>
					</div>
					<div class="hair-transplant__block-trans-content-block">
						<div class="subtitle">Возможные осложнения:</div>
						<ul class="hair-transplant__block-list">
							<li>Продолжающееся выпадение волос;</li>
							<li>Низкая линия роста волос;</li>
							<li>Неправильное расположение донорского рубца;</li>
							<li>Неправильное направление роста волос;</li>
							<li>Потеря чувствительности некоторых участков головы;</li>
							<li>Кровотечение во время и после пересадки волос;</li>
							<li>Повреждение волосяных фолликулов;</li>
							<li>Зуд кожи после операции;</li>
							<li>Отечность после трансплантации волос.</li>
						</ul>
					</div>
				</div>
				<div class="hair-transplant__block-trans-img">
					<img src="./img/hair-transplant/hair-transplantation.webp" alt="">
				</div>
			</div>
			<div class="hair-transplant__block">
				<div class="subtitle">Результаты пересадки волос:</div>
				<div class="hair-transplant__block-results">
					<div class="hair-transplant__block-result">
						<div class="hair-transplant__block-result-number">
							<span>1</span>
						</div>
						<div class="hair-transplant__block-result-text">
							При имплантации графтов первый результат виден сразу. Пересаженные фолликулы немного выступают над поверхностью кожи головы
						</div>
					</div>
					<div class="hair-transplant__block-result">
						<div class="hair-transplant__block-result-number">
							<span>2</span>
						</div>
						<div class="hair-transplant__block-result-text">
							Пересаженные волосы спустя 2-4 недели начинают выпадать из пересаженных луковиц, что является нормальным процессом обновления волос
						</div>
					</div>
					<div class="hair-transplant__block-result">
						<div class="hair-transplant__block-result-number">
							<span>3</span>
						</div>
						<div class="hair-transplant__block-result-text">
							Результаты с начинающими отрастать волосами будет виден с 6го месяца
						</div>
					</div>
					<div class="hair-transplant__block-result">
						<div class="hair-transplant__block-result-number">
							<span>4</span>
						</div>
						<div class="hair-transplant__block-result-text">
							Окончательный результат будет виден не ранее через год
						</div>
					</div>
				</div>
			</div>
			<div class="hair-transplant__block">
				<ul class="hair-transplant__block-text">
					<li><span>Фолликулярная группа (ФГ)</span> — естественный пучок волосяных фолликулов в коже волосистой части головы. Каждая группа состоит из 1-3 волос.</li>
					<li><span>Мультифолликулярная группа</span> — трансплантат, образованный 2-3 фолликулярными группами и обычно состоящий  из 3-7 волос. Не всегда разделен на ФГ.</li>
					<li><span>Микрографты</span> — трансплантат, состоящий из одного волоса. Используются при восстановлении бровей, или при необходимости пересадить именно ФГ, состоящую из одного фолликула (например, на переднюю линию роста волос пациента, у которого мало своих одноволосяных ФГ).</li>
					<li>Семейство фолликулов состоит из 3–5 волос и образовано двумя смежными ФГ, расположенными ближе друг к другу, чем к остальным.</li>
					<li><span>Мини-графты</span> — не разрезанные под микроскопом трансплантаты, состоящие из 4–8 волос и подходящие по форме и размеру для пересадки в щелевидные или небольшие округлые реципиентные участки («скроенный» по размеру).</li>
				</ul>
			</div>
		</div>
	</div>
</section>