<section class="hair-center">
	<div class="container">
		<div class="title">Центр «Здоровые волосы»</div>
		<div class="hair-center__container">
			<div class="hair-center__block">
				<div class="hair-center__block-text">
					В структуру консультативно-диагностического центра ГНЦДК входит Центр «Здоровые волосы», в котором используются современные методы диагностики и лечения заболеваний кожи волосистой части головы и волос:
				</div>
				<div class="hair-center__block-items">
					<div class="hair-center__block-item">
						<div class="hair-center__block-item-img">
							<img src="./img/icon/computer.svg" alt="">
						</div>
						<div class="hair-center__block-item-text">
							Компьютерная диагностика
						</div>
					</div>
					<div class="hair-center__block-item">
						<div class="hair-center__block-item-img">
							<img src="./img/icon/labaratory-research.svg" alt="">
						</div>
						<div class="hair-center__block-item-text">
							Лабораторные исследования
						</div>
					</div>
					<div class="hair-center__block-item">
						<div class="hair-center__block-item-img">
							<img src="./img/icon/injection-treatments.svg" alt="">
						</div>
						<div class="hair-center__block-item-text">
							Инъекционные методы лечения
						</div>
					</div>
					<div class="hair-center__block-item">
						<div class="hair-center__block-item-img">
							<img src="./img/icon/transplantation.svg" alt="">
						</div>
						<div class="hair-center__block-item-text">
							Трансплантация (пересадка) волос
						</div>
					</div>
				</div>
			</div>
			<div class="hair-center__block">
				<div class="hair-center__block-text">
					В Центре "Здоровые волосы" проходят лечение пациенты с заболеваниями волос, кожи волосистой части головы. С целью определения патологии роста волос применяются современные методы диагностического обследования:
				</div>
				<ul class="hair-center__block-links">
					<li class="hair-center__block-link">
						<a href="#">
							<div class="hair-center__block-link-img">
								<img src="./img/hair-center/trichoscopy.webp" alt="">
							</div>
							<div class="hair-center__block-link-title">трихоскопия</div>
						</a>
					</li>
					<li class="hair-center__block-link">
						<a href="#">
							<div class="hair-center__block-link-img">
								<img src="./img/hair-center/phototrichography.webp" alt="">
							</div>
							<div class="hair-center__block-link-title">фототрихография</div>
						</a>
					</li>
					<li class="hair-center__block-link">
						<a href="#">
							<div class="hair-center__block-link-img">
								<img src="./img/hair-center/spectral-analysis-elements.webp" alt="">
							</div>
							<div class="hair-center__block-link-title">спектральный анализ волос на содержание микроэлементов</div>
						</a>
					</li>
					<li class="hair-center__block-link">
						<a href="#">
							<div class="hair-center__block-link-img">
								<img src="./img/hair-center/spectral-analysis-compounds.webp" alt="">
							</div>
							<div class="hair-center__block-link-title">спектральный анализ волос на содержание токсических соединений</div>
						</a>
					</li>
				</ul>
			</div>
			<div class="hair-center__block">
				<div class="hair-center__block-text">
					Для выявления причин выпадения волос проводится широкий спектр лабораторных методов исследования:
				</div>
				<div class="hair-center__block-items">
					<div class="hair-center__block-item">
						<div class="hair-center__block-item-img">
							<img src="./img/icon/drop-blood.svg" alt="">
						</div>
						<div class="hair-center__block-item-text">
							клинический и биохимический анализ крови
						</div>
					</div>
					<div class="hair-center__block-item">
						<div class="hair-center__block-item-img">
							<img src="./img/icon/limited-food.svg" alt="">
						</div>
						<div class="hair-center__block-item-text">
							микроэлементы, витамины, уровень половых гормонов, гормонов щитовидной железы
						</div>
					</div>
				</div>
			</div>
			<div class="hair-center__block">
				<div class="hair-center__block-text">
					Лечение пациентов осуществляется  путем коррекции выявленных причин выпадения волос. По показаниям, проводятся процедуры внутрикожного введения лекарственных препаратов в кожу волосистой части головы, процедуры плазмотерапии.
				</div>
			</div>
			<div class="hair-center__block">
				<div class="hair-center__block-text">
					<span>Плазмотерапия кожи волосистой части головы</span> — это высокоэффективный метод, позволяющий остановить выпадение волос, простимулировать их рост, в том числе после пересадки.  Благодаря данной процедуре, происходит быстрое  восстановление  поврежденных волос  с длительным результатом после курса процедур.
				</div>
				<div class="hair-center__block-img">
					<img src="./img/hair-center/hair-center.webp" alt="">
				</div>
			</div>
		</div>
	</div>
</section>