<header class="header">
    <div class="container">
        <div class="header__top">
            <a href="#" class="header__logo">
                <img src="./img/icon/logo.svg" alt="" />
                <span
                    >ФЕДЕРАЛЬНОЕ ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕ УЧРЕЖДЕНИЕ “ГОСУДАРСТВЕННЫЙ НАУЧНЫЙ ЦЕНТР ДЕРМАТОВЕНЕРОЛОГИИ
                    И КОСМЕТОЛОГИИ” МИНЗДРАВА РОССИИ</span
                >
            </a>
            <div class="header__search">
                <input type="text" placeholder="Поиск по сайту" />
            </div>
        </div>

        <nav class="header__center">
            <ul class="header__center-lists">
                <li class="header__center-lists-item header-btn">
                    <a href="./about-center-page.html">
                        О центре
                        <img src="../img/icon/downarrowwhite.svg" alt="" />
                    </a>
                    <ul class="header-dropdown header-btn-drop">
                        <li><a href="./about-center-page.html#istoriya">История создания ГНЦДК</a></li>
                        <li><a href="./about-center-page.html#rukovodstvo">Руководство</a></li>
                        <li><a href="./about-center-page.html#struktura-GNCDK">Структура ГНЦДК</a></li>
                        <li>
                            <a href="./about-center-page.html#svedeniya-o-medicinskoj-organizacii"
                                >Сведения о медицинской организации</a
                            >
                        </li>
                        <li><a href="./about-center-page.html#vakansii/nauchnye">Вакансии</a></li>
                        <li><a href="./about-center-page.html#zakupki">Закупки</a></li>
                        <li>
                            <a href="./about-center-page.html#protivodejstvie-korrupcii">Противодействие коррупции</a>
                        </li>
                        <li><a href="./about-center-page.html#fotogalereya/meropriyatiya">Фотогалерея</a></li>
                    </ul>
                </li>
                <li class="header__center-lists-item header-btn">
                    <a href="./bussines-page.html">
                        Направления деятельности
                        <img src="../img/icon/downarrowwhite.svg" alt="" />
                    </a>
                    <ul class="header-dropdown header-btn-drop">
                        <li><a href="./bussines-page.html#nauchnaya-deyatelnost">Научная деятельность</a></li>
                        <li><a href="./bussines-page.html#klinicheskaya-deyatelnost">Клиническая деятельность</a></li>
                        <li>
                            <a href="./bussines-page.html#organizacionno-metodicheskaya-deyatelnost"
                                >Организационно-методическая деятельность</a
                            >
                        </li>
                        <li>
                            <a href="./bussines-page.html#obrazovatelnaya-deyatelnost/vysshee-obrazovanie"
                                >Образовательная деятельность</a
                            >
                        </li>
                        <li>
                            <a
                                href="./bussines-page.html#klinicheskie-ispytaniya/klinicheskie-issledovaniya-lekarstvennyh-i-kosmeticheskih-sredstv"
                                >Клинические испытания лекарственных и косметических средств, медицинских изделий</a
                            >
                        </li>
                        <li>
                            <a href="./bussines-page.html#ispytatelnyj-laboratornyj-centr"
                                >Испытательный лабораторный центр</a
                            >
                        </li>
                        <li>
                            <a href="./bussines-page.html#proizvodstvennaya-deyatelnost"
                                >Производственная деятельность</a
                            >
                        </li>
                    </ul>
                </li>
                <li class="header__center-lists-item header-btn">
                    <a href="./patients-page.html">
                        Пациентам
                        <img src="../img/icon/downarrowwhite.svg" alt="" />
                    </a>
                    <ul class="header-dropdown header-btn-drop">
                        <li><a href="./patients-page.html#zapis-na-priem">Запись на прием</a></li>
                        <li>
                            <a href="./patients-page.html#programma-gosudarstvennyh-garantij"
                                >Программа государственных гарантий</a
                            >
                        </li>
                        <li><a href="./patients-page.html#informaciya-dlya-pacientov">Информация для пациентов</a></li>
                        <li>
                            <a href="./patients-page.html#prejskurant-na-medicinskie-uslugi"
                                >Прейскурант на медицинские услуги</a
                            >
                        </li>
                        <li><a href="./patients-page.html#medical-tourism">Medical tourism</a></li>
                        <li>
                            <a href="./patients-page.html#nabor-pacientov-dlya-uchastiya-klinicheskih-issledovaniyah"
                                >Набор пациентов для участия в клинических исследованиях</a
                            >
                        </li>
                        <li><a href="./patients-page.html#otdelenie-fizioterapii">Отделение физиотерапии</a></li>
                        <li>
                            <a href="./patients-page.html#grafik-priema-grazhdan-direktorom-FGBU-GNCDK-Minzdrava-Rossii"
                                >График приема граждан директором ФГБУ «ГНЦДК» Минздрава России</a
                            >
                        </li>
                    </ul>
                </li>
                <li class="header__center-lists-item header-btn">
                    <a href="./specialists-page.html">
                        Специалистам
                        <img src="../img/icon/downarrowwhite.svg" alt="" />
                    </a>
                    <ul class="header-dropdown header-btn-drop">
                        <li>
                            <a href="./specialists-page.html#rossijskoe-obshchestvo-dermatovenerologov-i-kosmetologov"
                                >Российское общество дерматовенерологов и косметологов</a
                            >
                        </li>
                        <li>
                            <a href="./specialists-page.html#federalnyj-proekt-medicinskaya-nauka-dlya-cheloveka"
                                >Федеральный проект «Медицинская наука для человека»</a
                            >
                        </li>
                        <li>
                            <a
                                href="./specialists-page.html#registr-pacientov-s-hronicheskimi-zabolevaniyami-kozhi-i-podkozhnoj-kletchatki"
                                >Регистр пациентов с хроническими заболеваниями кожи и подкожной клетчатки</a
                            >
                        </li>
                        <li>
                            <a href="./specialists-page.html#vestnik-dermatologii-i-venerologii"
                                >Вестник дерматологии и венерологии</a
                            >
                        </li>
                        <li><a href="./specialists-page.html#normativnye-dokumenty">Нормативные документы</a></li>
                        <li>
                            <a href="./specialists-page.html#akkreditaciya-specialistov">Аккредитация специалистов</a>
                        </li>
                        <li>
                            <a href="./specialists-page.html#medicinskie-organizacii-dermatovenerologicheskogo-profilya"
                                >Медицинские организации дерматовенерологического профиля</a
                            >
                        </li>
                        <li><a href="./specialists-page.html#medicinskoe-obrazovanie">Медицинское образование</a></li>
                        <li><a href="./conferences-page.html">Научно-практические конференции</a></li>
                        <li>
                            <a href="./reference-center-page.html"
                                >Референс-центр по предупреждению распространения резистентности возбудителей ИППП и
                                лепры</a
                            >
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

        <nav class="header__bottom">
            <ul class="header__bottom-lists">
                <li class="header__bottom-lists-item header-btn">
                    <a href="./record-page-two.html">Запись на приём в консультативно-диагностический центр</a>
                </li>
                <li class="header__bottom-lists-item header-btn">
                    <a href="./record-page.html"
                        >Запись на приём<br />
                        в отделение косметологии</a
                    >
                </li>
                <li class="header__bottom-lists-item header__bottom-lists-item-drop header-btn">
                    <a href="./hospitalization-page.html">
                        Госпитализация
                        <img src="../img/icon/downarrowblue.svg" alt="" />
                    </a>
                    <ul class="header-dropdown-three header-btn-drop">
                        <li>
                            <a href="./hospitalization-page.html#usloviya-gospitalizacii">Условия госпитализации</a>
                        </li>
                        <li>
                            <a href="./hospitalization-page.html#poryadok-gospitalizacii">Порядок госпитализации</a>
                        </li>
                        <li>
                            <a href="./hospitalization-page.html#dokumenty-neobhodimye-dlya-gospitalizacii"
                                >Документы</a
                            >
                        </li>
                    </ul>
                </li>
                <li class="header__bottom-lists-item header-btn"><a href="./contacts-page.html">Контакты</a></li>
                <li class="header__bottom-lists-item header-btn"><a href="./schedule-page.html">Расписание приёма</a></li>
                <li class="header__bottom-lists-item header-btn">
                    <a href="./сost-honey-page.html">Стоимость медицинских услуг</a>
                </li>
                <li class="header__bottom-lists-item header-btn">
                    <a href="./distant-consul-page.html">Дистанционные консультации пациентов</a>
                </li>
                <li class="header__bottom-lists-item header__bottom-lists-item-drop header-btn">
                    <a href="./connection-page.html">
                        Обратная связь
                        <img src="../img/icon/downarrowblue.svg" alt="" />
                    </a>
                    <ul class="header-dropdown-three header-btn-drop">
                        <li><a href="./connection-page.html#voprosy-otvety">Вопросы и ответы</a></li>
                        <li><a href="./connection-page.html#otzyvy-pacientov">Отзывы</a></li>
                        <li>
                            <a href="./connection-page.html#rabota-s-obrashcheniyami-grazhdan"
                                >Работа с обращениями граждан</a
                            >
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>
