<section class="hospitalization">
    <div class="container">
        <div class="hospitalization__wrapper">  
            <div class="hospitalization__left">
                <div class="title">Госпитализация</div>
                <ul class="hospitalization__tabs">
                    <li class="hospitalization__item active" data-tab="1">Оказание специализированной,<br> в том числе, высокотехнологичной,<br> медицинской помощи в стационарных<br> условиях</li>
                    <li class="hospitalization__item" data-tab="2">Условия и порядок госпитализации</li>
                    <li class="hospitalization__item" data-tab="3">Документы необходимые<br> для госпитализации</li>
                </ul>
                <!--  -->
                <div class="hospitalization__block">
                    <div class="hospitalization__block-title">Cтоимость медицинских услуг в стационарных условиях</div>
                    <a href="" download="" class="all-btn__blue hospitalization__btn"><span>Подробнее </span></a>
                </div>
                <div class="hospitalization__block">
                    <div class="hospitalization__block-title">Договор на оказание платных медицинских услуг</div>
                    <a href="" download="" class="all-btn__blue hospitalization__btn"><span>Подробнее </span></a>
                </div>
            </div>
            <div class="hospitalization__right">
                <div class="hospitalization__content active" data-tab="1">
                    <div class="hospitalization__content-title">Специализированная, в том числе, высокотехнологичная, медицинская помощь оказывается в стационарных условиях:</div>
                    <ul class="hospitalization__content-lists">
                        <li>за счёт средств обязательного медицинского страхования в рамках Территориальных программ государственных гарантий оказания гражданам Российской Федерации бесплатной медицинской помощи;
                            
                           
                            </li>
                        <li>за счёт средств добровольного медицинского страхования;</li>
                        <li> за счёт личных средств граждан</li>
                        <li>в рамках научной деятельности ФГБУ «ГНЦДК» Минздрава России</li>
                    </ul>
                    <div class="hospitalization__image">
                        <img src="./img/hospitalization.webp" alt="">
                    </div>
                </div>
                <div class="hospitalization__content " data-tab="2">
                    <div class="hospitalization__content-wrap">
                        <div class="hospitalization__conditions-title">Условия госпитализации</div>
                        <div class="hospitalization__conditions-text">Гопитализация пациентов в ФГБУ «ГНЦДК» осуществляется в плановом порядке на основании решения врачебной комиссии.<br>
                            Направление пациента в федеральную медицинскую организацию для оказания специализированной медицинской помощи, за исключением высокотехнологичной медицинской помощи (далее - специализированная медицинская помощь), осуществляется лечащим врачом медицинской организации, в которой пациент проходит диагностику и лечение в рамках оказания первичной медико-санитарной помощи или специализированной медицинской помощи в рамках территориальной программы обязательного медицинского страхования.<br>
                            Пациент (его законный представитель) при наличии результатов лабораторных, инструментальных и других видов исследований, подтверждающих установленный диагноз и наличие медицинских показаний для оказания специализированной медицинской помощи, может самостоятельно обратиться в федеральную медицинскую организацию для оказания медицинской помощи по перечню заболеваний, состояний (групп заболеваний, состояний), при которых федеральными медицинскими организациями оказывается специализированная, в том числе высокотехнологичная, медицинская помощь в стационарных условиях и в условиях дневного стационара.</div>
                    </div>
                    <!--  -->
                    <div class="hospitalization__content-wrap">
                        <div class="hospitalization__conditions-title">Порядок госпитализации</div>
                        <div class="hospitalization__conditions-text">Медицинскими показаниями для оказания специализированной медицинской помощи в федеральных медицинских организациях являются:</div>
                        <ul class="hospitalization__conditions-lists">
                            <li>нетипичное течение заболевания и (или) отсутствие эффекта от проводимой терапии;</li>
                            <li>необходимость применения методов лечения, не выполняемых в медицинских организациях, осуществляющих деятельность в сфере обязательного медицинского страхования в рамках территориальной программы обязательного медицинского страхования;</li>
                            <li>необходимость повторной госпитализации по рекомендации федеральной медицинской организации.</li>
                        </ul>
                    </div>
                    <!--  -->
                    <div class="hospitalization__content-wrap">
                        <div class="hospitalization__conditions-title">Адрес стационара:</div>
                        <div class="hospitalization__conditions-text">
                            ФГБУ «ГНЦДК» МЗ РФ: 107006, Москва, ул. Короленко д. 3 стр. 2<br>
                            По вопросам госпитализации обращаться к заведующей отделением клинической дерматологии, к.м.н. Свищенко<br> 
                            Светлане Игоревне по телефону: +7 499 785-20-86 или +7 499 785-20-39
                        </div>
                    </div>
      
                </div>
                <div class="hospitalization__content " data-tab="3">
                    <div class="hospitalization__content-wrap">
                        <div class="hospitalization__conditions-title">Документы необходимые для госпитализации</div>
                        <ul class="hospitalization__conditions-lists">
                            <li>направление на госпитализацию в федеральную медицинскую организацию</li>
                            <li>страховой полис обязательного медицинского страхования</li>
                            <li>страховое свидетельство обязательного пенсионного страхования (при наличии)</li>
                            <li>результаты лабораторных, инструментальных и других видов исследований, подтверждающих установленный диагноз и наличие медицинских показаний для оказания специализированной медицинской помощи</li>
                            <li>выписка из медицинской документации, содержащая диагноз заболевания (состояния), код диагноза по МКБ-10, сведения о состоянии здоровья, проведенных диагностике и лечении, рекомендации о необходимости оказания специализированной медицинской помощи</li>
                            <li>сведения о согласии на обработку персональных данных пациента и (или) его законного представителя</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>