<section class="bussines">
  <div class="container">
    <div class="bread-crumbs">
      <a href="../index.html">Главная</a>
      <a href="../map-site-page.html" class="crumb-content">Карта сайта</a>
    </div>

    <div class="title">Карта сайта</div>
    
    <div class="bussines__block">
        <div class="subtitle">О научном центре</div>
        <ul class="bussines__item-list">
          <li>
            <a href="#"> История центра </a>
          </li>
          <li>
            <a href="#"> Сотрудники </a>
          </li>
          <li class="maps-list">
            <div class="maps-list__inner">Структура ГНЦДК</div>
            <ul class="maps-list__content">
              <li>
                <a href="#">Центральный научно-исследовательский кожно-венерологический институт (ЦНИКВИ ФГБУ «ГНЦДК» Минздрав
                  России)</a>
              </li>
              <li>
                <a href="#">Сергиево-Посадский филиал (СПФ ФГБУ «ГНЦДК» Минздрав России)</a>
              </li>
              <li>
                <a href="#">Нижегородский филиал (НГФ ФГБУ «ГНЦДК» Минздрав России)</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#"> Сведения о медицинской организации </a>
          </li>
          <li class="maps-list">
            <div class="maps-list__inner">Вакансии</div>
            <ul class="maps-list__content"">
              <li>
                <a href="#">Научные</a>
              </li>
              <li>
                <a href="#">Клинические</a>
              </li>
              <li>
                <a href="#">Лабораторный центр</a>
              </li>
              <li>
                <a href="#">АДминистративно-управленческие</a>
              </li>
            </ul>
          </li>
          <li class="maps-list">
            <div class="maps-list__inner">Закупки</div>
            <ul class="maps-list__content"">
              <li>
                <a href="#">Перечень товаров, работ, услуг, закупки которых осуществляются у субъектов малого и среднего
                  предпринимательства в
                  рамках закупок согласно Федеральному закону от 18 июля 2011 г. N 223-ФЗ "О закупках товаров, работ, услуг
                  отдельными
                  видами юридических лиц"</a>
              </li>
              <li>
                <a href="#">План закупок учреждения в рамках Федерального закона от 18 июля 2011 г. N 223-ФЗ "О закупках
                  товаров, работ, услуг
                  отдельными видами юридических лиц"</a>
              </li>
            </ul>
          </li>
          <li class="maps-list">
            <div class="maps-list__inner">Противодействие коррупции</div>
            <ul class="maps-list__content"">
              <li>
                <a href="#">Нормативные правовые и иные акты в сфере противодействия коррупции</a>
              </li>
              <li>
                <a href="#">Антикоррупционная экспертиза</a>
              </li>
              <li>
                <a href="#">Методические материалы</a>
              </li>
              <li>
                <a href="#">Формы документов, связанных с противодействием коррупции, для заполнения</a>
              </li>
              <li>
                <a href="#">Сведения о доходах, расходах, об имуществе и обязательствах имущественного характера</a>
              </li>
              <li>
                <a href="#">Нормативные документы ФГБУ "ГНЦДК" Минздрава России по вопросам противодействия коррупции</a>
              </li>
              <li>
                <a href="#">Комиссия по соблюдению требований к служебному поведению и урегулированию конфликта интересов</a>
              </li>
              <li>
                <a href="#">План по противодействию коррупции ФГБУ "ГНЦДК" Минздрава России на 2022-2024 годы</a>
              </li>
            </ul>
          </li>
          <li class="maps-list">
            <div class="maps-list__inner">Фотогалерея</div>
            <ul class="maps-list__content"">
              <li>
                <a href="#">Мероприятия</a>
              </li>
              <li>
                <a href="#">Отделения</a>
              </li>
            </ul>
          </li>
        </ul>
    </div>
    <div class="bussines__block">
        <div class="subtitle">Направления деятельности</div>
        <ul class="bussines__item-list">
          <li>
            <a href="#"> История центра </a>
          </li>
          <li>
            <a href="#"> Сотрудники </a>
          </li>
          <li class="maps-list">
            <div class="maps-list__inner">Структура ГНЦДК</div>
            <ul class="maps-list__content"">
              <li>
                <a href="#">Центральный научно-исследовательский кожно-венерологический институт (ЦНИКВИ ФГБУ «ГНЦДК» Минздрав
                  России)</a>
              </li>
              <li>
                <a href="#">Сергиево-Посадский филиал (СПФ ФГБУ «ГНЦДК» Минздрав России)</a>
              </li>
              <li>
                <a href="#">Нижегородский филиал (НГФ ФГБУ «ГНЦДК» Минздрав России)</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#"> Сведения о медицинской организации </a>
          </li>
          <li class="maps-list">
            <div class="maps-list__inner">Вакансии</div>
            <ul class="maps-list__content"">
              <li>
                <a href="#">Научные</a>
              </li>
              <li>
                <a href="#">Клинические</a>
              </li>
              <li>
                <a href="#">Лабораторный центр</a>
              </li>
              <li>
                <a href="#">АДминистративно-управленческие</a>
              </li>
            </ul>
          </li>
          <li class="maps-list">
            <div class="maps-list__inner">Закупки</div>
            <ul class="maps-list__content"">
              <li>
                <a href="#">Перечень товаров, работ, услуг, закупки которых осуществляются у субъектов малого и среднего
                  предпринимательства в
                  рамках закупок согласно Федеральному закону от 18 июля 2011 г. N 223-ФЗ "О закупках товаров, работ, услуг
                  отдельными
                  видами юридических лиц"</a>
              </li>
              <li>
                <a href="#">План закупок учреждения в рамках Федерального закона от 18 июля 2011 г. N 223-ФЗ "О закупках
                  товаров, работ, услуг
                  отдельными видами юридических лиц"</a>
              </li>
            </ul>
          </li>
          <li class="maps-list">
            <div class="maps-list__inner">Противодействие коррупции</div>
            <ul class="maps-list__content"">
              <li>
                <a href="#">Нормативные правовые и иные акты в сфере противодействия коррупции</a>
              </li>
              <li>
                <a href="#">Антикоррупционная экспертиза</a>
              </li>
              <li>
                <a href="#">Методические материалы</a>
              </li>
              <li>
                <a href="#">Формы документов, связанных с противодействием коррупции, для заполнения</a>
              </li>
              <li>
                <a href="#">Сведения о доходах, расходах, об имуществе и обязательствах имущественного характера</a>
              </li>
              <li>
                <a href="#">Нормативные документы ФГБУ "ГНЦДК" Минздрава России по вопросам противодействия коррупции</a>
              </li>
              <li>
                <a href="#">Комиссия по соблюдению требований к служебному поведению и урегулированию конфликта интересов</a>
              </li>
              <li>
                <a href="#">План по противодействию коррупции ФГБУ "ГНЦДК" Минздрава России на 2022-2024 годы</a>
              </li>
            </ul>
          </li>
          <li class="maps-list">
            <div class="maps-list__inner">Фотогалерея</div>
            <ul class="maps-list__content"">
              <li>
                <a href="#">Мероприятия</a>
              </li>
              <li>
                <a href="#">Отделения</a>
              </li>
            </ul>
          </li>
        </ul>
    </div>

  </div>
</section>