<section class="news">
    <div class="container">
        <div class="bread-crumbs">
            <a href="../index.html">Главная</a>
            <a href="../news-page.html">Новости</a>
        </div>
        <div class="title">Новости</div>
        <div class="news__wrapper">
            <div class="news__slider">
                <div class="swiper" id="news-swiper">
                    <div class="news__swiper-wrapper swiper-wrapper">
                        <a href="#" class="news__slide swiper-slide">
                            <div class="news__image">
                                <img src="./img/news/acceptance-docs.webp" alt="" />
                            </div>
                            <div class="news__date">
                                <strong>27</strong>
                                <span>июль 2022</span>
                            </div>
                            <div class="news__text">
                                <div class="news__text-title">НАЧИНАЕМ ПРИЕМ ДОКУМЕНТОВ ДЛЯ ОБУЧЕНИЯ В ОРДИНАТУРЕ</div>
                                <div class="news__text-desc">
                                    Главной целью обучения в ординатуре является подготовка кадров высшей квалификации
                                    по специальности «Дерматовенерология»: врачей-дерматовенерологов, обладающих
                                    системой общекультурных и профессиональных компетенций, готовых к самостоятельной
                                    профессиональной деятельности в условиях специализированной, в том числе
                                    высокотехнологичной, медицинской помощи.
                                </div>
                            </div>
                        </a>
                        <a href="#" class="news__slide swiper-slide">
                            <div class="news__image">
                                <img src="./img/news/smile-correction.webp" alt="" />
                            </div>
                            <div class="news__date">
                                <strong>14</strong>
                                <span>июль 2022</span>
                            </div>
                            <div class="news__text">
                                <div class="news__text-title">
                                    В ГНЦДК коррекция десневой улыбки проводится при помощи уникальной методики
                                </div>
                                <div class="news__text-desc">
                                    Гингивальная (десневая) улыбка – это физиологическая особенность, при которой
                                    верхняя десна избыточно обнажается.
                                </div>
                            </div>
                        </a>
                        <a href="#" class="news__slide swiper-slide">
                            <div class="news__image">
                                <img src="./img/news/day-alergies.webp" alt="" />
                            </div>
                            <div class="news__date">
                                <strong>9</strong>
                                <span>июль 2022</span>
                            </div>
                            <div class="news__text">
                                <div class="news__text-title">ДЕНь БОРЬБЫ С АЛЛЕРГИЕЙ</div>
                                <div class="news__text-desc">
                                    В преддверии всемирного дня борьбы с аллергией: дерматовенерологи гнцдк оказывают
                                    медицинскую помощь пациентам с тяжелыми формами токсидермии. Токсидермия
                                    (токсико-аллергический дерматит) – острое воспалительное заболевание кожи
                                </div>
                            </div>
                        </a>
                        <a href="#" class="news__slide swiper-slide">
                            <div class="news__image">
                                <img src="./img/news/smile-correction.webp" alt="" />
                            </div>
                            <div class="news__date">
                                <strong>14</strong>
                                <span>июль 2022</span>
                            </div>
                            <div class="news__text">
                                <div class="news__text-title">
                                    В ГНЦДК коррекция десневой улыбки проводится при помощи уникальной методики
                                </div>
                                <div class="news__text-desc">
                                    Гингивальная (десневая) улыбка – это физиологическая особенность, при которой
                                    верхняя десна избыточно обнажается.
                                </div>
                            </div>
                        </a>
                        <a href="#" class="news__slide swiper-slide">
                            <div class="news__image">
                                <img src="./img/news/day-alergies.webp" alt="" />
                            </div>
                            <div class="news__date">
                                <strong>9</strong>
                                <span>июль 2022</span>
                            </div>
                            <div class="news__text">
                                <div class="news__text-title">ДЕНь БОРЬБЫ С АЛЛЕРГИЕЙ</div>
                                <div class="news__text-desc">
                                    В преддверии всемирного дня борьбы с аллергией: дерматовенерологи гнцдк оказывают
                                    медицинскую помощь пациентам с тяжелыми формами токсидермии. Токсидермия
                                    (токсико-аллергический дерматит) – острое воспалительное заболевание кожи
                                </div>
                            </div>
                        </a>
                        <a href="#" class="news__slide swiper-slide">
                            <div class="news__image">
                                <img src="./img/news/acceptance-docs.webp" alt="" />
                            </div>
                            <div class="news__date">
                                <strong>27</strong>
                                <span>июль 2022</span>
                            </div>
                            <div class="news__text">
                                <div class="news__text-title">НАЧИНАЕМ ПРИЕМ ДОКУМЕНТОВ ДЛЯ ОБУЧЕНИЯ В ОРДИНАТУРЕ</div>
                                <div class="news__text-desc">
                                    Главной целью обучения в ординатуре является подготовка кадров высшей квалификации
                                    по специальности «Дерматовенерология»: врачей-дерматовенерологов, обладающих
                                    системой общекультурных и профессиональных компетенций, готовых к самостоятельной
                                    профессиональной деятельности в условиях специализированной, в том числе
                                    высокотехнологичной, медицинской помощи.
                                </div>
                            </div>
                        </a>
                        <a href="#" class="news__slide swiper-slide">
                            <div class="news__image">
                                <img src="./img/news/smile-correction.webp" alt="" />
                            </div>
                            <div class="news__date">
                                <strong>14</strong>
                                <span>июль 2022</span>
                            </div>
                            <div class="news__text">
                                <div class="news__text-title">
                                    В ГНЦДК коррекция десневой улыбки проводится при помощи уникальной методики
                                </div>
                                <div class="news__text-desc">
                                    Гингивальная (десневая) улыбка – это физиологическая особенность, при которой
                                    верхняя десна избыточно обнажается.
                                </div>
                            </div>
                        </a>
                        <a href="#" class="news__slide swiper-slide">
                            <div class="news__image">
                                <img src="./img/news/acceptance-docs.webp" alt="" />
                            </div>
                            <div class="news__date">
                                <strong>27</strong>
                                <span>июль 2022</span>
                            </div>
                            <div class="news__text">
                                <div class="news__text-title">НАЧИНАЕМ ПРИЕМ ДОКУМЕНТОВ ДЛЯ ОБУЧЕНИЯ В ОРДИНАТУРЕ</div>
                                <div class="news__text-desc">
                                    Главной целью обучения в ординатуре является подготовка кадров высшей квалификации
                                    по специальности «Дерматовенерология»: врачей-дерматовенерологов, обладающих
                                    системой общекультурных и профессиональных компетенций, готовых к самостоятельной
                                    профессиональной деятельности в условиях специализированной, в том числе
                                    высокотехнологичной, медицинской помощи.
                                </div>
                            </div>
                        </a>
                        <a href="#" class="news__slide swiper-slide">
                            <div class="news__image">
                                <img src="./img/news/acceptance-docs.webp" alt="" />
                            </div>
                            <div class="news__date">
                                <strong>27</strong>
                                <span>июль 2022</span>
                            </div>
                            <div class="news__text">
                                <div class="news__text-title">НАЧИНАЕМ ПРИЕМ ДОКУМЕНТОВ ДЛЯ ОБУЧЕНИЯ В ОРДИНАТУРЕ</div>
                                <div class="news__text-desc">
                                    Главной целью обучения в ординатуре является подготовка кадров высшей квалификации
                                    по специальности «Дерматовенерология»: врачей-дерматовенерологов, обладающих
                                    системой общекультурных и профессиональных компетенций, готовых к самостоятельной
                                    профессиональной деятельности в условиях специализированной, в том числе
                                    высокотехнологичной, медицинской помощи.
                                </div>
                            </div>
                        </a>
                        <a href="#" class="news__slide swiper-slide">
                            <div class="news__image">
                                <img src="./img/news/smile-correction.webp" alt="" />
                            </div>
                            <div class="news__date">
                                <strong>14</strong>
                                <span>июль 2022</span>
                            </div>
                            <div class="news__text">
                                <div class="news__text-title">
                                    В ГНЦДК коррекция десневой улыбки проводится при помощи уникальной методики
                                </div>
                                <div class="news__text-desc">
                                    Гингивальная (десневая) улыбка – это физиологическая особенность, при которой
                                    верхняя десна избыточно обнажается.
                                </div>
                            </div>
                        </a>
                        <a href="#" class="news__slide swiper-slide">
                            <div class="news__image">
                                <img src="./img/news/smile-correction.webp" alt="" />
                            </div>
                            <div class="news__date">
                                <strong>14</strong>
                                <span>июль 2022</span>
                            </div>
                            <div class="news__text">
                                <div class="news__text-title">
                                    В ГНЦДК коррекция десневой улыбки проводится при помощи уникальной методики
                                </div>
                                <div class="news__text-desc">
                                    Гингивальная (десневая) улыбка – это физиологическая особенность, при которой
                                    верхняя десна избыточно обнажается.
                                </div>
                            </div>
                        </a>
                        <a href="#" class="news__slide swiper-slide">
                            <div class="news__image">
                                <img src="./img/news/day-alergies.webp" alt="" />
                            </div>
                            <div class="news__date">
                                <strong>9</strong>
                                <span>июль 2022</span>
                            </div>
                            <div class="news__text">
                                <div class="news__text-title">ДЕНь БОРЬБЫ С АЛЛЕРГИЕЙ</div>
                                <div class="news__text-desc">
                                    В преддверии всемирного дня борьбы с аллергией: дерматовенерологи гнцдк оказывают
                                    медицинскую помощь пациентам с тяжелыми формами токсидермии. Токсидермия
                                    (токсико-аллергический дерматит) – острое воспалительное заболевание кожи
                                </div>
                            </div>
                        </a>
                        <a href="#" class="news__slide swiper-slide">
                            <div class="news__image">
                                <img src="./img/news/acceptance-docs.webp" alt="" />
                            </div>
                            <div class="news__date">
                                <strong>27</strong>
                                <span>июль 2022</span>
                            </div>
                            <div class="news__text">
                                <div class="news__text-title">НАЧИНАЕМ ПРИЕМ ДОКУМЕНТОВ ДЛЯ ОБУЧЕНИЯ В ОРДИНАТУРЕ</div>
                                <div class="news__text-desc">
                                    Главной целью обучения в ординатуре является подготовка кадров высшей квалификации
                                    по специальности «Дерматовенерология»: врачей-дерматовенерологов, обладающих
                                    системой общекультурных и профессиональных компетенций, готовых к самостоятельной
                                    профессиональной деятельности в условиях специализированной, в том числе
                                    высокотехнологичной, медицинской помощи.
                                </div>
                            </div>
                        </a>
                        <a href="#" class="news__slide swiper-slide">
                            <div class="news__image">
                                <img src="./img/news/smile-correction.webp" alt="" />
                            </div>
                            <div class="news__date">
                                <strong>14</strong>
                                <span>июль 2022</span>
                            </div>
                            <div class="news__text">
                                <div class="news__text-title">
                                    В ГНЦДК коррекция десневой улыбки проводится при помощи уникальной методики
                                </div>
                                <div class="news__text-desc">
                                    Гингивальная (десневая) улыбка – это физиологическая особенность, при которой
                                    верхняя десна избыточно обнажается.
                                </div>
                            </div>
                        </a>
                        <a href="#" class="news__slide swiper-slide">
                            <div class="news__image">
                                <img src="./img/news/acceptance-docs.webp" alt="" />
                            </div>
                            <div class="news__date">
                                <strong>27</strong>
                                <span>июль 2022</span>
                            </div>
                            <div class="news__text">
                                <div class="news__text-title">НАЧИНАЕМ ПРИЕМ ДОКУМЕНТОВ ДЛЯ ОБУЧЕНИЯ В ОРДИНАТУРЕ</div>
                                <div class="news__text-desc">
                                    Главной целью обучения в ординатуре является подготовка кадров высшей квалификации
                                    по специальности «Дерматовенерология»: врачей-дерматовенерологов, обладающих
                                    системой общекультурных и профессиональных компетенций, готовых к самостоятельной
                                    профессиональной деятельности в условиях специализированной, в том числе
                                    высокотехнологичной, медицинской помощи.
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="pagination">
                    <div class="pagination__prev news__prev">
                        <img src="./img/icon/arrow-green-btn-prev.svg" alt="" />
                    </div>
                    <div class="pagination__bullets news__bullets"></div>
                    <div class="pagination__next news__next">
                        <img src="./img/icon/arrow-green-btn-next.svg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
