<section class="reference">
	<div class="container">
		<div class="title">Референс-центр</div>
		<div class="reference__subtitle">РЕФЕРЕНС-ЦЕНТР ПО ПРЕДУПРЕЖДЕНИЮ РАСПРОСТРАНЕНИЯ БИОЛОГИЧЕСКИХ УГРОЗ НА БАЗЕ ФГБУ «ГНЦДК» МИНЗДРАВА РОССИИ»</div>
		<ul class="reference__items">
			<li>
				<div class="reference__items-title">Наименование биологической угрозы</div>
				<p>Предупреждение распространения резистентности возбудителей ИППП и лепры</p>
			</li>
			<li>
				<div class="reference__items-title">Контактные лица (ФИО, контакты, электронная почта).</div>
				<div class="reference__contact-block">
					<p>Носов Никита Юрьевич – руководитель референс-центра </p>
					<div>эл.почта: <a href="mailto:nnosov@cnikvi.ru">nnosov@cnikvi.ru</a>; тел. <a href="tel:8(919)8250795">8(919)8250795</a></div>
				</div>
				<div class="reference__contact-block">
					<p>Плахова Ксения Ильинична – организация взаимодействия с субъектами Российской Федерации,</p>
					<div>эл.почта: <a href="mailto:plahova@cnikvi.ru"> plahova@cnikvi.ru</a>; тел. <a href="tel:8(499)785-20-29">8(499)785-20-29</a></div>
				</div>
			</li>
			<li>
				<div class="reference__items-title">Сведения о Референс-центре</div>
				<div class="reference__task-block">
					Задачами референс-центра являются:
					<ul class="reference__task-items">
						<li>Анализ состояния проблемы резистентности возбудителей ИППП и лепры в Российской Федерации и в мире.</li>
						<li>Определение стратегии и тактики проведения мониторинга распространения резистентности возбудителей ИППП и лепры в Российской Федерации.</li>
						<li>Взаимодействие референс-центра с медицинскими организациями, оказывающими медицинскую помощь по профилю дерматовенерология для участия в мероприятиях мониторинга распространения резистентности.</li>
						<li>Проведение мероприятий мониторинга распространения резистентности микроорганизмов.</li>
						<li>Оказание организационно-методической, консультативной, в том числе с применением телемедицинских технологий, помощи медицинским организациям субъектов Российской Федерации.</li>
						<li>Анализ причин неэффективности применения лекарственных препаратов, применяемых для лечения больных ИППП и лепрой.</li>
						<li>Участие в разработке и пересмотре клинических рекомендаций по вопросам оказания медицинской помощи больным ИППП и лепрой с учетом применения оптимальных схем противомикробной терапии.</li>
						<li>Предоставление Министерству здравоохранения Российской Федерации предложений по мероприятиям, направленным на снижение распространения ИППП и лепры.</li>
					</ul>
				</div>
			</li>
			<li>
				<p>Референс-центр оснащен всем необходимым оборудованием для проведения широкого спектра лабораторных исследований, в том числе для микробиологических работ по получению чистой культуры N. gonorrhoeae, видовой идентификации методами масс-спектрометрии MALDI-TOF и микробиологической идентификации на автоматическом биохимическом анализаторе, а также для молекулярно-генетических исследований – выделения ДНК и проведения ПЦР в реальном времени, осуществления секвенирования по Сэнгеру и полногеномного секвенирования с использованием оборудования MiSeq Illumina.</p>
				<p>Фактическая численность Референс-центра составляет 7 специалистов, включая руководителя, у 5 специалистов имеется ученая степень.</p>
			</li>
		</ul>

		<div class="reference__aplicator">
			<div class="reference__subtitle">5-канальный амплификатор для ПЦР в реальном времени</div>
			<div class="reference__swipper swiper" id="reference__swipper">
				<div class="reference__swipper-wrapper swiper-wrapper">
					<div class="reference__slide swiper-slide">
						<div class="applicator__slide-image">
							<img src="../img/Референс-центр сайт 1.png" alt="">
						</div>
					</div>
					<div class="reference__slide swiper-slide">
						<div class="applicator__slide-image">
							<img src="../img/Референс-центр сайт 1.png" alt="">
						</div>
					</div>
					<div class="reference__slide swiper-slide">
						<div class="applicator__slide-image">
							<img src="../img/Референс-центр сайт 1.png" alt="">
						</div>
					</div>
				</div>
			</div>
			<div class="pagination reference__pagination">
				<div class="pagination__prev reference__prev">
						<svg  viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M8.71094 1.67773L2.38836 8.00032L8.71094 14.3229" stroke="#3F4C5C" stroke-width="2" stroke-linecap="round"/>
						</svg>
				</div>
				<div class="pagination__bullets reference__bullets"></div>
				<div class="pagination__next reference__next">
						<svg  viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
								<g filter="url(#filter0_i_642_15861)">
								<path d="M1.22656 14.3223L7.54914 7.99968L1.22656 1.6771" stroke="#3F4C5C" stroke-width="2" stroke-linecap="round"/>
								</g>
								<defs>
								<filter id="filter0_i_642_15861" x="0.226562" y="0.677124" width="11.7363" height="17.6451" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
								<feFlood flood-opacity="0" result="BackgroundImageFix"/>
								<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
								<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
								<feOffset dx="3" dy="3"/>
								<feGaussianBlur stdDeviation="5"/>
								<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
								<feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.5 0"/>
								<feBlend mode="normal" in2="shape" result="effect1_innerShadow_642_15861"/>
								</filter>
								</defs>
								</svg>
				</div>
		</div>
		</div>
	</div>
</section>