<section class="schedule">
    <div class="container">
        <div class="bread-crumbs">
            <a href="../index.html">Главная</a>
            <a href="../schedule-page.html">Расписание</a>
        </div>
        <div class="schedule__wrapper">
            <div class="schedule__title">
                <div class="title">Расписание приема специалистов в будние дни</div>
                <span>Декабрь 2022</span>
            </div>
            <ul class="block__items">
                <li class="block__item">
                    <div class="block__item-inner">
                        <div class="block__item-title">Дерматология</div>
                        <div class="block__item-cost">
                          <div class="block__item-price">от 280 руб.</div>
                          <div class="block__item-arrow">
                            <img src="./img/icon/button-arrow-green.svg" alt="" />
                          </div>
                        </div>
                    </div>
                    <div class="block__content schedule-table">
                      <div class="schedule-table__item schedule-table__header">
                        <div>Врач</div>
                        <div>Каб.</div>
                        <div>Понедельник</div>
                        <div>Вторник</div>
                        <div>Среда</div>
                        <div>Четверг</div>
                        <div>Пятница</div>
                      </div>
                      <div class="schedule-table__item">
                        <div>
                          <div class="--mob">Врач</div>
                          <div class="schedule-table__doctor">
                            <a href="#" class="schedule-table__doctor-name">
                              Маковецкая Оксана Сергеевна
                            </a>
                            <div class="schedule-table__doctor-work">
                              Врач-дерматовенеролог, 2 категории
                            </div>
                            <div class="schedule-table__doctor-text">
                              Врач-дерматовенеролог, 2 категории
                              сертификат по специальности: «дерматовенерология» действителен до 24.04.2025
                            </div>
                          </div>
                        </div>
                        <div>
                          <div class="--mob">Каб.</div>
                          <div>209</div>
                        </div>
                        <div>
                          <div class="--mob">Понедельник</div>
                          <div>15:00-21:30</div>
                        </div>
                        <div>
                          <div class="--mob">Вторник</div>
                          <div>15:00-21:30</div>
                        </div>
                        <div>
                          <div class="--mob">Среда</div>
                          <div>-</div>
                        </div>
                        <div>
                          <div class="--mob">Четверг</div>
                          <div>08:30-15:00</div>
                        </div>
                        <div>
                          <div class="--mob">Пятница</div>
                          <div>08:30-15:00</div>
                        </div>
                      </div>
                      <div class="schedule-table__item">
                        <div>
                          <div class="--mob">Врач</div>
                          <div class="schedule-table__doctor">
                            <a href="#" class="schedule-table__doctor-name">
                              Текучева Лилиана Владимировна
                            </a>
                            <div class="schedule-table__doctor-work">
                              Врач-дерматовенеролог, к.м.н.
                            </div>
                            <div class="schedule-table__doctor-text">
                              сертификаты по специальностям: «дерматовенерология» действителен до 05.02.2025; «косметология» действителен
                              до 05.10.2024
                            </div>
                          </div>
                        </div>
                        <div>
                          <div class="--mob">Каб.</div>
                          <div>410</div>
                        </div>
                        <div>
                          <div class="--mob">Понедельник</div>
                          <div>-</div>
                        </div>
                        <div>
                          <div class="--mob">Вторник</div>
                          <div>10:30-17:00</div>
                        </div>
                        <div>
                          <div class="--mob">Среда</div>
                          <div>10:30-17:00</div>
                        </div>
                        <div>
                          <div class="--mob">Четверг</div>
                          <div>14:00-20:30</div>
                        </div>
                        <div>
                          <div class="--mob">Пятница</div>
                          <div>
                            <div>14:00-20:30</div>
                            <div>
                              10:30-15:00
                              <span>(30.12.22)</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="schedule-table__item">
                        <div>
                          <div class="--mob">Врач</div>
                          <div class="schedule-table__doctor">
                            <a href="#" class="schedule-table__doctor-name">
                              Михель Даяна Габриэловна
                            </a>
                            <div class="schedule-table__doctor-work">
                              Врач-дерматовенеролог
                            </div>
                            <div class="schedule-table__doctor-text">
                              аккредитация по специальности: «дерматовенерология» действительна до 10.07.2026
                            </div>
                          </div>
                        </div>
                        <div>
                          <div class="--mob">Каб.</div>
                          <div>209</div>
                        </div>
                        <div>
                          <div class="--mob">Понедельник</div>
                          <div>08:30-15:00</div>
                        </div>
                        <div>
                          <div class="--mob">Вторник</div>
                          <div>-</div>
                        </div>
                        <div>
                          <div class="--mob">Среда</div>
                          <div>15:00-21:30</div>
                        </div>
                        <div>
                          <div class="--mob">Четверг</div>
                          <div>-</div>
                        </div>
                        <div>
                          <div class="--mob">Пятница</div>
                          <div>-</div>
                        </div>
                      </div>
                    </div>
                </li>
                <li class="block__item">
                  <div class="block__item-inner">
                    <div class="block__item-title">Сифилидология и венерология мужская</div>
                    <div class="block__item-cost">
                      <div class="block__item-price">от 280 руб.</div>
                      <div class="block__item-arrow">
                        <img src="./img/icon/button-arrow-green.svg" alt="" />
                      </div>
                    </div>
                  </div>
                  <div class="block__content schedule-table">
                    <div class="schedule-table__item schedule-table__header">
                      <div>Врач</div>
                      <div>Каб.</div>
                      <div>Понедельник</div>
                      <div>Вторник</div>
                      <div>Среда</div>
                      <div>Четверг</div>
                      <div>Пятница</div>
                    </div>
                    <div class="schedule-table__item">
                      <div>
                        <div class="--mob">Врач</div>
                        <div class="schedule-table__doctor">
                          <a href="#" class="schedule-table__doctor-name">
                            Маковецкая Оксана Сергеевна
                          </a>
                          <div class="schedule-table__doctor-work">
                            Врач-дерматовенеролог, 2 категории
                          </div>
                          <div class="schedule-table__doctor-text">
                            Врач-дерматовенеролог, 2 категории
                            сертификат по специальности: «дерматовенерология» действителен до 24.04.2025
                          </div>
                        </div>
                      </div>
                      <div>
                        <div class="--mob">Каб.</div>
                        <div>209</div>
                      </div>
                      <div>
                        <div class="--mob">Понедельник</div>
                        <div>15:00-21:30</div>
                      </div>
                      <div>
                        <div class="--mob">Вторник</div>
                        <div>15:00-21:30</div>
                      </div>
                      <div>
                        <div class="--mob">Среда</div>
                        <div>-</div>
                      </div>
                      <div>
                        <div class="--mob">Четверг</div>
                        <div>08:30-15:00</div>
                      </div>
                      <div>
                        <div class="--mob">Пятница</div>
                        <div>08:30-15:00</div>
                      </div>
                    </div>
                    <div class="schedule-table__item">
                      <div>
                        <div class="--mob">Врач</div>
                        <div class="schedule-table__doctor">
                          <a href="#" class="schedule-table__doctor-name">
                            Текучева Лилиана Владимировна
                          </a>
                          <div class="schedule-table__doctor-work">
                            Врач-дерматовенеролог, к.м.н.
                          </div>
                          <div class="schedule-table__doctor-text">
                            сертификаты по специальностям: «дерматовенерология» действителен до 05.02.2025; «косметология» действителен
                            до 05.10.2024
                          </div>
                        </div>
                      </div>
                      <div>
                        <div class="--mob">Каб.</div>
                        <div>410</div>
                      </div>
                      <div>
                        <div class="--mob">Понедельник</div>
                        <div>-</div>
                      </div>
                      <div>
                        <div class="--mob">Вторник</div>
                        <div>10:30-17:00</div>
                      </div>
                      <div>
                        <div class="--mob">Среда</div>
                        <div>10:30-17:00</div>
                      </div>
                      <div>
                        <div class="--mob">Четверг</div>
                        <div>14:00-20:30</div>
                      </div>
                      <div>
                        <div class="--mob">Пятница</div>
                        <div>
                          <div>14:00-20:30</div>
                          <div>
                            10:30-15:00
                            <span>(30.12.22)</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="schedule-table__item">
                      <div>
                        <div class="--mob">Врач</div>
                        <div class="schedule-table__doctor">
                          <a href="#" class="schedule-table__doctor-name">
                            Михель Даяна Габриэловна
                          </a>
                          <div class="schedule-table__doctor-work">
                            Врач-дерматовенеролог
                          </div>
                          <div class="schedule-table__doctor-text">
                            аккредитация по специальности: «дерматовенерология» действительна до 10.07.2026
                          </div>
                        </div>
                      </div>
                      <div>
                        <div class="--mob">Каб.</div>
                        <div>209</div>
                      </div>
                      <div>
                        <div class="--mob">Понедельник</div>
                        <div>08:30-15:00</div>
                      </div>
                      <div>
                        <div class="--mob">Вторник</div>
                        <div>-</div>
                      </div>
                      <div>
                        <div class="--mob">Среда</div>
                        <div>15:00-21:30</div>
                      </div>
                      <div>
                        <div class="--mob">Четверг</div>
                        <div>-</div>
                      </div>
                      <div>
                        <div class="--mob">Пятница</div>
                        <div>-</div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="block__item">
                  <div class="block__item-inner">
                    <div class="block__item-title">Микология</div>
                    <div class="block__item-cost">
                      <div class="block__item-price">от 280 руб.</div>
                      <div class="block__item-arrow">
                        <img src="./img/icon/button-arrow-green.svg" alt="" />
                      </div>
                    </div>
                  </div>
                  <div class="block__content schedule-table">
                    <div class="schedule-table__item schedule-table__header">
                      <div>Врач</div>
                      <div>Каб.</div>
                      <div>Понедельник</div>
                      <div>Вторник</div>
                      <div>Среда</div>
                      <div>Четверг</div>
                      <div>Пятница</div>
                    </div>
                    <div class="schedule-table__item">
                      <div>
                        <div class="--mob">Врач</div>
                        <div class="schedule-table__doctor">
                          <a href="#" class="schedule-table__doctor-name">
                            Маковецкая Оксана Сергеевна
                          </a>
                          <div class="schedule-table__doctor-work">
                            Врач-дерматовенеролог, 2 категории
                          </div>
                          <div class="schedule-table__doctor-text">
                            Врач-дерматовенеролог, 2 категории
                            сертификат по специальности: «дерматовенерология» действителен до 24.04.2025
                          </div>
                        </div>
                      </div>
                      <div>
                        <div class="--mob">Каб.</div>
                        <div>209</div>
                      </div>
                      <div>
                        <div class="--mob">Понедельник</div>
                        <div>15:00-21:30</div>
                      </div>
                      <div>
                        <div class="--mob">Вторник</div>
                        <div>15:00-21:30</div>
                      </div>
                      <div>
                        <div class="--mob">Среда</div>
                        <div>-</div>
                      </div>
                      <div>
                        <div class="--mob">Четверг</div>
                        <div>08:30-15:00</div>
                      </div>
                      <div>
                        <div class="--mob">Пятница</div>
                        <div>08:30-15:00</div>
                      </div>
                    </div>
                    <div class="schedule-table__item">
                      <div>
                        <div class="--mob">Врач</div>
                        <div class="schedule-table__doctor">
                          <a href="#" class="schedule-table__doctor-name">
                            Текучева Лилиана Владимировна
                          </a>
                          <div class="schedule-table__doctor-work">
                            Врач-дерматовенеролог, к.м.н.
                          </div>
                          <div class="schedule-table__doctor-text">
                            сертификаты по специальностям: «дерматовенерология» действителен до 05.02.2025; «косметология» действителен
                            до 05.10.2024
                          </div>
                        </div>
                      </div>
                      <div>
                        <div class="--mob">Каб.</div>
                        <div>410</div>
                      </div>
                      <div>
                        <div class="--mob">Понедельник</div>
                        <div>-</div>
                      </div>
                      <div>
                        <div class="--mob">Вторник</div>
                        <div>10:30-17:00</div>
                      </div>
                      <div>
                        <div class="--mob">Среда</div>
                        <div>10:30-17:00</div>
                      </div>
                      <div>
                        <div class="--mob">Четверг</div>
                        <div>14:00-20:30</div>
                      </div>
                      <div>
                        <div class="--mob">Пятница</div>
                        <div>
                          <div>14:00-20:30</div>
                          <div>
                            10:30-15:00
                            <span>(30.12.22)</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="schedule-table__item">
                      <div>
                        <div class="--mob">Врач</div>
                        <div class="schedule-table__doctor">
                          <a href="#" class="schedule-table__doctor-name">
                            Михель Даяна Габриэловна
                          </a>
                          <div class="schedule-table__doctor-work">
                            Врач-дерматовенеролог
                          </div>
                          <div class="schedule-table__doctor-text">
                            аккредитация по специальности: «дерматовенерология» действительна до 10.07.2026
                          </div>
                        </div>
                      </div>
                      <div>
                        <div class="--mob">Каб.</div>
                        <div>209</div>
                      </div>
                      <div>
                        <div class="--mob">Понедельник</div>
                        <div>08:30-15:00</div>
                      </div>
                      <div>
                        <div class="--mob">Вторник</div>
                        <div>-</div>
                      </div>
                      <div>
                        <div class="--mob">Среда</div>
                        <div>15:00-21:30</div>
                      </div>
                      <div>
                        <div class="--mob">Четверг</div>
                        <div>-</div>
                      </div>
                      <div>
                        <div class="--mob">Пятница</div>
                        <div>-</div>
                      </div>
                    </div>
                  </div>
                </li>
            </ul>
        </div>
        <div class="schedule__wrapper">
          <div class="schedule__title">
            <div class="title">Расписание приема специалистов в выходные дни</div>
            <span>Декабрь 2022</span>
          </div>
          <ul class="block__items">
            <li class="block__item">
              <div class="block__item-inner">
                <div class="block__item-title">Дерматология</div>
                <div class="block__item-cost">
                  <div class="block__item-price">от 280 руб.</div>
                  <div class="block__item-arrow">
                    <img src="./img/icon/button-arrow-green.svg" alt="" />
                  </div>
                </div>
              </div>
              <div class="block__content schedule-table">
                <div class="schedule-table__item schedule-table__header">
                  <div>Врач</div>
                  <div>Каб.</div>
                  <div>Понедельник</div>
                  <div>Вторник</div>
                  <div>Среда</div>
                  <div>Четверг</div>
                  <div>Пятница</div>
                </div>
                <div class="schedule-table__item">
                  <div>
                    <div class="--mob">Врач</div>
                    <div class="schedule-table__doctor">
                      <a href="#" class="schedule-table__doctor-name">
                        Маковецкая Оксана Сергеевна
                      </a>
                      <div class="schedule-table__doctor-work">
                        Врач-дерматовенеролог, 2 категории
                      </div>
                      <div class="schedule-table__doctor-text">
                        Врач-дерматовенеролог, 2 категории
                        сертификат по специальности: «дерматовенерология» действителен до 24.04.2025
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="--mob">Каб.</div>
                    <div>209</div>
                  </div>
                  <div>
                    <div class="--mob">Понедельник</div>
                    <div>15:00-21:30</div>
                  </div>
                  <div>
                    <div class="--mob">Вторник</div>
                    <div>15:00-21:30</div>
                  </div>
                  <div>
                    <div class="--mob">Среда</div>
                    <div>-</div>
                  </div>
                  <div>
                    <div class="--mob">Четверг</div>
                    <div>08:30-15:00</div>
                  </div>
                  <div>
                    <div class="--mob">Пятница</div>
                    <div>08:30-15:00</div>
                  </div>
                </div>
                <div class="schedule-table__item">
                  <div>
                    <div class="--mob">Врач</div>
                    <div class="schedule-table__doctor">
                      <a href="#" class="schedule-table__doctor-name">
                        Текучева Лилиана Владимировна
                      </a>
                      <div class="schedule-table__doctor-work">
                        Врач-дерматовенеролог, к.м.н.
                      </div>
                      <div class="schedule-table__doctor-text">
                        сертификаты по специальностям: «дерматовенерология» действителен до 05.02.2025; «косметология»
                        действителен
                        до 05.10.2024
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="--mob">Каб.</div>
                    <div>410</div>
                  </div>
                  <div>
                    <div class="--mob">Понедельник</div>
                    <div>-</div>
                  </div>
                  <div>
                    <div class="--mob">Вторник</div>
                    <div>10:30-17:00</div>
                  </div>
                  <div>
                    <div class="--mob">Среда</div>
                    <div>10:30-17:00</div>
                  </div>
                  <div>
                    <div class="--mob">Четверг</div>
                    <div>14:00-20:30</div>
                  </div>
                  <div>
                    <div class="--mob">Пятница</div>
                    <div>
                      <div>14:00-20:30</div>
                      <div>
                        10:30-15:00
                        <span>(30.12.22)</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="schedule-table__item">
                  <div>
                    <div class="--mob">Врач</div>
                    <div class="schedule-table__doctor">
                      <a href="#" class="schedule-table__doctor-name">
                        Михель Даяна Габриэловна
                      </a>
                      <div class="schedule-table__doctor-work">
                        Врач-дерматовенеролог
                      </div>
                      <div class="schedule-table__doctor-text">
                        аккредитация по специальности: «дерматовенерология» действительна до 10.07.2026
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="--mob">Каб.</div>
                    <div>209</div>
                  </div>
                  <div>
                    <div class="--mob">Понедельник</div>
                    <div>08:30-15:00</div>
                  </div>
                  <div>
                    <div class="--mob">Вторник</div>
                    <div>-</div>
                  </div>
                  <div>
                    <div class="--mob">Среда</div>
                    <div>15:00-21:30</div>
                  </div>
                  <div>
                    <div class="--mob">Четверг</div>
                    <div>-</div>
                  </div>
                  <div>
                    <div class="--mob">Пятница</div>
                    <div>-</div>
                  </div>
                </div>
              </div>
            </li>
            <li class="block__item">
              <div class="block__item-inner">
                <div class="block__item-title">Сифилидология и венерология мужская</div>
                <div class="block__item-cost">
                  <div class="block__item-price">от 280 руб.</div>
                  <div class="block__item-arrow">
                    <img src="./img/icon/button-arrow-green.svg" alt="" />
                  </div>
                </div>
              </div>
              <div class="block__content schedule-table">
                <div class="schedule-table__item schedule-table__header">
                  <div>Врач</div>
                  <div>Каб.</div>
                  <div>Понедельник</div>
                  <div>Вторник</div>
                  <div>Среда</div>
                  <div>Четверг</div>
                  <div>Пятница</div>
                </div>
                <div class="schedule-table__item">
                  <div>
                    <div class="--mob">Врач</div>
                    <div class="schedule-table__doctor">
                      <a href="#" class="schedule-table__doctor-name">
                        Маковецкая Оксана Сергеевна
                      </a>
                      <div class="schedule-table__doctor-work">
                        Врач-дерматовенеролог, 2 категории
                      </div>
                      <div class="schedule-table__doctor-text">
                        Врач-дерматовенеролог, 2 категории
                        сертификат по специальности: «дерматовенерология» действителен до 24.04.2025
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="--mob">Каб.</div>
                    <div>209</div>
                  </div>
                  <div>
                    <div class="--mob">Понедельник</div>
                    <div>15:00-21:30</div>
                  </div>
                  <div>
                    <div class="--mob">Вторник</div>
                    <div>15:00-21:30</div>
                  </div>
                  <div>
                    <div class="--mob">Среда</div>
                    <div>-</div>
                  </div>
                  <div>
                    <div class="--mob">Четверг</div>
                    <div>08:30-15:00</div>
                  </div>
                  <div>
                    <div class="--mob">Пятница</div>
                    <div>08:30-15:00</div>
                  </div>
                </div>
                <div class="schedule-table__item">
                  <div>
                    <div class="--mob">Врач</div>
                    <div class="schedule-table__doctor">
                      <a href="#" class="schedule-table__doctor-name">
                        Текучева Лилиана Владимировна
                      </a>
                      <div class="schedule-table__doctor-work">
                        Врач-дерматовенеролог, к.м.н.
                      </div>
                      <div class="schedule-table__doctor-text">
                        сертификаты по специальностям: «дерматовенерология» действителен до 05.02.2025; «косметология»
                        действителен
                        до 05.10.2024
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="--mob">Каб.</div>
                    <div>410</div>
                  </div>
                  <div>
                    <div class="--mob">Понедельник</div>
                    <div>-</div>
                  </div>
                  <div>
                    <div class="--mob">Вторник</div>
                    <div>10:30-17:00</div>
                  </div>
                  <div>
                    <div class="--mob">Среда</div>
                    <div>10:30-17:00</div>
                  </div>
                  <div>
                    <div class="--mob">Четверг</div>
                    <div>14:00-20:30</div>
                  </div>
                  <div>
                    <div class="--mob">Пятница</div>
                    <div>
                      <div>14:00-20:30</div>
                      <div>
                        10:30-15:00
                        <span>(30.12.22)</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="schedule-table__item">
                  <div>
                    <div class="--mob">Врач</div>
                    <div class="schedule-table__doctor">
                      <a href="#" class="schedule-table__doctor-name">
                        Михель Даяна Габриэловна
                      </a>
                      <div class="schedule-table__doctor-work">
                        Врач-дерматовенеролог
                      </div>
                      <div class="schedule-table__doctor-text">
                        аккредитация по специальности: «дерматовенерология» действительна до 10.07.2026
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="--mob">Каб.</div>
                    <div>209</div>
                  </div>
                  <div>
                    <div class="--mob">Понедельник</div>
                    <div>08:30-15:00</div>
                  </div>
                  <div>
                    <div class="--mob">Вторник</div>
                    <div>-</div>
                  </div>
                  <div>
                    <div class="--mob">Среда</div>
                    <div>15:00-21:30</div>
                  </div>
                  <div>
                    <div class="--mob">Четверг</div>
                    <div>-</div>
                  </div>
                  <div>
                    <div class="--mob">Пятница</div>
                    <div>-</div>
                  </div>
                </div>
              </div>
            </li>
            <li class="block__item">
              <div class="block__item-inner">
                <div class="block__item-title">Микология</div>
                <div class="block__item-cost">
                  <div class="block__item-price">от 280 руб.</div>
                  <div class="block__item-arrow">
                    <img src="./img/icon/button-arrow-green.svg" alt="" />
                  </div>
                </div>
              </div>
              <div class="block__content schedule-table">
                <div class="schedule-table__item schedule-table__header">
                  <div>Врач</div>
                  <div>Каб.</div>
                  <div>Понедельник</div>
                  <div>Вторник</div>
                  <div>Среда</div>
                  <div>Четверг</div>
                  <div>Пятница</div>
                </div>
                <div class="schedule-table__item">
                  <div>
                    <div class="--mob">Врач</div>
                    <div class="schedule-table__doctor">
                      <a href="#" class="schedule-table__doctor-name">
                        Маковецкая Оксана Сергеевна
                      </a>
                      <div class="schedule-table__doctor-work">
                        Врач-дерматовенеролог, 2 категории
                      </div>
                      <div class="schedule-table__doctor-text">
                        Врач-дерматовенеролог, 2 категории
                        сертификат по специальности: «дерматовенерология» действителен до 24.04.2025
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="--mob">Каб.</div>
                    <div>209</div>
                  </div>
                  <div>
                    <div class="--mob">Понедельник</div>
                    <div>15:00-21:30</div>
                  </div>
                  <div>
                    <div class="--mob">Вторник</div>
                    <div>15:00-21:30</div>
                  </div>
                  <div>
                    <div class="--mob">Среда</div>
                    <div>-</div>
                  </div>
                  <div>
                    <div class="--mob">Четверг</div>
                    <div>08:30-15:00</div>
                  </div>
                  <div>
                    <div class="--mob">Пятница</div>
                    <div>08:30-15:00</div>
                  </div>
                </div>
                <div class="schedule-table__item">
                  <div>
                    <div class="--mob">Врач</div>
                    <div class="schedule-table__doctor">
                      <a href="#" class="schedule-table__doctor-name">
                        Текучева Лилиана Владимировна
                      </a>
                      <div class="schedule-table__doctor-work">
                        Врач-дерматовенеролог, к.м.н.
                      </div>
                      <div class="schedule-table__doctor-text">
                        сертификаты по специальностям: «дерматовенерология» действителен до 05.02.2025; «косметология»
                        действителен
                        до 05.10.2024
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="--mob">Каб.</div>
                    <div>410</div>
                  </div>
                  <div>
                    <div class="--mob">Понедельник</div>
                    <div>-</div>
                  </div>
                  <div>
                    <div class="--mob">Вторник</div>
                    <div>10:30-17:00</div>
                  </div>
                  <div>
                    <div class="--mob">Среда</div>
                    <div>10:30-17:00</div>
                  </div>
                  <div>
                    <div class="--mob">Четверг</div>
                    <div>14:00-20:30</div>
                  </div>
                  <div>
                    <div class="--mob">Пятница</div>
                    <div>
                      <div>14:00-20:30</div>
                      <div>
                        10:30-15:00
                        <span>(30.12.22)</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="schedule-table__item">
                  <div>
                    <div class="--mob">Врач</div>
                    <div class="schedule-table__doctor">
                      <a href="#" class="schedule-table__doctor-name">
                        Михель Даяна Габриэловна
                      </a>
                      <div class="schedule-table__doctor-work">
                        Врач-дерматовенеролог
                      </div>
                      <div class="schedule-table__doctor-text">
                        аккредитация по специальности: «дерматовенерология» действительна до 10.07.2026
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="--mob">Каб.</div>
                    <div>209</div>
                  </div>
                  <div>
                    <div class="--mob">Понедельник</div>
                    <div>08:30-15:00</div>
                  </div>
                  <div>
                    <div class="--mob">Вторник</div>
                    <div>-</div>
                  </div>
                  <div>
                    <div class="--mob">Среда</div>
                    <div>15:00-21:30</div>
                  </div>
                  <div>
                    <div class="--mob">Четверг</div>
                    <div>-</div>
                  </div>
                  <div>
                    <div class="--mob">Пятница</div>
                    <div>-</div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
    </div>
</section>
