<section class="search">
  <div class="container">
    <div class="bread-crumbs">
      <a href="../index.html">Главная</a>
      <a href="../search-page.html">Поиск</a>
    </div>
    <div class="search__form --mob">
      <form action="">
        <button type="submit">
          <img src="./img/icon/search.svg" alt="" />
        </button>
        <input type="text" placeholder="Поиск по сайту" />
      </form>
      <div  class="search__form-result">
        <ul>
          <li>
            <a href="">Дополнительно образование</a>
          </li>
          <li>
            <a href="">Дополнительно образование</a>
          </li>
          <li>
            <a href="">Дополнительно образование</a>
          </li>
          <li>
            <a href="">Дополнительно образование</a>
          </li>
          <li>
            <a href="">Дополнительно образование</a>
          </li>
        </ul>
      </div>
    </div>
      <div class="search__content active">
        <ul class="search__content-items">
          <li class="search__content-item">
            <a href="#">Дополнительное образование</a>
          </li>
          <li class="search__content-item">
            <a href="#">Дополнительное образование</a>
          </li>
          <li class="search__content-item">
            <a href="#">Дополнительное образование</a>
          </li>
          <li class="search__content-item">
            <a href="#">Дополнительное образование</a>
          </li>
        </ul>
      </div>
      <div class="search__content">
        <div class="search__content-none">
          <p>К сожалению, по вашему запросу ничего не найдено.</p>
          <p>Попробуйте изменить запрос или использовать другие ключевые слова.</p>
        </div>
    </div>
  </div>
</section>