<section class="specialists">
	<div class="container">
		<div class="bread-crumbs">
			<a href="../index.html">Главная</a>
			<a href="../specialists-page.html">Специалистам</a>
		</div>
		<div class="title">Специалистам</div>
		<div class="specialists__wrapper">
			<div class="specialists__left">
				<ul class="menu__tabs">
					<li class="menu__tab active" data-open-menu="procedure-providing">Порядок оказания медицинской помощи по профилю «Дерматовенерология»</li>
					<li class="menu__tab" data-open-menu="regulations">Нормативные документы</li>
					<li class="menu__tab" data-open-menu="treatment-and-prophylactic">Лечебно-профилактические учреждения дерматовенерологического профиля</li>
					<li class="menu__tab" data-open-menu="abstracts-scientific-works">Тезисы научных работ</li>
				</ul>
			</div>
			
			<div class="specialists__right">
				@@include('./specialists/procedure-providing.html')
			</div>
		</div>
	</div>
</section>