<section class="specialists">
    <div class="container">
        <div class="bread-crumbs">
            <a href="../index.html">Главная</a>
            <a href="../specialists-page.html">Специалистам</a>
            <a href="#rossijskoe-obshchestvo-dermatovenerologov-i-kosmetologov" class="crumb-content"
                >Российское общество дерматовенерологов и косметологов</a
            >
        </div>
        <div class="title">Специалистам</div>
        <div class="specialists__wrapper">
            <div class="specialists__left">
                <ul class="menu__tabs">
                    <li class="menu__tab">
                        <a
                            href="#rossijskoe-obshchestvo-dermatovenerologov-i-kosmetologov"
                            data-open-content="rossijskoe-obshchestvo-dermatovenerologov-i-kosmetologov"
                            >Российское общество дерматовенерологов и косметологов</a
                        >
                    </li>
                    <li class="menu__tab">
                        <a
                            href="#federalnyj-proekt-medicinskaya-nauka-dlya-cheloveka"
                            data-open-content="federalnyj-proekt-medicinskaya-nauka-dlya-cheloveka"
                            >Федеральный проект «Медицинская наука для человека»</a
                        >
                    </li>
                    <li class="menu__tab">
                        <a
                            href="#registr-pacientov-s-hronicheskimi-zabolevaniyami-kozhi-i-podkozhnoj-kletchatki"
                            data-open-content="registr-pacientov-s-hronicheskimi-zabolevaniyami-kozhi-i-podkozhnoj-kletchatki"
                            >Регистр пациентов с хроническими заболеваниями кожи и подкожной клетчатки</a
                        >
                    </li>
                    <li class="menu__tab">
                        <a
                            href="#vestnik-dermatologii-i-venerologii"
                            data-open-content="vestnik-dermatologii-i-venerologii"
                            >Вестник дерматологии и венерологии</a
                        >
                    </li>
                    <li class="menu__tab">
                        <a href="#normativnye-dokumenty" data-open-content="normativnye-dokumenty"
                            >Нормативные документы</a
                        >
                    </li>
                    <li class="menu__tab">
                        <a href="#akkreditaciya-specialistov" data-open-content="akkreditaciya-specialistov"
                            >Аккредитация специалистов</a
                        >
                    </li>
                    <li class="menu__tab">
                        <a
                            href="#medicinskie-organizacii-dermatovenerologicheskogo-profilya"
                            data-open-content="medicinskie-organizacii-dermatovenerologicheskogo-profilya"
                            >Медицинские организации дерматовенерологического профиля</a
                        >
                    </li>
                    <li class="menu__tab">
                        <a href="#medicinskoe-obrazovanie" data-open-content="medicinskoe-obrazovanie"
                            >Медицинское образование</a
                        >
                    </li>
                    <li class="menu__tab">
                        <a href="./conferences-page.html">Научно-практические конференции</a>
                    </li>
                    <li class="menu__tab">
                        <a href="./reference-center-page.html"
                            >Референс-центр по предупреждению распространения резистентности возбудителей ИППП и
                            лепры</a
                        >
                    </li>
                </ul>
            </div>

            <div class="specialists__right">@@include('./specialists/regulations.html')</div>
        </div>
    </div>
</section>
