<section class="specialists">
	<div class="container">
		<div class="title">Специалистам</div>
		<div class="specialists__wrapper">
			<div class="specialists__left">
				<ul class="menu__tabs">
					<li class="menu__tab active" data-open-menu="procedure-providing">Порядок оказания медицинской помощи по профилю «Дерматовенерология»</li>
					<li class="menu__tab" data-open-menu="regulations">Нормативные документы</li>
					<li class="menu__tab" data-open-menu="treatment-and-prophylactic">Лечебно-профилактические учреждения дерматовенерологического профиля</li>
					<li class="menu__tab" data-open-menu="abstracts-scientific-works">Тезисы научных работ</li>
				</ul>
			</div>
			
			<div class="specialists__right">
				<div class="specialists__item active" data-menu="procedure-providing">
					<ul class="specialists__item-links">
						<li>
							<a href="#" target="_blank">Российское общество дерматовенерологов и косметологов</a>
						</li>
						<li>
							<a href="#" target="_blank">Федеральный проект «Медицинская наука для человека»</a>
						</li>
						<li>
							<a href="#" target="_blank">Регистр пациентов с хроническими заболеваниями кожи и подкожной клетчатки</a>
						</li>
						<li>
							<a href="#" target="_blank">Референс-центр по предупреждению распространения резистентности возбудителей ИППП и лепры</a>
						</li>
						<li>
							<a href="#" target="_blank">Вестник дерматологии и венерологии</a>
						</li>
						<li>
							<a href="#" target="_blank">Нормативные документы</a>
						</li>
						<li>
							<a href="#" target="_blank">Научно-практические конференции</a>
						</li>
						<li>
							<a href="#" target="_blank">Аккредитация специалистов</a>
						</li>
						<li>
							<a href="#" target="_blank">Медицинские организации дерматовенерологического профиля</a>
						</li>
						<li>
							<a href="#" target="_blank">Медицинское образование </a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>