<div class="submit-docs">
    <div class="container">
        <div class="bread-crumbs">
            <a href="./index.html">Главная</a>
            <a href="./bussines-page.html">Направление деятельности</a>
        </div>
        <div class="title">Подать документы</div>
        <div class="submit-docs__wrapper">
            <div class="submit-docs__block">
                <div class="submit-docs__block-title">
                    Для прохождения первичной специализированной аккредитации необходимо представить документы:
                </div>
                <ul>
                    <li>Скан заявления в формате PDF, заполненного по <a href="#" class="link-blue">форме</a></li>
                    <li>Образец заполнения заявления</li>
                    <li>
                        Информацию об аккредитуемом лице в формате Excel, заполненную по
                        <a href="#" class="link-blue">форме</a>
                    </li>
                    <li>
                        Сканы документов в формате PDF:
                        <ul>
                            <li>документа о высшем образовании;</li>
                            <li>диплома об окончании ординатуры или профессиональной переподготовки;</li>
                            <li>копия документа, удостоверяющего личность;</li>
                            <li>
                                страхового свидетельства обязательного пенсионного страхования (для иностранных граждан
                                и лиц без гражданства -при наличии);
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="submit-docs__block">
                <p>
                    Документы необходимо направлять на электронную почту
                    <a href="mailto: akkred@cnikvi.ru" class="link-green">akkred@cnikvi.ru.</a>
                </p>
                <p>
                    В теме письма указывать: ПСА Косметология _ФИОВ случае получения некорректных документов (нечитаемые
                    файлы, ошибки в предоставлении данных и т.д.) аккредитуемому будет направлен отказ в принятии
                    документов.
                </p>
            </div>
        </div>
    </div>
</div>
