<section class="telemedicine">
	<div class="container">
		<div class="bread-crumbs">
			<a href="../index.html">Главная</a>
			<a href="../telemedicine-consul-page.html">Телемедицинские консультации</a>
		</div>
			<div class="title">Телемедицинские консультации</div>
			<div class="telemedicine__block">
				<div class="subtitle">ФГБУ «ГНЦДК» МИНЗДРАВА РОССИИ ОКАЗЫВАЕТ МЕДИЦИНСКУЮ ПОМОЩЬ С ПРИМЕНЕНИЕМ ТЕЛЕМЕДИЦИНСКИХ ТЕХНОЛОГИЙ</div>
				<a href="#" class="link">Приказ об организации оказания медицинской помощи с применением телемедицинских технологий</a>
				<p>ФГБУ «Государственный научный центр дерматовенерологии и косметологии» Минздрава России осуществляет оказание медицинской помощи по профилю «дерматовенерология» с применением телемедицинских технологий при дистанционном взаимодействии медицинских работников между собой. Все дистанционные консультации с применением телемедицинских технологий проводятся в ФГБУ «ГНЦДК» Минздрава России в соответствии с Порядком организации и оказания медицинской помощи, утвержденным приказом Министерства здравоохранения Российской Федерации от 30 ноября 2017 г. № 965н</p>
			</div>
			<div class="telemedicine__block">
				<div class="subtitle">Специалисты ФГБУ «ГНЦДК» Минздрава России проводят:</div>
				<ul>
					<li>телемедицинские консультации по схеме "врач-врач" в подсистеме телемедицинских консультаций Единой государственной информационной системы в сфере здравоохранения (ЕГИСЗ);</li>
					<li>телемедицинские консилиумы по схеме "врач-врач" в информационной системе «Телемедицинская система дистанционных консультаций федерального и регионального уровней».</li>
				</ul>
				<p>Для получения телемедицинской консультации направляющая запрос медицинская организация должна быть зарегистрирована в одной из систем. В рамках этих систем возможно проведение телемедицинских консультаций с использованием видеоконференцсвязи.</p>
				<p>Консультации (консилиумы врачей) при оказании медицинской помощи с применением телемедицинских технологий могут быть проведены в режиме реального времени или в режиме отложенных консультаций, в неотложной или плановой форме.</p>
			</div>
			<div class="telemedicine__block">
				<div class="subtitle">Цели проведения консультаций/консилиумов врачей с применением телемедицинских технологий:</div>
				<ul>
					<li>Уточнение диагноза пациента.</li>
					<li>Уточнение тактики ведения пациента.</li>
					<li>Определение наличия или отсутствия показаний к госпитализации в ФГБУ «ГНЦДК» Минздрава России для оказания специализированной, в том числе, высокотехнологичной, медицинской помощи.</li>
				</ul>
			</div>
			<div class="telemedicine__block">
				<div class="subtitle">Документы, необходимые для проведения телемедицинской консультации/консилиума:</div>
				<ul>
					<li>Направление на телемедицинскую консультацию.</li>
					<li>Добровольное информированное согласие пациента.</li>
					<li>Выписка из истории болезни с подробным анамнезом, четко описанным локальным статусом (виды морфологических элементов, размеры, цвет, локализация), обязательным указанием проводимой ранее терапии: лекарственные препараты, физиотерапевтическое лечение, дозы и продолжительность проводимой терапии, эффективность и переносимость терапии.</li>
					<li>Результаты лабораторных и инструментальных исследований.</li>
					<li>Результаты консультаций смежных специалистов (наличии сопутствующей патологии).</li>
					<li>Фотографии пациента. Фотодокументирование должно проводиться врачом в условиях хорошего освещения. Крайне желательно проводить фотографирование зеркальной цифровой камерой. Фотографии должны быть высокого разрешения, в положении стоя - общий вид во весь рост спереди и сзади, обязательно должны быть зафиксированы все патологические участки кожного покрова, описанные в локальном статусе. Необходимо провести прицельное фотографирование отдельных очагов поражения с указанием размеров элементов (приложить линейку), отдельных очагов - в увеличении.</li>
				</ul>
			</div>
			<div class="telemedicine__block">
				<div class="subtitle">По вопросам организации и проведения телемедицинских консультаций обращаться:</div>
				<p>Ковалева Ольга Сергеевна – 8 499 785 2089.</p>
			</div>
		</div>
</section>