<div class="about__item" data-menu="structure">
	<div class="about__wrap">
		<div class="structure__btns">
			<a href="https://www.cnikvi.ru/centr/struktura/spf/spf.php?id=1" class="all-btn__blue" target="_blank">Сергиево-Посадский филиал</a>
			<button class="all-btn__blue active">ФГБУ «ГНЦДК» Минздрав России</button>
			<a href="https://ngfcnikvi.ru/" class="all-btn__blue" target="_blank">Нижегородский филиал</a>
		</div>

		<div class="about__content active">
			<ul class="block__items">
				<li class="block__item">
					<div class="block__item-inner">
						<div class="block__item-title">Научные подразделения</div>
						<div class="block__item-arrow">
							<img src="./img/icon/button-arrow-green.svg" alt="">
						</div>
					</div>
					<div class="block__content">
						<ul class="block__content-item structure__items">
							<li><a href="#">Научная часть</a></li>
							<li><a href="#">Отдел дерматологии</a></li>
							<li><a href="#">Отдел инфекций, передаваемых половым путем</a></li>
							<li><a href="#">Отдел лабораторной диагностики ИППП и дерматозов</a></li>
							<li><a href="#">Научно-организационный отдел</a></li>
							<li><a href="#">Группа эпидемиологии ИППП и дерматозов</a></li>
							<li><a href="#">Испытательный лабораторный центр</a></li>
					</ul>
				</li>
				<li class="block__item">
					<div class="block__item-inner">
						<div class="block__item-title">Клинические подразделения</div>
						<div class="block__item-arrow">
							<img src="./img/icon/button-arrow-green.svg" alt="">
						</div>
					</div>
					<div class="block__content">
						<ul class="block__content-item structure__items">
							<li><a href="#">Руководство и общеклинический персонал</a></li>
							<li><a href="#">Приемное отделение</a></li>
							<li><a href="#">Консультативно-диагностический центр</a></li>
							<li><a href="#">Отделение клинической дерматологии круглосуточный стационар дневной стационар</a></li>
							<li><a href="#">Лабораторный центр</a></li>
							<li><a href="#">Аптека</a></li>
					</ul>
				</li>
				<li class="block__item">
					<div class="block__item-inner">
						<div class="block__item-title">Образовательные подразделения</div>
						<div class="block__item-arrow">
							<img src="./img/icon/button-arrow-green.svg" alt="">
						</div>
					</div>
					<div class="block__content">
						<ul class="block__content-item structure__items">
							<li><a href="#">Группа организации послевузовского образования</a></li>
							<li><a href="#">Научная библиотека</a></li>
						</ul>
					</div>
				</li>
				<li class="block__item">
					<a href="#" class="block__item-inner">
						<div class="block__item-title">
							Административно-управленческий персонал
						</div>
					</a>
				</li>
				<li class="block__item">
					<a href="#" class="block__item-inner">
						<div class="block__item-title">
							Административно-хозяйственная часть
						</div>
					</a>
				</li>
			</ul>
		</div>

	</div>
</div>