<div class="about__item" data-menu="structure">
	<div class="about__wrap">
		<div class="menu__buttons">
			<button class="menu__button all-btn__blue active" data-open-structure="sergiev-posad">Сергиево-Посадский филиал</button>
			<button class="menu__button all-btn__blue" data-open-structure="fgbu">ФГБУ «ГНЦДК» Минздрав России</button>
			<button class="menu__button all-btn__blue" data-open-structure="nizhny">Нижегородский филиал</button>
		</div>

		<div class="about__content active" data-structure="sergiev-posad">
			<ul class="block__items">
				<li class="block__item">
					<div class="block__item-inner">
						<div class="block__item-title">Наука</div>
						<div class="block__item-arrow">
							<img src="./img/icon/button-arrow-green.svg" alt="">
						</div>
					</div>
					<div class="block__content">
						<ul class="block__content-item structure__items">
							<li><a href="#">Отдел дерматологии</a></li>
							<li><a href="#">Отдел инфекций, передаваемых половым путем</a></li>
							<li><a href="#">Отдел лабораторной диагностики ИППП и дерматозов</a></li>
							<li><a href="#">Научная часть</a></li>
							<li><a href="#">Группа эпидемиологии ИППП и дерматозов</a></li>
					</ul>
				</li>
				<li class="block__item">
					<div class="block__item-inner">
						<div class="block__item-title">Клиника</div>
						<div class="block__item-arrow">
							<img src="./img/icon/button-arrow-green.svg" alt="">
						</div>
					</div>
					<div class="block__content">
						<ul class="block__content-item structure__items">
							<li><a href="#">Заведующий клиникой</a></li>
							<li><a href="#">Общеклинический персонал</a></li>
							<li><a href="#">Приемное отделение</a></li>
							<li><a href="#">Консультативно-диагностический центр</a></li>
							<li><a href="#">Отделение клинической дерматологии</a></li>
							<li><a href="#">Отделение физиотерапии</a></li>
							<li><a href="#">Лабораторный центр</a></li>
							<li><a href="#">Аптека</a></li>
					</ul>
				</li>
				<li class="block__item">
					<div class="block__item-inner">
						<div class="block__item-title">Образование</div>
						<div class="block__item-arrow">
							<img src="./img/icon/button-arrow-green.svg" alt="">
						</div>
					</div>
					<div class="block__content">
						<ul class="block__content-item structure__items">
							<li><a href="#">Отдел дерматологии</a></li>
							<li><a href="#">Отдел инфекций, передаваемых половым путем</a></li>
							<li><a href="#">Отдел лабораторной диагностики ИППП и дерматозов</a></li>
							<li><a href="#">Научная часть</a></li>
							<li><a href="#">Группа эпидемиологии ИППП и дерматозов</a></li>
						</ul>
				</li>
				<li class="block__item">
					<div class="block__item-inner">
						<div class="block__item-title">Научно- организационный отдел</div>
						<div class="block__item-arrow">
							<img src="./img/icon/button-arrow-green.svg" alt="">
						</div>
					</div>
					<div class="block__content">
						<ul class="block__content-item structure__items">
							<li><a href="#">Отдел дерматологии</a></li>
							<li><a href="#">Отдел инфекций, передаваемых половым путем</a></li>
							<li><a href="#">Отдел лабораторной диагностики ИППП и дерматозов</a></li>
							<li><a href="#">Научная часть</a></li>
							<li><a href="#">Группа эпидемиологии ИППП и дерматозов</a></li>
					</ul>
				</li>
				<li class="block__item">
					<div class="block__item-inner">
						<div class="block__item-title">Испытательный лабораторный центр</div>
						<div class="block__item-arrow">
							<img src="./img/icon/button-arrow-green.svg" alt="">
						</div>
					</div>
					<div class="block__content">
						<ul class="block__content-item structure__items">
							<li><a href="#">Отдел дерматологии</a></li>
							<li><a href="#">Отдел инфекций, передаваемых половым путем</a></li>
							<li><a href="#">Отдел лабораторной диагностики ИППП и дерматозов</a></li>
							<li><a href="#">Научная часть</a></li>
							<li><a href="#">Группа эпидемиологии ИППП и дерматозов</a></li>
					</ul>
				</li>
				<li class="block__item">
					<div class="block__item-inner">
						<div class="block__item-title">Финансово-экономические, кадровые, хозяйственные подразделения</div>
						<div class="block__item-arrow">
							<img src="./img/icon/button-arrow-green.svg" alt="">
						</div>
					</div>
					<div class="block__content">
						<ul class="block__content-item structure__items">
							<li><a href="#">Отдел дерматологии</a></li>
							<li><a href="#">Отдел инфекций, передаваемых половым путем</a></li>
							<li><a href="#">Отдел лабораторной диагностики ИППП и дерматозов</a></li>
							<li><a href="#">Научная часть</a></li>
							<li><a href="#">Группа эпидемиологии ИППП и дерматозов</a></li>
					</ul>
				</li>
			</ul>
		</div>

		<div class="about__content" data-structure="fgbu">
			<ul class="block__items">
				<li class="block__item">
					<div class="block__item-inner">
						<div class="block__item-title">Наука</div>
						<div class="block__item-arrow">
							<img src="./img/icon/button-arrow-green.svg" alt="">
						</div>
					</div>
					<div class="block__content">
						<ul class="block__content-item structure__items">
							<li><a href="#">Отдел дерматологии</a></li>
							<li><a href="#">Отдел инфекций, передаваемых половым путем</a></li>
							<li><a href="#">Отдел лабораторной диагностики ИППП и дерматозов</a></li>
							<li><a href="#">Научная часть</a></li>
							<li><a href="#">Группа эпидемиологии ИППП и дерматозов</a></li>
					</ul>
				</li>
				<li class="block__item">
					<div class="block__item-inner">
						<div class="block__item-title">Клиника</div>
						<div class="block__item-arrow">
							<img src="./img/icon/button-arrow-green.svg" alt="">
						</div>
					</div>
					<div class="block__content">
						<ul class="block__content-item structure__items">
							<li><a href="#">Заведующий клиникой</a></li>
							<li><a href="#">Общеклинический персонал</a></li>
							<li><a href="#">Приемное отделение</a></li>
							<li><a href="#">Консультативно-диагностический центр</a></li>
							<li><a href="#">Отделение клинической дерматологии</a></li>
							<li><a href="#">Отделение физиотерапии</a></li>
							<li><a href="#">Лабораторный центр</a></li>
							<li><a href="#">Аптека</a></li>
					</ul>
				</li>
				<li class="block__item">
					<div class="block__item-inner">
						<div class="block__item-title">Образование</div>
						<div class="block__item-arrow">
							<img src="./img/icon/button-arrow-green.svg" alt="">
						</div>
					</div>
					<div class="block__content">
						<ul class="block__content-item structure__items">
							<li><a href="#">Отдел дерматологии</a></li>
							<li><a href="#">Отдел инфекций, передаваемых половым путем</a></li>
							<li><a href="#">Отдел лабораторной диагностики ИППП и дерматозов</a></li>
							<li><a href="#">Научная часть</a></li>
							<li><a href="#">Группа эпидемиологии ИППП и дерматозов</a></li>
						</ul>
				</li>
				<li class="block__item">
					<div class="block__item-inner">
						<div class="block__item-title">Научно- организационный отдел</div>
						<div class="block__item-arrow">
							<img src="./img/icon/button-arrow-green.svg" alt="">
						</div>
					</div>
					<div class="block__content">
						<ul class="block__content-item structure__items">
							<li><a href="#">Отдел дерматологии</a></li>
							<li><a href="#">Отдел инфекций, передаваемых половым путем</a></li>
							<li><a href="#">Отдел лабораторной диагностики ИППП и дерматозов</a></li>
							<li><a href="#">Научная часть</a></li>
							<li><a href="#">Группа эпидемиологии ИППП и дерматозов</a></li>
					</ul>
				</li>
				<li class="block__item">
					<div class="block__item-inner">
						<div class="block__item-title">Испытательный лабораторный центр</div>
						<div class="block__item-arrow">
							<img src="./img/icon/button-arrow-green.svg" alt="">
						</div>
					</div>
					<div class="block__content">
						<ul class="block__content-item structure__items">
							<li><a href="#">Отдел дерматологии</a></li>
							<li><a href="#">Отдел инфекций, передаваемых половым путем</a></li>
							<li><a href="#">Отдел лабораторной диагностики ИППП и дерматозов</a></li>
							<li><a href="#">Научная часть</a></li>
							<li><a href="#">Группа эпидемиологии ИППП и дерматозов</a></li>
					</ul>
				</li>
				<li class="block__item">
					<div class="block__item-inner">
						<div class="block__item-title">Финансово-экономические, кадровые, хозяйственные подразделения</div>
						<div class="block__item-arrow">
							<img src="./img/icon/button-arrow-green.svg" alt="">
						</div>
					</div>
					<div class="block__content">
						<ul class="block__content-item structure__items">
							<li><a href="#">Отдел дерматологии</a></li>
							<li><a href="#">Отдел инфекций, передаваемых половым путем</a></li>
							<li><a href="#">Отдел лабораторной диагностики ИППП и дерматозов</a></li>
							<li><a href="#">Научная часть</a></li>
							<li><a href="#">Группа эпидемиологии ИППП и дерматозов</a></li>
					</ul>
				</li>
			</ul>
		</div>

		<div class="about__content" data-structure="nizhny">
			<ul class="block__items">
				<li class="block__item">
					<div class="block__item-inner">
						<div class="block__item-title">Наука</div>
						<div class="block__item-arrow">
							<img src="./img/icon/button-arrow-green.svg" alt="">
						</div>
					</div>
					<div class="block__content">
						<ul class="block__content-item structure__items">
							<li><a href="#">Отдел дерматологии</a></li>
							<li><a href="#">Отдел инфекций, передаваемых половым путем</a></li>
							<li><a href="#">Отдел лабораторной диагностики ИППП и дерматозов</a></li>
							<li><a href="#">Научная часть</a></li>
							<li><a href="#">Группа эпидемиологии ИППП и дерматозов</a></li>
					</ul>
				</li>
				<li class="block__item">
					<div class="block__item-inner">
						<div class="block__item-title">Клиника</div>
						<div class="block__item-arrow">
							<img src="./img/icon/button-arrow-green.svg" alt="">
						</div>
					</div>
					<div class="block__content">
						<ul class="block__content-item structure__items">
							<li><a href="#">Заведующий клиникой</a></li>
							<li><a href="#">Общеклинический персонал</a></li>
							<li><a href="#">Приемное отделение</a></li>
							<li><a href="#">Консультативно-диагностический центр</a></li>
							<li><a href="#">Отделение клинической дерматологии</a></li>
							<li><a href="#">Отделение физиотерапии</a></li>
							<li><a href="#">Лабораторный центр</a></li>
							<li><a href="#">Аптека</a></li>
					</ul>
				</li>
				<li class="block__item">
					<div class="block__item-inner">
						<div class="block__item-title">Образование</div>
						<div class="block__item-arrow">
							<img src="./img/icon/button-arrow-green.svg" alt="">
						</div>
					</div>
					<div class="block__content">
						<ul class="block__content-item structure__items">
							<li><a href="#">Отдел дерматологии</a></li>
							<li><a href="#">Отдел инфекций, передаваемых половым путем</a></li>
							<li><a href="#">Отдел лабораторной диагностики ИППП и дерматозов</a></li>
							<li><a href="#">Научная часть</a></li>
							<li><a href="#">Группа эпидемиологии ИППП и дерматозов</a></li>
						</ul>
				</li>
				<li class="block__item">
					<div class="block__item-inner">
						<div class="block__item-title">Научно- организационный отдел</div>
						<div class="block__item-arrow">
							<img src="./img/icon/button-arrow-green.svg" alt="">
						</div>
					</div>
					<div class="block__content">
						<ul class="block__content-item structure__items">
							<li><a href="#">Отдел дерматологии</a></li>
							<li><a href="#">Отдел инфекций, передаваемых половым путем</a></li>
							<li><a href="#">Отдел лабораторной диагностики ИППП и дерматозов</a></li>
							<li><a href="#">Научная часть</a></li>
							<li><a href="#">Группа эпидемиологии ИППП и дерматозов</a></li>
					</ul>
				</li>
				<li class="block__item">
					<div class="block__item-inner">
						<div class="block__item-title">Испытательный лабораторный центр</div>
						<div class="block__item-arrow">
							<img src="./img/icon/button-arrow-green.svg" alt="">
						</div>
					</div>
					<div class="block__content">
						<ul class="block__content-item structure__items">
							<li><a href="#">Отдел дерматологии</a></li>
							<li><a href="#">Отдел инфекций, передаваемых половым путем</a></li>
							<li><a href="#">Отдел лабораторной диагностики ИППП и дерматозов</a></li>
							<li><a href="#">Научная часть</a></li>
							<li><a href="#">Группа эпидемиологии ИППП и дерматозов</a></li>
					</ul>
				</li>
				<li class="block__item">
					<div class="block__item-inner">
						<div class="block__item-title">Финансово-экономические, кадровые, хозяйственные подразделения</div>
						<div class="block__item-arrow">
							<img src="./img/icon/button-arrow-green.svg" alt="">
						</div>
					</div>
					<div class="block__content">
						<ul class="block__content-item structure__items">
							<li><a href="#">Отдел дерматологии</a></li>
							<li><a href="#">Отдел инфекций, передаваемых половым путем</a></li>
							<li><a href="#">Отдел лабораторной диагностики ИППП и дерматозов</a></li>
							<li><a href="#">Научная часть</a></li>
							<li><a href="#">Группа эпидемиологии ИППП и дерматозов</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>