<div class="about__item" data-menu="corruption">
    <ul class="corruption">
        <li class="corruption__item">
            <a href="https://cnikvi.ru/protivodeystvie-korruptsii/normativnye-pravovye-akty/" target="_blank">
                Нормативные правовые и иные акты в сфере противодействия коррупции
            </a>
        </li>
        <li class="corruption__item">
            <a href="https://cnikvi.ru/protivodeystvie-korruptsii/antikorruptsionnaya-ekspertiza/" target="_blank">
                Антикоррупционная экспертиза
            </a>
        </li>
        <li class="corruption__item">
            <a href="https://cnikvi.ru/protivodeystvie-korruptsii/metodicheskie-materialy/" target="_blank">
                Методические материалы
            </a>
        </li>
        <li class="corruption__item">
            <a href="https://cnikvi.ru/protivodeystvie-korruptsii/formy-dokumentov/" target="_blank">
                Формы документов, связанных с противодействием коррупции, для заполнения
            </a>
        </li>
        <li class="corruption__item">
            <a href="https://cnikvi.ru/protivodeystvie-korruptsii/svedeniya-o-dokhodakh/" target="_blank">
                Сведения о доходах, расходах, об имуществе и обязательствах имущественного характера
            </a>
        </li>
        <li class="corruption__item">
            <a href="#" target="_blank"> Обратная связь для сообщений о фактах коррупции </a>
        </li>
        <li class="corruption__item">
            <a href="#" target="_blank">
                Нормативные документы ФГБУ "ГНЦДК" Минздрава России по вопросам противодействия коррупции
            </a>
        </li>
        <li class="corruption__item">
            <a
                href="https://cnikvi.ru/upload/docs/%D1%81%D0%BE%D0%B7%D0%B4%D0%B0%D0%BD%D0%B8%D0%B8%20%D0%BA%D0%BE%D0%BC%D0%B8%D1%81%D1%81%D0%B8%D0%B8%20%D0%BF%D0%BE%20%D1%81%D0%BE%D0%B1%D0%BB%D1%8E%D0%B4%D0%B5%D0%BD%D0%B8%D1%8E%20%D1%82%D1%80%D0%B5%D0%B1%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B9%20%D0%BA%20%D1%81%D0%BB%D1%83%D0%B6%D0%B5%D0%B1%D0%BD%D0%BE%D0%BC%D1%83%20%D0%BF%D0%BE%D0%B2%D0%B5%D0%B4%D0%B5%D0%BD%D0%B8%D1%8E%20%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2%20%D0%93%D0%9D%D0%A6%D0%94%D0%9A%20%D0%B8%20%D1%83%D1%80%D0%B5%D0%B3%D1%83%D0%BB%D0%B8%D1%80.%20%D0%BA%D0%BE%D0%BD%D1%84%D0%BB%D0%B8%D0%BA%D1%82%D0%B0%20%D0%B8%D0%BD%D1%82%D0%B5%D1%80%D0%B5%D1%81%D0%BE%D0%B2-%2031.05.2021.pdf"
                target="_blank"
            >
                Комиссия по соблюдению требований к служебному поведению и урегулированию конфликта интересов
            </a>
        </li>
        <li class="corruption__item">
            <a
                href="https://cnikvi.ru/upload/docs/disert/1/%D0%9E%D0%B1%20%D1%83%D1%82%D0%B2.%20%D0%BF%D0%BB%D0%B0%D0%BD%D0%B0%20%D0%BF%D0%BE%20%D0%BF%D1%80%D0%BE%D1%82%D0%B8%D0%B2%D0%BE%D0%B4%D0%B5%D0%B9%D1%81%D1%82%D0%B2%D0%B8%D1%8E%20%D0%BA%D0%BE%D1%80%D1%80%D1%83%D0%BF%D1%86%D0%B8%D0%B8%20%D0%93%D0%9D%D0%A6%D0%94%D0%9A%20%D0%BD%D0%B0%202021-2024%D0%B3%D0%B3.-%2022.10.2021.pdf"
                target="_blank"
            >
                План по противодействию коррупции ФГБУ "ГНЦДК" Минздрава России на 2022-2024 годы
            </a>
        </li>
    </ul>
</div>
