<div class="about__item" data-menu="management">
	<div class="about__wrap">

		<div class="managment__director">
			<div class="managment__block">
				<div class="managment__content">
					<div class="managment__img">
						<img src="./img/managment/kubanov.webp" alt="Кабанов А.А">
					</div>
					<div class="managment__text">
						<p class="managment__name">Кубанов Алексей Алексеевич</p>
						<p class="managment__job">Директор, академик РАН, доктор медицинских наук</p>
					</div>
				</div>
				<a href="#" class="all-btn__blue managment__button">
					Подробнее
				</a>
			</div>
		</div>

		<ul class="managment__employees">
			<li class="managment__block">
				<div class="managment__content">
					<div class="managment__img">
						<img src="./img/managment/rakhmatulina.webp" alt="Рахматулина М.Р.">
					</div>
					<div class="managment__text">
						<p class="managment__name">Рахматулина Маргарита Рафиковна</p>
						<p class="managment__job">Заместитель директора по организационно-аналитической работе, доктор медицинских наук, профессор</p>
					</div>
				</div>
				<a href="#" class="all-btn__blue managment__button">
					Подробнее
				</a>
			</li>
			<li class="managment__block">
				<div class="managment__content">
					<div class="managment__img">
						<img src="./img/managment/no-name.webp" alt="Изотов В.Д.">
					</div>
					<div class="managment__text">
						<p class="managment__name">Изотов Валерий Дмитриевич</p>
						<p class="managment__job">Заместитель директора
							по общим вопросам</p>
					</div>
				</div>
				<a href="#" class="all-btn__blue managment__button">
					Подробнее
				</a>
			</li>
			<li class="managment__block">
				<div class="managment__content">
					<div class="managment__img">
						<img src="./img/managment/no-name.webp" alt="Суховеркова Е.Ю.">
					</div>
					<div class="managment__text">
						<p class="managment__name">Суховеркова Елена Юрьевна</p>
						<p class="managment__job">Заместитель директора по экономике</p>
					</div>
				</div>
				<a href="#" class="all-btn__blue managment__button">
					Подробнее
				</a>
			</li>
			<li class="managment__block">
				<div class="manafment__content">
					<div class="managment__img">
						<img src="./img/managment/plahova.webp" alt="Плахова К.И.">
					</div>
					<div class="managment__text">
						<p class="managment__name">Плахова Ксения Ильинична</p>
						<p class="managment__job">Ученый секретарь, доктор медицинских наук</p>
					</div>
				</div>
				<a href="#" class="all-btn__blue managment__button">
					Подробнее
				</a>
			</li>
			<li class="managment__block">
				<div class="managment__content">
					<div class="managment__img">
						<img src="./img/managment/no-name.webp" alt="Петренко Е.А.">
					</div>
					<div class="managment__text">
						<p class="managment__name">Петренко Евгения Анатольевна</p>
						<p class="managment__job">Главный бухгалтер</p>
					</div>
				</div>
				<a href="#" class="all-btn__blue managment__button">
					Подробнее
				</a>
			</li>
			<li class="managment__block">
				<div class="managment__content">
					<div class="managment__img">
						<img src="./img/managment/no-name.webp" alt="Левичева Ю.Ю.">
					</div>
					<div class="managment__text">
						<p class="managment__name">Левичева Юлия Юрьевна</p>
						<p class="managment__job">Заведующий клиникой</p>
					</div>
				</div>
				<a href="#" class="all-btn__blue managment__button">
					Подробнее
				</a>
			</li>
		</ul>
	</div>
</div>