<div class="about__item" data-content="struktura-GNCDK">
    <div class="about__wrap">
        <ul class="menu__buttons structure__buttons">
            <li class="menu__button">
                <a
								data-open-content-block="struktura-GNCDK/centralnyj-nauchno-issledovatelskij-kozhno-venerologicheskij-institut"
                    href="#struktura-GNCDK/centralnyj-nauchno-issledovatelskij-kozhno-venerologicheskij-institut"
                >
                    Центральный научно-исследовательский кожно-венерологический институт <br />
                    (ЦНИКВИ ФГБУ «ГНЦДК» Минздрав России)
                </a>
            </li>
            <li class="all-btn__blue">
                <a href="./sergev-posad-page.html"
                    >Сергиево-Посадский филиал <br />
                    (СПФ ФГБУ «ГНЦДК» Минздрав России)</a
                >
            </li>
            <li class="all-btn__blue">
                <a href="https://ngfcnikvi.ru/"
                    >Нижегородский филиал <br />
                    (НГФ ФГБУ «ГНЦДК» Минздрав России)</a
                >
            </li>
        </ul>

        <div
            class="about__content"
            data-content-block="struktura-GNCDK/centralnyj-nauchno-issledovatelskij-kozhno-venerologicheskij-institut"
        >
            <ul class="block__items">
                <li class="block__item">
                    <a href="#" class="block__item-inner">
                        <div class="block__item-title">Администрация</div>
                    </a>
                </li>
                <li class="block__item">
                    <div class="block__item-inner">
                        <div class="block__item-title">Научные подразделения</div>
                        <div class="block__item-arrow">
                            <img src="./img/icon/button-arrow-green.svg" alt="" />
                        </div>
                    </div>
                    <div class="block__content">
                        <ul class="block__content-item structure__items">
                            <li><a href="#">Научная часть</a></li>
                            <li>
                                <a href="http://gncdk.requestbitrix.ru/otdeli/dermatologiya/">Отдел дерматологии</a>
                            </li>
                            <li>
                                <a href="http://gncdk.requestbitrix.ru/otdeli/infekcii-peredavaemie-polovim-pytem/"
                                    >Отдел инфекций, передаваемых половым путем</a
                                >
                            </li>
                            <li>
                                <a
                                    href="http://gncdk.requestbitrix.ru/otdeli/laboratornaya-diagnostika-IPPP-i-dermatozov/"
                                    >Отдел лабораторной диагностики ИППП и дерматозов</a
                                >
                            </li>
                            <li>
                                <a href="http://gncdk.requestbitrix.ru/otdeli/naychno-organizacioni/"
                                    >Научно-организационный отдел</a
                                >
                            </li>
                            <li>
                                <a href="http://gncdk.requestbitrix.ru/otdeli/epidemiologii-IPPP-i-dermatozov/"
                                    >Группа эпидемиологии ИППП и дерматозов</a
                                >
                            </li>
                            <li>
                                <a href="http://gncdk.requestbitrix.ru/otdeli/ispitatelni-laboratorni-center/"
                                    >Испытательный лабораторный центр</a
                                >
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="block__item">
                    <div class="block__item-inner">
                        <div class="block__item-title">Клинические подразделения</div>
                        <div class="block__item-arrow">
                            <img src="./img/icon/button-arrow-green.svg" alt="" />
                        </div>
                    </div>
                    <div class="block__content">
                        <ul class="block__content-item structure__items">
                            <li>
                                <a href="#">Руководство и общеклинический персонал</a>
                            </li>
                            <li>
                                <a href="#">Приемное отделение</a>
                            </li>
                            <li class="block__item-lists-subblock">
                                <div class="block__item-lists-subblock-inner structure-item">
                                    Консультативно-диагностический центр
                                </div>
                                <ul class="block__item-lists-subblock-content">
                                    <li>
                                        <a href="#"> Отделение дерматологии </a>
                                    </li>
                                    <li>
                                        <a href="#"> Отделение косметологии </a>
                                    </li>
                                    <li>
                                        <a href="#"> Отделение инфекций, передаваемых половым путем </a>
                                    </li>
                                    <li>
                                        <a href="#"> Центр “Здоровые волосы” </a>
                                    </li>
                                    <li>
                                        <a href="#"> Отделение лазерной хирургии </a>
                                    </li>
                                    <li>
                                        <a href="#"> Кабинеты смежных специалистов </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Отделение клинической дерматологии</a>
                            </li>
                            <li>
                                <a href="#">Отделение физиотерапии</a>
                            </li>
                            <li>
                                <a href="#">Лабораторный центр</a>
                            </li>
                            <li><a href="#">Аптека</a></li>
                        </ul>
                    </div>
                </li>
                <li class="block__item">
                    <a href="#" class="block__item-inner">
                        <div class="block__item-title">Образовательные подразделения</div>
                    </a>
                </li>
                <li class="block__item">
                    <a
                        href="http://gncdk.requestbitrix.ru/otdeli/administrativno-upravlencheskij-personal/"
                        class="block__item-inner"
                    >
                        <div class="block__item-title">Административно-управленческий персонал</div>
                    </a>
                </li>
                <li class="block__item">
                    <a
                        href="http://gncdk.requestbitrix.ru/otdeli/administrativno-hozyajstvennaya-chast/"
                        class="block__item-inner"
                    >
                        <div class="block__item-title">Административно-хозяйственная часть</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
