<div class="about__item" data-content="fotogalereya">
    <div class="about__wrap">
        <div class="menu__buttons">
            <button class="menu__button all-btn__blue active" data-open-photo-category="event">Мероприятия</button>
            <button class="menu__button all-btn__blue" data-open-photo-category="department">Отделения</button>
        </div>

        <div class="photos__contents active">
            <div class="about__content active" data-photo-category="event">
                <div class="photos__items">
                    <div class="photos__item-image">
                        <img src="./img/photos/photo.webp" alt="" />
                        <div class="photos__item-title">Название мероприятия 1</div>
                    </div>
                    <div class="photos__item-image">
                        <img src="./img/photos/photo.webp" alt="" />
                        <div class="photos__item-title">Название мероприятия 2</div>
                    </div>
                    <div class="photos__item-image">
                        <img src="./img/photos/photo.webp" alt="" />
                        <div class="photos__item-title">Название мероприятия 3</div>
                    </div>
                    <div class="photos__item-image">
                        <img src="./img/photos/photo.webp" alt="" />
                        <div class="photos__item-title">Название мероприятия 4</div>
                    </div>
                    <div class="photos__item-image">
                        <img src="./img/photos/photo.webp" alt="" />
                        <div class="photos__item-title">Название мероприятия 5</div>
                    </div>
                    <div class="photos__item-image">
                        <img src="./img/photos/photo.webp" alt="" />
                        <div class="photos__item-title">Название мероприятия 6</div>
                    </div>
                </div>
            </div>
            <div class="about__content" data-photo-category="department">
                <div class="photos__items">
                    <div class="photos__item-image">
                        <img src="./img/photos/photo.webp" alt="" />
                        <div class="photos__item-title">Название отделения 1</div>
                    </div>
                    <div class="photos__item-image">
                        <img src="./img/photos/photo.webp" alt="" />
                        <div class="photos__item-title">Название отделения 2</div>
                    </div>
                    <div class="photos__item-image">
                        <img src="./img/photos/photo.webp" alt="" />
                        <div class="photos__item-title">Название отделения 3</div>
                    </div>
                    <div class="photos__item-image">
                        <img src="./img/photos/photo.webp" alt="" />
                        <div class="photos__item-title">Название отделения 4</div>
                    </div>
                    <div class="photos__item-image">
                        <img src="./img/photos/photo.webp" alt="" />
                        <div class="photos__item-title">Название отделения 5</div>
                    </div>
                    <div class="photos__item-image">
                        <img src="./img/photos/photo.webp" alt="" />
                        <div class="photos__item-title">Название отделения 6</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="photos__gallery">
            <div class="title photos__gallery-title"></div>
            <div class="photos__gallery-images">
                <div class="photos__gallery-image">
                    <img src="./img/photos/photo.webp" alt="" />
                </div>
                <div class="photos__gallery-image">
                    <img src="./img/photos/photo.webp" alt="" />
                </div>
                <div class="photos__gallery-image">
                    <img src="./img/photos/photo.webp" alt="" />
                </div>
                <div class="photos__gallery-image">
                    <img src="./img/photos/photo.webp" alt="" />
                </div>
                <div class="photos__gallery-image">
                    <img src="./img/photos/photo.webp" alt="" />
                </div>
                <div class="photos__gallery-image">
                    <img src="./img/photos/photo.webp" alt="" />
                </div>
                <div class="photos__gallery-image">
                    <img src="./img/photos/photo.webp" alt="" />
                </div>
                <div class="photos__gallery-image">
                    <img src="./img/photos/photo.webp" alt="" />
                </div>
                <div class="photos__gallery-image">
                    <img src="./img/photos/photo.webp" alt="" />
                </div>
                <div class="photos__gallery-image">
                    <img src="./img/photos/photo.webp" alt="" />
                </div>
                <div class="photos__gallery-image">
                    <img src="./img/photos/photo.webp" alt="" />
                </div>
                <div class="photos__gallery-image">
                    <img src="./img/photos/photo.webp" alt="" />
                </div>
                <div class="photos__gallery-image">
                    <img src="./img/photos/photo.webp" alt="" />
                </div>
                <div class="photos__gallery-image">
                    <img src="./img/photos/photo.webp" alt="" />
                </div>
                <div class="photos__gallery-image">
                    <img src="./img/photos/photo.webp" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>
