<div class="about__item" data-content="fotogalereya">
    <div class="about__wrap">
        <ul class="menu__buttons">
            <li class="menu__button">
                <a href="#fotogalereya/meropriyatiya" data-open-content-block="fotogalereya/meropriyatiya"
                    >Мероприятия</a
                >
            </li>
            <li class="menu__button">
                <a href="#fotogalereya/otdeleniya" data-open-content-block="fotogalereya/otdeleniya">Отделения</a>
            </li>
        </ul>

        <div class="photos__contents">
            <div class="about__content" data-content-block="fotogalereya/meropriyatiya">
                <div class="photos__items">
                    <div class="photos__item-image">
                        <img src="./img/photos/photo.webp" alt="" />
                        <div class="photos__item-title">Название мероприятия 1</div>
                    </div>
                    <div class="photos__item-image">
                        <img src="./img/photos/photo.webp" alt="" />
                        <div class="photos__item-title">Название мероприятия 2</div>
                    </div>
                    <div class="photos__item-image">
                        <img src="./img/photos/photo.webp" alt="" />
                        <div class="photos__item-title">Название мероприятия 3</div>
                    </div>
                    <div class="photos__item-image">
                        <img src="./img/photos/photo.webp" alt="" />
                        <div class="photos__item-title">Название мероприятия 4</div>
                    </div>
                    <div class="photos__item-image">
                        <img src="./img/photos/photo.webp" alt="" />
                        <div class="photos__item-title">Название мероприятия 5</div>
                    </div>
                    <div class="photos__item-image">
                        <img src="./img/photos/photo.webp" alt="" />
                        <div class="photos__item-title">Название мероприятия 6</div>
                    </div>
                </div>
            </div>
            <div class="about__content" data-content-block="fotogalereya/otdeleniya">
                <div class="photos__items">
                    <div class="photos__item-image">
                        <img src="./img/photos/photo.webp" alt="" />
                        <div class="photos__item-title">Название отделения 1</div>
                    </div>
                    <div class="photos__item-image">
                        <img src="./img/photos/photo.webp" alt="" />
                        <div class="photos__item-title">Название отделения 2</div>
                    </div>
                    <div class="photos__item-image">
                        <img src="./img/photos/photo.webp" alt="" />
                        <div class="photos__item-title">Название отделения 3</div>
                    </div>
                    <div class="photos__item-image">
                        <img src="./img/photos/photo.webp" alt="" />
                        <div class="photos__item-title">Название отделения 4</div>
                    </div>
                    <div class="photos__item-image">
                        <img src="./img/photos/photo.webp" alt="" />
                        <div class="photos__item-title">Название отделения 5</div>
                    </div>
                    <div class="photos__item-image">
                        <img src="./img/photos/photo.webp" alt="" />
                        <div class="photos__item-title">Название отделения 6</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="photos__gallery">
            <div class="title photos__gallery-title"></div>
            <div class="photos__gallery-images">
                <div class="photos__gallery-image">
                    <img src="./img/photos/photo.webp" alt="" />
                </div>
                <div class="photos__gallery-image">
                    <img src="./img/photos/photo.webp" alt="" />
                </div>
                <div class="photos__gallery-image">
                    <img src="./img/photos/photo.webp" alt="" />
                </div>
                <div class="photos__gallery-image">
                    <img src="./img/photos/photo.webp" alt="" />
                </div>
                <div class="photos__gallery-image">
                    <img src="./img/photos/photo.webp" alt="" />
                </div>
                <div class="photos__gallery-image">
                    <img src="./img/photos/photo.webp" alt="" />
                </div>
                <div class="photos__gallery-image">
                    <img src="./img/photos/photo.webp" alt="" />
                </div>
                <div class="photos__gallery-image">
                    <img src="./img/photos/photo.webp" alt="" />
                </div>
                <div class="photos__gallery-image">
                    <img src="./img/photos/photo.webp" alt="" />
                </div>
                <div class="photos__gallery-image">
                    <img src="./img/photos/photo.webp" alt="" />
                </div>
                <div class="photos__gallery-image">
                    <img src="./img/photos/photo.webp" alt="" />
                </div>
                <div class="photos__gallery-image">
                    <img src="./img/photos/photo.webp" alt="" />
                </div>
                <div class="photos__gallery-image">
                    <img src="./img/photos/photo.webp" alt="" />
                </div>
                <div class="photos__gallery-image">
                    <img src="./img/photos/photo.webp" alt="" />
                </div>
                <div class="photos__gallery-image">
                    <img src="./img/photos/photo.webp" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>
