<div class="about__item" data-menu="purchases">
	<ul class="purchases">
		<li>
				<a href="https://zakupki.gov.ru/epz/gws/card/common-info.html?gwsInfoId=230310" target="_blank">
					Перечень товаров, работ, услуг, закупки которых осуществляются у субъектов малого и среднего предпринимательства в рамках закупок согласно Федеральному закону от 18 июля 2011 г. N 223-ФЗ "О закупках товаров, работ, услуг отдельными видами юридических лиц"
				</a>
		</li>
		<li>
			<a href="https://zakupki.gov.ru/epz/orderplan/purchase-plan/card/common-info.html?id=872461&infoId=6906369" target="_blank">
				План закупок учреждения в рамках Федерального закона от 18 июля 2011 г. N 223-ФЗ "О закупках товаров, работ, услуг отдельными видами юридических лиц"
			</a>
		</li>
	</ul>
</div>