<div class="about__item" data-content="svedeniya-o-medicinskoj-organizacii">
	<div class="about__wrap">

		<ul class="block__items">
			<li class="block__item">
				<div class="block__item-inner">
					<div class="block__item-title">Основные сведения о медицинской организации</div>
					<div class="block__item-arrow">
						<img src="./img/icon/button-arrow-green.svg" alt="">
					</div>
				</div>
				<div class="block__content">
					<div class="block__content-item inteligence__content-item">
						<div class="inteligence__about">
							<div class="inteligence__title">Полное официальное название учреждения:</div>
							<div class="subtitle inteligence__subtitle">Федеральное государственное бюджетное учреждение «Государственный научный центр дерматовенерологии и косметологии» Министерства здравоохранения Российской Федерации</div>
						</div>
						<div class="inteligence__about">
							<div class="inteligence__title">Сокращенное название учреждения:</div>
							<div class="subtitle inteligence__subtitle">ФГБУ «ГНЦДК» Минздрава России</div>
						</div>
						<address class="inteligence__about">
							<div class="inteligence__title">Адрес:</div>
							<div class="inteligence__text">107076, г. Москва, ул. Короленко, дом 3 стр. 6</div>
						</address>
						<div class="inteligence__about">
							<div class="inteligence__title">Реквизиты:</div>
							<div class="inteligence__text inteligence__text-requisites">
								<span>ИНН 7718710585</span>
								<span>ОГРН 1087746788095</span>
							</div>
						</div>
						<div class="inteligence__about">
							<div class="inteligence__title">Телефоны:</div>
							<ul class="inteligence__text inteligence__text-phone">
								<li>(499) 785-20-40 – Регистратура (многоканальный)</li>
								<li>(499) 785-20-45 – Запись на прием в отделение косметологии</li>
								<li>(499) 785-20-24 – Старший менеджер по организации медицинских услуг</li>
								<li>(499) 785-20-16 – Канцелярия</li>
								<li>(499) 785-20-35 – Бухгалтерия</li>
								<li>(499) 785-20-16 – Факс</li>
								<li>(499) 785-20-86 или (499) 785-20-39  – Госпитализация</li>
								<li>(499) 785-20-15 – Приемная директора</li>
							</ul>
						</div>
						<div class="inteligence__about">
							<div class="inteligence__title">e-mail:</div>
							<div class="inteligence__text">info@cnikvi.ru</div>
						</div>
					</div>
			</li>

			<li class="block__item">
				<div class="block__item-inner">
					<div class="block__item-title">Учредительные документы</div>
					<div class="block__item-arrow">
						<img src="./img/icon/button-arrow-green.svg" alt="">
					</div>
				</div>
				<div class="block__content">
					<ul class="inteligence__items">
						<li>
							<a href="#">
								Приказ Министерства здравоохранения и социального развития Российской Федерации от 26 мая 2020 г. № 500 «О внесении изменений в «Устав федерального государственного бюджетного учреждения «Государственный научный центр дерматовенерологии и косметологии» Министерства здравоохранения и социального развития Российской Федерации»
							</a>
						</li>
						<li>
							<a href="#">
								Приказ Министерства здравоохранения и социального развития Российской Федерации от 29 сентября 2017 г. № 698 «О внесении изменений в «Устав федерального государственного бюджетного учреждения «Государственный научный центр дерматовенерологии и косметологии» Министерства здравоохранения и социального развития Российской Федерации»
							</a>
						</li>
						<li>
							<a href="#">
								Приказ Министерства здравоохранения и социального развития Российской Федерации от 7 февраля 2014 г. № 61 «О внесении изменений в «Устав федерального государственного бюджетного учреждения «Государственный научный центр дерматовенерологии и косметологии» Министерства здравоохранения и социального развития Российской Федерации»
							</a>
						</li>
						<li>
							<a href="#">
								Приказ Министерства здравоохранения и социального развития Российской Федерации от 5 сентября 2012 г. № 143 «Изменения, которые вносятся в «Устав федерального государственного бюджетного учреждения «Государственный научный центр дерматовенерологии и косметологии» Министерства здравоохранения и социального развития Российской Федерации»
							</a>
						</li>
						<li>
							<a href="#">
								Приказ Министерства здравоохранения и социального развития Российской Федерации от 18 мая 2012 г. № 578 «Изменение, которое вносится в «Устав федерального государственного бюджетного учреждения «Государственный научный центр дерматовенерологии и косметологии» Министерства здравоохранения и социального развития Российской Федерации»
							</a>
						</li>
						<li>
							<a href="#">
								Приказ Министерства здравоохранения и социального развития Российской Федерации от 27 апреля 2012 г. № 418 «О реорганизации федерального государственного бюджетного учреждения «Государственный научный центр дерматовенерологии и косметологии" Министерства здравоохранения и социального развития Российской Федерации и федерального государственного бюджетного учреждения "Нижегородский научно-исследовательский кожно-венерологический институт" Министерства здравоохранения и социального развития Российской Федерации в форме присоединения второго учреждения к первому»
							</a>
						</li>
						<li>
							<a href="#">
								Приказ Министерства здравоохранения и социального развития Российской Федерации от 21 июля 2011 г. № 774 «Устав федерального государственного бюджетного учреждения «Государственный научный центр дерматовенерологии и косметологии» Министерства здравоохранения и социального развития Российской Федерации (новая редакция)»
							</a>
						</li>
						<li>
							<a href="#">
								Приказ Министерства здравоохранения и социального развития Российской Федерации от 13 декабря 2010 г. № 1099 «Об утверждении устава федерального государственного учреждения "Государственный научный центр дерматовенерологии и косметологии" Министерства здравоохранения и социального развития Российской Федерации в новой редакции»
							</a>
						</li>
						<li>
							<a href="#">
								Распоряжение Правительства Российской Федерации от 10 сентября 2008 г. № 1300-р «О перечне федеральных государственных учреждений, находящихся в ведении Минздравсоцразвития России, перечне федеральных государственных унитарных предприятий, находящихся в ведении Минздравсоцразвития России, и перечне федеральных государственных учреждений, находящихся в ведении ФМБА России»
							</a>
						</li>
						<li>
							<a href="#">
								Распоряжение Правительства Российской Федерации от 24 декабря 2007 г. № 1896-р «О реорганизации ФГУ "Центральный научно-исследовательский кожно-венерологический институт Федерального агентства по высокотехнологичной медицинской помощи" (г. Москва) и ФГУ "Научно-исследовательская лаборатория иммунохимиотерапии лепры и иммунотропных средств с клиникой и опытно-экспериментальным производством Федерального агентства по здравоохранению и социальному развитию" (г. Сергиев Посад, Московская область) в форме слияния с образованием на их основе федерального государственного учреждения «Центральный научно-исследовательский кожно-венерологический институт Федерального агентства по высокотехнологичной медицинской помощи»
							</a>
						</li>
						<li>
							<a href="#">
								Распоряжение Правительства Российской Федерации от 23 февраля 2007 г. № 213-р «О передаче в ведение Росмедтехнологий федеральных государственных учреждений, подведомственных Росздраву»
							</a>
						</li>
						<li>
							<a href="#">
								Распоряжение Правительства Российской Федерации от 17 января 2005 г. № 32-р «Об утверждении перечней федеральных государственных учреждений и федеральных государственных унитарных предприятий, подведомственных Росздраву, Росздравнадзору, Роспотребнадзору, Роструду»
							</a>
						</li>
					</ul>
				</div>
			</li>

			<li class="block__item">
				<div class="block__item-inner">
					<div class="block__item-title">Документы организации</div>
					<div class="block__item-arrow">
						<img src="./img/icon/button-arrow-green.svg" alt="">
					</div>
				</div>
				<div class="block__content">
					<ul class="inteligence__items">
						<li>
							<a href="#">
								Приказ об утверждении Учетной политики на 2022 год № 315-П гнц от 30.12.21 г.
							</a>
						</li>
						<li>
							<a href="#">
								Учетная политика ФГБУ «ГНЦДК» Минздрава России для целей бухгалтерского учета в 2022 году
							</a>
						</li>
						<li>
							<a href="#">
								Приказ о внесении изменений в Учетную политику организации от 31 августа 2022г. № 226-П/гнц
							</a>
						</li>
						<li>
							<a href="#">
								Приказ о внесении изменений в Учетную политику организации от 31 октября 2022г. № 298-П/гнц
							</a>
						</li>
						<li>
							<a href="#">
								Приказ о внесении изменений (с приложениями) в Учетную политику организаций от 30.12.2022 №389-П/гнц
							</a>
						</li>
					</ul>
				</div>
			</li>

			<li class="block__item">
				<div class="block__item-inner">
					<div class="block__item-title">Лицензии, Свидетельства</div>
					<div class="block__item-arrow">
						<img src="./img/icon/button-arrow-green.svg" alt="">
					</div>
				</div>
				<div class="block__content">
					<ul class="inteligence__items">
						<li>
							<a href="#">
								Лицензия на осуществление медицинской деятельности
							</a>
						</li>
						<li>
							<a href="#">
								Лицензия на осуществление фармацевтической деятельности
							</a>
						</li>
						<li>
							<a href="#">
								Лицензия на осуществление образовательной деятельности
							</a>
						</li>
						<li>
							<a href="#">
								Свидетельство об аккредитации образовательной деятельности
							</a>
						</li>
						<li>
							<a href="#">
								Свидетельство об аккредитации на право проведения клинических исследований лекарственных препаратов для медицинского применения 
							</a>
						</li>
						<li>
							<a href="#">
								Свидетельство о внесении записи ЕГРЮЛ
							</a>
						</li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
</div>