.checkbox{
  &-other {
    display: block;
    margin: 0 0 5rem 0;
    cursor: pointer;
    user-select: none;
    position: relative;

    input[type='checkbox'] {
        position: absolute;
        z-index: -1;
        opacity: 0;
        display: block;
        width: 0;
        height: 0;

        &:checked+span:before {
            border: none;
            background-color: #00ac60;
            background-position: 50% 50%;
            background-size: 1.5rem 1.5rem;
            background-repeat: no-repeat;
            background-image: url(../img/icon/galks-white.svg);
          }

        &:disabled + span {
          color: #666;
          cursor: default;
        }

        &:disabled + span:before {
            filter: grayscale(100%);
            opacity: 0.6;
        }
      }

    span {
      display: inline-block;
      position: relative;
      padding: 0 0 0 4rem;
      font-size: 1.6rem;
      height: 3rem;
      color: rgba(63, 76, 92, 0.69);

      &:before {
          content: '';
          display: inline-block;
          width: 3rem;
          height: 3rem;
          border-radius: 0.2rem;
          position: absolute;
          left: 0;
          top: 0;
          background: none;
          background: #ffffff;
        }

        &:active:before {
          filter: brightness(80%);
        }

        &:hover:before {
          filter: brightness(110%);
        }
    }

    a {
      font-weight: 700;
      &:hover {
        border-bottom: none;
      }
    }
  }

    &-record {
      margin: 0 !important;
  
      span {
        font-size: 2rem;
        line-height: 2.9rem;
        display: flex;
        align-items: center;
        font-feature-settings: 'tnum' on, 'lnum' on;
  
        &:before {
          width: 3.7rem;
          height: 3.7rem;
        }
      }
    }

    &-white input[type='checkbox']:checked+span:before {
      background: #ffffff;
      background-image: url(../img/icon/galka.svg);
    }
}

/* Focus */
.focused span:before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

@media screen and (max-width: 48em) {
    .checkbox {
        &-other {
            span {
                padding-left: 10.7vw;
                height: fit-content;
                font-size: 3.8vw;
                line-height: 140%;

                &::before {
                    width: 8vw;
                    height: 8vw;
                    border-radius: 1vw;
                }
            }

            input[type='checkbox']:checked + span:before {
                background-size: 3vw 3vw;
            }
        }
    }
}
