.header {
    &__top-container {
        padding-top: 6.4rem;
        display: flex;
        align-items: center;
        margin-bottom: 3.7rem;
    }

    &__logo {
        width: 108.2rem;
        column-gap: 4rem;
        display: flex;
        margin-right: 7.8rem;
        margin-top: -0.4rem;
        align-items: center;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        img {
            width: 6rem;
            height: 6rem;
            object-fit: contain;
        }
    }

    &__logo-text {
        font-family: 'HeliosCondC', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 2.8rem;
        line-height: 140%;
        color: #3f4c5c;
    }

    &__search {
        width: 38.3rem;
        position: relative;
        align-items: center;
        background: transparent;
        border-radius: 0.8rem;
        border: 0.2rem solid #3f4c5c;

        form {
            display: flex;
            align-items: center;
            column-gap: 2rem;
            height: fit-content;
            padding: 0 2rem;
        }

        button {
            flex-shrink: 0;
            width: 2rem;
            height: 2rem;
        }

        input,
        input::placeholder {
            height: 6.3rem;
            width: 100%;
            color: #3f4c5c;
            font-style: normal;
            font-weight: 400;
            font-size: 2rem;
            line-height: 110%;
            border: none;
            background: transparent;
        }
    }

    &__center {
        margin-bottom: 3rem;
    }

    &__center-lists,
    &__bottom-lists {
        display: flex;
        width: 100%;
        cursor: pointer;
        outline: none;
        flex-wrap: wrap;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    &__center-lists-item,
    &__bottom-lists-item {
        cursor: pointer;
        margin-right: 0.3rem;
        display: inline-flex;
        position: relative;
        border-radius: 0.8rem;
        justify-content: center;
        align-items: center;
    }

    &__center-lists-item {
        width: 24.8%;
        height: 6.5rem;
        background: #3f4c5c;
    }

    &__bottom-lists-item {
        margin-bottom: 0.3rem;
        width: 24.8%;
        height: 7rem;
        background: #ffffff;
        transition: all 0.3s;
    }

    &__center-lists-item > a,
    &__bottom-lists-item > a {
        display: block;
        text-align: center;
        text-align: center;
        line-height: 120%;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
    }

    &__center-lists-item > a {
        column-gap: 1.5rem;
        font-weight: 700;
        font-size: 2rem;
        text-transform: uppercase;
        color: #ffffff;
        img {
            width: 2rem;
            height: 2rem;
            object-fit: contain;
            transition: all 0.3s;
        }
    }

    &__bottom-lists-item > a {
        column-gap: 2.5rem;
        font-weight: 700;
        font-size: 2rem;
        color: #323439;
        padding: 1rem;
        width: 100%;
    }

    &-dropdown,
    &-dropdown-three {
        position: absolute;
        top: 5.8rem;
        width: 100%;
        display: none;
        border-bottom-left-radius: 0.8rem;
        border-bottom-right-radius: 0.8rem;
    }

    &-dropdown {
        padding: 2.7rem 3.4rem;
        z-index: 170;
        background: #3f4c5c;
    }

    &-dropdown-three {
        padding: 2.1rem 0 2.1rem 10rem;
        z-index: 2;
        background: #ffffff;
    }

    &-dropdown-two {
        display: none;
        padding: 2rem 0 0 2rem;
    }

    &-dropdown li,
    &-dropdown-three li {
        width: 100%;
        margin-bottom: 1.4rem;
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__bottom-lists-item-drop > a {
        img {
            width: 2rem;
            height: 2rem;
            object-fit: contain;
            transition: all 0.3s;
        }
    }

    &-dropdown li a,
    &-dropdown-three li a {
        display: block;
        font-weight: 400;
        line-height: 2rem;
        &:hover {
            opacity: 0.5;
        }
    }

    &-dropdown li a {
        color: rgba(255, 255, 255, 0.69);
        font-size: 1.4rem;
    }

    &-dropdown-three li a {
        color: rgba(63, 76, 92, 0.69);
        font-size: 1.6rem;
    }

    &-btn.active,
    &-btn-drop.active {
        border-radius: 0.8rem 0.8rem 0 0;
        transition: all 0.3s;
        img {
            transform: rotate(180deg);
            transition: all 0.3s;
        }
    }
}

@media screen and (max-width: 48em) {
    .header {
        &__top {
            background-color: #ffffff;
        }

        &__logo-text {
            font-family: HeliosCondC, sans-serif;
            color: #3f4c5c;
            font-size: 3.8vw;
            font-style: normal;
            font-weight: 700;
            line-height: 140%;
            font-variant: small-caps;

            span {
                color: rgba(63, 76, 92, 0.69);
                font-size: 2.8vw;
            }
        }

        &__top-burger-search,
        &__top-burger-menu {
            width: 6.4vw;
            height: 5.4vw;
            flex-shrink: 0;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            img {
                object-fit: contain;
            }
            &.--mob {
                display: none;
            }
            &.active {
                display: block;
            }
        }

        &__top-burger-close.active {
            span {
                &::before {
                    top: 50%;
                    transform: rotate(-45deg) translate(0px, -50%);
                }

                &::after {
                    bottom: 50%;
                    transform: rotate(45deg) translate(0px, 50%);
                }
            }
        }

        &__top-burger-close {
            z-index: 5;
            display: none;
            position: relative;
            width: 6.4vw;
            height: 4.8vw;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            span::before,
            span::after {
                content: '';
                left: 0;
                position: absolute;
                height: 10%;
                width: 100%;
                transition: all 0.3s ease-in-out;
                background-color: #3f4c5c;
            }
        }

        &__top-container {
            padding: 4.27vw 0;
            column-gap: 2.8vw;
            align-items: center;
            margin-bottom: 0;
        }

        &__logo {
            width: 100%;
            column-gap: 2.8vw;
            margin-right: 0;
            margin-top: 0;

            img {
                width: 8vw;
                height: 7vw;
                flex-shrink: 0;
            }
        }

        &__search {
            display: none;
            margin-bottom: 8vw;
            width: 100%;
            padding: 0 5.3vw;
            border-radius: 2.2vw;
            border-width: 0.4rem;
            form {
                display: flex;
                column-gap: 5.3vw;
                height: fit-content;
                align-items: center;

                input,
                input::placeholder {
                    height: 12.5vw;
                    font-size: 4vw;
                }
            }

            button {
                width: 5.3vw;
                height: 5.3vw;
            }

            &.--mob {
                display: none;
            }
        }

        &__center {
            margin-bottom: 8vw;
            flex-direction: column;
        }

        &__center-lists-item,
        &__bottom-lists-item {
            margin-bottom: 1.3vw;
            border-radius: 2.1vw;
            width: 100%;
            height: 100%;
            flex-direction: column;
        }

        &__center-lists-item > a {
            font-size: 4.8vw;
            padding: 5.3vw 0;
        }

        &__bottom-lists-item > a {
            padding: 5.3vw;
            font-size: 4.8vw;
        }

        &__bottom-lists-item {
            width: 100%;
            margin-bottom: 1.3vw;
        }

        &__center-lists-item > a {
            column-gap: 4vw;

            img {
                width: 4.2vw;
                height: 4.2vw;
            }
        }

        &__bottom-lists-item-drop > a {
            column-gap: 4vw;

            img {
                width: 4.2vw;
                height: 4.2vw;
            }
        }

        &-dropdown {
            padding: 2.8vw 4.2vw 5.3vw 4.2vw;
            position: static;
        }

        &-dropdown-three {
            position: static;
            padding: 2.8vw 4.2vw 5.3vw 25vw;
        }

        &-dropdown li,
        &-dropdown-three li {
            &:not(:last-child) {
                margin-bottom: 4.2vw;
            }
        }

        &-dropdown li a,
        &-dropdown-three li a {
            line-height: 2rem;
        }

        &-dropdown li a,
        &-dropdown-three li a {
            font-size: 3.8vw;
            line-height: 140%;
        }

        &-btn.active,
        &-btn-drop.active {
            border-radius: 2.1vw;
        }

        &__menu {
            padding-top: 5.3vw;
            &-slide {
                background: #e5e9ef;
                width: 100%;
                height: calc(100% - 31vw);
                top: 31vw;
                left: 0;
                position: fixed;
                z-index: 1000;
                padding: 5.3vw 2.8vw 10.6vw 2.8vw;
                flex-direction: column;
                row-gap: 6.4vw;
                overflow: scroll;
                transform: translateX(100%);
                transition: 0.4s all ease-in-out;

                &.active {
                    transform: translateX(0);
                }
            }
        }

        &__menu-slide {
            .header__search {
                display: block;
            }
        }
    }
}
