.input-file-white {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      column-gap: 2rem;

    &::before {
        content: '';
        display: block;
        width: 2.4rem;
        height: 2.4rem;
        background-image: url(../img/icon/heroicons-white.svg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    &:hover {
        cursor: pointer;
        background: #00ac60;
        transition: all 0.5s ease-in-out;

        &::before {
            background-image: url(../img/icon/heroicons-white.svg);
        }

        span {
            color: #ffffff;
        }
    }
}

.input-file {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
    background: #ffffff;
    border-radius: 0.8rem;
    width: 23.9rem;
    padding: 1.7rem;
    max-height: 6rem;
    overflow: hidden;

    &::before {
        content: '';
        display: block;
        width: 2.4rem;
        height: 2.4rem;
        background-image: url(../img/icon/heroicons-white.svg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    &:hover {
        cursor: pointer;
        background: #00ac60;
        transition: all 0.5s ease-in-out;

        &::before {
            background-image: url('../img/icon/heroicons.svg');
        }

        span {
            color: #ffffff;
        }
    }

    span {
        position: relative;
        display: inline-block;
        cursor: pointer;
        outline: none;
        text-decoration: none;
        font-size: 1.8rem;
        border-radius: 0.8rem;
        background: none;
        width: 23.9rem;
        box-sizing: border-box;
        border: none;
        margin: 0;
        z-index: 2;
        transition: background-color 0.2s;
    }
}

.input-file input[type='file'] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

.form__input {
  display: inline-flex;
  column-gap: 1.6rem;
  margin-bottom: 3rem;
  width: fit-content;
  align-items: center;
  row-gap: 1.5rem;
  width: 100%;

  input, textarea {
    flex-shrink: 0;
  }

  &-error {
    border-radius: 0.8rem;
    position: relative;
      background: #FFF;
      flex-shrink: 0;
      z-index: 2;
      padding: 2rem;
      color: #FF2525;
      text-align: center;
      height: fit-content;
      display: none;
      transition: all 0.3s ease-in-out;

        span {
          font-size: 1.8rem;
            line-height: 111.4%;
        }

        img {
          width: 2rem;
          height: 2rem;
          position: absolute;
          left: -1rem;
        }
  }

  &.error {
    input,
    textarea,
    .select-head {
      border: 0.2rem solid #E80000;
      transition: all 0.3s ease-in-out;
    }

    .form__input-error {
      display: block;
      transition: all 0.3s ease-in-out;
    }
  }
}

@media screen and (max-width: 48em) {
  .form__input {
      &-error {
        border-radius: 2.2vw;
        padding: 4vw 6.4vw;
  
        span {
          font-size: 3.8vw;
          line-height: normal;
        }
  
        img {
          width: 5.3vw;
          height: 5.3vw;
          left: -2.7vw;
          top: -2vw;
        }
      }
    }

    .input-file {
      border-radius: 1.6vw;
      width: 100%;
      padding: 4vw 5.3vw;
      max-height: fit-content;

      &::before {
          width: 5.3vw;
          height: 5.3vw;
      }

      span {
          font-size: 3.8vw;
          line-height: 140%;
          border-radius: 2.2vw;
          width: fit-content;
      }
    }
}