.input-file-white {
    &::before {
        position: absolute;
        content: '';
        width: 2.4rem;
        height: 2.4rem;
        background-image: url('../img/icon/heroicons.svg');
        background-image: url(../img/icon/heroicons-white.svg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    &:hover {
        cursor: pointer;
        background: #00ac60;
        transition: all 0.5s ease-in-out;

        &::before {
            background-image: url(../img/icon/heroicons-white.svg);
        }

        span {
            color: #ffffff;
        }
    }
}

.input-file {
    position: relative;
    display: inline-block;
    background: #ffffff;
    border-radius: 0.8rem;
    width: 23.9rem;
    padding: 1.7rem;
    max-height: 6rem;
    overflow: hidden;

    &::before {
        position: absolute;
        content: '';
        width: 2.4rem;
        height: 2.4rem;
        background-image: url(../img/icon/heroicons-white.svg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    &:hover {
        cursor: pointer;
        background: #00ac60;
        transition: all 0.5s ease-in-out;

        &::before {
            background-image: url('../img/icon/heroicons.svg');
        }

        span {
            color: #ffffff;
        }
    }

    span {
        position: relative;
        display: inline-block;
        cursor: pointer;
        outline: none;
        text-decoration: none;
        font-weight: 400;
        font-size: 1.8rem;
        padding-left: 4rem;
        line-height: 150%;
        color: #3f4c5c;
        border-radius: 0.8rem;
        background: none;
        width: 23.9rem;
        box-sizing: border-box;
        border: none;
        margin: 0;
        z-index: 2;
        transition: background-color 0.2s;
    }
}

.input-file input[type='file'] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

.input-datalist-form {
  position: relative;
  margin-bottom: 1.5rem;

  &__block {
    position: relative;
    width: 100%;
    cursor: pointer;
    &.active {
      input {
              border-radius: 0.8rem 0.8rem 0 0;
              transition: all 0.3s ease-in-out;
      }
    }
  }

  &__list {
    background: #e5e9ef;
    padding: 2rem;
    z-index: 10;
    border-radius: 0 0 0.8rem 0.8rem;
  }

  &__list-datalist {
    max-height: 16rem;
    overflow-y: auto;
    display: block;

    &::-webkit-scrollbar {
      width: 0.3rem;
    }

    &::-webkit-scrollbar-track {
      background: #FFFFFF;
        border-radius: 0.3rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #3f6088;
      border: 0.3rem solid #3f6088;
      position: relative;
      border-radius: 0.3rem;
    }

    option {
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      font-style: normal;
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 136%;
        color: rgba(63, 76, 92, 0.62);
      cursor: pointer;
      width: 100%;
      overflow-x: hidden;

      &:not(:last-child) {
          padding-bottom: 0.8rem;
      }

      &:hover,
      &.active {
        color: rgba(63, 76, 92);
        transition: all 0.5s;
      }
    }
  }
}