.menu {
    &__buttons {
        display: flex;
        column-gap: 0.4rem;
        width: 100%;
    }

    &__button,
    &__button-title {
        width: calc(50% - 0.4rem / 2);
        height: 10rem;
        border-radius: 0.6rem;
        background: inherit;
        border: 1px solid #3f4c5c;
        text-align: center;

        a {
            font-weight: 700;
            font-size: 2.3rem;
            padding: 1.8rem;
            width: 100%;
            height: 100%;
            display: inline-flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__button-title {
        color: #ffffff;
        background: #3f4c5c;
        cursor: pointer;
        margin-bottom: 8vw;

        svg {
            fill: #ffffff;
            cursor: pointer;
            transition: all 0.5s ease-in-out;
        }
    }

    &__button {
        color: #3f4c5c;
        &:hover {
            color: #ffffff;
            background: #3f4c5c;
            cursor: pointer;
            transition: all 0.5s ease-in-out;

            svg {
                fill: #ffffff;
                cursor: pointer;
                transition: all 0.5s ease-in-out;
            }
        }

        &.active {
            background: #3f4c5c;
            color: #ffffff;
        }
    }

    &__tabs {
        padding-left: 1rem;
        margin-bottom: 6rem;
    }

    &__tab {
        font-weight: 700;
        font-size: 2rem;
        line-height: 125%;
        color: rgba(63, 76, 92, 0.69);
        margin-bottom: 2.3rem;
        display: block;
        cursor: pointer;
        padding-left: 2rem;
        position: relative;

        &:hover {
            transition: all 0.5s ease-in-out;
            color: #3f4c5c;
        }

        &::before {
            position: absolute;
            content: '';
            width: 0.6rem;
            height: 0.6rem;
            background: rgba(63, 76, 92, 0.69);
            border-radius: 50%;
            left: 0;
            top: 0.8rem;
        }

        &-inteligence {
            margin-bottom: 1rem;
            display: block;
            cursor: pointer;
            padding-left: 1.5rem;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 136%;
            color: rgba(63, 76, 92, 0.69);
            position: relative;

            &:hover {
                transition: all 0.5s ease-in-out;
                color: #3f4c5c;
            }

            &::before {
                position: absolute;
                content: '';
                width: 0.3rem;
                height: 0.3rem;
                background: rgba(63, 76, 92, 0.69);
                border-radius: 50%;
                left: 0;
                top: 0.8rem;
            }

            &:last-child {
                margin-bottom: 0;
            }

            &:first-child {
                margin-top: 1.5rem;
            }

            &.active {
                font-size: 2rem;
                line-height: 135%;
                color: #3f4c5c;

                &::before {
                    background: #3f4c5c;
                }
            }
        }

        &:last-child {
            margin-bottom: 0;
        }

        &.active {
            font-size: 2.3rem;
            line-height: 135%;
            color: #3f4c5c;

            &::before {
                background: #3f4c5c;
            }
        }
    }
}

@media screen and (max-width: 48em) {
    .menu {
        &__buttons {
            flex-wrap: wrap;
            width: 100%;
        }

        &__button,
        &__button-title {
            height: auto;
            width: 100%;
            border-radius: 1.6vw;

            a {
                padding: 4.2vw 5.3vw;
                font-size: 5.3vw;
            }
        }

        &__button {
            &:not(:last-child) {
                margin-bottom: 5.3vw;
            }
        }

        &__tabs {
            padding-left: 0;
            margin-bottom: 0;
        }

        &__tab {
            margin-bottom: 6.4vw;
            padding-left: 6.4vw;
            color: rgba(63, 76, 92, 0.69);
            font-size: 5.3vw;
            line-height: normal;

            &::before {
                width: 1.2vw;
                height: 1.2vw;
                left: 2.6vw;
                top: 3.2vw;
            }

            &:last-child {
                margin-bottom: 0;
            }

            &.active {
                font-size: 6.4vw;
                line-height: normal;
            }
        }
    }
}
