.title {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 112%;
    font-variant: small-caps;
    color: #323439;
    margin-bottom: 4.5rem;
    cursor: auto;
}

.subtitle {
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
    margin-bottom: 2.4rem;
    cursor: auto;
}

h1 {
    color: #323439;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    font-variant: small-caps;
    margin-bottom: 4.4rem;
    cursor: auto;
}

h2 {
    font-size: 2.3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
    margin-bottom: 2rem;
    cursor: auto;
}

h4 {
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
}

@media screen and (max-width: 48em) {
    .title {
        font-size: 5.86vw;
        margin-bottom: 5.33vw;
    }

    .subtitle {
        font-size: 5.3vw;
        margin-bottom: 5.3vw;
    }
}
