.history {
    &__img {
        position: absolute;
        z-index: -1;
    }

    &__kubanova {
      width: 38rem;
    }

    &__content p {
        font-size: 1.8rem;
        line-height: 150%;
    }

    &__text-img {
        display: flex;
        column-gap: 3rem;
        p {
            width: 100%;
        }
    }

    &__img-sm {
        width: fit-content;
        height: fit-content;
    }
}

.img-kubanova {
  width: 40rem;
}

@media screen and (max-width: 48em) {
    .history {
        &__content p {
            font-size: 4.27vw;
            line-height: 130%;
        }

        &__text-img {
            flex-direction: column;
            row-gap: 5.3vw;
            p {
                width: 100%;
            }
        }
    }
    .img-kubanova {
      width: fit-content;
    }
}
