.managment {
    &__employees {
        display: flex;
        justify-content: flex-start;
        column-gap: 2.9rem;
        row-gap: 2.9rem;
        flex-wrap: wrap;
    }

    &__title {
        font-size: 2.3rem;
        font-weight: 700;
        line-height: 150%;
        margin-bottom: 2rem;
    }

    &__block {
        background: #d8dee8;
        border-radius: 8px;
        padding: 1.6rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 36.5rem;
        min-height: 52.1rem;
        row-gap: 3rem;
    }

    &__img {
        width: 33.3rem;
        height: 29.4rem;
    }

    &__name {
        font-weight: 700;
        font-size: 2.3rem;
        line-height: 135%;
    }

    &__text {
        margin-top: 2rem;
    }

    &__job {
        font-size: 1.8rem;
        line-height: 150%;
        margin-top: 1rem;
    }

    &__button {
        width: 100%;
        background: #ffffff;
        &:hover {
            color: #ffffff;
            background: #3f4c5c;
            cursor: pointer;
            transition: all 0.5s ease-in-out;
        }
    }

    &__items {
      display: flex;
      flex-direction: column;
      row-gap: 3rem;
    }
}

@media screen and (max-width: 48em) {
    .managment {
        &__employees {
            row-gap: 5.3vw;
            flex-direction: column;
        }

        &__items {
            row-gap: 8vw;
        }

        &__title {
            font-size: 5.3vw;
            margin-bottom: 5.3vw;
        }

        &__block {
            border-radius: 2.2vw;
            padding: 4vw;
            width: 100%;
            min-height: 52.1rem;
            row-gap: 5.3vw;
        }

        &__img {
            width: 100%;
            height: 100%;
        }

        &__name {
            font-size: 5.3vw;
            line-height: normal;
        }

        &__text {
            margin-top: 5.3vw;
        }

        &__job {
            font-size: 4.27vw;
            margin-top: 1.6vw;
        }
    }
}
