<div class="patients__item" data-content="nabor-pacientov-dlya-uchastiya-klinicheskih-issledovaniyah">
  <div class="patients-page__container">
    <div class="patients-page__block">
      <div class="patients-page__block-title-up">
        ФГБУ «ГНЦДК» МИНЗДРАВА РОССИИ ПРОВОДИТ НАУЧНО-ИССЛЕДОВАТЕЛЬСКУЮ РАБОТУ ПО РАЗРАБОТКЕ МЕТОДОВ ТЕРАПИИ
        ВРОЖДЁННОГО БУЛЛЕЗНОГО ЭПИДЕРМОЛИЗА
      </div>
    </div>
    <div class="patients-page__block">
      <p>
        В рамках научно-исследовательской работы в консультативно-диагностическом центре ГНЦДК бесплатные
        консультации больных врождённым буллезным эпидермолизом проводит младший научный сотрудник отдела
        дерматологии <a href="#" class="link-green">Мончаковская Екатерина Сергеевна.</a>
      </p>
    </div>
    <div class="patients-page__block">
      <p>
        Записаться на приём можно по телефону
        <a href="tel: 8 (499) 785-20-40" class="link-green">8 (499) 785-20-40</a>, ознакомиться с
        расписанием приёма можно на странице
        <a href="./build/schedule-page.html" class="link-green">Расписание приема.</a>
      </p>
    </div>
  </div>
</div>