<div class="bussines__item" data-content="klinicheskaya-deyatelnost">
    <ul class="bussines__item-list">
        <li class="block__item-lists-subblock">
            <div class="block__item-lists-subblock-inner">Консультативно-диагностический центр</div>
            <ul class="block__item-lists-subblock-content">
                <li>
                    <a href="#" target="_blank">дерматовенерология</a>
                </li>
                <li>
                    <a href="#" target="_blank">косметология</a>
                </li>
                <li>
                    <a href="#" target="_blank">трихология и пересадка волос</a>
                </li>
                <li>
                    <a href="#" target="_blank">лазерная хирургия</a>
                </li>
            </ul>
        </li>
        <li class="block__item-lists-subblock">
            <div class="block__item-lists-subblock-inner">Отделение клинической дерматологии</div>
            <ul class="block__item-lists-subblock-content">
                <li>
                    <a href="#" target="_blank">круглосуточный стационар</a>
                </li>
                <li>
                    <a href="#" target="_blank">дневной стационар</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"> Отделение физиотерапии </a>
        </li>
        <li>
            <a href="#"> Лабораторный центр </a>
        </li>
    </ul>
</div>
