<div class="bussines__item" data-content="nauchnaya-deyatelnost">
    <ul class="bussines__item-list">
        <li>
            <a href=""> Отдел дерматологии </a>
        </li>
        <li>
            <a href=""> Отдел инфекций, передаваемых половым путем </a>
        </li>
        <li>
            <a href="./department-diagnosis-stis-page.html"> Отдел лабораторной диагностики ИППП и дерматозов </a>
        </li>
        <li>
            <a href=""> Ученый совет </a>
        </li>
        <li>
            <a href="./dissertation-сouncil-page.html"> Диссертационный совет </a>
        </li>
    </ul>
</div>
