<section class="employees">
    <div class="container">
        <div class="bread-crumbs">
            <a href="../index.html">Главная</a>
            <a href="#">Направление деятельности</a>
            <a href="#">Научная деятельность</a>
            <a href="../department-dermatology-page.html">Отдел дерматологии</a>
        </div>
        <div class="title">Отдел дерматологии</div>
        <div class="employees__wrapper">
            <div class="employees__left">
                <div class="employees__main">
                    <img src="./img/managment/karamova.webp" alt="Карамова А.Э." />
                </div>
                <a href="#" class="employees__main-link">Карамова Арфеня Эдуардовна</a>
                <div class="employees__main-job">
                    <p>Заведующий отделом,</p>
                    <p>кандидат медицинских наук</p>
                </div>
            </div>
            <div class="employees__right">
                <div class="subtitle employees__title">Сотрудники</div>
                <div class="employees__block">
                    <ul class="employees__items">
                        <li class="employees__item">
                            <div class="employees__img">
                                <img src="./img/managment/employee.webp" alt="Мартынов А.А." />
                            </div>
                            <a href="#" class="employees__name">Мартынов Андрей Александрович</a>
                            <div class="employees__job">
                                <p>Группа инновационных методов терапии дерматозов:</p>
                                <p>Главный научный сотрудник,</p>
                                <p>доктор медицинских наук</p>
                            </div>
                        </li>
                        <li class="employees__item">
                            <div class="employees__img">
                                <img src="./img/managment/employee.webp" alt="Знаменская Л.Ф." />
                            </div>
                            <a href="#" class="employees__name">Знаменская Людмила Федоровна</a>
                            <div class="employees__job">
                                <p>Группа инновационных методов терапии дерматозов:</p>
                                <p>Ведущий научный сотрудник,</p>
                                <p>доктор медицинских наук</p>
                            </div>
                        </li>
                        <li class="employees__item">
                            <div class="employees__img">
                                <img src="./img/managment/employee.webp" alt="Чикин В.В." />
                            </div>
                            <a href="#" class="employees__name">Чикин Вадим Викторович</a>
                            <div class="employees__job">
                                <p>Группа инновационных методов терапии дерматозов:</p>
                                <p>Старший научный сотрудник,</p>
                                <p>доктор медицинских наук</p>
                            </div>
                        </li>
                        <li class="employees__item">
                            <div class="employees__img">
                                <img src="./img/managment/employee.webp" alt="Анпилогова Е.М." />
                            </div>
                            <a href="#" class="employees__name">Анпилогова Екатерина Михайловна</a>
                            <div class="employees__job">
                                <p>Группа инновационных методов терапии дерматозов:</p>
                                <p>Научный сотрудник,</p>
                                <p>доктор медицинских наук</p>
                            </div>
                        </li>
                        <li class="employees__item">
                            <div class="employees__img">
                                <img src="./img/managment/employee.webp" alt="Воронцова А.А." />
                            </div>
                            <a href="#" class="employees__name">Воронцова Анастасия Александровна</a>
                            <div class="employees__job">
                                <p>Группа инновационных методов терапии дерматозов:</p>
                                <p>Младший научный сотрудник,</p>
                                <p>доктор медицинских наук</p>
                            </div>
                        </li>
                        <li class="employees__item">
                            <div class="employees__img">
                                <img src="./img/managment/employee.webp" alt="Артамонова О.Г." />
                            </div>
                            <a href="#" class="employees__name">Артамонова Ольга Григорьевна</a>
                            <div class="employees__job">
                                <p>Младший научный сотрудник,</p>
                                <p>доктор медицинских наук</p>
                            </div>
                        </li>
                        <li class="employees__item">
                          <div class="employees__img">
                            <img src="./img/managment/employee.webp" alt="Мончаковская Е.С." />
                          </div>
                          <a href="#" class="employees__name">Мончаковская Екатерина Сергеевна</a>
                          <div class="employees__job">
                            <p>Группа наследственных заболеваний кожи</p>
                            <p>Младший научный сотрудник,</p>
                            <p>доктор медицинских наук</p>
                          </div>
                        </li>
                        <li class="employees__item">
                          <div class="employees__img">
                            <img src="./img/managment/employee.webp" alt="Мордовцева В.В." />
                          </div>
                          <a href="#" class="employees__name">Мордовцева Вероника Владимировна</a>
                          <div class="employees__job">
                            <p>Группа патоморфологической диагностики дерматозов</p>
                            <p>Старший научный сотрудник,</p>
                            <p>доктор медицинских наук</p>
                          </div>
                        </li>
                        <li class="employees__item">
                          <div class="employees__img">
                            <img src="./img/managment/employee.webp" alt="Смольянникова В.А." />
                          </div>
                          <a href="#" class="employees__name">Смольянникова Вера Анатольевна</a>
                          <div class="employees__job">
                            <p>Группа патоморфологической диагностики дерматозов</p>
                            <p>Старший научный сотрудник,</p>
                            <p>доктор медицинских наук</p>
                          </div>
                        </li>
                        <li class="employees__item">
                          <div class="employees__img">
                            <img src="./img/managment/employee.webp" alt="Нефедова М.А." />
                          </div>
                          <a href="#" class="employees__name">Нефедова Мария Андреевна</a>
                          <div class="employees__job">
                            <p>Группа патоморфологической диагностики дерматозов</p>
                            <p>Младший научный сотрудник,</p>
                            <p>доктор медицинских наук</p>
                          </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
