<section class="department">
    <div class="container">
        <div class="bread-crumbs">
            <a href="./index.html">Главная</a>
            <a href="./bussines-page.html">Направление деятельности</a>
            <a href="./bussines-page.html#nauchnaya-deyatelnost">Научная деятельность</a>
            <a href="./department-dermatology-page.html">Отдел лабораторной диагностики ИППП и дерматозов</a>
        </div>
        <div class="title">Отдел лабораторной диагностики ИППП и дерматозов</div>
        <div class="department__wrapper">
            <div class="department__left">
                <div class="department__main-employee">
                    <div class="department__main-employee-img">
                        <img src="./img/managment/verbenko.webp" alt="" />
                    </div>
                    <div class="department__main-employee-name">Вербенко Дмитрий Анатольевич</div>
                    <div class="department__main-employee-job">
                        И.о. заведующего отделом лабораторной диагностики ИППП и дерматозов
                    </div>
                </div>
                <div class="department__employees">
                    <div class="subtitle">Сотрудники</div>
                    <div class="department__employees-block">
                        <div class="department__employees-title">Группа геномных исследований</div>
                        <ul>
                            <li>
                                <span
                                    ><a href="" class="link-blue" target="_blank">Дерябин Дмитрий Геннадьевич</a> —
                                    Ведущий научный сотрудник</span
                                >
                            </li>
                            <li>
                                <span
                                    ><a href="" class="link-blue" target="_blank">Шпилевая Марина Валентиновна</a> —
                                    Старший научный сотрудник</span
                                >
                            </li>
                            <li>
                                <span
                                    ><a href="" class="link-blue" target="_blank">Честков Александр Викторович</a> —
                                    Старший научный сотрудник</span
                                >
                            </li>
                            <li>
                                <span
                                    ><a href="" class="link-blue" target="_blank">Козлова Ирина Вячеславовна</a> —
                                    Младший научный сотрудник</span
                                >
                            </li>
                        </ul>
                    </div>
                    <div class="department__employees-block">
                        <div class="department__employees-title">Группа протеомных исследовани</div>
                        <ul>
                            <li>
                                <span
                                    ><a href="" class="link-blue" target="_blank">Смольянникова Вера Анатольевна</a> —
                                    Старший научный сотрудник</span
                                >
                            </li>
                            <li>
                                <span
                                    ><a href="" class="link-blue" target="_blank">Образцова Ольга Анатольевна</a> —
                                    Старший научный сотрудник</span
                                >
                            </li>
                        </ul>
                    </div>
                    <div class="department__employees-block">
                        <div class="department__employees-title">
                            Группа микробиологических исследований и обеспечения деятельности коллекции возбудителей
                            иппп
                        </div>
                        <ul>
                            <li>
                                <span
                                    ><a href="" class="link-blue" target="_blank">Никоноров Александр Александрович</a>
                                    — Старший научный сотрудник</span
                                >
                            </li>
                            <li>
                                <span
                                    ><a href="" class="link-blue" target="_blank">Вискова Наталья Алексеевна</a> —
                                    Лаборант-исследователь</span
                                >
                            </li>
                            <li>
                                <span
                                    ><a href="" class="link-blue" target="_blank">Гаврилова Эльвира Петровна</a> —
                                    Лаборант-исследователь</span
                                >
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="department__right">
                <div class="subtitle">информация об отделе</div>
                <div class="department__text">
                    <p>Основные направления деятельности отдела: </p>
                    <ul>
                        <li>
                            изучение патогенеза и клинических особенностей бактериальных и вирусных инфекций,
                            передаваемых половым путем, и урогенитальных инфекций с использованием геномных и
                            постгеномных технологий;
                        </li>
                        <li>
                            изучение механизмов влияния инфекций, передаваемых половым путем, на репродуктивное здоровье
                            человека и профилактика развития осложнений;
                        </li>
                        <li>
                            поиск путей и средств персонализированного подхода к диагностике и лечению урогенитальных
                            инфекций;
                        </li>
                        <li>
                            изучение влияния геномики микроорганизмов — возбудителей ИППП и урогенитальных инфекций — на
                            клиническое течение заболеваний и молекулярные механизмы формирования
                            антибиотикорезистентности;
                        </li>
                        <li>
                            оптимизация и совершенствование диагностики сифилиса, изучение отдаленных результатов
                            лечения болезни;
                        </li>
                        <li>
                            изучение особенностей клинического течения, диагностики и лечения заболеваний,
                            локализованных на слизистых оболочках и коже наружных половых органов.
                        </li>
                    </ul>
                </div>
                <div class="department__slider">
                    <div class="swiper" id="department-swiper">
                        <div class="department__swiper-wrapper swiper-wrapper">
                            <div class="department__slide swiper-slide">
                                <img src="./img/reference-aplicator.webp" alt="" />
                            </div>
                            <div class="department__slide swiper-slide">
                                <img src="./img/reference-aplicator.webp" alt="" />
                            </div>
                            <div class="department__slide swiper-slide">
                                <img src="./img/reference-aplicator.webp" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="pagination department__pagination">
                        <div class="pagination__prev department__prev">
                            <img src="./img/icon/arrow-white-btn-prev.svg" alt="" />
                        </div>
                        <div class="pagination__bullets department__bullets"></div>
                        <div class="pagination__next department__next">
                            <img src="./img/icon/arrow-white-btn-next.svg" alt="" />
                        </div>
                    </div>
                </div>
                <a href="#" class="department__photo-link"> Фотогалерея </a>
            </div>
        </div>
    </div>
</section>
