.all-btn__white,
.all-btn__blue {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 2rem;
    width: 21rem;
    height: 6rem;
    border-radius: 0.6rem;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 150%;
    &:hover {
        color: #ffffff;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
}

.all-btn__blue {
    background: inherit;
    border: 1px solid #3f4c5c;
    color: #3f4c5c;
    text-align: center;
    &:hover {
        color: #ffffff;
        background: #3f4c5c;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
        svg {
            fill: #ffffff;
            cursor: pointer;
            transition: all 0.5s ease-in-out;
        }
    }
    &.active {
        background: #3f4c5c;
        color: #ffffff;
    }
}

.all-btn__white {
    background-color: #ffffff;
    border: 1px solid #3f4c5c;
    color: #3f4c5c;
    &:hover {
        background: #00ac60;
        span {
            color: #ffffff;
        }
    }
}

.btn-white__download {
    background: #ffffff;
    width: fit-content;
    height: 100%;
    align-items: flex-start;
    padding: 1.6rem 2.4rem;
    justify-content: flex-start;
    column-gap: 1.8rem;
    text-align: left;
    color: #3f4c5c;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 150%;

    svg {
        min-width: 2rem;
        min-height: 2rem;
    }
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 112%;
    font-variant: small-caps;
    color: #323439;
    margin-bottom: 4.5rem;
}

.subtitle {
    color: #3f4c5c;
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
    margin-bottom: 2.4rem;
}

.link-green,
.link-blue {
    display: inline-block;
    font-weight: 400;
		width: fit-content;
    &::after {
        display: block;
        content: '';
        height: 0.1px;
        width: 100%;
        background-color: #00ac60;
        position: relative;
        bottom: 0.4rem;
    }
    &:hover::after {
        visibility: hidden;
    }
}

.link-green {
    color: #00ac60 !important;
    &::after {
        background-color: #00ac60;
    }
}

.link-blue {
    color: #3f4c5c !important;

    &::after {
        background-color: #3f4c5c;
    }
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__bullets {
        width: fit-content !important;
        column-gap: 1rem;
        display: flex;
        .swiper-pagination-bullet {
            width: 1.4rem;
            height: 1.4rem;
            background: #fff;
            opacity: 1;
            &:hover {
                opacity: 0.5;
            }
        }

        .swiper-pagination-bullet-active {
            background: #00ac60;
        }
    }

    &__prev,
    &__next {
        width: fit-content;
        height: 7rem;
        cursor: pointer;
        &:hover {
            opacity: 0.5;
        }
    }
}

.captcha {
    width: 40rem;
    height: 10rem;
    img {
        object-fit: contain;
    }
}

.select {
    padding-bottom: 1.8rem;
    padding-top: 1.8rem;
    position: relative;
    display: block;
    background: none;
    padding-left: 2rem;
    padding-right: 2.6rem;
    width: 40rem;
    height: 6rem;
    background: #e5e9ef;
    border-radius: 0.8rem;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 136%;
    color: rgba(63, 76, 92, 0.62);
    &:hover {
        .header__select-head {
            color: #242424;
            transition: 0.2s;
        }
    }
    &-head {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 136%;
        color: rgba(63, 76, 92, 0.62);
        cursor: pointer;
        &::after {
            width: 1rem;
            height: 1rem;
            background: url('../img/icon/arrowselect.svg') no-repeat center / cover;
            position: absolute;
            right: 2.6rem;
            transform: translateY(50%);
            content: '';
            display: block;
            transition: 0.2s ease-in;
            top: 1.8rem;
        }
    }
    &-list {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        z-index: 2;
        margin: 0;
        padding: 0;
        background: #e5e9ef;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 136%;
        color: rgba(63, 76, 92, 0.62);
        overscroll-behavior: contain;
        border-radius: 0.8rem;
    }
    &-head.open::after {
        transform: translateY(50%) rotate(180deg);
    }
    &-list .select-item {
        position: relative;
        padding: 1rem 1.5rem;
        padding-left: 2rem;
        padding-right: 2rem;
        cursor: pointer;
        list-style-type: none;
        border-bottom: 1px solid rgba(189, 191, 197, 0.4);
    }
    &-list .select-item:last-child {
        border-bottom: none;
    }
    &-list .select-item:hover {
        background-color: rgba(224, 229, 231, 0.5);
    }
}

.input-file-white {
    &::before {
        position: absolute;
        content: '';
        width: 2.4rem;
        height: 2.4rem;
        background-image: url('../img/icon/heroicons.svg');
        background-image: url(../img/icon/heroicons-white.svg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    &:hover {
        cursor: pointer;
        background: #00ac60;
        transition: all 0.5s ease-in-out;
        &::before {
            background-image: url(../img/icon/heroicons-white.svg);
        }
        span {
            color: #ffffff;
        }
    }
}

.input-file {
    position: relative;
    display: inline-block;
    background: #ffffff;
    border-radius: 0.8rem;
    width: 23.9rem;
    padding: 1.7rem;
    max-height: 6rem;
    overflow: hidden;
    &::before {
        position: absolute;
        content: '';
        width: 2.4rem;
        height: 2.4rem;
        background-image: url(../img/icon/heroicons-white.svg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    &:hover {
        cursor: pointer;
        background: #00ac60;
        transition: all 0.5s ease-in-out;
        &::before {
            background-image: url('../img/icon/heroicons.svg');
        }
        span {
            color: #ffffff;
        }
    }
    span {
        position: relative;
        display: inline-block;
        cursor: pointer;
        outline: none;
        text-decoration: none;
        font-weight: 400;
        font-size: 1.8rem;
        padding-left: 4rem;
        line-height: 150%;
        color: #3f4c5c;
        border-radius: 0.8rem;
        background: none;
        width: 23.9rem;
        box-sizing: border-box;
        border: none;
        margin: 0;
        z-index: 2;
        transition: background-color 0.2s;
    }
}

.input-file input[type='file'] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

.checkbox-other {
    display: block;
    margin: 0 0 5rem 0;
    cursor: pointer;
    user-select: none;
    position: relative;
}

.checkbox-other input[type='checkbox'] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

.checkbox-other span {
    display: inline-block;
    position: relative;
    padding: 0 0 0 4rem;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #3f4c5c;
}

.checkbox-other span:before {
    content: '';
    display: inline-block;
    width: 3rem;
    height: 3rem;
    border: 0.1rem solid rgba(63, 76, 92, 0.49);
    border-radius: 0.2rem;
    position: absolute;
    left: 0;
    top: -0.4rem;
    background: none;
}

.checkbox-record span:before {
    width: 3.7rem;
    height: 3.7rem;
}

/* Checked */
.checkbox-other input[type='checkbox']:checked + span:before {
    border: none;
    background-color: #00ac60;
    background-position: 50% 50%;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-image: url(../img/icon/galks-white.svg);
}

.checkbox-white input[type='checkbox']:checked + span:before {
    background: #ffffff;
    background-image: url(../img/icon/galka.svg);
}

/* Focus */
.focused span:before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Hover */
.checkbox-other span:hover:before {
    filter: brightness(110%);
}

/* Active */
.checkbox-other span:active:before {
    filter: brightness(80%);
}

/* Disabled */
.checkbox-other input[type='checkbox']:disabled + span {
    color: #666;
    cursor: default;
}
.checkbox-other input[type='checkbox']:disabled + span:before {
    filter: grayscale(100%);
    opacity: 0.6;
}

.checkbox-record {
    margin: 0 !important;
    span {
        font-weight: 400;
        font-size: 2rem;
        line-height: 2.9rem;
        display: flex;
        align-items: center;
        font-feature-settings: 'tnum' on, 'lnum' on;
        color: #3f4c5c;
    }
}

.block {
    &__items {
        display: flex;
        flex-direction: column;
        row-gap: 3rem;
    }
    &__item {
        width: 100%;
        background: #d8dee8;
        border-radius: 0.8rem;
    }
    &__item-inner {
        display: flex;
        cursor: pointer;
        padding: 2rem 4rem;
        justify-content: space-between;
        align-items: center;
    }
    &__item-inner.active {
        .block__item-arrow {
            transform: rotate(180deg);
            transition: all 0.3s;
        }
    }
    &__item-title {
        font-weight: 700;
        font-size: 2.3rem;
        line-height: 1;
        color: #3f4c5c;
        max-width: 92rem;
        line-height: 130%;
    }
    &__item-arrow {
        width: 3.2rem;
        height: 3.2rem;
        cursor: pointer;
        transition: all 0.3s;
    }
    &__content {
        padding: 1rem 4rem 3rem 4rem;
        display: none;
    }
    &__content[style*='display: block'] {
        display: flex !important;
        flex-direction: column;
        row-gap: 2rem;
    }
    &__content-item {
        color: #3f4c5c;
        font-size: 2rem;
        font-weight: 400;
        line-height: 130%;
    }
    &__item-price {
        font-weight: 700;
        font-size: 2rem;
        line-height: 125%;
        color: #3f4c5c;
        display: inline-block;
        margin: 0 5rem 0 auto;
    }

    &__item-lists-subblock-inner {
        color: #3f4c5c;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 150%;
    }

    &__item-lists-subblock {
        cursor: pointer;
        &-content {
            padding: 1rem 0 0 2rem;
            display: none;

            li {
                color: rgba(63, 76, 92, 0.69);
                font-size: 1.8rem;
                line-height: 150%;

                &:not(:last-child) {
                    margin-bottom: 0.8rem;
                }
            }

            a {
                border-bottom: 0.1rem solid transparent;
                position: relative;
                &:hover {
                    border-bottom: 0.1rem solid rgba(63, 76, 92, 0.69);
                }
                &::before {
                    content: '';
                    display: inline-block;
                    width: 0.5rem;
                    height: 0.5rem;
                    border-radius: 50%;
                    background-color: rgba(63, 76, 92, 0.69);
                    position: absolute;
                    left: -1.5rem;
                    top: 1.1rem;
                }
            }
        }
    }
}

.menu {
    &__buttons {
        display: flex;
        column-gap: 0.4rem;
    }
    &__button {
        padding: 1.8rem;
        width: 50%;
        font-weight: 700;
        height: 10rem;
        font-size: 2.3rem;
    }
    &__tabs {
        padding-left: 1rem;
        margin-bottom: 6rem;
    }
    &__tab {
        font-weight: 700;
        font-size: 2rem;
        line-height: 125%;
        color: rgba(63, 76, 92, 0.69);
        margin-bottom: 2.3rem;
        display: block;
        cursor: pointer;
        padding-left: 2rem;
        position: relative;
        &:hover {
            transition: all 0.5s ease-in-out;
            color: #3f4c5c;
        }
        &::before {
            position: absolute;
            content: '';
            width: 0.6rem;
            height: 0.6rem;
            background: rgba(63, 76, 92, 0.69);
            border-radius: 50%;
            left: 0;
            top: 0.8rem;
        }

        &-inteligence {
            margin-bottom: 1rem;
            display: block;
            cursor: pointer;
            padding-left: 1.5rem;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 136%;
            color: rgba(63, 76, 92, 0.69);
            position: relative;
            &:hover {
                transition: all 0.5s ease-in-out;
                color: #3f4c5c;
            }
            &::before {
                position: absolute;
                content: '';
                width: 0.3rem;
                height: 0.3rem;
                background: rgba(63, 76, 92, 0.69);
                border-radius: 50%;
                left: 0;
                top: 0.8rem;
            }
            &:last-child {
                margin-bottom: 0;
            }
            &:first-child {
                margin-top: 1.5rem;
            }
            &.active {
                font-size: 2rem;
                line-height: 135%;
                color: #3f4c5c;
                &::before {
                    background: #3f4c5c;
                }
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
        &.active {
            font-size: 2.3rem;
            line-height: 135%;
            color: #3f4c5c;
            &::before {
                background: #3f4c5c;
            }
        }
    }
}

.bread-crumbs {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.6rem;
    margin-bottom: 5.6rem;
    a {
        color: #3f4c5c;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 130%;
        display: flex;
        column-gap: 1.6rem;
        align-items: center;
        &:not(:last-child)::after {
            content: '';
            background: url('../img/icon/arrow-bread-crumbs.svg') no-repeat center;
            background-size: cover;
            width: 1rem;
            height: 1rem;
            display: block;
        }
        &:last-child {
            opacity: 0.7;
            pointer-events: none;
            cursor: default;
        }
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

main {
    flex: 1;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
}

@media screen and (max-width: 48em) {
    .title {
        font-size: 5.86vw;
        margin-bottom: 5.33vw;
    }

    .pagination {
        .swiper-pagination-bullet {
            width: 1.8vw;
            height: 1.8vw;
        }

        &__bullets {
            column-gap: 2rem;
        }
    }

    .bread-crumbs {
        margin-bottom: 8vw;
        a {
            font-size: 4.27vw;
            &:not(:last-child)::after {
                width: 1.8vw;
                height: 1.8vw;
            }
        }
    }

    .checkbox {
        &-other {
            span {
                padding-left: 10.7vw;
                height: 7vw;
                display: flex;
                align-items: center;
                column-gap: 0.5rem;
                font-size: 3.8vw;
                &::before {
                    width: 8vw;
                    height: 8vw;
                }
            }
            input[type='checkbox']:checked + span:before {
                background-size: 3vw 3vw;
            }
        }
    }

    .link-green::after {
        bottom: 0;
    }

    .captcha {
        width: 100%;
        height: 100%;
    }
}
