.history {
	&__img {
		position: absolute;
		z-index: -1;
	}

	&__content p {
		font-weight: 400;
		font-size: 1.8rem;
		line-height: 150%;
		color: #3F4C5C;
	}

	&__text-img {
		display: flex;
		column-gap: 3rem;
		p {
			width: 58.3rem;
		}
	}

	&__img-sm {
		width: 46rem;
		height: 46rem;
	}
}