.inteligence {
    &__content-item {
        display: flex;
        flex-direction: column;
        row-gap: 3rem;
    }

    &__subtitle {
        margin-bottom: 0;
    }

    &__items {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        li {
            font-style: normal;
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 150%;
            color: #3f4c5c;
            padding-left: 3rem;
            position: relative;
            &::before {
                position: absolute;
                content: '';
                width: 0.4rem;
                height: 0.4rem;
                background: #3f4c5c;
                border-radius: 50%;
                left: 1rem;
                top: 1rem;
            }
        }
        a {
            border-bottom: 0.1rem solid;
            &:hover {
                border-bottom: none;
                cursor: pointer;
            }
        }
    }

    &__abouts {
        display: flex;
        flex-direction: column;
        row-gap: 3rem;
        max-width: 77rem;
    }

    &__about {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        font-style: normal;
    }

    &__title {
        font-weight: 700;
        font-size: 2rem;
        line-height: 2.5rem;
        color: #3f4c5c;
    }

    &__text {
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 150%;
        color: rgba(63, 76, 92, 0.69);
        display: flex;
        flex-direction: column;
        font-style: normal;
        row-gap: 1.5rem;

        &-requisites {
            flex-direction: row;
            column-gap: 7.5rem;
        }
    }
}

@media screen and (max-width: 48em) {
    .inteligence {
        &__content-item {
            row-gap: 5.3vw;
        }

        &__subtitle {
            margin-bottom: 0;
            font-size: 5.3vw;
        }

        &__items {
            row-gap: 1rem;

            li {
                font-size: 4.27vw;
                padding-left: 5.3vw;

                &::before {
                    width: 1.2vw;
                    height: 1.2vw;
                    left: 1.6vw;
                    top: 3.2vw;
                }
            }
        }

        &__abouts {
            row-gap: 3rem;
            max-width: 77rem;
        }

        &__about {
            row-gap: 4.8vw;
        }

        &__title {
            font-size: 4.8vw;
            line-height: 110%;
        }

        &__text {
            font-size: 4.27vw;
            row-gap: 1.6vw;

            &-requisites {
                column-gap: 16vw;
            }
        }
    }
}
