
.managment {

	&__employees,
	&__director {
		display: flex;
		justify-content: center;
		column-gap: 2.95rem;
    row-gap: 3rem;
		flex-wrap: wrap;
	}

	&__block {
		background: #D8DEE8;
		border-radius: 8px;
		padding: 1.6rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 36.5rem;
		min-height: 52.1rem;
		row-gap: 3rem;
	}

	&__img {
		width: 33.3rem;
		height: 29.4rem;
	}

	&__name {
		font-style: normal;
		font-weight: 700;
		font-size: 2.3rem;
		line-height: 135%;
		color: #3F4C5C;
	}

	&__text {
		margin-top: 2rem;
	}

	&__job {
		font-style: normal;
		font-weight: 400;
		font-size: 1.8rem;
		line-height: 150%;
		color: #3F4C5C;
		margin-top: 1rem;
	}

	&__button {
		width: 100%;
		background: #FFFFFF;
		&:hover {
			color: #FFFFFF;
			background: #3F4C5C;
			cursor: pointer;
			transition: all 0.5s ease-in-out;
		}
	}
}