<div class="connection__wrap" data-content="voprosy-otvety">
  <div class="connection__question-swiper swiper" id="question__swiper">
    <div class="connection__question-swiper-wrapper swiper-wrapper">
      <div class="connection__question-slide swiper-slide">
        <div class="block__items">
          <div class="block__item">
            <div class="block__item-inner">
              <div class="block__item-title">
                Сколько стоит первичный приём врача-трихолог?
              </div>
              <div class="block__item-arrow">
                <img src="./img/icon/button-arrow-green.svg" alt="" />
              </div>
            </div>
            <div class="block__content">
              <div class="connection__block-date">
                <div class="connection__name">Антон Антон Викторович</div>
                <div class="connection__date">07.11.2022 13:58:53</div>
              </div>
              <div class="connection__text">
                Антон , добрый день.<br />
                Необходимо обратиться на консультацию к специалисту для проведения
                клинического осмотра и определения показаний и<br />
                противопоказаний для удаления.<br />
                Можно обратиться в консультативно-диагностический центр на консультацию
                к специалисту отделения Эстетической<br />
                лазерной дерматологии .<br />
                Предварительная запись по телефону регистратуры 8-499-785-20-40 или
                оставить заявку на сайте. Сотрудник центра перезвонит вам в течение
                дня.<br />
                С уважением, ФГБУ "ГНЦДК" Минздрава России
              </div>
            </div>
          </div>
          <div class="block__item">
            <div class="block__item-inner">
              <div class="block__item-title">
                Добрый день! Я к сожалению не в Москве, и мне необходимо консультация
                Азам Вероники Владимировны. Подскажите, пожалуйста, можно ли провести
                консультацию онлайн? Благодарю.
              </div>
              <div class="block__item-arrow">
                <img src="./img/icon/button-arrow-green.svg" alt="" />
              </div>
            </div>
            <div class="block__content">
              <div class="connection__block-date">
                <div class="connection__name">Антон Антон Викторович</div>
                <div class="connection__date">07.11.2022 13:58:53</div>
              </div>
              <div class="connection__text">
                Антон , добрый день.<br />
                Необходимо обратиться на консультацию к специалисту для проведения
                клинического осмотра и определения показаний и<br />
                противопоказаний для удаления.<br />
                Можно обратиться в консультативно-диагностический центр на консультацию
                к специалисту отделения Эстетической<br />
                лазерной дерматологии .<br />
                Предварительная запись по телефону регистратуры 8-499-785-20-40 или
                оставить заявку на сайте. Сотрудник центра перезвонит вам в течение
                дня.<br />
                С уважением, ФГБУ "ГНЦДК" Минздрава России
              </div>
            </div>
          </div>
          <div class="block__item">
            <div class="block__item-inner">
              <div class="block__item-title">
                Сколько стоит первичный приём врача-трихолог?
              </div>
              <div class="block__item-arrow">
                <img src="./img/icon/button-arrow-green.svg" alt="" />
              </div>
            </div>
            <div class="block__content">
              <div class="connection__block-date">
                <div class="connection__name">Антон Антон Викторович</div>
                <div class="connection__date">07.11.2022 13:58:53</div>
              </div>
              <div class="connection__text">
                Антон , добрый день.<br />
                Необходимо обратиться на консультацию к специалисту для проведения
                клинического осмотра и определения показаний и<br />
                противопоказаний для удаления.<br />
                Можно обратиться в консультативно-диагностический центр на консультацию
                к специалисту отделения Эстетической<br />
                лазерной дерматологии .<br />
                Предварительная запись по телефону регистратуры 8-499-785-20-40 или
                оставить заявку на сайте. Сотрудник центра перезвонит вам в течение
                дня.<br />
                С уважением, ФГБУ "ГНЦДК" Минздрава России
              </div>
            </div>
          </div>
          <div class="block__item">
            <div class="block__item-inner">
              <div class="block__item-title">
                Сколько стоит первичный приём врача-трихолог?
              </div>
              <div class="block__item-arrow">
                <img src="./img/icon/button-arrow-green.svg" alt="" />
              </div>
            </div>
            <div class="block__content">
              <div class="connection__block-date">
                <div class="connection__name">Антон Антон Викторович</div>
                <div class="connection__date">07.11.2022 13:58:53</div>
              </div>
              <div class="connection__text">
                Антон , добрый день.<br />
                Необходимо обратиться на консультацию к специалисту для проведения
                клинического осмотра и определения показаний и<br />
                противопоказаний для удаления.<br />
                Можно обратиться в консультативно-диагностический центр на консультацию
                к специалисту отделения Эстетической<br />
                лазерной дерматологии .<br />
                Предварительная запись по телефону регистратуры 8-499-785-20-40 или
                оставить заявку на сайте. Сотрудник центра перезвонит вам в течение
                дня.<br />
                С уважением, ФГБУ "ГНЦДК" Минздрава России
              </div>
            </div>
          </div>
          <div class="block__item">
            <div class="block__item-inner">
              <div class="block__item-title">
                Добрый день! Я к сожалению не в Москве, и мне необходимо консультация
                Азам Вероники Владимировны. Подскажите, пожалуйста, можно ли провести
                консультацию онлайн? Благодарю.
              </div>
              <div class="block__item-arrow">
                <img src="./img/icon/button-arrow-green.svg" alt="" />
              </div>
            </div>
            <div class="block__content">
              <div class="connection__block-date">
                <div class="connection__name">Антон Антон Викторович</div>
                <div class="connection__date">07.11.2022 13:58:53</div>
              </div>
              <div class="connection__text">
                Антон , добрый день.<br />
                Необходимо обратиться на консультацию к специалисту для проведения
                клинического осмотра и определения показаний и<br />
                противопоказаний для удаления.<br />
                Можно обратиться в консультативно-диагностический центр на консультацию
                к специалисту отделения Эстетической<br />
                лазерной дерматологии .<br />
                Предварительная запись по телефону регистратуры 8-499-785-20-40 или
                оставить заявку на сайте. Сотрудник центра перезвонит вам в течение
                дня.<br />
                С уважением, ФГБУ "ГНЦДК" Минздрава России
              </div>
            </div>
          </div>
          <div class="block__item">
            <div class="block__item-inner">
              <div class="block__item-title">
                Сколько стоит первичный приём врача-трихолог?
              </div>
              <div class="block__item-arrow">
                <img src="./img/icon/button-arrow-green.svg" alt="" />
              </div>
            </div>
            <div class="block__content">
              <div class="connection__block-date">
                <div class="connection__name">Антон Антон Викторович</div>
                <div class="connection__date">07.11.2022 13:58:53</div>
              </div>
              <div class="connection__text">
                Антон , добрый день.<br />
                Необходимо обратиться на консультацию к специалисту для проведения
                клинического осмотра и определения показаний и<br />
                противопоказаний для удаления.<br />
                Можно обратиться в консультативно-диагностический центр на консультацию
                к специалисту отделения Эстетической<br />
                лазерной дерматологии .<br />
                Предварительная запись по телефону регистратуры 8-499-785-20-40 или
                оставить заявку на сайте. Сотрудник центра перезвонит вам в течение
                дня.<br />
                С уважением, ФГБУ "ГНЦДК" Минздрава России
              </div>
            </div>
          </div>
          <div class="block__item">
            <div class="block__item-inner">
              <div class="block__item-title">
                Сколько стоит первичный приём врача-трихолог?
              </div>
              <div class="block__item-arrow">
                <img src="./img/icon/button-arrow-green.svg" alt="" />
              </div>
            </div>
            <div class="block__content">
              <div class="connection__block-date">
                <div class="connection__name">Антон Антон Викторович</div>
                <div class="connection__date">07.11.2022 13:58:53</div>
              </div>
              <div class="connection__text">
                Антон , добрый день.<br />
                Необходимо обратиться на консультацию к специалисту для проведения
                клинического осмотра и определения показаний и<br />
                противопоказаний для удаления.<br />
                Можно обратиться в консультативно-диагностический центр на консультацию
                к специалисту отделения Эстетической<br />
                лазерной дерматологии .<br />
                Предварительная запись по телефону регистратуры 8-499-785-20-40 или
                оставить заявку на сайте. Сотрудник центра перезвонит вам в течение
                дня.<br />
                С уважением, ФГБУ "ГНЦДК" Минздрава России
              </div>
            </div>
          </div>
          <div class="block__item">
            <div class="block__item-inner">
              <div class="block__item-title">
                Добрый день! Я к сожалению не в Москве, и мне необходимо консультация
                Азам Вероники Владимировны. Подскажите, пожалуйста, можно ли провести
                консультацию онлайн? Благодарю.
              </div>
              <div class="block__item-arrow">
                <img src="./img/icon/button-arrow-green.svg" alt="" />
              </div>
            </div>
            <div class="block__content">
              <div class="connection__block-date">
                <div class="connection__name">Антон Антон Викторович</div>
                <div class="connection__date">07.11.2022 13:58:53</div>
              </div>
              <div class="connection__text">
                Антон , добрый день.<br />
                Необходимо обратиться на консультацию к специалисту для проведения
                клинического осмотра и определения показаний и<br />
                противопоказаний для удаления.<br />
                Можно обратиться в консультативно-диагностический центр на консультацию
                к специалисту отделения Эстетической<br />
                лазерной дерматологии .<br />
                Предварительная запись по телефону регистратуры 8-499-785-20-40 или
                оставить заявку на сайте. Сотрудник центра перезвонит вам в течение
                дня.<br />
                С уважением, ФГБУ "ГНЦДК" Минздрава России
              </div>
            </div>
          </div>
          <div class="block__item">
            <div class="block__item-inner">
              <div class="block__item-title">
                Сколько стоит первичный приём врача-трихолог?
              </div>
              <div class="block__item-arrow">
                <img src="./img/icon/button-arrow-green.svg" alt="" />
              </div>
            </div>
            <div class="block__content">
              <div class="connection__block-date">
                <div class="connection__name">Антон Антон Викторович</div>
                <div class="connection__date">07.11.2022 13:58:53</div>
              </div>
              <div class="connection__text">
                Антон , добрый день.<br />
                Необходимо обратиться на консультацию к специалисту для проведения
                клинического осмотра и определения показаний и<br />
                противопоказаний для удаления.<br />
                Можно обратиться в консультативно-диагностический центр на консультацию
                к специалисту отделения Эстетической<br />
                лазерной дерматологии .<br />
                Предварительная запись по телефону регистратуры 8-499-785-20-40 или
                оставить заявку на сайте. Сотрудник центра перезвонит вам в течение
                дня.<br />
                С уважением, ФГБУ "ГНЦДК" Минздрава России
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="connection__question-slide swiper-slide">
        <div class="block__items">
          <div class="block__item">
            <div class="block__item-inner">
              <div class="block__item-title">
                Добрый день! Я к сожалению не в Москве, и мне необходимо консультация
                Азам Вероники Владимировны. Подскажите, пожалуйста, можно ли провести
                консультацию онлайн? Благодарю.
              </div>
              <div class="block__item-arrow">
                <img src="./img/icon/button-arrow-green.svg" alt="" />
              </div>
            </div>
            <div class="block__content">
              <div class="connection__block-date">
                <div class="connection__name">Антон Антон Викторович</div>
                <div class="connection__date">07.11.2022 13:58:53</div>
              </div>
              <div class="connection__text">
                Антон , добрый день.<br />
                Необходимо обратиться на консультацию к специалисту для проведения
                клинического осмотра и определения показаний и<br />
                противопоказаний для удаления.<br />
                Можно обратиться в консультативно-диагностический центр на консультацию
                к специалисту отделения Эстетической<br />
                лазерной дерматологии .<br />
                Предварительная запись по телефону регистратуры 8-499-785-20-40 или
                оставить заявку на сайте. Сотрудник центра перезвонит вам в течение
                дня.<br />
                С уважением, ФГБУ "ГНЦДК" Минздрава России
              </div>
            </div>
          </div>
          <div class="block__item">
            <div class="block__item-inner">
              <div class="block__item-title">
                Сколько стоит первичный приём врача-трихолог?
              </div>
              <div class="block__item-arrow">
                <img src="./img/icon/button-arrow-green.svg" alt="" />
              </div>
            </div>
            <div class="block__content">
              <div class="connection__block-date">
                <div class="connection__name">Антон Антон Викторович</div>
                <div class="connection__date">07.11.2022 13:58:53</div>
              </div>
              <div class="connection__text">
                Антон , добрый день.<br />
                Необходимо обратиться на консультацию к специалисту для проведения
                клинического осмотра и определения показаний и<br />
                противопоказаний для удаления.<br />
                Можно обратиться в консультативно-диагностический центр на консультацию
                к специалисту отделения Эстетической<br />
                лазерной дерматологии .<br />
                Предварительная запись по телефону регистратуры 8-499-785-20-40 или
                оставить заявку на сайте. Сотрудник центра перезвонит вам в течение
                дня.<br />
                С уважением, ФГБУ "ГНЦДК" Минздрава России
              </div>
            </div>
          </div>
          <div class="block__item">
            <div class="block__item-inner">
              <div class="block__item-title">
                Сколько стоит первичный приём врача-трихолог?
              </div>
              <div class="block__item-arrow">
                <img src="./img/icon/button-arrow-green.svg" alt="" />
              </div>
            </div>
            <div class="block__content">
              <div class="connection__block-date">
                <div class="connection__name">Антон Антон Викторович</div>
                <div class="connection__date">07.11.2022 13:58:53</div>
              </div>
              <div class="connection__text">
                Антон , добрый день.<br />
                Необходимо обратиться на консультацию к специалисту для проведения
                клинического осмотра и определения показаний и<br />
                противопоказаний для удаления.<br />
                Можно обратиться в консультативно-диагностический центр на консультацию
                к специалисту отделения Эстетической<br />
                лазерной дерматологии .<br />
                Предварительная запись по телефону регистратуры 8-499-785-20-40 или
                оставить заявку на сайте. Сотрудник центра перезвонит вам в течение
                дня.<br />
                С уважением, ФГБУ "ГНЦДК" Минздрава России
              </div>
            </div>
          </div>
          <div class="block__item">
            <div class="block__item-inner">
              <div class="block__item-title">
                Добрый день! Я к сожалению не в Москве, и мне необходимо консультация
                Азам Вероники Владимировны. Подскажите, пожалуйста, можно ли провести
                консультацию онлайн? Благодарю.
              </div>
              <div class="block__item-arrow">
                <img src="./img/icon/button-arrow-green.svg" alt="" />
              </div>
            </div>
            <div class="block__content">
              <div class="connection__block-date">
                <div class="connection__name">Антон Антон Викторович</div>
                <div class="connection__date">07.11.2022 13:58:53</div>
              </div>
              <div class="connection__text">
                Антон , добрый день.<br />
                Необходимо обратиться на консультацию к специалисту для проведения
                клинического осмотра и определения показаний и<br />
                противопоказаний для удаления.<br />
                Можно обратиться в консультативно-диагностический центр на консультацию
                к специалисту отделения Эстетической<br />
                лазерной дерматологии .<br />
                Предварительная запись по телефону регистратуры 8-499-785-20-40 или
                оставить заявку на сайте. Сотрудник центра перезвонит вам в течение
                дня.<br />
                С уважением, ФГБУ "ГНЦДК" Минздрава России
              </div>
            </div>
          </div>
          <div class="block__item">
            <div class="block__item-inner">
              <div class="block__item-title">
                Сколько стоит первичный приём врача-трихолог?
              </div>
              <div class="block__item-arrow">
                <img src="./img/icon/button-arrow-green.svg" alt="" />
              </div>
            </div>
            <div class="block__content">
              <div class="connection__block-date">
                <div class="connection__name">Антон Антон Викторович</div>
                <div class="connection__date">07.11.2022 13:58:53</div>
              </div>
              <div class="connection__text">
                Антон , добрый день.<br />
                Необходимо обратиться на консультацию к специалисту для проведения
                клинического осмотра и определения показаний и<br />
                противопоказаний для удаления.<br />
                Можно обратиться в консультативно-диагностический центр на консультацию
                к специалисту отделения Эстетической<br />
                лазерной дерматологии .<br />
                Предварительная запись по телефону регистратуры 8-499-785-20-40 или
                оставить заявку на сайте. Сотрудник центра перезвонит вам в течение
                дня.<br />
                С уважением, ФГБУ "ГНЦДК" Минздрава России
              </div>
            </div>
          </div>
          <div class="block__item">
            <div class="block__item-inner">
              <div class="block__item-title">
                Сколько стоит первичный приём врача-трихолог?
              </div>
              <div class="block__item-arrow">
                <img src="./img/icon/button-arrow-green.svg" alt="" />
              </div>
            </div>
            <div class="block__content">
              <div class="connection__block-date">
                <div class="connection__name">Антон Антон Викторович</div>
                <div class="connection__date">07.11.2022 13:58:53</div>
              </div>
              <div class="connection__text">
                Антон , добрый день.<br />
                Необходимо обратиться на консультацию к специалисту для проведения
                клинического осмотра и определения показаний и<br />
                противопоказаний для удаления.<br />
                Можно обратиться в консультативно-диагностический центр на консультацию
                к специалисту отделения Эстетической<br />
                лазерной дерматологии .<br />
                Предварительная запись по телефону регистратуры 8-499-785-20-40 или
                оставить заявку на сайте. Сотрудник центра перезвонит вам в течение
                дня.<br />
                С уважением, ФГБУ "ГНЦДК" Минздрава России
              </div>
            </div>
          </div>
          <div class="block__item">
            <div class="block__item-inner">
              <div class="block__item-title">
                Сколько стоит первичный приём врача-трихолог?
              </div>
              <div class="block__item-arrow">
                <img src="./img/icon/button-arrow-green.svg" alt="" />
              </div>
            </div>
            <div class="block__content">
              <div class="connection__block-date">
                <div class="connection__name">Антон Антон Викторович</div>
                <div class="connection__date">07.11.2022 13:58:53</div>
              </div>
              <div class="connection__text">
                Антон , добрый день.<br />
                Необходимо обратиться на консультацию к специалисту для проведения
                клинического осмотра и определения показаний и<br />
                противопоказаний для удаления.<br />
                Можно обратиться в консультативно-диагностический центр на консультацию
                к специалисту отделения Эстетической<br />
                лазерной дерматологии .<br />
                Предварительная запись по телефону регистратуры 8-499-785-20-40 или
                оставить заявку на сайте. Сотрудник центра перезвонит вам в течение
                дня.<br />
                С уважением, ФГБУ "ГНЦДК" Минздрава России
              </div>
            </div>
          </div>
          <div class="block__item">
            <div class="block__item-inner">
              <div class="block__item-title">
                Сколько стоит первичный приём врача-трихолог?
              </div>
              <div class="block__item-arrow">
                <img src="./img/icon/button-arrow-green.svg" alt="" />
              </div>
            </div>
            <div class="block__content">
              <div class="connection__block-date">
                <div class="connection__name">Антон Антон Викторович</div>
                <div class="connection__date">07.11.2022 13:58:53</div>
              </div>
              <div class="connection__text">
                Антон , добрый день.<br />
                Необходимо обратиться на консультацию к специалисту для проведения
                клинического осмотра и определения показаний и<br />
                противопоказаний для удаления.<br />
                Можно обратиться в консультативно-диагностический центр на консультацию
                к специалисту отделения Эстетической<br />
                лазерной дерматологии .<br />
                Предварительная запись по телефону регистратуры 8-499-785-20-40 или
                оставить заявку на сайте. Сотрудник центра перезвонит вам в течение
                дня.<br />
                С уважением, ФГБУ "ГНЦДК" Минздрава России
              </div>
            </div>
          </div>
          <div class="block__item">
            <div class="block__item-inner">
              <div class="block__item-title">
                Добрый день! Я к сожалению не в Москве, и мне необходимо консультация
                Азам Вероники Владимировны. Подскажите, пожалуйста, можно ли провести
                консультацию онлайн? Благодарю.
              </div>
              <div class="block__item-arrow">
                <img src="./img/icon/button-arrow-green.svg" alt="" />
              </div>
            </div>
            <div class="block__content">
              <div class="connection__block-date">
                <div class="connection__name">Антон Антон Викторович</div>
                <div class="connection__date">07.11.2022 13:58:53</div>
              </div>
              <div class="connection__text">
                Антон , добрый день.<br />
                Необходимо обратиться на консультацию к специалисту для проведения
                клинического осмотра и определения показаний и<br />
                противопоказаний для удаления.<br />
                Можно обратиться в консультативно-диагностический центр на консультацию
                к специалисту отделения Эстетической<br />
                лазерной дерматологии .<br />
                Предварительная запись по телефону регистратуры 8-499-785-20-40 или
                оставить заявку на сайте. Сотрудник центра перезвонит вам в течение
                дня.<br />
                С уважением, ФГБУ "ГНЦДК" Минздрава России
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="connection__question-slide swiper-slide">
        <div class="block__items">
          <div class="block__item">
            <div class="block__item-inner">
              <div class="block__item-title">
                Сколько стоит первичный приём врача-трихолог?
              </div>
              <div class="block__item-arrow">
                <img src="./img/icon/button-arrow-green.svg" alt="" />
              </div>
            </div>
            <div class="block__content">
              <div class="connection__block-date">
                <div class="connection__name">Антон Антон Викторович</div>
                <div class="connection__date">07.11.2022 13:58:53</div>
              </div>
              <div class="connection__text">
                Антон , добрый день.<br />
                Необходимо обратиться на консультацию к специалисту для проведения
                клинического осмотра и определения показаний и<br />
                противопоказаний для удаления.<br />
                Можно обратиться в консультативно-диагностический центр на консультацию
                к специалисту отделения Эстетической<br />
                лазерной дерматологии .<br />
                Предварительная запись по телефону регистратуры 8-499-785-20-40 или
                оставить заявку на сайте. Сотрудник центра перезвонит вам в течение
                дня.<br />
                С уважением, ФГБУ "ГНЦДК" Минздрава России
              </div>
            </div>
          </div>
          <div class="block__item">
            <div class="block__item-inner">
              <div class="block__item-title">
                Добрый день! Я к сожалению не в Москве, и мне необходимо консультация
                Азам Вероники Владимировны. Подскажите, пожалуйста, можно ли провести
                консультацию онлайн? Благодарю.
              </div>
              <div class="block__item-arrow">
                <img src="./img/icon/button-arrow-green.svg" alt="" />
              </div>
            </div>
            <div class="block__content">
              <div class="connection__block-date">
                <div class="connection__name">Антон Антон Викторович</div>
                <div class="connection__date">07.11.2022 13:58:53</div>
              </div>
              <div class="connection__text">
                Антон , добрый день.<br />
                Необходимо обратиться на консультацию к специалисту для проведения
                клинического осмотра и определения показаний и<br />
                противопоказаний для удаления.<br />
                Можно обратиться в консультативно-диагностический центр на консультацию
                к специалисту отделения Эстетической<br />
                лазерной дерматологии .<br />
                Предварительная запись по телефону регистратуры 8-499-785-20-40 или
                оставить заявку на сайте. Сотрудник центра перезвонит вам в течение
                дня.<br />
                С уважением, ФГБУ "ГНЦДК" Минздрава России
              </div>
            </div>
          </div>
          <div class="block__item">
            <div class="block__item-inner">
              <div class="block__item-title">
                Сколько стоит первичный приём врача-трихолог?
              </div>
              <div class="block__item-arrow">
                <img src="./img/icon/button-arrow-green.svg" alt="" />
              </div>
            </div>
            <div class="block__content">
              <div class="connection__block-date">
                <div class="connection__name">Антон Антон Викторович</div>
                <div class="connection__date">07.11.2022 13:58:53</div>
              </div>
              <div class="connection__text">
                Антон , добрый день.<br />
                Необходимо обратиться на консультацию к специалисту для проведения
                клинического осмотра и определения показаний и<br />
                противопоказаний для удаления.<br />
                Можно обратиться в консультативно-диагностический центр на консультацию
                к специалисту отделения Эстетической<br />
                лазерной дерматологии .<br />
                Предварительная запись по телефону регистратуры 8-499-785-20-40 или
                оставить заявку на сайте. Сотрудник центра перезвонит вам в течение
                дня.<br />
                С уважением, ФГБУ "ГНЦДК" Минздрава России
              </div>
            </div>
          </div>
          <div class="block__item">
            <div class="block__item-inner">
              <div class="block__item-title">
                Сколько стоит первичный приём врача-трихолог?
              </div>
              <div class="block__item-arrow">
                <img src="./img/icon/button-arrow-green.svg" alt="" />
              </div>
            </div>
            <div class="block__content">
              <div class="connection__block-date">
                <div class="connection__name">Антон Антон Викторович</div>
                <div class="connection__date">07.11.2022 13:58:53</div>
              </div>
              <div class="connection__text">
                Антон , добрый день.<br />
                Необходимо обратиться на консультацию к специалисту для проведения
                клинического осмотра и определения показаний и<br />
                противопоказаний для удаления.<br />
                Можно обратиться в консультативно-диагностический центр на консультацию
                к специалисту отделения Эстетической<br />
                лазерной дерматологии .<br />
                Предварительная запись по телефону регистратуры 8-499-785-20-40 или
                оставить заявку на сайте. Сотрудник центра перезвонит вам в течение
                дня.<br />
                С уважением, ФГБУ "ГНЦДК" Минздрава России
              </div>
            </div>
          </div>
          <div class="block__item">
            <div class="block__item-inner">
              <div class="block__item-title">
                Сколько стоит первичный приём врача-трихолог?
              </div>
              <div class="block__item-arrow">
                <img src="./img/icon/button-arrow-green.svg" alt="" />
              </div>
            </div>
            <div class="block__content">
              <div class="connection__block-date">
                <div class="connection__name">Антон Антон Викторович</div>
                <div class="connection__date">07.11.2022 13:58:53</div>
              </div>
              <div class="connection__text">
                Антон , добрый день.<br />
                Необходимо обратиться на консультацию к специалисту для проведения
                клинического осмотра и определения показаний и<br />
                противопоказаний для удаления.<br />
                Можно обратиться в консультативно-диагностический центр на консультацию
                к специалисту отделения Эстетической<br />
                лазерной дерматологии .<br />
                Предварительная запись по телефону регистратуры 8-499-785-20-40 или
                оставить заявку на сайте. Сотрудник центра перезвонит вам в течение
                дня.<br />
                С уважением, ФГБУ "ГНЦДК" Минздрава России
              </div>
            </div>
          </div>
          <div class="block__item">
            <div class="block__item-inner">
              <div class="block__item-title">
                Добрый день! Я к сожалению не в Москве, и мне необходимо консультация
                Азам Вероники Владимировны. Подскажите, пожалуйста, можно ли провести
                консультацию онлайн? Благодарю.
              </div>
              <div class="block__item-arrow">
                <img src="./img/icon/button-arrow-green.svg" alt="" />
              </div>
            </div>
            <div class="block__content">
              <div class="connection__block-date">
                <div class="connection__name">Антон Антон Викторович</div>
                <div class="connection__date">07.11.2022 13:58:53</div>
              </div>
              <div class="connection__text">
                Антон , добрый день.<br />
                Необходимо обратиться на консультацию к специалисту для проведения
                клинического осмотра и определения показаний и<br />
                противопоказаний для удаления.<br />
                Можно обратиться в консультативно-диагностический центр на консультацию
                к специалисту отделения Эстетической<br />
                лазерной дерматологии .<br />
                Предварительная запись по телефону регистратуры 8-499-785-20-40 или
                оставить заявку на сайте. Сотрудник центра перезвонит вам в течение
                дня.<br />
                С уважением, ФГБУ "ГНЦДК" Минздрава России
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pagination connection__question-pagination">
    <div class="pagination__prev connection__question-prev">
      <img src="./img/icon/arrow-green-btn-prev.svg" alt="" />
    </div>
    <div class="pagination__bullets connection__question-bullets"></div>
    <div class="pagination__next connection__question-next">
      <img src="./img/icon/arrow-green-btn-next.svg" alt="" />
    </div>
  </div>
</div>