                <div class="connection__wrap" data-content="otzyvy-pacientov">
                    <div class="connection__review-swiper swiper" id="review__swiper">
                        <div class="connection__review-swiper-wrapper swiper-wrapper">
                            <div class="connection__review-slide swiper-slide">
                                <div class="connection__feedback">
                                    <div class="connection__feedback-inner">
                                        <div class="connection__feedback-name">Анастасия</div>
                                        <div class="connection__date">07.11.2022 13:58:53</div>
                                    </div>
                                    <div class="connection__feedback-work">Врач Маковецкая Оксана Сергеевна</div>
                                    <div class="connection__text">
                                        У моей дочки было проблемное акне, чем только не лечили, к кому только не
                                        ходили. Я сама делала пилинг в научном центре и записала свою дочь на прием к
                                        Оксане Сергеевне. Это врач от Бога, чуткая, внимательная. К ней можно было
                                        обратиться в любое время и получить ответ на волнующие вопросы в течении всего
                                        времени лечения. Еще главное, что подбирается лечение строго по анализам,
                                        ведется чуткий контроль. Теперь наши проблемы отступили и главное, что дочь
                                        радостная. Огромное спасибо врачу!!!
                                    </div>
                                </div>
                                <div class="connection__feedback">
                                    <div class="connection__feedback-inner">
                                        <div class="connection__feedback-name">Анастасия</div>
                                        <div class="connection__date">07.11.2022 13:58:53</div>
                                    </div>
                                    <div class="connection__feedback-work">Врач Маковецкая Оксана Сергеевна</div>
                                    <div class="connection__text">
                                        У моей дочки было проблемное акне, чем только не лечили, к кому только не
                                        ходили. Я сама делала пилинг в научном центре и записала свою дочь на прием к
                                        Оксане Сергеевне. Это врач от Бога, чуткая, внимательная. К ней можно было
                                        обратиться в любое время и получить ответ на волнующие вопросы в течении всего
                                        времени лечения. Еще главное, что подбирается лечение строго по анализам,
                                        ведется чуткий контроль. Теперь наши проблемы отступили и главное, что дочь
                                        радостная. Огромное спасибо врачу!!!
                                    </div>
                                </div>
                                <div class="connection__feedback">
                                    <div class="connection__feedback-inner">
                                        <div class="connection__feedback-name">Анастасия</div>
                                        <div class="connection__date">07.11.2022 13:58:53</div>
                                    </div>
                                    <div class="connection__feedback-work">Врач Маковецкая Оксана Сергеевна</div>
                                    <div class="connection__text">
                                        У моей дочки было проблемное акне, чем только не лечили, к кому только не
                                        ходили. Я сама делала пилинг в научном центре и записала свою дочь на прием к
                                        Оксане Сергеевне. Это врач от Бога, чуткая, внимательная. К ней можно было
                                        обратиться в любое время и получить ответ на волнующие вопросы в течении всего
                                        времени лечения. Еще главное, что подбирается лечение строго по анализам,
                                        ведется чуткий контроль. Теперь наши проблемы отступили и главное, что дочь
                                        радостная. Огромное спасибо врачу!!!
                                    </div>
                                </div>
                                <div class="connection__feedback">
                                    <div class="connection__feedback-inner">
                                        <div class="connection__feedback-name">Анастасия</div>
                                        <div class="connection__date">07.11.2022 13:58:53</div>
                                    </div>
                                    <div class="connection__feedback-work">Врач Маковецкая Оксана Сергеевна</div>
                                    <div class="connection__text">
                                        У моей дочки было проблемное акне, чем только не лечили, к кому только не
                                        ходили. Я сама делала пилинг в научном центре и записала свою дочь на прием к
                                        Оксане Сергеевне. Это врач от Бога, чуткая, внимательная. К ней можно было
                                        обратиться в любое время и получить ответ на волнующие вопросы в течении всего
                                        времени лечения. Еще главное, что подбирается лечение строго по анализам,
                                        ведется чуткий контроль. Теперь наши проблемы отступили и главное, что дочь
                                        радостная. Огромное спасибо врачу!!!
                                    </div>
                                </div>
                                <div class="connection__feedback">
                                    <div class="connection__feedback-inner">
                                        <div class="connection__feedback-name">Анастасия</div>
                                        <div class="connection__date">07.11.2022 13:58:53</div>
                                    </div>
                                    <div class="connection__feedback-work">Врач Маковецкая Оксана Сергеевна</div>
                                    <div class="connection__text">
                                        У моей дочки было проблемное акне, чем только не лечили, к кому только не
                                        ходили. Я сама делала пилинг в научном центре и записала свою дочь на прием к
                                        Оксане Сергеевне. Это врач от Бога, чуткая, внимательная. К ней можно было
                                        обратиться в любое время и получить ответ на волнующие вопросы в течении всего
                                        времени лечения. Еще главное, что подбирается лечение строго по анализам,
                                        ведется чуткий контроль. Теперь наши проблемы отступили и главное, что дочь
                                        радостная. Огромное спасибо врачу!!!
                                    </div>
                                </div>
                                <div class="connection__feedback">
                                    <div class="connection__feedback-inner">
                                        <div class="connection__feedback-name">Анастасия</div>
                                        <div class="connection__date">07.11.2022 13:58:53</div>
                                    </div>
                                    <div class="connection__feedback-work">Врач Маковецкая Оксана Сергеевна</div>
                                    <div class="connection__text">
                                        У моей дочки было проблемное акне, чем только не лечили, к кому только не
                                        ходили. Я сама делала пилинг в научном центре и записала свою дочь на прием к
                                        Оксане Сергеевне. Это врач от Бога, чуткая, внимательная. К ней можно было
                                        обратиться в любое время и получить ответ на волнующие вопросы в течении всего
                                        времени лечения. Еще главное, что подбирается лечение строго по анализам,
                                        ведется чуткий контроль. Теперь наши проблемы отступили и главное, что дочь
                                        радостная. Огромное спасибо врачу!!!
                                    </div>
                                </div>
                                <div class="connection__feedback">
                                    <div class="connection__feedback-inner">
                                        <div class="connection__feedback-name">Анастасия</div>
                                        <div class="connection__date">07.11.2022 13:58:53</div>
                                    </div>
                                    <div class="connection__feedback-work">Врач Маковецкая Оксана Сергеевна</div>
                                    <div class="connection__text">
                                        У моей дочки было проблемное акне, чем только не лечили, к кому только не
                                        ходили. Я сама делала пилинг в научном центре и записала свою дочь на прием к
                                        Оксане Сергеевне. Это врач от Бога, чуткая, внимательная. К ней можно было
                                        обратиться в любое время и получить ответ на волнующие вопросы в течении всего
                                        времени лечения. Еще главное, что подбирается лечение строго по анализам,
                                        ведется чуткий контроль. Теперь наши проблемы отступили и главное, что дочь
                                        радостная. Огромное спасибо врачу!!!
                                    </div>
                                </div>
                            </div>
                            <div class="connection__review-slide swiper-slide">
                                <div class="connection__feedback">
                                    <div class="connection__feedback-inner">
                                        <div class="connection__feedback-name">Анастасия</div>
                                        <div class="connection__date">07.11.2022 13:58:53</div>
                                    </div>
                                    <div class="connection__feedback-work">Врач Маковецкая Оксана Сергеевна</div>
                                    <div class="connection__text">
                                        У моей дочки было проблемное акне, чем только не лечили, к кому только не
                                        ходили. Я сама делала пилинг в научном центре и записала свою дочь на прием к
                                        Оксане Сергеевне. Это врач от Бога, чуткая, внимательная. К ней можно было
                                        обратиться в любое время и получить ответ на волнующие вопросы в течении всего
                                        времени лечения. Еще главное, что подбирается лечение строго по анализам,
                                        ведется чуткий контроль. Теперь наши проблемы отступили и главное, что дочь
                                        радостная. Огромное спасибо врачу!!!
                                    </div>
                                </div>
                                <div class="connection__feedback">
                                    <div class="connection__feedback-inner">
                                        <div class="connection__feedback-name">Анастасия</div>
                                        <div class="connection__date">07.11.2022 13:58:53</div>
                                    </div>
                                    <div class="connection__feedback-work">Врач Маковецкая Оксана Сергеевна</div>
                                    <div class="connection__text">
                                        У моей дочки было проблемное акне, чем только не лечили, к кому только не
                                        ходили. Я сама делала пилинг в научном центре и записала свою дочь на прием к
                                        Оксане Сергеевне. Это врач от Бога, чуткая, внимательная. К ней можно было
                                        обратиться в любое время и получить ответ на волнующие вопросы в течении всего
                                        времени лечения. Еще главное, что подбирается лечение строго по анализам,
                                        ведется чуткий контроль. Теперь наши проблемы отступили и главное, что дочь
                                        радостная. Огромное спасибо врачу!!!
                                    </div>
                                </div>
                                <div class="connection__feedback">
                                    <div class="connection__feedback-inner">
                                        <div class="connection__feedback-name">Анастасия</div>
                                        <div class="connection__date">07.11.2022 13:58:53</div>
                                    </div>
                                    <div class="connection__feedback-work">Врач Маковецкая Оксана Сергеевна</div>
                                    <div class="connection__text">
                                        У моей дочки было проблемное акне, чем только не лечили, к кому только не
                                        ходили. Я сама делала пилинг в научном центре и записала свою дочь на прием к
                                        Оксане Сергеевне. Это врач от Бога, чуткая, внимательная. К ней можно было
                                        обратиться в любое время и получить ответ на волнующие вопросы в течении всего
                                        времени лечения. Еще главное, что подбирается лечение строго по анализам,
                                        ведется чуткий контроль. Теперь наши проблемы отступили и главное, что дочь
                                        радостная. Огромное спасибо врачу!!!
                                    </div>
                                </div>
                                <div class="connection__feedback">
                                    <div class="connection__feedback-inner">
                                        <div class="connection__feedback-name">Анастасия</div>
                                        <div class="connection__date">07.11.2022 13:58:53</div>
                                    </div>
                                    <div class="connection__feedback-work">Врач Маковецкая Оксана Сергеевна</div>
                                    <div class="connection__text">
                                        У моей дочки было проблемное акне, чем только не лечили, к кому только не
                                        ходили. Я сама делала пилинг в научном центре и записала свою дочь на прием к
                                        Оксане Сергеевне. Это врач от Бога, чуткая, внимательная. К ней можно было
                                        обратиться в любое время и получить ответ на волнующие вопросы в течении всего
                                        времени лечения. Еще главное, что подбирается лечение строго по анализам,
                                        ведется чуткий контроль. Теперь наши проблемы отступили и главное, что дочь
                                        радостная. Огромное спасибо врачу!!!
                                    </div>
                                </div>
                                <div class="connection__feedback">
                                    <div class="connection__feedback-inner">
                                        <div class="connection__feedback-name">Анастасия</div>
                                        <div class="connection__date">07.11.2022 13:58:53</div>
                                    </div>
                                    <div class="connection__feedback-work">Врач Маковецкая Оксана Сергеевна</div>
                                    <div class="connection__text">
                                        У моей дочки было проблемное акне, чем только не лечили, к кому только не
                                        ходили. Я сама делала пилинг в научном центре и записала свою дочь на прием к
                                        Оксане Сергеевне. Это врач от Бога, чуткая, внимательная. К ней можно было
                                        обратиться в любое время и получить ответ на волнующие вопросы в течении всего
                                        времени лечения. Еще главное, что подбирается лечение строго по анализам,
                                        ведется чуткий контроль. Теперь наши проблемы отступили и главное, что дочь
                                        радостная. Огромное спасибо врачу!!!
                                    </div>
                                </div>
                                <div class="connection__feedback">
                                    <div class="connection__feedback-inner">
                                        <div class="connection__feedback-name">Анастасия</div>
                                        <div class="connection__date">07.11.2022 13:58:53</div>
                                    </div>
                                    <div class="connection__feedback-work">Врач Маковецкая Оксана Сергеевна</div>
                                    <div class="connection__text">
                                        У моей дочки было проблемное акне, чем только не лечили, к кому только не
                                        ходили. Я сама делала пилинг в научном центре и записала свою дочь на прием к
                                        Оксане Сергеевне. Это врач от Бога, чуткая, внимательная. К ней можно было
                                        обратиться в любое время и получить ответ на волнующие вопросы в течении всего
                                        времени лечения. Еще главное, что подбирается лечение строго по анализам,
                                        ведется чуткий контроль. Теперь наши проблемы отступили и главное, что дочь
                                        радостная. Огромное спасибо врачу!!!
                                    </div>
                                </div>
                                <div class="connection__feedback">
                                    <div class="connection__feedback-inner">
                                        <div class="connection__feedback-name">Анастасия</div>
                                        <div class="connection__date">07.11.2022 13:58:53</div>
                                    </div>
                                    <div class="connection__feedback-work">Врач Маковецкая Оксана Сергеевна</div>
                                    <div class="connection__text">
                                        У моей дочки было проблемное акне, чем только не лечили, к кому только не
                                        ходили. Я сама делала пилинг в научном центре и записала свою дочь на прием к
                                        Оксане Сергеевне. Это врач от Бога, чуткая, внимательная. К ней можно было
                                        обратиться в любое время и получить ответ на волнующие вопросы в течении всего
                                        времени лечения. Еще главное, что подбирается лечение строго по анализам,
                                        ведется чуткий контроль. Теперь наши проблемы отступили и главное, что дочь
                                        радостная. Огромное спасибо врачу!!!
                                    </div>
                                </div>
                            </div>
                            <div class="connection__review-slide swiper-slide">
                                <div class="connection__feedback">
                                    <div class="connection__feedback-inner">
                                        <div class="connection__feedback-name">Анастасия</div>
                                        <div class="connection__date">07.11.2022 13:58:53</div>
                                    </div>
                                    <div class="connection__feedback-work">Врач Маковецкая Оксана Сергеевна</div>
                                    <div class="connection__text">
                                        У моей дочки было проблемное акне, чем только не лечили, к кому только не
                                        ходили. Я сама делала пилинг в научном центре и записала свою дочь на прием к
                                        Оксане Сергеевне. Это врач от Бога, чуткая, внимательная. К ней можно было
                                        обратиться в любое время и получить ответ на волнующие вопросы в течении всего
                                        времени лечения. Еще главное, что подбирается лечение строго по анализам,
                                        ведется чуткий контроль. Теперь наши проблемы отступили и главное, что дочь
                                        радостная. Огромное спасибо врачу!!!
                                    </div>
                                </div>
                                <div class="connection__feedback">
                                    <div class="connection__feedback-inner">
                                        <div class="connection__feedback-name">Анастасия</div>
                                        <div class="connection__date">07.11.2022 13:58:53</div>
                                    </div>
                                    <div class="connection__feedback-work">Врач Маковецкая Оксана Сергеевна</div>
                                    <div class="connection__text">
                                        У моей дочки было проблемное акне, чем только не лечили, к кому только не
                                        ходили. Я сама делала пилинг в научном центре и записала свою дочь на прием к
                                        Оксане Сергеевне. Это врач от Бога, чуткая, внимательная. К ней можно было
                                        обратиться в любое время и получить ответ на волнующие вопросы в течении всего
                                        времени лечения. Еще главное, что подбирается лечение строго по анализам,
                                        ведется чуткий контроль. Теперь наши проблемы отступили и главное, что дочь
                                        радостная. Огромное спасибо врачу!!!
                                    </div>
                                </div>
                                <div class="connection__feedback">
                                    <div class="connection__feedback-inner">
                                        <div class="connection__feedback-name">Анастасия</div>
                                        <div class="connection__date">07.11.2022 13:58:53</div>
                                    </div>
                                    <div class="connection__feedback-work">Врач Маковецкая Оксана Сергеевна</div>
                                    <div class="connection__text">
                                        У моей дочки было проблемное акне, чем только не лечили, к кому только не
                                        ходили. Я сама делала пилинг в научном центре и записала свою дочь на прием к
                                        Оксане Сергеевне. Это врач от Бога, чуткая, внимательная. К ней можно было
                                        обратиться в любое время и получить ответ на волнующие вопросы в течении всего
                                        времени лечения. Еще главное, что подбирается лечение строго по анализам,
                                        ведется чуткий контроль. Теперь наши проблемы отступили и главное, что дочь
                                        радостная. Огромное спасибо врачу!!!
                                    </div>
                                </div>
                                <div class="connection__feedback">
                                    <div class="connection__feedback-inner">
                                        <div class="connection__feedback-name">Анастасия</div>
                                        <div class="connection__date">07.11.2022 13:58:53</div>
                                    </div>
                                    <div class="connection__feedback-work">Врач Маковецкая Оксана Сергеевна</div>
                                    <div class="connection__text">
                                        У моей дочки было проблемное акне, чем только не лечили, к кому только не
                                        ходили. Я сама делала пилинг в научном центре и записала свою дочь на прием к
                                        Оксане Сергеевне. Это врач от Бога, чуткая, внимательная. К ней можно было
                                        обратиться в любое время и получить ответ на волнующие вопросы в течении всего
                                        времени лечения. Еще главное, что подбирается лечение строго по анализам,
                                        ведется чуткий контроль. Теперь наши проблемы отступили и главное, что дочь
                                        радостная. Огромное спасибо врачу!!!
                                    </div>
                                </div>
                                <div class="connection__feedback">
                                    <div class="connection__feedback-inner">
                                        <div class="connection__feedback-name">Анастасия</div>
                                        <div class="connection__date">07.11.2022 13:58:53</div>
                                    </div>
                                    <div class="connection__feedback-work">Врач Маковецкая Оксана Сергеевна</div>
                                    <div class="connection__text">
                                        У моей дочки было проблемное акне, чем только не лечили, к кому только не
                                        ходили. Я сама делала пилинг в научном центре и записала свою дочь на прием к
                                        Оксане Сергеевне. Это врач от Бога, чуткая, внимательная. К ней можно было
                                        обратиться в любое время и получить ответ на волнующие вопросы в течении всего
                                        времени лечения. Еще главное, что подбирается лечение строго по анализам,
                                        ведется чуткий контроль. Теперь наши проблемы отступили и главное, что дочь
                                        радостная. Огромное спасибо врачу!!!
                                    </div>
                                </div>
                                <div class="connection__feedback">
                                    <div class="connection__feedback-inner">
                                        <div class="connection__feedback-name">Анастасия</div>
                                        <div class="connection__date">07.11.2022 13:58:53</div>
                                    </div>
                                    <div class="connection__feedback-work">Врач Маковецкая Оксана Сергеевна</div>
                                    <div class="connection__text">
                                        У моей дочки было проблемное акне, чем только не лечили, к кому только не
                                        ходили. Я сама делала пилинг в научном центре и записала свою дочь на прием к
                                        Оксане Сергеевне. Это врач от Бога, чуткая, внимательная. К ней можно было
                                        обратиться в любое время и получить ответ на волнующие вопросы в течении всего
                                        времени лечения. Еще главное, что подбирается лечение строго по анализам,
                                        ведется чуткий контроль. Теперь наши проблемы отступили и главное, что дочь
                                        радостная. Огромное спасибо врачу!!!
                                    </div>
                                </div>
                                <div class="connection__feedback">
                                    <div class="connection__feedback-inner">
                                        <div class="connection__feedback-name">Анастасия</div>
                                        <div class="connection__date">07.11.2022 13:58:53</div>
                                    </div>
                                    <div class="connection__feedback-work">Врач Маковецкая Оксана Сергеевна</div>
                                    <div class="connection__text">
                                        У моей дочки было проблемное акне, чем только не лечили, к кому только не
                                        ходили. Я сама делала пилинг в научном центре и записала свою дочь на прием к
                                        Оксане Сергеевне. Это врач от Бога, чуткая, внимательная. К ней можно было
                                        обратиться в любое время и получить ответ на волнующие вопросы в течении всего
                                        времени лечения. Еще главное, что подбирается лечение строго по анализам,
                                        ведется чуткий контроль. Теперь наши проблемы отступили и главное, что дочь
                                        радостная. Огромное спасибо врачу!!!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pagination connection__review-pagination">
                        <div class="pagination__prev connection__review-prev">
                            <img src="./img/icon/arrow-green-btn-prev.svg" alt="" />
                        </div>
                        <div class="pagination__bullets connection__review-bullets"></div>
                        <div class="pagination__next connection__review-next">
                            <img src="./img/icon/arrow-green-btn-next.svg" alt="" />
                        </div>
                    </div>
                </div>