<div class="connection__wrap" data-content="rabota-s-obrashcheniyami-grazhdan">
  <div class="connection__time">
    <div class="connection__time-title">
      Часы приема граждан директором ФГБУ "ГНЦДК" Минздрава России
    </div>
    <div class="connection__time-text">
      Каждый понедельник: 14:00 - 18:00
    </div>
  </div>
  <div class="connection__appeal-title">
    Федеральный закон от 02.05.2006 N 59-ФЗ (ред. от 27 ноября 2017 г. № 355-ФЗ)<br />
    <a href="#" class="link-green">"О порядке рассмотрения обращений граждан Российской Федерации"</a>
  </div>
  <ul class="connection__appeal">
    <li>
      <a href="#" target="_blank">Статья 1. Сфера применения настоящего Федерального закона</a>
    </li>
    <li><a href="#" target="_blank">Статья 2. Право граждан на обращение</a></li>
    <li>
      <a href="#" target="_blank">Статья 3. Правовое регулирование правоотношений, связанных с рассмотрением обращений
        граждан</a>
    </li>
    <li>
      <a href="#" target="_blank">Статья 4. Основные термины, используемые в настоящем Федеральном законе</a>
    </li>
    <li><a href="#" target="_blank">Статья 5. Права гражданина при рассмотрении обращения</a></li>
    <li>
      <a href="#" target="_blank">Статья 6. Гарантии безопасности гражданина в связи с его обращением</a>
    </li>
    <li><a href="#" target="_blank">Статья 7. Требования к письменному обращению</a></li>
    <li>
      <a href="#" target="_blank">Статья 8. Направление и регистрация письменного обращения</a>
    </li>
    <li>
      <a href="#" target="_blank">Статья 9. Обязательность принятия обращения к рассмотрению</a>
    </li>
    <li><a href="#" target="_blank">Статья 10. Рассмотрение обращения</a></li>
    <li><a href="#" target="_blank">Статья 11. Порядок рассмотрения отдельных обращений</a></li>
    <li><a href="#" target="_blank">Статья 12. Сроки рассмотрения письменного обращения</a></li>
    <li><a href="#" target="_blank">Статья 13. Личный прием граждан</a></li>
    <li>
      <a href="#" target="_blank">Статья 14. Контроль за соблюдением порядка рассмотрения обращений</a>
    </li>
    <li>
      <a href="#" target="_blank">Статья 15. Ответственность за нарушение настоящего Федерального закона</a>
    </li>
    <li>
      <a href="#" target="_blank">Статья 16. Возмещение причиненных убытков и взыскание понесенных расходов при
        рассмотрении обращений</a>
    </li>
    <li>
      <a href="#" target="_blank">Статья 17. Признание не действующими на территории Российской Федерации отдельных
        нормативных правовых актов Союза ССР</a>
    </li>
    <li>
      <a href="#" target="_blank">Статья 18. Вступление в силу настоящего Федерального закона</a>
    </li>
  </ul>
  <div class="connection__contact">
    <div class="connection__desc">
      <div class="subtitle">Контактная форма обратной связи</div>
      <div class="connection__text">
        В целях oбъективного и всестороннего рассмотрения Вашего обращения в установленные
        сроки, необходимо в тексте обращения указывать контактные данные, тему обращения
        (диагноз пациента/цель обращения), а также приложить дополнительные документы или
        материалы в электронной форме (выписки из истории болезни, результаты обследований и
        т.д.), более полно раскрывающие суть Вашего обращения.
      </div>
      <div class="connection__text">
        Данное обращение будет направлено на почтовый адрес:
        <a href="mailto:ok1@cnikvi.ru" class="link-green">info@cnikvi.ru.</a>
      </div>
    </div>
    <form method="post" action="" class="connection__form" enctype="multipart/form-data">
      <section class="connection__section">
        <div class="connection__form-title">1. Пациент</div>
        <div class="form__input">
          <input name="lat_surname" type="text" placeholder="Фамилия*" />
          <div class="form__input-error">
            <img src="./img/triagle.svg" alt="">
            <span>Поле заполнено неверно</span>
          </div>
        </div>
        <div class="form__input">
          <input name="first_name" type="text" placeholder="Имя*" />
          <div class="form__input-error">
            <img src="./img/triagle.svg" alt="">
            <span>Поле заполнено неверно</span>
          </div>
        </div>
        <div class="form__input">
          <input name="surname" type="text" placeholder="Отчество" />
          <div class="form__input-error">
            <img src="./img/triagle.svg" alt="">
            <span>Поле заполнено неверно</span>
          </div>
        </div>
        <div class="form__input">
          <input name="date" type="text" class="date" placeholder="Дата рождения*" />
          <div class="form__input-error">
            <img src="./img/triagle.svg" alt="">
            <span>Поле заполнено неверно</span>
          </div>
        </div>
        <div class="form__input">
          <input name="email" type="email" placeholder="E-mail*" />
          <div class="form__input-error">
            <img src="./img/triagle.svg" alt="">
            <span>Поле заполнено неверно</span>
          </div>
        </div>
        <div class="form__input">
          <input name="phone" type="text" placeholder="Номер телефона*" />
          <div class="form__input-error">
            <img src="./img/triagle.svg" alt="">
            <span>Поле заполнено неверно</span>
          </div>
        </div>
      </section>
      <section class="connection__section">
        <div class="connection__form-title">2. Цель обращения</div>
        <div class="connection__form-block">
          <label for="diagnos">Диагноз пациента/Цель обращения</label>
          <textarea name="diagnos" id="diagnos" cols="30" rows="10"></textarea>
        </div>
        <div class="connection__form-block">
          <label for="sms">Сообщение</label>
          <textarea name="sms" id="sms" cols="30" rows="10"></textarea>
        </div>
        <div class="connection__form-block">
          <label for="diagnos">Добавить файлы</label>
          <p>Приложите фотографии пораженного участка кожного покрова или результаты дополнительных исследований. Прикрепляемые файлы
					должны быть в форматах pdf, jpg, mp4</p>
        </div>
        <label class="input-file input-file-white">
          <input type="file" name="file" />
          <span>Прикрепить файлы</span>
        </label>
      </section>
      <section class="connection__form-submit">
        <p>
          В соответствии с 59-Ф3 срок ответа 30 дней. Ответом может служить телефонный звонок.
        </p>
        <div class="form__input ">
          <label class="checkbox-other connection__checkbox">
            <input type="checkbox" name="agree" />
            <span>Я согласен на
              <a href="#" class="link-green">с политикой конфиденциальности</a></span>
          </label>
          <div class="form__input-error">
            <img src="./img/triagle.svg" alt="">
            <span>Необходимо согласие на обработку данных</span>
          </div>
        </div>
        <button type="submit" class="all-btn__blue connection__form-btn">Отправить</button>
      </section>
    </form>
  </div>
</div>