<section class="patients-page">
    <div class="container">
        <div class="bread-crumbs">
            <a href="./index.html">Главная</a>
            <a href="./patients-page.html">Пациентам</a>
            <a href="./patients-page.html#informaciya-dlya-pacientov">Информация для пациентов</a>
            <a href="./rights-obligations-patients-page.html"
                >О получении справки об оплате медицинских услуг для предоставления в налоговые органы</a
            >
        </div>
        <div class="title">О получении справки об оплате медицинских услуг для предоставления в налоговые органы</div>
        <div class="patients-page__container">
            <div class="patients-page__block">
                <div class="patients-page__block-title-up">УВАЖАЕМЫЕ ПАЦИЕНТЫ ФГБУ «ГНЦДК» МИНЗДРАВА РОССИИ!</div>
            </div>

            <div class="patients-page__block">
                <p>
                    Для получения справки об оплате медицинских услуг для предоставления в налоговые органы, Вам
                    необходимо ЛИЧНО обратиться в бухгалтерию (при обращении доверенного лица, необходима доверенность,
                    оформленная в простой письменной форме).
                </p>
                <div class="patients-page__block-title">Режим работы:</div>
                <ul class="patients-page__block-work">
                    <li>Понедельник - четверг с 8:30 - 16:30</li>
                    <li>Пятница с 8:30 - 15:30</li>
                    <li>Суббота - воскресенье выходные дни</li>
                </ul>
            </div>

            <div class="patients-page__block">
                <p>
                    Справка оформляется на основании Приказа Минздрава России и МНС России от 25 июля 2001 года
                    №289/БГ-3-04/256 «О реализации Постановления Правительства Российской Федерации от 19 марта 2001
                    года №201 «Об утверждении перечней медицинских услуг и дорогостоящих видов лечения в медицинских
                    учреждениях Российской Федерации, лекарственных средств, суммы оплаты которых за счет собственных
                    средств налогоплательщика учитываются при определении суммы социального налогового вычета».
                </p>
                <div class="patients-page__block-title">При себе иметь:</div>
                <ul>
                    <li>Договор на оказание платных медицинских услуг;</li>
                    <li>
                        Кассовые чеки, оформляются в кассе, всегда, при оплате наличными или банковской картой
                        (сохраняйте чеки!);
                    </li>
                    <li>Рецептурные бланки (при наличии); Паспорт;</li>
                    <li>ИНН;</li>
                    <li>
                        Документ, подтверждающий родственные отношения (при получении налогового вычета за родителей,
                        супругов, детей)
                    </li>
                </ul>
            </div>
            <div class="patients-page__block">
                <div class="patients-page__block-title-up">
                    СПРАВКА ВЫДАЕТСЯ ТОЛЬКО НА ОСНОВАНИИ ПРЕДОСТАВЛЕННЫХ ВАМИ КАССОВЫХ ЧЕКОВ!!!
                </div>
            </div>
        </div>
    </div>
</section>
