<section class="patients-page">
    <div class="container">
        <div class="bread-crumbs">
            <a href="./index.html">Главная</a>
            <a href="./patients-page.html">Пациентам</a>
            <a href="./patients-page.html#informaciya-dlya-pacientov">Информация для пациентов</a>
            <a href="./rules-preparing-diagnostic-studies.html">Правила подготовки к диагностическим исследованиям</a>
        </div>
        <div class="title">Правила подготовки к диагностическим исследованиям</div>
        <div class="rules-preparing">
            <div class="rules-preparing__title">
                Правила подготовки пациентов к исследованию, взятия, хранения и транспортировки биологического материала
            </div>
            <div class="rules-preparing__item rules-preparing__header">
                <div>№</div>
                <div>Наименование</div>
                <div>Биологический материал</div>
                <div>Емкость для сбора биологического материала</div>
                <div>
                    Правила подготовки пациентов к исследованию, взятия, хранения и транспортировки биологического
                    материала
                </div>
            </div>
            <div class="rules-preparing__item">
                <div>
                  <div class="rules-preparing__item-title --mob">№</div>
                  <div>4.1</div>
                </div>
                <div>
                  <div class="rules-preparing__item-title --mob">Наименование</div>
                  <div>Клинический анализ крови</div>
                </div>
                <div>
                  <div class="rules-preparing__item-title --mob">Биологический материал</div>
                  <div>Венозная или капиллярная кровь</div>
                </div>
                <div>
                  <div class="rules-preparing__item-title --mob">Емкость для сбора биологического материала</div>
                  <div>Венозная или капиллярная кровь</div>
                </div>
                <div>
                  <div class="rules-preparing__item-title --mob">Правила подготовки пациентов к исследованию, взятия, хранения и транспортировки биологического материала</div>
                  <div>Исследование проводить натощак или не менее чем через 3 часа после последнего принятия пищи.</div>
                </div>
            </div>
            <div class="rules-preparing__item">
              <div>
                <div class="rules-preparing__item-title --mob">№</div>
                <div>4.2</div>
              </div>
              <div>
                <div class="rules-preparing__item-title --mob">Наименование</div>
                <div>Клинический анализ мочи</div>
              </div>
              <div>
                <div class="rules-preparing__item-title --mob">Биологический материал</div>
                <div>Моча разовая</div>
              </div>
              <div>
                <div class="rules-preparing__item-title --mob">Емкость для сбора биологического материала</div>
                <div>Контейнер для мочи 100 мл</div>
              </div>
              <div>
                <div class="rules-preparing__item-title --mob">Правила подготовки пациентов к исследованию, взятия, хранения и
                  транспортировки биологического материала</div>
                <div>Накануне сдачи анализа воздержаться от физических нагрузок, приема алкоголя. Перед сбором мочи
                провести тщательный туалет наружных половых органов. Нельзя собирать материал во время менструации.
                Нежелателен сбор материала раннее чем через 5-7 дней после цитоскопии.</div>
              </div>
            </div>
            <div class="rules-preparing__item">
              <div>
                <div class="rules-preparing__item-title --mob">№</div>
                <div>4.2</div>
              </div>
              <div>
                <div class="rules-preparing__item-title --mob">Наименование</div>
                <div>Клинический анализ мочи</div>
              </div>
              <div>
                <div class="rules-preparing__item-title --mob">Биологический материал</div>
                <div>Моча разовая</div>
              </div>
              <div>
                <div class="rules-preparing__item-title --mob">Емкость для сбора биологического материала</div>
                <div>Контейнер для мочи 100 мл</div>
              </div>
              <div>
                <div class="rules-preparing__item-title --mob">Правила подготовки пациентов к исследованию, взятия, хранения и
                  транспортировки биологического материала</div>
                <div>Накануне сдачи анализа воздержаться от физических нагрузок, приема алкоголя. Перед сбором мочи
                  провести тщательный туалет наружных половых органов. Нельзя собирать материал во время менструации.
                  Нежелателен сбор материала раннее чем через 5-7 дней после цитоскопии.</div>
              </div>
            </div>
            <div class="rules-preparing__item">
              <div>
                <div class="rules-preparing__item-title --mob">№</div>
                <div>4.3</div>
              </div>
              <div>
                <div class="rules-preparing__item-title --mob">Наименование</div>
                <div>Определение группы крови в системе АВО и резус-фактор</div>
              </div>
              <div>
                <div class="rules-preparing__item-title --mob">Биологический материал</div>
                <div>Венозная кровь</div>
              </div>
              <div>
                <div class="rules-preparing__item-title --mob">Емкость для сбора биологического материала</div>
                <div>Пробирка с К2ЭДТА</div>
              </div>
              <div>
                <div class="rules-preparing__item-title --mob">Правила подготовки пациентов к исследованию, взятия, хранения и
                  транспортировки биологического материала</div>
                <div>Исследования проводятся утром, натощак. С последнего приема пищи должно пройти не менее 8 часов
                (желательно, не менее 12 часов). Исключить прием алкоголя не менее чем за 24 часа до взятия
                биоматериала.</div>
              </div>
            </div>
            <div class="rules-preparing__item">
              <div>
                <div class="rules-preparing__item-title --mob">№</div>
                <div>4.4</div>
              </div>
              <div>
                <div class="rules-preparing__item-title --mob">Наименование</div>
                <div>Исследование на акантолитические клетки</div>
              </div>
              <div>
                <div class="rules-preparing__item-title --mob">Биологический материал</div>
                <div>Отпечаток с поверхности эрозии, язвы</div>
              </div>
              <div>
                <div class="rules-preparing__item-title --mob">Емкость для сбора биологического материала</div>
                <div>Покровное стекло, чашка Петри</div>
              </div>
              <div>
                <div class="rules-preparing__item-title --mob">Правила подготовки пациентов к исследованию, взятия, хранения и
                  транспортировки биологического материала</div>
                <div>Перед исследованием пациенту рекомендуют не обрабатывать кожу лекарственными средствами, взятие
                материала производят с помощью специального стерильного ластика путем переноса материала с эрозии на
                стекло, помещают в чашку Петри, маркируют, доставляют в лабораторию в день взятия.</div>
              </div>
            </div>
            <div class="rules-preparing__item">
              <div>
                <div class="rules-preparing__item-title --mob">№</div>
                <div>4.6</div>
              </div>
              <div>
                <div class="rules-preparing__item-title --mob">Наименование</div>
                <div>Исследование на Sarcoptes scabiei Hominis (чесотка)</div>
              </div>
              <div>
                <div class="rules-preparing__item-title --mob">Биологический материал</div>
                <div>Соскоб кожи</div>
              </div>
              <div>
                <div class="rules-preparing__item-title --mob">Емкость для сбора биологического материала</div>
                <div>Покровное стекло</div>
              </div>
              <div>
                <div class="rules-preparing__item-title --mob">Правила подготовки пациентов к исследованию, взятия, хранения и
                  транспортировки биологического материала</div>
                <div>Перед исследованием пациенту рекомендуют не обрабатывать кожу лекарственными средствами. Острой
                глазной ложкой производят соскоб с чесоточных элементов и переносят на предметное стекло с каплей
                молочной кислоты, помещают в чашку Петри, маркируют, немедленно доставляют в лабораторию.</div>
              </div>
            </div>
            <div class="rules-preparing__item">
              <div>
                <div class="rules-preparing__item-title --mob">№</div>
                <div>4.7</div>
              </div>
              <div>
                <div class="rules-preparing__item-title --mob">Наименование</div>
                <div>Исследование на Demodex folliculorum (демодекс)</div>
              </div>
              <div>
                <div class="rules-preparing__item-title --mob">Биологический материал</div>
                <div>Соскоб с кожных сальных желез, ресницы</div>
              </div>
              <div>
                <div class="rules-preparing__item-title --mob">Емкость для сбора биологического материала</div>
                <div>Предметное стекло, покровное стекло, Чашка Петри</div>
              </div>
              <div>
                <div class="rules-preparing__item-title --mob">Правила подготовки пациентов к исследованию, взятия, хранения и
                  транспортировки биологического материала</div>
                <div>Кожа лица не должна содержать пудры. Одноразовым, стерильным, пластиковым пинцетом производят взятие
                ресниц или соскоб материала с кожных сальных желез, переносят на стекло с каплей раствора КОН,
                покрывают покровным стеклом, помещают в Чашку Петри, маркируют, немедленно доставляют в лабораторию.</div>
              </div>
            </div>
            <div class="rules-preparing__item">
              <div>
                <div class="rules-preparing__item-title --mob">№</div>
                <div>4.8</div>
              </div>
              <div>
                <div class="rules-preparing__item-title --mob">Наименование</div>
                <div>Исследование секрета предстательной железы.</div>
              </div>
              <div>
                <div class="rules-preparing__item-title --mob">Биологический материал</div>
                <div>Секрет предстательной железы.</div>
              </div>
              <div>
                <div class="rules-preparing__item-title --mob">Емкость для сбора биологического материала</div>
                <div>Предметное стекло.</div>
              </div>
              <div>
                <div class="rules-preparing__item-title --mob">Правила подготовки пациентов к исследованию, взятия, хранения и
                  транспортировки биологического материала</div>
                <div>Рекомендуется половое воздержание в течение 2 дней. Секрет предстательной железы после энергичного
                массажа предстательной железы собирают на предметное стекло, высушивают на воздухе, помещают в
                пластиковый пакет с указанием данных пациента, доставить в лабораторию.</div>
              </div>
            </div>
            <div class="rules-preparing__item">
              <div>
                <div class="rules-preparing__item-title --mob">№</div>
                <div>4.10</div>
              </div>
              <div>
                <div class="rules-preparing__item-title --mob">Наименование</div>
                <div>Спермограмма</div>
              </div>
              <div>
                <div class="rules-preparing__item-title --mob">Биологический материал</div>
                <div>Эякулят</div>
              </div>
              <div>
                <div class="rules-preparing__item-title --mob">Емкость для сбора биологического материала</div>
                <div>Контейнер на 100 мл</div>
              </div>
              <div>
                <div class="rules-preparing__item-title --mob">Правила подготовки пациентов к исследованию, взятия, хранения и
                  транспортировки биологического материала</div>
                <div>Эякулят для анализа собирают после 3-5 дневного полового воздержания. В эти дни не рекомендуют
                принимать алкоголь и лекарственные препараты. Пациент собирает эякулят в контейнер, завинчивает
                крышку, маркирует, немедленно досталяют в лабораторию. Допускается хранение биологического материала
                в термоконтейнере при Т=37 градусов С не более 1 часа.</div>
              </div>
            </div>
            <div class="rules-preparing__item">
              <div>
                <div class="rules-preparing__item-title --mob">№</div>
                <div>9.2</div>
              </div>
              <div>
                <div class="rules-preparing__item-title --mob">Наименование</div>
                <div>Культуральное исследование для выделения и видовой идентификации грибов рода Candida с определением
                чувствительности к антимикотическим препаратам</div>
              </div>
              <div>
                <div class="rules-preparing__item-title --mob">Биологический материал</div>
                <div>Отделяемое</div>
              </div>
              <div>
                <div class="rules-preparing__item-title --mob">Емкость для сбора биологического материала</div>
                <div>Стерильная пробирка с транспортной средой</div>
              </div>
              <div>
                <div class="rules-preparing__item-title --mob">Правила подготовки пациентов к исследованию, взятия, хранения и
                  транспортировки биологического материала</div>
                <div>Не использовать местное лечение в течение 3 суток перед исследованием. Перед сбором материала не
                проводится туалет наружных половых органов, рекомендуется воздержание от мочеиспускания не менее 2
                часов</div>
              </div>
            </div>
            <div class="rules-preparing__item rules-preparing__item-full">
              <div>
                <div class="rules-preparing__item-title --mob">№</div>
                <div>10</div>
              </div>
              <div>
                <span>Исследование в крови антигенов, антител, гормонов, витаминов и онкомаркеров.</span>
              </div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
            <div class="rules-preparing__item">
              <div>
                <div class="rules-preparing__item-title --mob"></div>
                <div></div>
              </div>
              <div>
                <div class="rules-preparing__item-title --mob">Наименование</div>
                <div>Гормональные исследования щитовидной железы</div>
              </div>
              <div>
                <div class="rules-preparing__item-title --mob">Биологический материал</div>
                <div>Венозная кровь</div>
              </div>
              <div>
                <div class="rules-preparing__item-title --mob">Емкость для сбора биологического материала</div>
                <div>Пробирка с активатором свертывания</div>
              </div>
              <div>
                <div class="rules-preparing__item-title --mob">Правила подготовки пациентов к исследованию, взятия, хранения и
                  транспортировки биологического материала</div>
                <div>Исследования проводятся утром, натощак. С последнего приема пищи должно пройти не менее 8 часов.
                Исключить прием алкоголя не менее чем за 24 часа до взятия биоматериала. За 1 месяц до исследования
                необходимо исключить прием гормонов щитовидной железы, если нет других назначений врача. За 2-3 дня
                до проведения исследования исключается прием препаратов, содержащих железо.</div>
              </div>
            </div>
        </div>
    </div>
</section>
