<section class="specialists">
  <div class="container">
    <div class="bread-crumbs">
      <a href="../index.html">Главная</a>
      <a href="../specialists-page.html">Специалистам</a>
      <a href="../medical-education-page.html" class="crumb-content">Медицинское образование</a>
    </div>
    <div class="title">Медицинское образование</div>
    <div class="specialists__content">
      <ul class="specialists__med-items med-items">
        <li class="med-item">
          <div class="med-item__block">
            <div class="med-item__block-img">
              <img src="./img/icon/pdf-icon.svg" alt="" />
            </div>
            <p class="med-item__block-txt">Aкне и розацеа. Клинические проявления, диагностика и лечение. Круглова Л.С.,
              Стенько А.Г., Грязева Н.В. 2021г.</p>
          </div>
          <a href="#" class="med-item__block-btn all-btn__blue">Подробнее</a>
        </li>
        <li class="med-item">
          <div class="med-item__block">
            <div class="med-item__block-img">
              <img src="./img/icon/pdf-icon.svg" alt="" />
            </div>
            <p class="med-item__block-txt">Актуальные вопросы венерологии Адаскевич В.П. 2000г.</p>
          </div>
          <a href="#" class="med-item__block-btn all-btn__blue">Подробнее</a>
        </li>
        <li class="med-item">
          <div class="med-item__block">
            <div class="med-item__block-img">
              <img src="./img/icon/pdf-icon.svg" alt="" />
            </div>
            <p class="med-item__block-txt">Аллергические и инфекционные заболевания кожи Данилов С.И. (ред.)</p>
          </div>
          <a href="#" class="med-item__block-btn all-btn__blue">Подробнее</a>
        </li>
        <li class="med-item">
          <div class="med-item__block">
            <div class="med-item__block-img">
              <img src="./img/icon/pdf-icon.svg" alt="" />
            </div>
            <p class="med-item__block-txt">Aкне и розацеа. Клинические проявления, диагностика и лечение. Круглова Л.С., Стенько А.Г., Грязева Н.В. 2021г.</p>
          </div>
          <a href="#" class="med-item__block-btn all-btn__blue">Подробнее</a>
        </li>
        <li class="med-item">
          <div class="med-item__block">
            <div class="med-item__block-img">
              <img src="./img/icon/pdf-icon.svg" alt="" />
            </div>
            <p class="med-item__block-txt">Актуальные вопросы венерологии Адаскевич В.П. 2000г.</p>
          </div>
          <a href="#" class="med-item__block-btn all-btn__blue">Подробнее</a>
        </li>
        <li class="med-item">
          <div class="med-item__block">
            <div class="med-item__block-img">
              <img src="./img/icon/pdf-icon.svg" alt="" />
            </div>
            <p class="med-item__block-txt">Аллергические и инфекционные заболевания кожи Данилов С.И. (ред.)</p>
          </div>
          <a href="#" class="med-item__block-btn all-btn__blue">Подробнее</a>
        </li>
        <li class="med-item">
          <div class="med-item__block">
            <div class="med-item__block-img">
              <img src="./img/icon/pdf-icon.svg" alt="" />
            </div>
            <p class="med-item__block-txt">Aкне и розацеа. Клинические проявления, диагностика и лечение. Круглова Л.С.,
              Стенько А.Г., Грязева Н.В. 2021г.</p>
          </div>
          <a href="#" class="med-item__block-btn all-btn__blue">Подробнее</a>
        </li>
        <li class="med-item">
          <div class="med-item__block">
            <div class="med-item__block-img">
              <img src="./img/icon/pdf-icon.svg" alt="" />
            </div>
            <p class="med-item__block-txt">Актуальные вопросы венерологии Адаскевич В.П. 2000г.</p>
          </div>
          <a href="#" class="med-item__block-btn all-btn__blue">Подробнее</a>
        </li>
      </ul>
    </div>
  </div>
</section>