<section class="specialists">
  <div class="container">
    <div class="bread-crumbs">
      <a href="./index.html">Главная</a>
      <a href="./specialists-page.html">Специалистам</a>
      <a href="#">Медицинские организации дерматовенерологического профиля</a>
    </div>

    <div class="title">Медицинские организации дерматовенерологического профиля</div>

    <div class="specialists__content">
      <ul class="menu__buttons content-menu-mob">
        <li class="menu__button js-link-main">
          <a href="#medicinskie-organizacii-na-karte" data-open-content="medicinskie-organizacii-na-karte">На карте</a>
        </li>
        <li class="menu__button js-link-main">
          <a href="#medicinskie-organizacii-spiskom" data-open-content="medicinskie-organizacii-spiskom">Списком</a>
        </li>
      </ul>
      <div class="specialists__addresses content-mob">
        <div class="menu__button-title --mob">
          <a href="#"></a>
        </div>
        <div class="specialists__address addresses" data-content="medicinskie-organizacii-na-karte">
          <div class="addresses__form">
            <button type="button">
              <img src="./img/icon/search.svg" alt="">
            </button>
            <input type="text" id="citySearch" placeholder="Введите город">
          </div>
          <div class="addresses__map" id="map"></div>
          <div class="addresses__descs">
            <div class="addresses__desc active" data-address-desc="address-1">
              <div class="addresses__desc-title">
                Сергиево-Посадский филиал Федерального государственного бюджетного учреждения «Государственный научный центр
                дерматовенерологии и косметологии» Министерства здравоохранения Российской Федерации.
              </div>
              <div class="addresses__desc-block">
                <div class="addresses__desc-block-tit">
                  Адрес
                </div>
                <div class="addresses__desc-block-text">
                  107076, г. Москва, ул. Короленко, 3, стр.6
                </div>
              </div>
              <div class="addresses__desc-block">
                <div class="addresses__desc-block-tit">
                  Телефон:
                </div>
                <div class="addresses__desc-block-text">
                  (495) 964-39-55, 964-38-73, 964-90-03, 964-90-00.
                </div>
              </div>
            </div>
            <div class="addresses__desc" data-address-desc="address-2">
              <div class="addresses__desc-title">
                Заголовок-2
              </div>
              <div class="addresses__desc-block">
                <div class="addresses__desc-block-tit">
                  Адрес
                </div>
                <div class="addresses__desc-block-text">
                  Адрес - 2
                </div>
              </div>
              <div class="addresses__desc-block">
                <div class="addresses__desc-block-tit">
                  Телефон:
                </div>
                <div class="addresses__desc-block-text">
                  Телефон - 2
                </div>
              </div>
            </div>
            <div class="addresses__desc" data-address-desc="address-3">
              <div class="addresses__desc-title">
                Заголовок-3
              </div>
              <div class="addresses__desc-block">
                <div class="addresses__desc-block-tit">
                  Адрес
                </div>
                <div class="addresses__desc-block-text">
                  Адрес - 3
                </div>
              </div>
              <div class="addresses__desc-block">
                <div class="addresses__desc-block-tit">
                  Телефон:
                </div>
                <div class="addresses__desc-block-text">
                  Телефон - 3
                </div>
              </div>
            </div>
            <div class="addresses__desc" data-address-desc="address-4">
              <div class="addresses__desc-title">
                Заголовок-4
              </div>
              <div class="addresses__desc-block">
                <div class="addresses__desc-block-tit">
                  Адрес
                </div>
                <div class="addresses__desc-block-text">
                  Адрес - 4
                </div>
              </div>
              <div class="addresses__desc-block">
                <div class="addresses__desc-block-tit">
                  Телефон:
                </div>
                <div class="addresses__desc-block-text">
                  Телефон - 4
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="specialists__address addresses" data-content="medicinskie-organizacii-spiskom">
          <div class="addresses__block">
            <div class="addresses__title">
              Центральный федеральный округ
            </div>
            <ul class="block__items">
              <li class="block__item">
                <div class="block__item-inner">
                  <div class="block__item-title">
                    Москвская область
                  </div>
                  <div class="block__item-arrow">
                    <img src="./img/icon/button-arrow-green.svg" alt="" />
                  </div>
                </div>
                <div class="block__content address__items">
                  <div class="address__item">
                    <div class="address__title">
                      ГУЗ "Белгородский областной кожно-венерологический диспансер"
                    </div>
                    <div class="address__content">
                      <p>308800 г. Белгород, Белгородский проспект, д. 97(4722) 32-40-41, ф. 32-40-49, 32-32-78</p>
                      <a href="mailto:belkogven@belnet.ru">belkogven@belnet.ru</a>
                    </div>
                  </div>
                  <div class="address__item">
                    <div class="address__title">
                      ГУЗ "Белгородский областной кожно-венерологический диспансер"
                    </div>
                    <div class="address__content">
                      <p>308800 г. Белгород, Белгородский проспект, д. 97(4722) 32-40-41, ф. 32-40-49, 32-32-78</p>
                      <a href="mailto:belkogven@belnet.ru">belkogven@belnet.ru</a>
                    </div>
                  </div>
                </div>
              </li>
              <li class="block__item">
                <div class="block__item-inner">
                  <div class="block__item-title">
                    Белгородская область
                  </div>
                  <div class="block__item-arrow">
                    <img src="./img/icon/button-arrow-green.svg" alt="" />
                  </div>
                </div>
                <div class="block__content address__items">
                  <div class="address__item">
                    <div class="address__title">
                      ГУЗ "Белгородский областной кожно-венерологический диспансер"
                    </div>
                    <div class="address__content">
                      <p>308800 г. Белгород, Белгородский проспект, д. 97(4722) 32-40-41, ф. 32-40-49, 32-32-78</p>
                      <a href="mailto:belkogven@belnet.ru">belkogven@belnet.ru</a>
                    </div>
                  </div>
                  <div class="address__item">
                    <div class="address__title">
                      ГУЗ "Белгородский областной кожно-венерологический диспансер"
                    </div>
                    <div class="address__content">
                      <p>308800 г. Белгород, Белгородский проспект, д. 97(4722) 32-40-41, ф. 32-40-49, 32-32-78</p>
                      <a href="mailto:belkogven@belnet.ru">belkogven@belnet.ru</a>
                    </div>
                  </div>
                </div>
              </li>
              <li class="block__item">
                <div class="block__item-inner">
                  <div class="block__item-title">
                  Брянская область
                  </div>
                  <div class="block__item-arrow">
                    <img src="./img/icon/button-arrow-green.svg" alt="" />
                  </div>
                </div>
                <div class="block__content address__items">
                  <div class="address__item">
                    <div class="address__title">
                      ГУЗ "Белгородский областной кожно-венерологический диспансер"
                    </div>
                    <div class="address__content">
                      <p>308800 г. Белгород, Белгородский проспект, д. 97(4722) 32-40-41, ф. 32-40-49, 32-32-78</p>
                      <a href="mailto:belkogven@belnet.ru">belkogven@belnet.ru</a>
                    </div>
                  </div>
                  <div class="address__item">
                    <div class="address__title">
                      ГУЗ "Белгородский областной кожно-венерологический диспансер"
                    </div>
                    <div class="address__content">
                      <p>308800 г. Белгород, Белгородский проспект, д. 97(4722) 32-40-41, ф. 32-40-49, 32-32-78</p>
                      <a href="mailto:belkogven@belnet.ru">belkogven@belnet.ru</a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="addresses__block">
            <div class="addresses__title">
              Южный федеральный округ
            </div>
            <ul class="block__items">
              <li class="block__item">
                <div class="block__item-inner">
                  <div class="block__item-title">
                    Адыгея Республика
                  </div>
                  <div class="block__item-arrow">
                    <img src="./img/icon/button-arrow-green.svg" alt="" />
                  </div>
                </div>
                <div class="block__content address__items">
                  <div class="address__item">
                    <div class="address__title">
                      ГУЗ "Белгородский областной кожно-венерологический диспансер"
                    </div>
                    <div class="address__content">
                      <p>308800 г. Белгород, Белгородский проспект, д. 97(4722) 32-40-41, ф. 32-40-49, 32-32-78</p>
                      <a href="mailto:belkogven@belnet.ru">belkogven@belnet.ru</a>
                    </div>
                  </div>
                  <div class="address__item">
                    <div class="address__title">
                      ГУЗ "Белгородский областной кожно-венерологический диспансер"
                    </div>
                    <div class="address__content">
                      <p>308800 г. Белгород, Белгородский проспект, д. 97(4722) 32-40-41, ф. 32-40-49, 32-32-78</p>
                      <a href="mailto:belkogven@belnet.ru">belkogven@belnet.ru</a>
                    </div>
                  </div>
                </div>
              </li>
              <li class="block__item">
                <div class="block__item-inner">
                  <div class="block__item-title">
                    Астраханская область
                  </div>
                  <div class="block__item-arrow">
                    <img src="./img/icon/button-arrow-green.svg" alt="" />
                  </div>
                </div>
                <div class="block__content address__items">
                  <div class="address__item">
                    <div class="address__title">
                      ГУЗ "Белгородский областной кожно-венерологический диспансер"
                    </div>
                    <div class="address__content">
                      <p>308800 г. Белгород, Белгородский проспект, д. 97(4722) 32-40-41, ф. 32-40-49, 32-32-78</p>
                      <a href="mailto:belkogven@belnet.ru">belkogven@belnet.ru</a>
                    </div>
                  </div>
                  <div class="address__item">
                    <div class="address__title">
                      ГУЗ "Белгородский областной кожно-венерологический диспансер"
                    </div>
                    <div class="address__content">
                      <p>308800 г. Белгород, Белгородский проспект, д. 97(4722) 32-40-41, ф. 32-40-49, 32-32-78</p>
                      <a href="mailto:belkogven@belnet.ru">belkogven@belnet.ru</a>
                    </div>
                  </div>
                </div>
              </li>
              <li class="block__item">
                <div class="block__item-inner">
                  <div class="block__item-title">
                    Волгоградская область
                  </div>
                  <div class="block__item-arrow">
                    <img src="./img/icon/button-arrow-green.svg" alt="" />
                  </div>
                </div>
                <div class="block__content address__items">
                  <div class="address__item">
                    <div class="address__title">
                      ГУЗ "Белгородский областной кожно-венерологический диспансер"
                    </div>
                    <div class="address__content">
                      <p>308800 г. Белгород, Белгородский проспект, д. 97(4722) 32-40-41, ф. 32-40-49, 32-32-78</p>
                      <a href="mailto:belkogven@belnet.ru">belkogven@belnet.ru</a>
                    </div>
                  </div>
                  <div class="address__item">
                    <div class="address__title">
                      ГУЗ "Белгородский областной кожно-венерологический диспансер"
                    </div>
                    <div class="address__content">
                      <p>308800 г. Белгород, Белгородский проспект, д. 97(4722) 32-40-41, ф. 32-40-49, 32-32-78</p>
                      <a href="mailto:belkogven@belnet.ru">belkogven@belnet.ru</a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="addresses__block">
            <div class="addresses__title">
              Дальневосточный федеральный округ
            </div>
            <ul class="block__items">
              <li class="block__item">
                <div class="block__item-inner">
                  <div class="block__item-title">
                    Амурская область
                  </div>
                  <div class="block__item-arrow">
                    <img src="./img/icon/button-arrow-green.svg" alt="" />
                  </div>
                </div>
                <div class="block__content address__items">
                  <div class="address__item">
                    <div class="address__title">
                      ГУЗ "Белгородский областной кожно-венерологический диспансер"
                    </div>
                    <div class="address__content">
                      <p>308800 г. Белгород, Белгородский проспект, д. 97(4722) 32-40-41, ф. 32-40-49, 32-32-78</p>
                      <a href="mailto:belkogven@belnet.ru">belkogven@belnet.ru</a>
                    </div>
                  </div>
                  <div class="address__item">
                    <div class="address__title">
                      ГУЗ "Белгородский областной кожно-венерологический диспансер"
                    </div>
                    <div class="address__content">
                      <p>308800 г. Белгород, Белгородский проспект, д. 97(4722) 32-40-41, ф. 32-40-49, 32-32-78</p>
                      <a href="mailto:belkogven@belnet.ru">belkogven@belnet.ru</a>
                    </div>
                  </div>
                </div>
              </li>
              <li class="block__item">
                <div class="block__item-inner">
                  <div class="block__item-title">
                  Еврейская автономная область
                  </div>
                  <div class="block__item-arrow">
                    <img src="./img/icon/button-arrow-green.svg" alt="" />
                  </div>
                </div>
                <div class="block__content address__items">
                  <div class="address__item">
                    <div class="address__title">
                      ГУЗ "Белгородский областной кожно-венерологический диспансер"
                    </div>
                    <div class="address__content">
                      <p>308800 г. Белгород, Белгородский проспект, д. 97(4722) 32-40-41, ф. 32-40-49, 32-32-78</p>
                      <a href="mailto:belkogven@belnet.ru">belkogven@belnet.ru</a>
                    </div>
                  </div>
                  <div class="address__item">
                    <div class="address__title">
                      ГУЗ "Белгородский областной кожно-венерологический диспансер"
                    </div>
                    <div class="address__content">
                      <p>308800 г. Белгород, Белгородский проспект, д. 97(4722) 32-40-41, ф. 32-40-49, 32-32-78</p>
                      <a href="mailto:belkogven@belnet.ru">belkogven@belnet.ru</a>
                    </div>
                  </div>
                </div>
              </li>
              <li class="block__item">
                <div class="block__item-inner">
                  <div class="block__item-title">
                    Камчатская область
                  </div>
                  <div class="block__item-arrow">
                    <img src="./img/icon/button-arrow-green.svg" alt="" />
                  </div>
                </div>
                <div class="block__content address__items">
                  <div class="address__item">
                    <div class="address__title">
                      ГУЗ "Белгородский областной кожно-венерологический диспансер"
                    </div>
                    <div class="address__content">
                      <p>308800 г. Белгород, Белгородский проспект, д. 97(4722) 32-40-41, ф. 32-40-49, 32-32-78</p>
                      <a href="mailto:belkogven@belnet.ru">belkogven@belnet.ru</a>
                    </div>
                  </div>
                  <div class="address__item">
                    <div class="address__title">
                      ГУЗ "Белгородский областной кожно-венерологический диспансер"
                    </div>
                    <div class="address__content">
                      <p>308800 г. Белгород, Белгородский проспект, д. 97(4722) 32-40-41, ф. 32-40-49, 32-32-78</p>
                      <a href="mailto:belkogven@belnet.ru">belkogven@belnet.ru</a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="addresses__block">
            <div class="addresses__title">
              Сибирский федеральный округ
            </div>
            <ul class="block__items">
              <li class="block__item">
                <div class="block__item-inner">
                  <div class="block__item-title">
                    Алтайский край
                  </div>
                  <div class="block__item-arrow">
                    <img src="./img/icon/button-arrow-green.svg" alt="" />
                  </div>
                </div>
                <div class="block__content address__items">
                  <div class="address__item">
                    <div class="address__title">
                      ГУЗ "Белгородский областной кожно-венерологический диспансер"
                    </div>
                    <div class="address__content">
                      <p>308800 г. Белгород, Белгородский проспект, д. 97(4722) 32-40-41, ф. 32-40-49, 32-32-78</p>
                      <a href="mailto:belkogven@belnet.ru">belkogven@belnet.ru</a>
                    </div>
                  </div>
                  <div class="address__item">
                    <div class="address__title">
                      ГУЗ "Белгородский областной кожно-венерологический диспансер"
                    </div>
                    <div class="address__content">
                      <p>308800 г. Белгород, Белгородский проспект, д. 97(4722) 32-40-41, ф. 32-40-49, 32-32-78</p>
                      <a href="mailto:belkogven@belnet.ru">belkogven@belnet.ru</a>
                    </div>
                  </div>
                </div>
              </li>
              <li class="block__item">
                <div class="block__item-inner">
                  <div class="block__item-title">
                    Бурятия Республика
                  </div>
                  <div class="block__item-arrow">
                    <img src="./img/icon/button-arrow-green.svg" alt="" />
                  </div>
                </div>
                <div class="block__content address__items">
                  <div class="address__item">
                    <div class="address__title">
                      ГУЗ "Белгородский областной кожно-венерологический диспансер"
                    </div>
                    <div class="address__content">
                      <p>308800 г. Белгород, Белгородский проспект, д. 97(4722) 32-40-41, ф. 32-40-49, 32-32-78</p>
                      <a href="mailto:belkogven@belnet.ru">belkogven@belnet.ru</a>
                    </div>
                  </div>
                  <div class="address__item">
                    <div class="address__title">
                      ГУЗ "Белгородский областной кожно-венерологический диспансер"
                    </div>
                    <div class="address__content">
                      <p>308800 г. Белгород, Белгородский проспект, д. 97(4722) 32-40-41, ф. 32-40-49, 32-32-78</p>
                      <a href="mailto:belkogven@belnet.ru">belkogven@belnet.ru</a>
                    </div>
                  </div>
                </div>
              </li>
              <li class="block__item">
                <div class="block__item-inner">
                  <div class="block__item-title">
                    Иркутская область
                  </div>
                  <div class="block__item-arrow">
                    <img src="./img/icon/button-arrow-green.svg" alt="" />
                  </div>
                </div>
                <div class="block__content address__items">
                  <div class="address__item">
                    <div class="address__title">
                      ГУЗ "Белгородский областной кожно-венерологический диспансер"
                    </div>
                    <div class="address__content">
                      <p>308800 г. Белгород, Белгородский проспект, д. 97(4722) 32-40-41, ф. 32-40-49, 32-32-78</p>
                      <a href="mailto:belkogven@belnet.ru">belkogven@belnet.ru</a>
                    </div>
                  </div>
                  <div class="address__item">
                    <div class="address__title">
                      ГУЗ "Белгородский областной кожно-венерологический диспансер"
                    </div>
                    <div class="address__content">
                      <p>308800 г. Белгород, Белгородский проспект, д. 97(4722) 32-40-41, ф. 32-40-49, 32-32-78</p>
                      <a href="mailto:belkogven@belnet.ru">belkogven@belnet.ru</a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="addresses__block">
            <div class="addresses__title">
              Уральский федеральный округ
            </div>
            <ul class="block__items">
              <li class="block__item">
                <div class="block__item-inner">
                  <div class="block__item-title">
                    Курганская область
                  </div>
                  <div class="block__item-arrow">
                    <img src="./img/icon/button-arrow-green.svg" alt="" />
                  </div>
                </div>
                <div class="block__content address__items">
                  <div class="address__item">
                    <div class="address__title">
                      ГУЗ "Белгородский областной кожно-венерологический диспансер"
                    </div>
                    <div class="address__content">
                      <p>308800 г. Белгород, Белгородский проспект, д. 97(4722) 32-40-41, ф. 32-40-49, 32-32-78</p>
                      <a href="mailto:belkogven@belnet.ru">belkogven@belnet.ru</a>
                    </div>
                  </div>
                  <div class="address__item">
                    <div class="address__title">
                      ГУЗ "Белгородский областной кожно-венерологический диспансер"
                    </div>
                    <div class="address__content">
                      <p>308800 г. Белгород, Белгородский проспект, д. 97(4722) 32-40-41, ф. 32-40-49, 32-32-78</p>
                      <a href="mailto:belkogven@belnet.ru">belkogven@belnet.ru</a>
                    </div>
                  </div>
                </div>
              </li>
              <li class="block__item">
                <div class="block__item-inner">
                  <div class="block__item-title">
                    Свердловская область
                  </div>
                  <div class="block__item-arrow">
                    <img src="./img/icon/button-arrow-green.svg" alt="" />
                  </div>
                </div>
                <div class="block__content address__items">
                  <div class="address__item">
                    <div class="address__title">
                      ГУЗ "Белгородский областной кожно-венерологический диспансер"
                    </div>
                    <div class="address__content">
                      <p>308800 г. Белгород, Белгородский проспект, д. 97(4722) 32-40-41, ф. 32-40-49, 32-32-78</p>
                      <a href="mailto:belkogven@belnet.ru">belkogven@belnet.ru</a>
                    </div>
                  </div>
                  <div class="address__item">
                    <div class="address__title">
                      ГУЗ "Белгородский областной кожно-венерологический диспансер"
                    </div>
                    <div class="address__content">
                      <p>308800 г. Белгород, Белгородский проспект, д. 97(4722) 32-40-41, ф. 32-40-49, 32-32-78</p>
                      <a href="mailto:belkogven@belnet.ru">belkogven@belnet.ru</a>
                    </div>
                  </div>
                </div>
              </li>
              <li class="block__item">
                <div class="block__item-inner">
                  <div class="block__item-title">
                    Тюменская область
                  </div>
                  <div class="block__item-arrow">
                    <img src="./img/icon/button-arrow-green.svg" alt="" />
                  </div>
                </div>
                <div class="block__content address__items">
                  <div class="address__item">
                    <div class="address__title">
                      ГУЗ "Белгородский областной кожно-венерологический диспансер"
                    </div>
                    <div class="address__content">
                      <p>308800 г. Белгород, Белгородский проспект, д. 97(4722) 32-40-41, ф. 32-40-49, 32-32-78</p>
                      <a href="mailto:belkogven@belnet.ru">belkogven@belnet.ru</a>
                    </div>
                  </div>
                  <div class="address__item">
                    <div class="address__title">
                      ГУЗ "Белгородский областной кожно-венерологический диспансер"
                    </div>
                    <div class="address__content">
                      <p>308800 г. Белгород, Белгородский проспект, д. 97(4722) 32-40-41, ф. 32-40-49, 32-32-78</p>
                      <a href="mailto:belkogven@belnet.ru">belkogven@belnet.ru</a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="addresses__block">
            <div class="addresses__title">
              Приволжский федеральный округ
            </div>
            <ul class="block__items">
              <li class="block__item">
                <div class="block__item-inner">
                  <div class="block__item-title">
                    Башкортостан Республика
                  </div>
                  <div class="block__item-arrow">
                    <img src="./img/icon/button-arrow-green.svg" alt="" />
                  </div>
                </div>
                <div class="block__content address__items">
                  <div class="address__item">
                    <div class="address__title">
                      ГУЗ "Белгородский областной кожно-венерологический диспансер"
                    </div>
                    <div class="address__content">
                      <p>308800 г. Белгород, Белгородский проспект, д. 97(4722) 32-40-41, ф. 32-40-49, 32-32-78</p>
                      <a href="mailto:belkogven@belnet.ru">belkogven@belnet.ru</a>
                    </div>
                  </div>
                  <div class="address__item">
                    <div class="address__title">
                      ГУЗ "Белгородский областной кожно-венерологический диспансер"
                    </div>
                    <div class="address__content">
                      <p>308800 г. Белгород, Белгородский проспект, д. 97(4722) 32-40-41, ф. 32-40-49, 32-32-78</p>
                      <a href="mailto:belkogven@belnet.ru">belkogven@belnet.ru</a>
                    </div>
                  </div>
                </div>
              </li>
              <li class="block__item">
                <div class="block__item-inner">
                  <div class="block__item-title">
                    Кировская область
                  </div>
                  <div class="block__item-arrow">
                    <img src="./img/icon/button-arrow-green.svg" alt="" />
                  </div>
                </div>
                <div class="block__content address__items">
                  <div class="address__item">
                    <div class="address__title">
                      ГУЗ "Белгородский областной кожно-венерологический диспансер"
                    </div>
                    <div class="address__content">
                      <p>308800 г. Белгород, Белгородский проспект, д. 97(4722) 32-40-41, ф. 32-40-49, 32-32-78</p>
                      <a href="mailto:belkogven@belnet.ru">belkogven@belnet.ru</a>
                    </div>
                  </div>
                  <div class="address__item">
                    <div class="address__title">
                      ГУЗ "Белгородский областной кожно-венерологический диспансер"
                    </div>
                    <div class="address__content">
                      <p>308800 г. Белгород, Белгородский проспект, д. 97(4722) 32-40-41, ф. 32-40-49, 32-32-78</p>
                      <a href="mailto:belkogven@belnet.ru">belkogven@belnet.ru</a>
                    </div>
                  </div>
                </div>
              </li>
              <li class="block__item">
                <div class="block__item-inner">
                  <div class="block__item-title">
                  Марий Эл Республика
                  </div>
                  <div class="block__item-arrow">
                    <img src="./img/icon/button-arrow-green.svg" alt="" />
                  </div>
                </div>
                <div class="block__content address__items">
                  <div class="address__item">
                    <div class="address__title">
                      ГУЗ "Белгородский областной кожно-венерологический диспансер"
                    </div>
                    <div class="address__content">
                      <p>308800 г. Белгород, Белгородский проспект, д. 97(4722) 32-40-41, ф. 32-40-49, 32-32-78</p>
                      <a href="mailto:belkogven@belnet.ru">belkogven@belnet.ru</a>
                    </div>
                  </div>
                  <div class="address__item">
                    <div class="address__title">
                      ГУЗ "Белгородский областной кожно-венерологический диспансер"
                    </div>
                    <div class="address__content">
                      <p>308800 г. Белгород, Белгородский проспект, д. 97(4722) 32-40-41, ф. 32-40-49, 32-32-78</p>
                      <a href="mailto:belkogven@belnet.ru">belkogven@belnet.ru</a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>