<div class="specialists__item" data-menu="procedure-providing">
	<ul class="specialists__item-list">
		<li>
			<a href="#" target="_blank">Российское общество дерматовенерологов и косметологов</a>
		</li>
		<li>
			<a href="#" target="_blank">Федеральный проект «Медицинская наука для человека»</a>
		</li>
		<li>
			<a href="#" target="_blank">Регистр пациентов с хроническими заболеваниями кожи и подкожной клетчатки</a>
		</li>
		<li>
			<a href="#" target="_blank">Российское общество дерматовенерологов и косметологов</a>
		</li>
		<li>
			<a href="#" target="_blank">Российское общество дерматовенерологов и косметологов</a>
		</li>
		<li>
			<a href="#" target="_blank">Российское общество дерматовенерологов и косметологов</a>
		</li>
		<li>
			<a href="#" target="_blank">Российское общество дерматовенерологов и косметологов</a>
		</li>
		<li>
			<a href="#" target="_blank">Российское общество дерматовенерологов и косметологов</a>
		</li>
		<li>
			<a href="#" target="_blank">Российское общество дерматовенерологов и косметологов</a>
		</li>
		<li>
			<a href="#" target="_blank">Российское общество дерматовенерологов и косметологов</a>
		</li>
	</ul>
</div>