<section class="specialists">
  <div class="container">
    <div class="bread-crumbs">
      <a href="../index.html">Главная</a>
      <a href="../specialists-page.html">Специалистам</a>
      <a href="../regulations-page.html" class="crumb-content">Нормативные документы</a>
    </div>
    <div class="title">Нормативные документы</div>
    <div class="specialists__content">
      <ul class="specialists__item-list">
        <li class="block__item-lists-subblock">
          <div class="block__item-lists-subblock-inner">Порядок оказания медицинской помощи больным дерматовенерологического профиля и больным лепрой</div>
          <ul class="block__item-lists-subblock-content">
            <li>
              <a href="#" target="_blank">Дерматовенерология</a>
            </li>
            <li>
              <a href="#" target="_blank">Косметология</a>
            </li>
            <li>
              <a href="https://dimonio04.github.io/GNDC/build/hair-center-page.html" target="_blank">Центр "Здоровые волосы"</a>
            </li>
            <li>
              <a href="#" target="_blank">Трихоскопия</a>
            </li>
            <li>
              <a href="#" target="_blank">Фототрихография</a>
            </li>
            <li>
              <a href="#" target="_blank">Спектральный анализ волос на содержание микроэлементов</a>
            </li>
            <li>
              <a href="#" target="_blank">Спектральный анализ волос на содержание токсических соединений</a>
            </li>
            <li>
              <a href="#" target="_blank">Лазерная хирургия</a>
            </li>
          </ul>
        </li>
        <li class="block__item-lists-subblock">
          <div class="block__item-lists-subblock-inner">Приложение к приказу Министерства здравоохранения Российской Федерации "Номенклатура специальностей
          специалистов с высшим и послевузовским медицинским и фармацевтическим образованием в сфере
          здравоохранения Российской Федерации"</div>
          <ul class="block__item-lists-subblock-content">
            <li>
              <a href="#" target="_blank">Дерматовенерология</a>
            </li>
            <li>
              <a href="#" target="_blank">Косметология</a>
            </li>
            <li>
              <a href="https://dimonio04.github.io/GNDC/build/hair-center-page.html" target="_blank">Центр "Здоровые волосы"</a>
            </li>
            <li>
              <a href="#" target="_blank">Трихоскопия</a>
            </li>
            <li>
              <a href="#" target="_blank">Фототрихография</a>
            </li>
            <li>
              <a href="#" target="_blank">Спектральный анализ волос на содержание микроэлементов</a>
            </li>
            <li>
              <a href="#" target="_blank">Спектральный анализ волос на содержание токсических соединений</a>
            </li>
            <li>
              <a href="#" target="_blank">Лазерная хирургия</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="https://cnikvi.ru/content.php?id=4.351">
            Приказ Минздрава России № 444 от 25 октября 2012 г.О главных внештатных специалистах Министерства
            здравоохранения Российской Федерации
          </a>
        </li>
        <li>
          <a href="https://cnikvi.ru/content.php?id=1.1006">
            Приказ Минздравсоцразвития России №240 от 19 марта 2012 г. Об утверждении плана научно-практических
            мероприятий Министерства здравоохранения и социального развития Российской Федерации на 2012 год
          </a>
        </li>
        <li>
          <a href="https://cnikvi.ru/content.php?id=1.1006">
            Приказ Минздравсоцразвития России №240 от 19 марта 2012 г. Об утверждении плана научно-практических
            мероприятий Министерства здравоохранения и социального развития Российской Федерации на 2012 год
          </a>
        </li>
        <li>
          <a href="../files/postanovlenie291.docx" download>
            Постановление Правительства РФ от 16 апреля 2012 г. N 291 "О лицензировании медицинской деятельности (за
            исключением указанной деятельности, осуществляемой медицинскими организациями и другими организациями,
            входящими в частную систему здравоохранения, на территории инновационного центра "Сколково")"
          </a>
        </li>
        <li>
          <a href="../files/p243.doc" download>
            Приказ Минздравсоцразвития России №243н от 16 апреля 2010 г."Об организации оказания специализированной
            медицинской помощи"
          </a>
        </li>
        <li>
          <a href="../files/predlozhenia_prikaz151.doc" download>
            Предложения по внесению изменений в Приказ Министерства здравоохранения Российской Федерации от 16 марта
            2010 года № 151н "Об утверждении порядка оказания медицинской помощи больным дерматовенерологического
            профиля и больным лепрой" в части клинико-диагностической лаборатории
          </a>
        </li>
        <li>
          <a href="../files/prilozhenie_1.doc" download>
            Приложение к приказу Министерства здравоохранения Российской Федерации № 415н от 07.06.2009 г.
            "Квалификационные требования к специалистам c высшим и послевузовским медицинским и фармацевтическим
            образованием в сфере здравоохранения"
          </a>
        </li>
        <li>
          <a href="../files/prikaz_323.doc" download>
            Приказ Министерства здравоохранения и социального развития РФ от 10 мая 2007 г. N 323"Об утверждении
            Порядка организации работ (услуг), выполняемых при осуществлении доврачебной,
            амбулаторно-поликлинической (в том числе первичной медико-санитарной помощи, медицинской помощи женщинам
            в период беременности, во время и после родов, специализированной медицинской помощи), стационарной (в
            том числе первичной медико-санитарной помощи, медицинской помощи женщинам в период беременности, во
            время и после родов, специализированной медицинской помощи), скорой и скорой специализированной
            (санитарно-авиационной), высокотехнологичной, санаторно-курортной медицинской помощи"
          </a>
        </li>
        <li>
          <a href="../files/postanovlenie_715.doc" download>
            Постановление Правительства РФ от 1 декабря 2004 г. N 715"Об утверждении перечня социально значимых
            заболеваний и перечня заболеваний, представляющих опасность для окружающих"
          </a>
        </li>
        <li>
          <a href="../files/prikaz_291.doc" download>
            Приказ Минздрава РФ от 30 июля 2001 г. N 291 "О мерах по предупреждению распространения инфекций,
            передаваемых половым путем" (с изменениями от 15 ноября 2001 г.)
          </a>
        </li>
      </ul>
    </div>
</section>